<section ng-controller="dropdownButtonsCtrl" id="dropdown-buttons-html-example">

    <div class="container">
        <h2 class="bottom-offset-20">Dropdown-Buttons Demo</h2>

        <div class="bottom-offset-30">
            <h4>Primary Non-Purchase Dropdown</h4>
            <!--Primary Non-Purchase Dropdown-->
                <div class="btn-group" id="button-primary-dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Primary <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="javascript:;">Action</a></li>
                        <li><a href="javascript:;">Another action</a></li>
                        <li><a href="javascript:;">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:;">Separated link</a></li>
                    </ul>
                </div>
            <!--/Primary Non-Purchase Dropdown-->
        </div>

        <div class="bottom-offset-30">
            <h4>Primary Purchase Dropdown</h4>
            <!--Primary Purchase Dropdown-->
            <div class="btn-group" id="button-success-dropdown">
                <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="javascript:;">Purchase <i
                    class="caret"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="javascript:;">Action</a></li>
                    <li><a href="javascript:;">Another action</a></li>
                    <li><a href="javascript:;">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:;">Separated link</a></li>
                </ul>
            </div>
            <!--/Primary Purchase Dropdown-->
        </div>


        <div class="bottom-offset-30">
            <h4>Secondary or General Use Dropdown</h4>
            <!--Secondary or General Use Dropdown-->
            <div class="btn-group" id="button-default-dropdown">
                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="javascript:;">General Use <i
                    class="caret"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="javascript:;">Action</a></li>
                    <li><a href="javascript:;">Another action</a></li>
                    <li><a href="javascript:;">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:;">Separated link</a></li>
                </ul>
            </div>
            <!--/Secondary or General Use Dropdown-->
        </div>

        <hr/>

        <div class="bottom-offset-30">
            <h4>Primary Split Non-Purchase Dropdown</h4>
            <!--Primary Split Non-Purchase Dropdown-->
            <div class="btn-group" id="button-primary-split">
                <button type="button" class="btn btn-primary">Primary split</button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="javascript:;">Action</a></li>
                    <li><a href="javascript:;">Another action</a></li>
                    <li><a href="javascript:;">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:;">Separated link</a></li>
                </ul>
            </div>
            <!--/Primary Split Non-Purchase Dropdown-->
        </div>


        <div class="bottom-offset-30">
            <h4>Primary Split Purchase Dropdown</h4>
            <!--Primary Split Purchase Dropdown-->
            <div class="btn-group" id="button-success-split">
                <button type="button" class="btn btn-success">Purchase split</button>
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="javascript:;">Action</a></li>
                    <li><a href="javascript:;">Another action</a></li>
                    <li><a href="javascript:;">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:;">Separated link</a></li>
                </ul>
            </div>
            <!--/Primary Split Purchase Dropdown-->
        </div>


        <div class="bottom-offset-30">
            <h4>Secondary Split or General Use Dropdown</h4>
            <!--Secondary Split or General Use Dropdown-->
            <div class="btn-group" id="button-default-split">
                <button type="button" class="btn btn-default">General Use split</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="javascript:;">Action</a></li>
                    <li><a href="javascript:;">Another action</a></li>
                    <li><a href="javascript:;">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:;">Separated link</a></li>
                </ul>
            </div>
            <!--/Secondary Split or General Use Dropdown-->
        </div>



    </div>

</section>
