<section ng-controller="tabsCtrl" id="tabs-html-example">

    <div class="container">
        <h2>Tabs Demo</h2>
        <!-- Nav tabs -->
        <h3>Tabs
            <small>(default)</small>
        </h3>
        <div class="bottom-offset-60">
            <div class="row-offcanvas row-offcanvas-right">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
                    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
                    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in" id="home">
                        <div class="offcanvas-back-btn well visible-xs-block">
                            <button class="btn btn-link" data-toggle="offcanvas">Back</button>
                        </div>
                        <div class="col-xs-12">
                            Vestibulum bibendum tellus eget risus consectetur, eu pharetra mi luctus. Etiam congue a massa et lacinia. Maecenas tellus ipsum, scelerisque id massa eu, condimentum viverra velit. Donec nec lorem nulla. Sed justo arcu, tincidunt eu lacus et, placerat egestas urna.
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="profile">
                        <div class="offcanvas-back-btn well visible-xs-block">
                            <button class="btn btn-link" data-toggle="offcanvas">Back</button>
                        </div>
                        <div class="col-xs-12">
                            ellentesque porta quam id turpis commodo, eget malesuada risus malesuada. Nullam sit amet varius urna. In finibus scelerisque lacus, sed rutrum ex molestie vitae. Vestibulum at faucibus nisi. Maecenas lacinia congue venenatis.
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade " id="messages">
                        <div class="offcanvas-back-btn well visible-xs-block">
                            <button class="btn btn-link" data-toggle="offcanvas">Back</button>
                        </div>
                        <div class="col-xs-12">
                            Sed justo arcu, tincidunt eu lacus et, placerat egestas urna. Ut varius purus id aliquet tristique.
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade " id="settings">
                        <div class="offcanvas-back-btn well visible-xs-block">
                            <button class="btn btn-link" data-toggle="offcanvas">Back</button>
                        </div>
                        <div class="col-xs-12">
                            Vivamus nec tristique felis, vitae accumsan enim. Aenean in volutpat justo. Sed dui elit, tristique non felis quis, posuere sodales nisi.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Nav tabs justify -->
        <div class="row">
            <h3 class="col-xs-12 top-offset-60">Tabs
                <small>(justified)</small>
            </h3>
        </div>

        <div class="bottom-offset-60">
            <div class="row-offcanvas row-offcanvas-right">
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li role="presentation" class="active"><a href="#trains" aria-controls="home" role="tab" data-toggle="tab">Trains</a></li>
                    <li role="presentation"><a href="#automobile" role="tab" data-toggle="tab">Automobile</a></li>
                    <li role="presentation"><a href="#boats" role="tab" data-toggle="tab">Boats</a></li>
                    <li role="presentation"><a href="#planes" role="tab" data-toggle="tab">Planes</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in" id="trains">
                        <div class="offcanvas-back-btn well visible-xs-block">
                            <button class="btn btn-link" data-toggle="offcanvas">Back</button>
                        </div>
                        <div class="col-xs-12">
                            Aute gluten-free freegan, elit odio assumenda bespoke sapiente Shoreditch in hashtag. Actually semiotics sed High Life retro, narwhal ugh try-hard pop-up PBR&B fap PBR paleo fanny pack aliquip. Direct trade occaecat McSweeney's aute tattooed voluptate.
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade " id="automobile">
                        <div class="offcanvas-back-btn well visible-xs-block">
                            <button class="btn btn-link" data-toggle="offcanvas">Back</button>
                        </div>
                        <div class="col-xs-12">
                            Magna biodiesel lomo, fap meh messenger bag fingerstache fashion axe. Vinyl art party Marfa assumenda, pariatur locavore sartorial chillwave High Life laborum Williamsburg flannel whatever.
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade " id="boats">
                        <div class="offcanvas-back-btn well visible-xs-block">
                            <button class="btn btn-link" data-toggle="offcanvas">Back</button>
                        </div>
                        <div class="col-xs-12">
                            Yr nisi officia Kickstarter Portland, Tumblr Wes Anderson shabby chic cardigan enim actually 90's American Apparel assumenda four dollar toast.
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade " id="planes">
                        <div class="offcanvas-back-btn well visible-xs-block">
                            <button class="btn btn-link" data-toggle="offcanvas">Back</button>
                        </div>
                        <div class="col-xs-12">
                            Leggings biodiesel artisan, proident Vice fugiat lo-fi incididunt sartorial ullamco heirloom asymmetrical assumenda irony salvia. Ex twee health goth assumenda flannel chia.
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Nav tabs centered -->
        <div class="row">
            <h3 class="col-xs-12 top-offset-60">Tabs
                <small>(centered)</small>
            </h3>
        </div>

        <div class="bottom-offset-60">
            <div class="row-offcanvas row-offcanvas-right">
                <div class="nav-center-rule"></div>

                <div class="nav-center-container">
                        <ul class="nav nav-tabs nav-justified nav-centered" role="tablist">
                            <li role="presentation" class="active"><a href="#trains" aria-controls="home" role="tab" data-toggle="tab">Trains</a></li>
                            <li role="presentation"><a href="#automobile" role="tab" data-toggle="tab">Automobile</a></li>
                            <li role="presentation"><a href="#boats" role="tab" data-toggle="tab">Boats</a></li>
                            <li role="presentation"><a href="#planes" role="tab" data-toggle="tab">Planes</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade active in" id="trains">
                                <div class="offcanvas-back-btn well visible-xs-block">
                                    <button class="btn btn-link" data-toggle="offcanvas">Back</button>
                                </div>
                                <div class="col-xs-12">
                                    Aute gluten-free freegan, elit odio assumenda bespoke sapiente Shoreditch in hashtag. Actually semiotics sed High Life retro, narwhal ugh try-hard pop-up PBR&B fap PBR paleo fanny pack aliquip. Direct trade occaecat McSweeney's aute tattooed voluptate.
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade " id="automobile">
                                <div class="offcanvas-back-btn well visible-xs-block">
                                    <button class="btn btn-link" data-toggle="offcanvas">Back</button>
                                </div>
                                <div class="col-xs-12">
                                    Magna biodiesel lomo, fap meh messenger bag fingerstache fashion axe. Vinyl art party Marfa assumenda, pariatur locavore sartorial chillwave High Life laborum Williamsburg flannel whatever.
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade " id="boats">
                                <div class="offcanvas-back-btn well visible-xs-block">
                                    <button class="btn btn-link" data-toggle="offcanvas">Back</button>
                                </div>
                                <div class="col-xs-12">
                                    Yr nisi officia Kickstarter Portland, Tumblr Wes Anderson shabby chic cardigan enim actually 90's American Apparel assumenda four dollar toast.
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade " id="planes">
                                <div class="offcanvas-back-btn well visible-xs-block">
                                    <button class="btn btn-link" data-toggle="offcanvas">Back</button>
                                </div>
                                <div class="col-xs-12">
                                    Leggings biodiesel artisan, proident Vice fugiat lo-fi incididunt sartorial ullamco heirloom asymmetrical assumenda irony salvia. Ex twee health goth assumenda flannel chia.
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
        </div>



    </div>
</section>
