<section ng-controller="tabsCtrl" id="tabs-html-example">

    <div class="container">
        <h2>Tabs Demo</h2>
        <div>
            <!-- Nav tabs -->

            <h3>Tabs <small>(default)</small></h3>
            <div class="bottom-offset-60">
                <div class="row row-offcanvas row-offcanvas-left">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
                        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
                        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade  active in" id="home">home is the best place</div>
                        <div role="tabpanel" class="tab-pane fade " id="profile">what is this</div>
                        <div role="tabpanel" class="tab-pane fade " id="messages">You've got mail</div>
                        <div role="tabpanel" class="tab-pane fade " id="settings">default settings or custom</div>
                    </div>
                </div>
            </div>


            <!-- Nav tabs justify -->
            <h3>Tabs <small>(justified)</small></h3>
            <div class="bottom-offset-60">
                <div class="row row-offcanvas row-offcanvas-left">
                    <ul class="nav nav-tabs nav-justified" role="tablist">
                        <li role="presentation" class="active"><a href="#trains" aria-controls="home" role="tab" data-toggle="tab">Trains</a></li>
                        <li role="presentation"><a href="#automobile" role="tab" data-toggle="tab">Automobile</a></li>
                        <li role="presentation"><a href="#boats" role="tab" data-toggle="tab">Boats</a></li>
                        <li role="presentation"><a href="#planes" role="tab" data-toggle="tab">Planes</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade tab-pane-offcanvas active in" id="trains">I like trains</div>
                        <div role="tabpanel" class="tab-pane fade " id="automobile">Cars go fast</div>
                        <div role="tabpanel" class="tab-pane fade " id="boats">Boats are fun in summer</div>
                        <div role="tabpanel" class="tab-pane fade " id="planes">Planes take me places fast</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
