///*
// * Tabs component theme overrides
// *------------------------------------------------------------------------------------------
// */

@offcanvas-transition-timing: .25s;

//TODO update to Dell-bootstrap-ui
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    width: 102%;
    margin-left: -1%;
}

.nav-tabs.pull-right {
    position:relative;
    z-index:1;
    + .tab-content {
        position:relative;
        top:-11px;
        padding-top:10px;
        z-index:0;
        clear:both;
        border-top: 1px solid @dell-gray-stroke;
    }
}

//END of update to Dell-bootstrap-ui



.nav-tabs-overflow-container {
    overflow-x: hidden;
    > div.prev,
    > div.next {
        display:none;
    }
    @media (min-width: @screen-sm-min) {
        position:relative;
        > div.prev,
        > div.next {
            display:block;
            background:@body-bg;
            border:1px solid @dell-gray-stroke;
            z-index:1;
            width:30px;
            a {
                height: 40px;
                padding:12px 6px 8px;
                display:block;
                &:hover,
                &:active,
                &:focus {
                    background:@dell-highlight-blue;
                }
            }
            &.disabled a {
                color:@dell-gray;
                &:hover {
                    background:@body-bg;
                }
            }
            position:absolute;
        }
        > div.prev {
            left:0;
        }
        > div.next {
            right:0;
            top: 0;
            z-index: 1;
        }
        > .nav-tabs {
            height: 42px;
            position:relative;
            left:29px;
            -webkit-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
            -moz-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
            o-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
            transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */

        }
    }


}

@media (min-width: 520px) and (max-width: @screen-xs-max) {
    .nav-tabs {
        display: block;
        width: 107%;
        margin-left: -15px;
        margin-right: -15px;
        > li {
            background: @body-bg;
            filter:none;
            width: 105%;
            border: 1px solid @nav-tabs-border-color;
            margin-bottom: -1px;
            margin-left: -1px;
            height: auto;
            padding-right: 4%;

            &:first-child {
                margin-left: -1px;
                border-top: 1px solid @nav-tabs-border-color;
            }
            &:last-child {
                margin-left: -1px;
                border-bottom: 1px solid @nav-tabs-border-color;
            }
            &:hover {
                background: @dell-highlight-blue;
                color: @dell-blue;
            }
            &.active {
                background: @body-bg;
                border-bottom-color: transparent;
                overflow: hidden;
                > a,
                > a:hover,
                > a:focus {
                    border-color: transparent;
                    width: 100%;
                    margin-left: -1px;
                    margin-bottom: -1px !important;
                    border-top: none;
                    padding: 10px 15px;
                    color: @dell-blue;

                }
                a:hover {
                    background: @dell-highlight-blue;
                    cursor:pointer;
                }
                &:last-child {
                    margin-left: -1px;
                    margin-bottom: 0;
                }
            }
            > a {
                text-align: left !important;
                border: none;
                background: none;
                &:hover,
                &:focus {
                    border-color: transparent;
                    background: none;
                    color: @dell-blue;
                }
            }
            i {
                margin-right: 2%;
            }
        }

        &.nav-justified {
            width: 107%;
            margin-left: -15px;
            margin-right: -15px;
            > li {
                a {
                    border: none;
                    width: 100%;
                    margin-left: -1px;
                }
                a,
                a:hover {
                    margin-bottom: -1px;
                    border-top: none !important;
                    margin-left: -1px;
                }

                &.active > a {
                    border: none;
                    margin-left: -1px;
                    padding: 10px 15px;
                    width: 100%;

                    &:hover,
                    &:focus {
                        border: none;
                        width: 100%;
                        margin-left: -1px;
                        padding: 10px 15px;
                    }
                }

                &:first-child {
                    margin-left: -1px;
                    border-top: 1px solid @nav-tabs-border-color;
                }
                &:last-child {
                    margin-left: -1px;
                    border-bottom: 1px solid @nav-tabs-border-color;
                }
            }
        }

        &.nav-centered {
            width: 107%;
            margin-left: -15px;
            margin-right: -15px;
            > li {
                a {
                    border: none;
                    width: 100%;
                    margin-left: -1px;
                }
                a,
                a:hover {
                    margin-bottom: -1px;
                    border-top: none !important;
                    margin-left: -1px;
                }

                &.active > a {
                    border: none;
                    margin-left: -1px;
                    padding: 20px 15px 10px 15px !important;
                    width: 100%;
                }

                &:first-child {
                    margin-left: -1px;
                    border-top: 1px solid @nav-tabs-border-color;
                }
                &:last-child {
                    margin-left: -1px;
                    border-bottom: 1px solid @nav-tabs-border-color;
                }
            }
        }
    }
}

@media (min-width: 100px) and (max-width: 520px) {
    .nav-tabs {
        display: block;
        width: 112%;
        margin-left: -15px;
        margin-right: -15px;

        > li {
            background: @white;
            width: 105%;
            border: 1px solid @nav-tabs-border-color;
            margin-bottom: -1px;
            margin-left: -1px;
            height: auto;
            padding-right: 9%;
            &:first-child {
                margin-left: -1px;
                border-top: 1px solid @nav-tabs-border-color;
            }
            &:last-child {
                margin-left: -1px;
                border-bottom: 1px solid @nav-tabs-border-color;
            }
            &:hover {
                background: @dell-highlight-blue;
                color: @dell-blue;
            }
            &.active {
                background: @white;
                border-bottom-color: transparent;
                overflow: hidden;
                > a,
                > a:hover,
                > a:focus {
                    border-color: transparent;
                    width: 100%;
                    margin-left: -1px;
                    margin-bottom: -1px !important;
                    border-top: none;
                    padding: 10px 15px;
                    color: @dell-blue;
                }
                a:hover {
                    background: @dell-highlight-blue;
                }
                &:last-child {
                    margin-left: -1px;
                    margin-bottom: 0;
                }
            }
            > a {
                text-align: left !important;
                border: none;
                background: none;
                &:hover,
                &:focus {
                    border-color: transparent;
                    background: none;
                    color: @dell-blue;
                }
            }
            i {
                margin-right: -5px;
            }
        }

        &.nav-justified {
            width: 112%;
            margin-left: -15px;
            margin-right: -15px;
            > li {
                a {
                    border: none;
                    width: 100%;
                    margin-left: -1px;
                }
                a,
                a:hover {
                    margin-bottom: -1px;
                    border-top: none !important;
                    margin-left: -1px;
                }

                &.active > a {
                    border: none;
                    margin-left: -1px;
                    padding: 10px 15px;
                    width: 100%;

                    &:hover,
                    &:focus {
                        border: none;
                        width: 100%;
                        margin-left: -1px;
                        padding: 10px 15px;
                    }
                }
                &:first-child {
                    margin-left: -1px;
                    border-top: 1px solid @nav-tabs-border-color;
                }
                &:last-child {
                    margin-left: -1px;
                    border-bottom: 1px solid @nav-tabs-border-color;
                }
            }
        }

        &.nav-centered {
            width: 112%;
            margin-left: -15px;
            margin-right: -15px;
            > li {
                a {
                    border: none;
                    width: 100%;
                    margin-left: -1px;
                }
                a,
                a:hover {
                    margin-bottom: -1px;
                    border-top: none !important;
                    margin-left: -1px;
                }

                &.active > a {
                    border: none;
                    margin-left: -1px;
                    padding: 20px 15px 10px 15px;
                    width: 100%;

                }
                &:first-child {
                    margin-left: -1px;
                    border-top: 1px solid @nav-tabs-border-color;
                }
                &:last-child {
                    margin-left: -1px;
                    border-bottom: 1px solid @nav-tabs-border-color;
                }
            }
        }
    }
}


.nav-tabs h4 {
    margin-top: 10px !important;
    margin-bottom: 0 !important;
}

.tab-image {
    width: 100px;
    margin-top: 15px;
}

@media (max-width: @screen-md-max) {
    .tab-image {
        width: 80px;
        margin-top: 15px;
    }

}

@media (max-width: @screen-xs-max) {

    .nav-tabs h4 {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }


    .tab-image {
        width: 90px;
        margin-right: 20px;
        margin-top: 0;
        float: left !important;
        padding-bottom: 50px;

    }

}




/*
 * Tab Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width:  @screen-xs-max) {
    .row-offcanvas {
        position: relative;
        .tab-pane.fade {
            opacity:1;
        }
        .tab-content > .tab-pane > .row {
            margin-left: 0;
            margin-right: 0;
        }

        &.row-offcanvas-right {
            left: 0;
            -webkit-transition: all @offcanvas-transition-timing @ease-in-out-expo;
            -o-transition: all @offcanvas-transition-timing @ease-in-out-expo;
            transition: all @offcanvas-transition-timing @ease-in-out-expo;
            [data-toggle="offcanvas"] {
                text-align:left;
                padding: 10px;
                margin-bottom:10px;
                .icon-ui-arrowleft {
                    top: 2px;
                    position: relative;
                }
            }
            &.active {
                left:-100%;
            }

            .nav-tabs > li> a > .icon-ui-arrowright {
                float:right;
            }

            .tab-content {
                position: fixed;
                top: 0;
                left: 100%;
                width: 100%;
                z-index:1000;
                // animation goes here
                -webkit-transition: all @offcanvas-transition-timing @ease-in-out-expo;
                -o-transition: all @offcanvas-transition-timing @ease-in-out-expo;
                transition: all @offcanvas-transition-timing @ease-in-out-expo;
                &.active {
                    left: 0;
                }
                .tab-pane {
                    min-height: 3000px;
                    background: @body-bg;
                }
            }
        }

        &.row-offcanvas-left {
            position:relative;
            z-index: 1;
            right: 0;
            -webkit-transition: all @offcanvas-transition-timing @ease-in-out-expo;
            -o-transition: all @offcanvas-transition-timing @ease-in-out-expo;
            transition: all @offcanvas-transition-timing @ease-in-out-expo;
            [data-toggle="offcanvas"] {
                text-align:right;
                padding: 10px;
                margin-bottom:10px;
                .icon-ui-arrowright {
                    top: 2px;
                    position: relative;
                }
            }
            &.active {
                right:-108%;
                z-index: 1000;
            }

            .tab-content {
                position: fixed;
                top: -11px;
                left: -100%;
                width: 100%;
                background: @body-bg;
                height: 3000px;
                // animation goes here
                -webkit-transition: all @offcanvas-transition-timing @ease-in-out-expo;
                -o-transition: all @offcanvas-transition-timing @ease-in-out-expo;
                transition: all @offcanvas-transition-timing @ease-in-out-expo;
                &.active {
                    left: 0;
                }
                .tab-pane {
                    min-height: 3000px;
                    background: @body-bg;
                }
            }

            .nav-tabs {
                &.pull-left {
                    + .tab-content {
                        top: -11px;
                    }
                }
                > li> a {
                    width:100%;
                    margin-left: 10px;
                    padding-left:30px;
                    text-align: right !important;
                    padding-right:25px;
                    > .icon-ui-arrowleft {
                        float:left;
                    }
                }
            }

        }

    }



    .nav-tabs > li > a {
        position:relative;
        padding-right:25px;
        > .icon-ui-arrowright {
            position: absolute;
            top: 50%;
            transform:translate(0,-50%);
            -ms-transform:translate(0,-50%);
            right:2%;
        }
        > .icon-ui-arrowleft {
            position: absolute;
            top: 50%;
            transform:translate(0,-50%);
            -ms-transform:translate(0,-50%);
            left:2%;
        }
    }


    .row-offcanvas .nav-centered + .tab-content {
        top: -11px;
    }

    // .row-offcanvas-left.active {
    //     left: 50%; /* 6 columns */
    // }

    .offcanvas-back-btn {
        &.well {
            height: 45px;
            padding: 5px 20px 10px 30px;
        }
        &:before, {
            color: @dell-blue;
            font-family:    'icon-ui';
            content: none !important;
            position: absolute;
            left: 30px;
            padding-top: 7px;
        }
        > .btn-link {
            text-decoration: none;
        }
        .btn {
            padding: 6px 0 !important;
        }
        [class^=icon] {
            top: 2px;
            position: relative;
        }
    }
    .tab-image {
        padding-bottom: 10px;
    }
}



.nav-centered {
    .nav-centered();
    .nav-tabs-centered();
}


// Nav variations
// --------------------------------------------------

// Justified nav links
// -------------------------

.nav-centered {
  width: 80%;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  z-index:1;

  > li {
    float: none;
    &.active {
        border-bottom-color: @body-bg;
    }
    > a {
      text-align: center;
      margin-bottom: 5px;
    }
  }

  > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
  }

  + .tab-content {
    border-top: 1px solid @nav-tabs-justified-link-border-color;
    position:relative;
    z-index:0;
    top: -11px;
    padding-top: 10px;
    &.active {
        z-index:0;

    }
  }

  @media (min-width: @screen-sm-min) {
    > li {
      display: table-cell;
      width: 1%;
      > a {
        margin-bottom: 0;
      }
    }
  }

  @media (max-width: @screen-xs-max) {
    > li {
        &.active {
            z-index:1;
            border-bottom: 1px solid @nav-tabs-border-color;
        }
        > a {
            padding-top:20px;
            display:table;
            cursor:pointer;

        }
    }

  }

}

@media (max-width: @screen-xs-max) {
    .nav-centered {
        + .tab-content {
            border-top: 1px solid @nav-tabs-justified-link-border-color;
            position:relative;
            z-index:0;
            top: -11px;
            padding-top: 10px;
            &.active {
                z-index:1000;

            }
        }
    }
}




// Move borders to anchors instead of bottom of list
//
// Mixin for adding on top the shared `.nav-justified` styles for our tabs
.nav-tabs-centered {
  border-bottom: 0;

  > li > a {
    // Override margin from .nav-tabs
    margin-right: 0;
    border-radius: @border-radius-base;
  }

  > .active > a,
  > .active > a:hover,
  > .active > a:focus {
    border: 1px solid @nav-tabs-justified-link-border-color;
  }

  @media (min-width: @screen-sm-min) {
    > li > a {
      border-bottom: none;
      border-radius: @border-radius-base @border-radius-base 0 0;
    }
    > .active > a,
    > .active > a:hover,
    > .active > a:focus {
      border-bottom-color: @nav-tabs-justified-active-link-border-color;
    }
  }
}


