///*
// * Tabs component theme overrides
// *------------------------------------------------------------------------------------------
// */


@media (max-width: @screen-xs-max) {
    .nav-tabs {
        display:block;
        width:100%;
        > li {
            background: #ffffff;
            width:100%;
            margin-left: 0;

            &.active {
                display:block;
                a,
                a:hover {
                    border-top: none;
                }
            }
            > a {
                text-align: left !important;
            }
            &:hover{
                background: @dell-highlight-blue;
            }
        }
        &.nav-justified {
            > li {

                a,
                a:hover {
                    margin-bottom: 0;
                    border-top:    none;
                }

                &.active > a {
                    border: none;
                    margin-left: 0;
                    padding: 10px 15px;

                    &:hover {
                        border: none;
                        margin-left: 0;
                        padding: 10px 15px;
                    }
                }
                &:hover{
                    background: @dell-highlight-blue;
                }
            }
        }
    }
}

