<section ng-controller="paginationCtrl" id="pagination-html-example">

    <div class="container">
        <h2>Pagination Demo</h2>


        <div>
            <h3 class="top-offset-40 bottom-offset-20">Centered pagination</h3>
            <!--centered pagination-->
            <div class="pagination center-block">
                <ul class="pager">
                    <li><a href="#" data-action="previous"><span aria-hidden="true" class="icon-ui-arrowleft"></span>&nbsp;Previous</a></li>
                    <li><span class="pager-span hidden-xs">page</span><input class="pagination-input" type="text" readonly="readonly" data-max-page="40"/><span class="pager-span hidden-xs">of 40</span></li>
                    <li><a href="#" data-action="next">Next&nbsp;<span aria-hidden="true" class="icon-ui-arrowright"></span></a></li>
                </ul>
            </div>

            <h3 class="top-offset-40 bottom-offset-20">Justified pagination</h3>
            <!--Justified pagination-->
            <div class="row">
                <div class="pagination col-xs-12">
                    <ul class="pager bottom-offset-20">
                        <li class="previous"><a href="#" data-action="previous"><span aria-hidden="true" class="icon-ui-arrowleft"></span>&nbsp;Previous</a></li>
                        <li><span class="pager-span hidden-xs">page</span><input class="pagination-input" type="text" readonly="readonly" data-max-page="40"/><span class="pager-span hidden-xs">of 40</span></li>
                        <li class="next"> <a href="#" data-action="next">Next&nbsp;<span aria-hidden="true" class="icon-ui-arrowright"></span></a></li>
                    </ul>
                </div>
            </div>


            <h3 class="top-offset-40 bottom-offset-20">Centered pagination with filters</h3>
                <div class="row">
                    <div class="pagination col-xs-12 col-md-8">
                        <ul class="pager bottom-offset-10">
                            <li class="previous"><a href="#" data-action="previous"><span aria-hidden="true" class="icon-ui-arrowleft"></span>&nbsp;Previous</a></li>
                            <li><span class="pager-span hidden-xs">page</span><input class="pagination-input" type="text" readonly="readonly" data-max-page="40"/><span class="pager-span hidden-xs">of 40</span></li>
                            <li class="next"> <a href="#" data-action="next">Next&nbsp;<span aria-hidden="true" class="icon-ui-arrowright"></span></a></li>
                        </ul>
                    </div>

                    <div class="col-xs-12 col-md-4 bottom-offset-10">
                        <select class="form-control">
                            <option value="Items per page">Items per page</option>
                            <option value="20 per page">20 per page</option>
                            <option value="30 per page">30 per page</option>
                            <option value="40 per page">40 per page</option>
                        </select>
                    </div>
                </div>




            <div class="top-offset-40 bottom-offset-20">
                <h3 class="bottom-offset-40">Tap-to-Load</h3>
                <div>
                    <button type="button" id="loading-example-btn" data-loading-text="Loading..." class="btn tap-to-load form-control btn-lg btn-block"
                            ng-init="loadingButtonInit()">
                        Load more results
                    </button>
                    <div class="tap-to-load-rule top-offset-small visible-xs visible-sm">
                        <p>1 of 9</p>
                    </div>
                </div>
            </div>



        </div>
    </div>

</section>
