<section ng-controller="paginationCtrl" id="pagination-html-example">

    <div class="container">
        <h2>Pagination Demo</h2>


        <div>
            <h3 class="top-offset-40 bottom-offset-20">Centered pagination</h3>
            <!--centered pagination-->
            <div class="pagination center-block">
                <ul class="pager">
                    <li><a href="#" data-action="previous"><span aria-hidden="true" class="icon-ui-arrowleft"></span>&nbsp;Previous</a></li>
                    <li><span class="pager-span hidden-xs">page</span><input class="pagination-input" type="text" readonly="readonly" data-max-page="40"/><span class="pager-span hidden-xs">of 40</span></li>
                    <li><a href="#" data-action="next">Next&nbsp;<span aria-hidden="true" class="icon-ui-arrowright"></span></a></li>
                </ul>
            </div>

            <h3 class="top-offset-40 bottom-offset-20">Justified pagination</h3>
            <!--Justified pagination-->
            <div class="row">
                <div class="pagination col-xs-12">
                    <ul class="pager bottom-offset-20">
                        <li class="previous"><a href="#" data-action="previous"><span aria-hidden="true" class="icon-ui-arrowleft"></span>&nbsp;Previous</a></li>
                        <li><span class="pager-span hidden-xs">page</span><input class="pagination-input" type="text" readonly="readonly" data-max-page="40"/><span class="pager-span hidden-xs">of 40</span></li>
                        <li class="next"> <a href="#" data-action="next">Next&nbsp;<span aria-hidden="true" class="icon-ui-arrowright"></span></a></li>
                    </ul>
                </div>
            </div>


            <h3 class="top-offset-40 bottom-offset-20">Centered pagination with filters</h3>
                <div class="row">
                    <div class="pagination col-xs-12 col-md-8">
                        <ul class="pager bottom-offset-10">
                            <li class="previous pull-left"><a href="#" data-action="previous"><span aria-hidden="true" class="icon-ui-arrowleft"></span>&nbsp;Previous</a></li>
                            <li><span class="pager-span hidden-xs">page</span><input class="pagination-input" type="text" readonly="readonly" data-max-page="40"/><span class="pager-span hidden-xs">of 40</span></li>
                            <li class="next pull-right"> <a href="#" data-action="next">Next&nbsp;<span aria-hidden="true" class="icon-ui-arrowright"></span></a></li>
                        </ul>
                    </div>

                    <div class="col-xs-12 col-md-4 bottom-offset-10">
                        <select class="form-control">
                            <option value="Items per page">Items per page</option>
                            <option value="20 per page">20 per page</option>
                            <option value="30 per page">30 per page</option>
                            <option value="40 per page">40 per page</option>
                        </select>
                    </div>
                </div>
        </div>

        <!-- old Tap-To-Load code-->


            <!--<div class="top-offset-40 bottom-offset-5">-->
            <!--<h3 class="bottom-offset-40">Tap-to-Load</h3>-->
                <!--&lt;!&ndash;Loading: Tap-to-load + Lazy Load&ndash;&gt;-->
                <!--<div id="loadmore" class="pager">-->
                    <!--<a href="#" data-action="next"><button type="button" data-loading-text="Loading..." class="btn tap-to-load form-control btn-block next"-->
                                                           <!--ng-init="loadingButtonInit()">Load more results</button></a>-->
                    <!--<div class="dashed-text-rule text-center"><span class="pager-span hidden-xs">page</span><input class="pagination-input" type="text" readonly="readonly" data-max-page="40"/><span class="pager-span hidden-xs"> of 6</span></div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="row">-->
                <!--<div class="col-xs-12">-->
                    <!--<ul class="news-pagination list-unstyled top-offset-10">-->
                        <!--<li class="well well-transparent-stroke well-blue bottom-offset-5"><p>This is an data set example <strong>A</strong></p></li>-->
                        <!--<li class="well well-transparent-stroke well-blue bottom-offset-5"><p>This is an data set example <strong>A</strong></p></li>-->
                        <!--<li class="well well-transparent-stroke well-blue bottom-offset-5"><p>This is an data set example <strong>B</strong></p></li>-->
                        <!--<li class="well well-transparent-stroke well-blue bottom-offset-5"><p>This is an data set example <strong>C</strong></p></li>-->
                        <!--<li class="well well-transparent-stroke well-blue bottom-offset-5"><p>This is an data set example <strong>D</strong></p></li>-->
                        <!--<li class="well well-transparent-stroke well-blue bottom-offset-5"><p>This is an data set example <strong>E</strong></p></li>-->
                        <!--<li class="well well-transparent-stroke well-berry bottom-offset-5"><p>This is an data set example <strong>F</strong></p></li>-->
                        <!--<li class="well well-transparent-stroke well-berry bottom-offset-5"><p>This is an data set example <strong>H</strong></p></li>-->
                        <!--<li class="well well-transparent-stroke well-berry bottom-offset-5"><p>This is an data set example <strong>I</strong></p></li>-->
                        <!--<li class="well well-transparent-stroke well-berry bottom-offset-5"><p>This is an data set example <strong>J</strong></p></li>-->
                        <!--<li class="well well-transparent-stroke well-berry bottom-offset-5"><p>This is an data set example <strong>K</strong></p></li>-->
                        <!--<li class="well well-transparent-stroke well-orange bottom-offset-5"><p>This is an data set example <strong>L</strong></p></li>-->
                        <!--<li class="well well-transparent-stroke well-orange bottom-offset-5"><p>This is an data set example <strong>M</strong></p></li>-->
                        <!--<li class="well well-transparent-stroke well-orange bottom-offset-5"><p>This is an data set example <strong>N</strong></p></li>-->
                        <!--<li class="well well-transparent-stroke well-orange bottom-offset-5"><p>This is an data set example <strong>O</strong></p></li>-->
                        <!--<li class="well well-transparent-stroke well-orange bottom-offset-5"><p>This is an data set example <strong>P</strong></p></li>-->
                        <!--<li class="well well-transparent-stroke well-light-green bottom-offset-5"><p>This is an data set example <strong>Q</strong></p></li>-->
                        <!--<li class="well well-transparent-stroke well-light-green bottom-offset-5"><p>This is an data set example <strong>R</strong></p></li>-->
                        <!--<li class="well well-transparent-stroke well-light-green bottom-offset-5"><p>This is an data set example <strong>S</strong></p></li>-->
                        <!--<li class="well well-transparent-stroke well-light-green bottom-offset-5"><p>This is an data set example <strong>T</strong></p></li>-->
                        <!--<li class="well well-transparent-stroke well-light-green bottom-offset-5"><p>This is an data set example <strong>U</strong></p></li>-->
                        <!--<li class="well well-transparent-stroke well-purple bottom-offset-5"><p>This is an data set example <strong>V</strong></p></li>-->
                        <!--<li class="well well-transparent-stroke well-purple bottom-offset-5"><p>This is an data set example <strong>W</strong></p></li>-->
                        <!--<li class="well well-transparent-stroke well-purple bottom-offset-5"><p>This is an data set example <strong>X</strong></p></li>-->
                        <!--<li class="well well-transparent-stroke well-purple bottom-offset-5"><p>This is an data set example <strong>Y</strong></p></li>-->
                        <!--<li class="well well-transparent-stroke well-purple bottom-offset-5"><p>This is an data set example <strong>Z</strong></p></li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->

<!-- /old Tap-To-Load code-->




            <div class="top-offset-40 bottom-offset-5">
                <h3 class="bottom-offset-40">Tap-to-Load</h3>
            </div>
        <div class="bottom-offset-60">
            <div class="row">
                <!-- updated Tap-To-Load code-->
                <div class="col-xs-12">
                    <ul id="load-more-example" class="list-unstyled load-more">
                        <li class="well well-transparent-stroke well-blue bottom-offset-5"><p>This is data set example <strong>A</strong></p></li>
                        <li class="well well-transparent-stroke well-blue bottom-offset-5"><p>This is data set example <strong>B</strong></p></li>
                        <li class="well well-transparent-stroke well-blue bottom-offset-5"><p>This is data set example <strong>C</strong></p></li>
                        <li class="well well-transparent-stroke well-blue bottom-offset-5"><p>This is data set example <strong>D</strong></p></li>
                        <li class="well well-transparent-stroke well-blue bottom-offset-5"><p>This is data set example <strong>E</strong></p></li>
                        <li class="well well-transparent-stroke well-berry bottom-offset-5"><p>This is data set example <strong>F</strong></p></li>
                        <li class="well well-transparent-stroke well-berry bottom-offset-5"><p>This is data set example <strong>G</strong></p></li>
                        <li class="well well-transparent-stroke well-berry bottom-offset-5"><p>This is data set example <strong>H</strong></p></li>
                        <li class="well well-transparent-stroke well-berry bottom-offset-5"><p>This is data set example <strong>I</strong></p></li>
                        <li class="well well-transparent-stroke well-berry bottom-offset-5"><p>This is data set example <strong>J</strong></p></li>
                        <li class="well well-transparent-stroke well-berry bottom-offset-5"><p>This is data set example <strong>K</strong></p></li>
                        <li class="well well-transparent-stroke well-orange bottom-offset-5"><p>This is data set example <strong>L</strong></p></li>
                        <li class="well well-transparent-stroke well-orange bottom-offset-5"><p>This is data set example <strong>M</strong></p></li>
                        <li class="well well-transparent-stroke well-orange bottom-offset-5"><p>This is data set example <strong>N</strong></p></li>
                        <li class="well well-transparent-stroke well-orange bottom-offset-5"><p>This is data set example <strong>O</strong></p></li>
                        <li class="well well-transparent-stroke well-orange bottom-offset-5"><p>This is data set example <strong>P</strong></p></li>
                        <li class="well well-transparent-stroke well-light-green bottom-offset-5"><p>This is data set example <strong>Q</strong></p></li>
                        <li class="well well-transparent-stroke well-light-green bottom-offset-5"><p>This is data set example <strong>R</strong></p></li>
                        <li class="well well-transparent-stroke well-light-green bottom-offset-5"><p>This is data set example <strong>S</strong></p></li>
                        <li class="well well-transparent-stroke well-light-green bottom-offset-5"><p>This is data set example <strong>T</strong></p></li>
                        <li class="well well-transparent-stroke well-light-green bottom-offset-5"><p>This is data set example <strong>U</strong></p></li>
                        <li class="well well-transparent-stroke well-purple bottom-offset-5"><p>This is data set example <strong>V</strong></p></li>
                        <li class="well well-transparent-stroke well-purple bottom-offset-5"><p>This is data set example <strong>W</strong></p></li>
                        <li class="well well-transparent-stroke well-purple bottom-offset-5"><p>This is data set example <strong>X</strong></p></li>
                        <li class="well well-transparent-stroke well-purple bottom-offset-5"><p>This is data set example <strong>Y</strong></p></li>
                        <li class="well well-transparent-stroke well-purple bottom-offset-5"><p>This is data set example <strong>Z</strong></p></li>
                    </ul>
                    <div class="pager">
                        <button id="load-more-link" type="button" data-target="#load-more-example" data-loading-text="" data-toggle="load-more"  class="btn btn-load-more">Load More Results</button>
                    </div>
                </div>
                <!-- updated Tap-To-Load code-->
            </div>
        </div>

<!-- ==========|Lazy-Load|==========  -->

            <script type="text/javascript">

                //Set intital divs to be hidden
                $(".lazy-load-content").addClass("hidden");
                var contentNumber = 0;

                function reveal() {
                    var constraintNumber = contentNumber + 2;
                    //IMPORTANT - DO NOT DELETE
                    $(window).trigger('resize');
                    //IMPORTANT - DO NOT DELETE
                    for (i = contentNumber; i < constraintNumber; i++) {
                        //Get the nth div of class content, where n is the contentNumber, and make it shown
                        $('.lazy-load-content').eq(contentNumber).removeClass("hidden");
                        contentNumber ++;
                    }
                }

                //Window scroll function
                $(window).scroll(function() {
                   if ($(window).scrollTop() == $(document).height() - $(window).height() )
                    {
                        reveal();
                    }
                });
                reveal();

            </script>

                <div class="top-offset-40 bottom-offset-5">
                    <h3 class="bottom-offset-40">Lazy-Load</h3>
                </div>
                <div class="bottom-offset-60">
                    <div class="row">
                        <div class="col-xs-12"> 
                            <div class="lazy-load">
                                <div class="lazy-load-content">
                                <hr />
                                    <h3>Item 1 of Lazy-Load - jQuery Infinite Scrolling Plugin</h3>
                                    <p>Lorem ipsum dolor sit amet, dicta utinam meliore ex per. Detracto noluisse vituperata mea et, te ius aeterno legendos, stet tempor discere at usu. In legere suscipiantur duo. Nam ex odio scaevola, at salutatus voluptatum sed.</p>
                                    <p>Nec te patrioque delicatissimi, at pri saepe constituto necessitatibus. At cum novum audiam, vix odio sale dolorum an. Cum modus iudico appareat ex. Eum an atomorum adversarium, erant partem ea est. Per te cibo inimicus recteque, nostro intellegebat te nam. An commodo platonem mei, liber debet contentiones eu sed.</p>
                                </div>
                                <div class="lazy-load-content">
                                <hr />
                                    <h3>Item 2</h3>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <img src="components/pagination/laptop-inspiron169x149.png" class="img-responsive" />
                                        </div>
                                        <div class="col-md-10">
                                            <h3>Title goes here</h3>
                                            <p>Lorem ipsum dolor sit amet, dicta utinam meliore ex per. Detracto noluisse vituperata mea et, te ius aeterno legendos, stet tempor discere at usu. In legere suscipiantur duo. Nam ex odio scaevola, at salutatus voluptatum sed.</p>
                                            <p>Lorem ipsum dolor sit amet, dicta utinam meliore ex per. Detracto noluisse vituperata mea et, te ius aeterno legendos, stet tempor discere at usu. In legere suscipiantur duo. Nam ex odio scaevola, at salutatus voluptatum sed.</p>
                                            <p>Nec te patrioque delicatissimi, at pri saepe constituto necessitatibus. At cum novum audiam, vix odio sale dolorum an. Cum modus iudico appareat ex. Eum an atomorum adversarium, erant partem ea est. Per te cibo inimicus recteque, nostro intellegebat te nam. An commodo platonem mei, liber debet contentiones eu sed.</p>        
                                        </div>
                                </div>
                                <div class="lazy-load-content">
                                <hr />
                                    <h3>Item 3</h3>
                                    <div class="row">
                                        <div class="col-md-10">
                                            <p>Lorem ipsum dolor sit amet, dicta utinam meliore ex per. Detracto noluisse vituperata mea et, te ius aeterno legendos, stet tempor discere at usu. In legere suscipiantur duo. Nam ex odio scaevola, at salutatus voluptatum sed.</p>
                                            <p>Nec te patrioque delicatissimi, at pri saepe constituto necessitatibus. At cum novum audiam, vix odio sale dolorum an. Cum modus iudico appareat ex. Eum an atomorum adversarium, erant partem ea est. Per te cibo inimicus recteque, nostro intellegebat te nam. An commodo platonem mei, liber debet contentiones eu sed.</p>
                                        </div>
                                        <div class="col-md-2">
                                            <img src="components/pagination/laptop-inspiron-5559-169x149.png" class="img-responsive" />
                                        </div>
                                    </div>

                                    
                                </div>
                                <div class="lazy-load-content">
                                <hr />
                                    <h3>Item 4</h3>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img src="components/pagination/banner1.jpg" class="img-responsive" />
                                        </div>
                                        <div class="col-md-6">
                                            <img src="components/pagination/banner2.jpg" class="img-responsive" />
                                        </div>
                                    </div>
                                </div>
                                <div class="lazy-load-content top-offset-40 bottom-offset-20">
                                <hr />
                                    <h3>Item 5</h3>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <img src="components/pagination/download.svg" alt="" class="img-circle" align="left">
                                            <h3>Title goes here</h3>
                                            <p>Lorem ipsum dolor sit amet, dicta utinam meliore ex per. Detracto noluisse vituperata mea et, te ius aeterno legendos, stet tempor discere at usu. In legere suscipiantur duo. Nam ex odio scaevola, at salutatus voluptatum sed.</p>
                                            <p>Nec te patrioque delicatissimi, at pri saepe constituto necessitatibus. At cum novum audiam, vix odio sale dolorum an. Cum modus iudico appareat ex. Eum an atomorum adversarium, erant partem ea est. Per te cibo inimicus recteque, nostro intellegebat te nam. An commodo platonem mei, liber debet contentiones eu sed.</p>
                                            <a href="#">more info . . .</a>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="lazy-load-content top-offset-40 bottom-offset-20">
                                <hr />
                                    <h3>Item 6</h3>
                                    <img src="components/pagination/download.svg" alt="" class="img-rounded" align="right">
                                            <h3>Title goes here</h3>
                                            <p>Lorem ipsum dolor sit amet, dicta utinam meliore ex per. Detracto noluisse vituperata mea et, te ius aeterno legendos, stet tempor discere at usu. In legere suscipiantur duo. Nam ex odio scaevola, at salutatus voluptatum sed.</p>
                                            <p>Nec te patrioque delicatissimi, at pri saepe constituto necessitatibus. At cum novum audiam, vix odio sale dolorum an. Cum modus iudico appareat ex. Eum an atomorum adversarium, erant partem ea est. Per te cibo inimicus recteque, nostro intellegebat te nam. An commodo platonem mei, liber debet contentiones eu sed.</p>
                                            <a href="#">more info . . .</a>
                                </div>
                                <div class="lazy-load-content">
                                <hr />
                                    <h3>Item 7</h3>
                                    <p>Lorem ipsum dolor sit amet, dicta utinam meliore ex per. Detracto noluisse vituperata mea et, te ius aeterno legendos, stet tempor discere at usu. In legere suscipiantur duo. Nam ex odio scaevola, at salutatus voluptatum sed.</p>
                                    <p>Nec te patrioque delicatissimi, at pri saepe constituto necessitatibus. At cum novum audiam, vix odio sale dolorum an. Cum modus iudico appareat ex. Eum an atomorum adversarium, erant partem ea est. Per te cibo inimicus recteque, nostro intellegebat te nam. An commodo platonem mei, liber debet contentiones eu sed.</p>
                                </div>
                                <div class="lazy-load-content">
                                    <h3>Item 8</h3>
                                    <p>Lorem ipsum dolor sit amet, dicta utinam meliore ex per. Detracto noluisse vituperata mea et, te ius aeterno legendos, stet tempor discere at usu. In legere suscipiantur duo. Nam ex odio scaevola, at salutatus voluptatum sed.</p>
                                    <p>Nec te patrioque delicatissimi, at pri saepe constituto necessitatibus. At cum novum audiam, vix odio sale dolorum an. Cum modus iudico appareat ex. Eum an atomorum adversarium, erant partem ea est. Per te cibo inimicus recteque, nostro intellegebat te nam. An commodo platonem mei, liber debet contentiones eu sed.</p>
                                </div>
                                <div class="lazy-load-content">
                                    <h3>Item 9</h3>
                                    <p>Lorem ipsum dolor sit amet, dicta utinam meliore ex per. Detracto noluisse vituperata mea et, te ius aeterno legendos, stet tempor discere at usu. In legere suscipiantur duo. Nam ex odio scaevola, at salutatus voluptatum sed.</p>
                                    <p>Nec te patrioque delicatissimi, at pri saepe constituto necessitatibus. At cum novum audiam, vix odio sale dolorum an. Cum modus iudico appareat ex. Eum an atomorum adversarium, erant partem ea est. Per te cibo inimicus recteque, nostro intellegebat te nam. An commodo platonem mei, liber debet contentiones eu sed.</p>
                                </div>
                                <div class="lazy-load-content">
                                    <h3>Item 10</h3>
                                    <p>Lorem ipsum dolor sit amet, dicta utinam meliore ex per. Detracto noluisse vituperata mea et, te ius aeterno legendos, stet tempor discere at usu. In legere suscipiantur duo. Nam ex odio scaevola, at salutatus voluptatum sed.</p>
                                    <p>Nec te patrioque delicatissimi, at pri saepe constituto necessitatibus. At cum novum audiam, vix odio sale dolorum an. Cum modus iudico appareat ex. Eum an atomorum adversarium, erant partem ea est. Per te cibo inimicus recteque, nostro intellegebat te nam. An commodo platonem mei, liber debet contentiones eu sed.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<!-- ==========|Lazy-Load END|==========  -->

    </div><!-- end container -->

</section>
