/*
 * Pagination component theme overrides
 *------------------------------------------------------------------------------------------
 */
//TODO this needs to be overridden in dell-bootstrap-ui
.pager li {
    vertical-align: 0px;
}

.pager-span {
    padding-left: 10px;
    padding-right: 10px;
}
.pagination-input {
    width: 30px;
    text-align: center;
    height: 35px;
    padding: 5px;
}
