<section>
    <div class="container">
        <div class="">
            <h2>Banners (Jumbotron)</h2>
        </div>
    </div>

    <div class="jumbotron">
        <a href="javascript:;">
            <img src="http://placehold.it/3000x1011.png" alt=" ideal image size is 1400x472" class="img-responsive">
        </a>
        <div class="visible-xs visible-sm well-sm"></div>
        <div class="container">
            <div class="row">
                <div class="well">
                    <h5 class="hidden-xs hidden-sm hidden-md">Sample event title</h5>
                    <h2 class="hidden-xs hidden-sm text-blue">Sample Headline ipsum dolor ligula hoppen santorum.</h2>
                    <p truncate="100">Mauris eleifend ut purus ut vehicula. Praesent in felis sit amet enim bibendum interdum. Sed commodo malesuada rutrum. Sed aliquam velit id tortor pellentesque cursus. Nam fermentum, ligula ac dictum malesuada, urna neque fermentum magna, vel aliquet est nunc in mauris. Vivamus eget dolor laoreet nibh porta commodo nec eu enim. Nullam scelerisque diam quis eros mattis, ac viverra odio finibus.</p>
                    <p>
                        <small>Sample Legal text for placement only.</small>
                    </p>
                    <p>
                        <a href="javascript:;" class="btn btn-primary pull-left hidden-xs">Sample CTA</a>
                        <a href="javascript:;" class="pull-left visible-xs">Sample CTA</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 well well-berry">
        place holder text to show another element below the banner
    </div>

</section>