<section>


    <div class="container">
        <h2>Grid sample</h2>
        <div class="row">

        </div>

        <!--responsive banner-->
        <div class="banner hidden-xs">
            <img src="http://placehold.it/1400x472" alt="1400x472" class="img-responsive">
            <div class="banner-inside pull-left">
                <h5 class="hidden-xs hidden-sm">Sample event title</h5>
                <h2 class="hidden-xs text-blue">Sample Headline ipsum dolor sit amet.
                </h2>
                <p>
                    Mauris in ultricies leo, fermentum consectetur ligula hoppen santorum.
                </p>
                <p class="visible-lg-block">
                    <small>Sample Legal text for placement only.</small>
                </p>
                <p>
                    <a href="javascript;:" class="btn btn-primary pull-left hidden-xs">Sample CTA</a>
                    <a href="javascript;:" class="pull-left visible-xs">Sample CTA</a>
                </p>
            </div>
        </div>
        <div class="banner visible-xs-block">
            <img src="http://placehold.it/320x265" alt="320x265" class="img-responsive">
            <div class="banner-inside-xs pull-left">
                <p class="bottom-offset-0">Choose and deploy the right technology with Dell Digital Business Services.</p>
                <a href="javascript;:" class="pull-left">Sample CTA</a>
            </div>
        </div>
        <!--/responsive banner-->
        </div>
    </div>
</section>
