<section ng-controller="typographyCtrl" id="typography-html-example">

    <div class="container">
        <h2>Typography Demo</h2>
        <!--headings-->
        <div class="well">
            <table class="table bottom-offset-0">
                <tr>
                    <td>
                        <h1 class="visible-lg">H1 : 32px/40px</h1>

                        <h1 class="visible-md">H1 : 32px/40px</h1>

                        <h1 class="visible-sm">H1 : 30px/36px</h1>

                        <h1 class="visible-xs">H1 : 24px/28px</h1>

                        <p>
                            <small>Font-family: museo-sans-for-dell-300</small>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2 class="visible-lg">H2 : 28px/32px</h2>

                        <h2 class="visible-md">H2 : 28px/32px</h2>

                        <h2 class="visible-sm">H2 : 26px/30px</h2>

                        <h2 class="visible-xs">H2 : 20px/24px</h2>

                        <p>
                            <small>Font-family: Museo Sans for Dell 300</small>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3 class="visible-lg feature">H3 "feature" : 24px/28px</h3>

                        <h3 class="visible-md feature">H3 "feature" : 24px/28px</h3>

                        <h3 class="visible-sm feature">H3 "feature" : 22px/26px</h3>

                        <h3 class="visible-xs feature">H3 "feature" : 18px/22px</h3>

                        <p>
                            <small>Font-family: Museo Sans for Dell 300</small>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3 class="visible-lg">H3 : 20px/24px</h3>

                        <h3 class="visible-md">H3 : 20px/24px</h3>

                        <h3 class="visible-sm">H3 : 20px/24px</h3>

                        <h3 class="visible-xs">H3 : 17px/20px</h3>

                        <p>
                            <small>Font-family: Museo Sans for Dell 300</small>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="visible-lg">H4 : 18px/22px</h4>
                        <h4 class="visible-md">H4 : 18px/22px</h4>
                        <h4 class="visible-sm">H4 : 18px/22px</h4>
                        <h4 class="visible-xs">H4 : 16px/20px</h4>

                        <p>
                            <small>Font-family: Trebuchet MS</small>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5 class="visible-lg">H5 : 16px/20px</h5>
                        <h5 class="visible-md">H5 : 16px/20px</h5>
                        <h5 class="visible-sm">H5 : 16px/20px</h5>
                        <h5 class="visible-xs">H5 : 14px/20px</h5>

                        <p>
                            <small>Font-family: Trebuchet MS</small>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="bold-16 bottom-offset-0">bold-16</p>

                        <p>
                            <small>Font-family: Trebuchet MS</small>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="bold-14 bottom-offset-0">bold-14</p>

                        <p>
                            <small>Font-family: Trebuchet MS</small>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="bold-12 bottom-offset-0">bold-12</p>

                        <p>
                            <small>Font-family: Trebuchet MS</small>
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <!--/headings-->

        <!-- body -->
        <div class="row">
            <div class="col-xs-12 col-sm-6 bottom-offset-20">
                <h3>Example body text
                    <small>(default)</small>
                </h3>
                <div id="example-body-text">
                    <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis
                        dis
                        parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id
                        elit.</p>
                </div>
                <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non
                    commodo
                    luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui.</p>
                <div class="top-offset-30 bottom-offset-20">
                    <h3>Example small text
                        <small>(fine print)</small>
                    </h3>
                    <p id="example-small-body-text">
                        <small>This copy is meant to be treated as fine print. Nullam quis risus eget urna mollis
                            ornare vel eu leo. Cum sociis natoque penatibus et magnis dis
                            parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut
                            id elit.
                        </small>
                    </p>
                    <p>
                        <small>This copy is meant to be treated as fine print. Vivamus sagittis lacus vel augue
                            laoreet rutrum faucibus dolor auctor. Duis mollis, est non
                            commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed
                            odio dui.
                        </small>
                    </p>
                </div>
            </div>
        </div>
        <!-- /body -->

        <!-- body RTL -->
        <div class="row">
            <div class="col-xs-12 col-sm-6 bottom-offset-20">
                <h3 class="text-rtl">Example body text
                    <small>(default)</small>
                </h3>
                <p class="text-rtl">Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus
                    et magnis dis
                    parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id
                    elit.</p>

                <p class="text-rtl">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis,
                    est non commodo
                    luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui.</p>

                <div class="top-offset-30 bottom-offset-20">
                    <h3 class="text-rtl">Example small text
                        <small>(fine print)</small>
                    </h3>
                    <p class="text-rtl">
                        <small>This copy is meant to be treated as fine print. Nullam quis risus eget urna mollis ornare
                            vel eu leo. Cum sociis natoque penatibus et magnis dis
                            parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id
                            elit.
                        </small>
                    </p>
                    <p class="text-rtl">
                        <small>This copy is meant to be treated as fine print. Vivamus sagittis lacus vel augue laoreet
                            rutrum faucibus dolor auctor. Duis mollis, est non
                            commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio
                            dui.
                        </small>
                    </p>
                </div>
            </div>
        </div>
        <!-- /body RTL -->

        <!-- helper classes -->
        <div class="bottom-offset-40">

            <h3>Example bold copy</h3>

            <div class="well well-sm bottom-offset-40">
                <div id="strong-text">
                    <strong>Text rendered as bold text</strong>
                </div>
            </div>
            <h3>Example italicized copy</h3>

            <div class="well well-sm bottom-offset-40">
                <div id="italic-text">
                    <em>Text rendered as italicized text</em>
                </div>
            </div>
        </div>


        <h3>Example colored text</h3>

        <div class="well well-sm" style="background: #ddd;">
            <p class="text-gray-dark">This text is <strong>text-gray-dark</strong>
                <small>&nbsp;(default)</small>
                .
            </p>
        </div>
        <div class="well well-sm" style="background: #ddd;">
            <p class="text-blue">This text is <strong>text-blue</strong>
                <small>&nbsp;(Brand name: Dell Blue)</small>
                .
            </p>
        </div>
        <div class="well well-sm" style="background: #ddd;">
            <p class="text-dark-blue">This text is <strong>text-dark-blue</strong>
                <small>&nbsp;(Brand name: Dell Dark Blue)</small>
                .
            </p>
        </div>
        <div class="well well-sm" style="background: #ddd;">
            <p class="text-purple">This text is <strong>text-purple</strong>
                <small>&nbsp;(Brand name: Dell Purple)</small>
                .
            </p>
        </div>
        <div class="well well-sm" style="background: #ddd;">
            <p class="text-berry">This text is <strong>text-berry</strong>
                <small>&nbsp;(Brand name: Dell Berry)</small>
                .
            </p>
        </div>
        <div class="well well-sm" style="background: #ddd;">
            <p class="text-red">This text is <strong>text-red</strong>
                <small>&nbsp;(Brand name: Dell Red)</small>
                .
            </p>
        </div>
        <div class="well well-sm" style="background: #ddd;">
            <p class="text-red-dark">This text is <strong>text-red-dark</strong>
                <small>&nbsp;(Brand name: Dell Dark Red)</small>
                .
            </p>
        </div>
        <div class="well well-sm" style="background: #ddd;">
            <p class="text-white">This text is <strong>text-white</strong>
                <small>&nbsp;(Brand name: White)</small>
                .
            </p>
        </div>
        <div class="well well-sm" style="background: #ddd;">
            <p class="text-gray-medium">This text is <strong>text-gray-medium</strong>
                <small>&nbsp;(Brand name: 75% Dell Dark Gray)</small>
                .
            </p>
        </div>
        <div class="well well-sm" style="background: #ddd;">
            <p class="text-gray-dark">This text is <strong>text-gray-dark</strong>
                <small>&nbsp;(Brand name: Dell Dark Gray)</small>
                .
            </p>
        </div>
        <div class="well well-sm" style="background: #ddd;">
            <p class="text-orange">This text is <strong>text-orange</strong>
                <small>&nbsp;(Brand name: Dell Orange)</small>
                .
            </p>
        </div>
        <div class="well well-sm" style="background: #ddd;">
            <p class="text-green">This text is <strong>text-orange</strong>
                <small>&nbsp;(Brand name: Dell Green)</small>
                .
            </p>
        </div>


        <h3>Example text alignment</h3>

        <div class="well well-sm">
            <div id="left-aligned-text">
                <p class="text-left">Left aligned text.</p>
            </div>
            <hr/>
            <div id="center-aligned-text">
                <p class="text-center">Center aligned text.</p>
            </div>
            <hr/>
            <div id="right-aligned-text">
                <p class="text-right">Right aligned text.</p>
            </div>
        </div>

        <h3>Example strikethrough</h3>

        <div class="well well-sm bottom-offset-40">
            <div id="strikethrough-text">
                <p class="strike-through">This is an example of strikethrough text.</p>
            </div>
        </div>
        <!-- /helper classes -->


    </div>

</section>
