/*
 * Typography component theme overrides
 *------------------------------------------------------------------------------------------
 */


/* TODO temp changes that need to be made in DUB package */
a:hover {
	text-decoration:underline !important;
}

a.btn:not(.btn-link):hover,
a.carousel-control:hover,
.dropdown-menu a,
.nav-tabs a:hover,
.next a:hover,
.prev a:hover,
.nav-stacked a:hover,
.nav-pills a:hover,
.gallery-item a:hover,
.pager a:hover,
a[data-toggle="collapse"]:hover,
.panel-title a:hover,
.carousel .itme>a:hover,
.navbar a:hover  {
	text-decoration: none !important;
}

a > h1,
a > h2,
a > h3,
a > h4,
a > h5,
a > h6 {
	color:@dell-blue !important;
}

.disabled a {

}
a:hover > h1,
a:hover > h2,
a:hover > h3,
a:hover > h4,
a:hover > h5,
a:hover > h6,
.list-unstyled a:hover {
	color:@dell-blue !important;
}

.navbar-inverse a h1,
.navbar-inverse a:hover h1 {
	color:white !important;
}

.navbar-nav .subLinks a:hover,
.value-props-gallery:hover a:hover {
	color:@dell-blue !important;
}

.nav-pills .active a:hover {
	color:#FFFFFF !important;
}

a[data-toggle=popover]:hover,
[data-toggle=tooltip]:hover {
    text-decoration: none !important;
    color: inherit !important;
}

/* end of temp changes that need to be made in DUB package */