<section ng-controller="pagersCtrl" id="pagers-html-example">

    <div class="container">
        <h2>Pagers Demo</h2>
        <div>
            <div class="bottom-offset-60">

                <h3 class="bottom-offset-40">Standard pagers</h3>
                <div class="bottom-offset-40">

                    <!--standard pagers-->
                    <ul class="pager">
                        <li><a href="javascript:;"><span aria-hidden="true" class="icon-ui-arrowleft"></span></a></li>
                        <li><a href="javascript:;"><span aria-hidden="true" class="icon-ui-arrowright"></span></a></li>
                    </ul>

                </div>


                <h3>Pagers with text</h3>
                <div class="bottom-offset-40">

                <!--Pagers with Text-->
                    <ul class="pager">
                        <li><a href="javascript:;"><span aria-hidden="true" class="icon-ui-arrowleft"></span>&nbsp;Previous</a></li>
                        <li><a href="javascript:;">Next&nbsp;<span aria-hidden="true" class="icon-ui-arrowright"></span></a></li>
                    </ul>

                </div>

            </div>
        </div>
    </div>

</section>
