/*
 * Pagers component theme overrides
 *------------------------------------------------------------------------------------------
 */

.pager {
    .pager-span {
        //Why is there a class for this.. there is styling on a <span> tag
         padding-left: 5px;
         padding-right: 5px;
         display: inline-block;
         background: none;
         border: 0;
         border-radius: 0;
    }
}
