
[class^=icon-] {
  display:          inline-block;
  height:           20px;
  width:            24px;
  vertical-align: middle;
  margin: 3px 0px;
  background-image: url("../../images/dell-glyphicons-halflings-gray-light.png");
  &:before {
    display: none;
  }
  &.text-blue {
    background-image: url("../../images/dell-glyphicons-halflings-dell-blue.png");
  }
  &.text-gray-light {
    background-image: url("../../images/dell-glyphicons-halflings-gray-light.png");
  }
}

a [class^=icon-], a[class^=icon-], .btn [class^=icon-] {
  background-image: url("../../images/dell-glyphicons-halflings-dell-blue.png");
}

.disabled > a [class^=icon-],
.disabled > a[class^=icon-],
.disabled >  .btn [class^=icon-]{
  background-image: url("../../images/dell-glyphicons-halflings-gray-light.png");
}


.text-blue [class^=icon-] {
  background-image: url("../../images/dell-glyphicons-halflings-dell-blue.png");
}

.white,
.well,
.well-gray-light,
.gray-light {
  [class^=icon-],
  a[class^=icon-],
  a [class^=icon-] {
    background-image: url("../../images/dell-glyphicons-halflings-gray-light.png");
  }
}

.well-gray,
.gray,
.well-gray-medium,
.gray-medium,
.well-blue,
.blue,
.well-yellow,
.yellow,
.well-teal,
.teal,
.well-green,
.green,
.well-orange,
.orange,
.well-red,
.red,
.well-red-dark,
.red-dark,
.well-berry,
.berry,
.well-purple,
.purple,
.btn-primary,
.btn-secondary {
  [class^=icon-],
  a[class^=icon-],
  a [class^=icon-] {
    background-image: url("../../images/dell-glyphicons-halflings-white.png");
  }
}

.icon-ui-dell {
  background-image:  url("../../images/dell-white.png") !important;
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  top: -18px;
  margin-top: 15px;
  margin-right: 3px;
  margin-left: 4px;
}

[class^=icon-small-favorite] {
  background-image:    url("../../images/dell-glyphons-halflings-multi-color.png");
  background-position: -280px -42px;
}

.icon-ui-triangleup {
  background-position: -396px -69px;
}

.icon-ui-triangleright {
  background-position: -366px -69px;
}

.icon-ui-triangleleft {
  background-position: -336px -69px;
}

.icon-ui-triangledown {
  background-position: -426px -69px;
}

.icon-ui-plus {
  background-position: -456px -39px;
}

.icon-ui-minus {
  background-position: -426px -39px;
}

.icon-ui-menucollapsed {
  background-position: -396px -39px;
}

.icon-ui-expand {
  background-position: -396px -159px;
}

.icon-ui-dell {
  background-position: 0px 0px;
}

.windows7-mobile > .icon-ui-dell {
  background-image:  url("../../images/dell-blue.png") !important;
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  top: 12px;
  margin-top: -1px;
  margin-right: 3px;
  margin-left: -6px;
}

.icon-ui-collapse {
  background-position: -366px -158px;
}

.icon-ui-closecircle {
  background-position: -426px -159px;
}

.icon-ui-close {
  background-position: -427px -9px;
}

.icon-ui-arrowright {
  background-position: -306px -39px;
  margin-bottom: 0px;
}

.icon-ui-arrowleft {
  background-position: -277px -39px;
  margin-bottom: 0px;
}

.icon-small-zoomout {
  background-position: -127px -33px;
  height: 26px;
  width: 23px;
  margin-left: 2px;
}

.icon-small-zoomin {
  background-position: -156px -33px;
  height: 26px;
  width: 23px;
  margin-left: 2px;
}

.icon-small-wireless {
  background-position: -186px -159px;
}

.icon-small-whitepaper {
  background-position: -156px -159px;
}

.icon-small-webcam {
  background-position: -66px -189px;
}

.icon-small-warranty {
  background-position: -246px -69px;
}

.icon-small-videocard {
  background-position: -126px -129px;
}

.icon-small-video {
  background-position: -366px -9px;
}

.icon-small-useraccount {
  background-position: -306px -9px;
}

.icon-small-trash {
  background-position: -66px -39px;
}

.icon-small-towergeneric {
  background-position: -336px -129px;
}

.icon-small-touchpad {
  background-position: -426px -129px;
}

.icon-small-touch {
  background-position: -456px -9px;
}

.icon-small-thinclient {
  background-position: -366px -129px;
}

.icon-small-tablet {
  background-position: -36px -9px;
}

.icon-small-surgeprotection {
  background-position: -186px -189px;
}

.icon-small-support {
  background-position: -366px -39px;
}

.icon-small-storage {
  background-position: -456px -159px;
}

.icon-small-speakers {
  background-position: -96px -189px;
}

.icon-small-software {
  background-position: -246px -189px;
}

.icon-small-shipsfast {
  background-position: 42px 11px;
}

.icon-small-shipping {
  background-position: -246px -39px;
}

.icon-small-share {
  background-position: -216px -159px;
}

.icon-small-serverrack {
  background-position: -306px -129px;
}

.icon-small-server {
  background-position: -276px -129px;
}

.icon-small-securesoftware {
  background-position: -276px -189px;
}

.icon-small-secure {
  background-position: -216px -189px;
}

.icon-small-searchright {
  background-position: -96px -39px;
  -moz-transform:      scaleX(-1);
  -o-transform:        scaleX(-1);
  -webkit-transform:   scaleX(-1);
  transform:           scaleX(-1);
  filter:              FlipH;
  -ms-filter:          "FlipH";
}

.icon-small-searchleft {
  background-position: -96px -39px;
}

.icon-small-save {
  background-position: -306px -69px;
}

.icon-small-rss {
  background-position: -186px -69px;
}

.icon-small-recycle {
  background-position: -456px -99px;
}

.icon-small-protection {
  background-position: -156px -189px;
}

.icon-small-projector {
  background-position: -96px -9px;
}

.icon-small-processor {
  background-position: -96px -129px;
}

.icon-small-printer {
  background-position: -6px -129px;
}

.icon-small-powersupply {
  background-position: -6px -189px;
}

.icon-small-ports {
  background-position: -246px -129px;
}

.icon-small-play {
  background-position: -126px -69px;
}

.icon-small-photos {
  background-position: -96px -99px;
}

.icon-small-phone {
  background-position: -336px -159px;
}

.icon-small-performance {
  background-position: -96px -159px;
}

.icon-small-package {
  background-position: -36px -159px;
}

.icon-small-opticaldrive {
  background-position: -306px -189px;
}

.icon-small-operatingsystem {
  background-position: -336px -189px;
}

.icon-small-network {
  background-position: -126px -9px;
}

.icon-small-music {
  background-position: -186px -9px;
}

.icon-small-mouse {
  background-position: -306px -99px;
}

.icon-small-mobile {
  background-position: -276px -99px;
}

.icon-small-missingimage {
  background-position: -216px -9px;
}

.icon-small-memorycardreader {
  background-position: -216px -129px;
}

.icon-small-memory {
  background-position: -186px -129px;
}

.icon-small-mail {
  background-position: -246px -9px;
}

.icon-small-location {
  background-position: -276px -159px;
}

.icon-small-lightbulb {
  background-position: -426px -99px;
}

.icon-small-keyboard {
  background-position: -396px -129px;
}

.icon-small-inktoner {
  background-position: -156px -129px;
}

.icon-small-house {
  background-position: -6px -39px;
}

.icon-small-help {
  background-position: -96px -69px;
}

.icon-small-harddrive {
  background-position: -126px -189px;
}

.icon-small-globe {
  background-position: -366px -99px;
}

.icon-small-giftcard {
  background-position: -6px -99px;
}

.icon-small-energyefficient {
  background-position: -396px -99px;
}

.icon-small-employee {
  background-position: -305px -7px
}

.icon-small-edit {
  background-position: -6px -159px;
}

.icon-small-drivers {
  background-position: -36px -39px;
}

.icon-small-download {
  background-position: -246px -159px;
}

.icon-small-display {
  background-position: -66px -9px;
}

.icon-small-dimensionsweight {
  background-position: -276px -9px;
}

.icon-small-diagnostic {
  background-position: -126px -159px;
}

.icon-small-deals {
  background-position: -66px -99px;
}

.icon-small-data {
  background-position: -276px -69px;
}

.icon-small-creditcvv {
  background-position: -185px -99px
}

.icon-small-copy {
  background-position: -336px -99px;
}

.icon-small-contact {
  background-position: -126px -99px;
}

.icon-small-computergeneric {
  background-position: -6px -9px;
}

.icon-small-color {
  background-position: -156px -9px;
}

.icon-small-cloud {
  background-position: -306px -159px;
}

.icon-small-clock {
  background-position: -66px -159px;
}

.icon-small-chipset {
  background-position: -66px -129px;
}

.icon-small-checkmark {
  background-position: -396px -9px;
}

.icon-small-chat {
  background-position: -336px -39px;
}

.icon-small-cart {
  background-position: -186px -39px;
}

.icon-small-carryingcase {
  background-position: -456px -69px;
}

.icon-small-calendar {
  background-position: -156px -99px;
}

.icon-small-calculator {
  background-position: -456px -129px;
}

.icon-small-cables {
  background-position: -36px -189px;
}

.icon-small-bell {
  background-position: -36px -99px;
}

.icon-small-battery {
  background-position: -216px -99px;
}

.icon-small-award {
  background-position: -36px -129px;
}

.icon-small-audiospeaker {
  background-position: -246px -99px;
}

.icon-small-audiocard {
  background-position: -246px -99px;
}

.icon-small-alertnotice {
  background-position: -216px -69px;
}

.icon-small-alertinfo {
  background-position: -66px -69px;
}

.icon-small-alerterror {
  background-position: -156px -69px;
}

.icon-small-alertcomplete {
  background-position: -36px -69px;
}

.icon-small-add {
  background-position: -6px -69px;
}

.text-yellow [class^=icon-small-favorite],
.text-yellow[class^=icon-small-favorite] {
  background-position: -276px -36px;
}

.icon-small-favorite-90 {
    background-position: -250px -42px !important;
    }

.icon-small-favorite-80 {
    background-position: -219px -42px !important;
    }

.icon-small-favorite-70 {
    background-position: 176px -42px !important;
    }

.icon-small-favorite-60 {
    background-position: -159px -42px !important;
    }

.icon-small-favorite-50 {
    background-position: -129px -42px !important;
    }

.icon-small-favorite-40 {
    background-position: -99px -42px !important;
    }

.icon-small-favorite-30 {
    background-position: -69px -42px !important;
    }

.icon-small-favorite-20 {
    background-position: -39px -42px !important;
    }

.icon-small-favorite-10 {
    background-position: -8px -42px !important;
    }

.accordion-toggle {
  &:before {
    content:             "";
    background-image:    url("../../images/dell-glyphicons-halflings-dell-blue.png");
    background-position: -366px -157px;
    background-repeat:   no-repeat;
    width:               20px;
    height:              20px;
  }
  &.collapsed:before {
    content:             "";
    background-position: -396px -157px;
  }

}

.breadcrumb > li {
  margin-top: -10px;
  &:first-child:before {
    content:             "";
    background-image:    url("../../images/dell-glyphicons-halflings-gray-light.png");
    background-position: -6px -39px;
    background-repeat:   no-repeat;
    width:               20px;
    height:              20px;
    display:             inline-block;
    top:                 6px;
    position:            relative;
  }
}

// NOTE: overriding caret with font icon for dell-308
.dropdown-toggle {
  .caret {
    display: none;
  }
  &:after {
    content:             "";
    background-image:    url("../../images/dell-glyphicons-halflings-dell-blue.png");
    background-position: -428px -70px;
    background-repeat:   no-repeat;
    display: inline-block;
    width: 18px;
    height: 14px;
    margin-top: 1px;
    line-height: 14px;
    vertical-align: text-top;
  }
  &.btn-primary:after,
  &.btn-secondary:after,
  &.btn-success:after,
  &.btn-info:after,
  &.btn-warning:after,
  &.btn-danger:after{
    background-image: url("../../images/dell-glyphicons-halflings-white.png");
  }

  &.no-arrow:after {
    display: none;
  }
}

.open > .dropdown-toggle:after {
  content:             "";
  background-position: -398px -70px;
}

.progress {
  //progress-status dell 308 only
  &.progress-status {

    .bar {
      &-complete {
        &:after {
          content:             "";
          background-image:    url("../../images/dell-glyphicons-halflings-white.png");
          background-position: -396px -8px;
          background-repeat:   no-repeat;
          height:              16px;
          width:               20px;
          display:             inline-block;
        }
      }
    }
  }
}

.alert {
  &:before {
    content:             "";
    background-image:    url("../../images/dell-glyphons-halflings-multi-color.png");
    background-position: -104px -10px;
    background-repeat:   no-repeat;
    width:               30px;
    height:              23px;
    display:             inline-block;
  }
  &.alert-success:before {
    content:             "";
    background-position: -149px -10px  !important;
  }
  &.alert-danger,
  &.alert-error {
    &:before {
      content:             "";
      background-position: -55px -10px !important;
    }
  }
  &.alert-info {
    &:before {
      content:             "";
      background-position: -7px -10px !important;
    }
  }
  .close > [class^=icon] {
    display:          inline-block;
    background-image: url("../../images/dell-glyphicons-halflings-dark-gray-sml.png");
  }
}

.modal-header {
  .close:before {
    content:             "";
    background-image:    url("../../images/dell-glyphicons-halflings-dark-gray.png");
    background-repeat:   no-repeat;
    width:               30px;
    height:              23px;
    display:             inline-block;
    background-position: -416px -9px;
  }
}
.accordion-heading.well .accordion-toggle.collapsed:after {
  content:             "";
  background-image:    url("../../images/dell-glyphicons-halflings-white.png");
  background-repeat:   no-repeat;
  width: 30px;
  height: 30px;
  display: inline-block;
  background-position: -453px -38px;
  margin-top: 0px;
}
.accordion-heading.well .accordion-toggle:after {
  content:             "";
  background-image:    url("../../images/dell-glyphicons-halflings-white.png");
  background-repeat:   no-repeat;
  width: 30px;
  height: 30px;
  display: inline-block;
  background-position: -423px -38px;
  margin-top: 0px;
}

.carousel .carousel-control.left:before {
  content: "";
  background-image:    url("../../images/blue-carousel-arrow-left.png");
  background-repeat:   no-repeat;
  width: 200px;
  height: 200px;
  display: inline-block;
  background-position: 16px -4px;
  margin-top: -3px;
}
.carousel .carousel-control.right:after {
  content: "";
  background-image:    url("../../images/blue-carousel-arrow-right.png");
  background-repeat:   no-repeat;
  width: 200px;
  height: 200px;
  display: inline-block;
  background-position: 16px -4px;
  margin-top: -3px;
}

.pagination-unnumbered ul.pagination + .zoom-controls [class^="icon-small-zoom"] {
  margin: -14px 10px 10px 10px;
  font-size: 24px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  cursor: pointer;
  position: relative;
  top: 11px !important;
}

.pagination-unnumbered ul.pagination {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: inline-block;
  padding-left: 0;
  margin: 0px 0;
  border-radius: 4px;
  position: relative;
  top: 6px !important;
}

.pager li > a > .icon-ui-arrowright,
.pager li > span > .icon-ui-arrowright {
  margin: 2px -6px -1px -1px;
}

.pager li > a > .icon-ui-arrowleft,
.pager li > span > .icon-ui-arrowleft {
  margin: 2px -1px -1px -7px;
}

.navbar-inverse .navbar-nav > li {
  .dropdown-toggle:after {
    content: "";
    background-image: url("../../images/dell-glyphicons-halflings-white.png");
    background-position: -428px -70px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 18px;
    height: 14px;
    margin-left: 1px;
    margin-top: 1px;
    line-height: 14px;
    vertical-align: text-top;
  }
}

  .open > .dropdown-toggle:after {
    content: "";
    background-position: -398px -70px !important;
  }


.windows7-mobile-hide{
  display: none !important
}

.windows-show {
  display: block !important
}

// Alienware related overrides
//=================================================
//
body.alienware {

  [class^=icon-] {
    display:          inline-block;
    height:           20px;
    width:            24px;
    vertical-align: middle;
    margin: 3px 0px;
    background-image: url("../../images/dell-glyphicons-halflings-gray-light.png");
    &:before {
      display: none;
    }
    &.text-blue {
      background-image: url("../../images/dell-glyphicons-halflings-dell-blue.png");
    }
    &.text-gray-light {
      background-image: url("../../images/dell-glyphicons-halflings-gray-light.png");
    }
  }

  a [class^=icon-], a[class^=icon-], .btn [class^=icon-] {
    background-image: url("../../images/dell-glyphicons-halflings-alienware-teal.png");
  }

  .disabled > a [class^=icon-],
  .disabled > a[class^=icon-],
  .disabled >  .btn [class^=icon-]{
    background-image: url("../../images/dell-glyphicons-halflings-gray-light.png");
  }


  .text-blue [class^=icon-] {
    background-image: url("../../images/dell-glyphicons-halflings-dell-blue.png");
  }

  .white,
  .well,
  .well-gray-light,
  .gray-light {
    [class^=icon-],
    a[class^=icon-],
    a [class^=icon-] {
      background-image: url("../../images/dell-glyphicons-halflings-gray-light.png");
    }
  }

  .well-gray,
  .gray,
  .well-gray-medium,
  .gray-medium,
  .well-blue,
  .blue,
  .well-yellow,
  .yellow,
  .well-teal,
  .teal,
  .well-green,
  .green,
  .well-orange,
  .orange,
  .well-red,
  .red,
  .well-red-dark,
  .red-dark,
  .well-berry,
  .berry,
  .well-purple,
  .purple,
  .btn-primary,
  .btn-secondary {
    [class^=icon-],
    a[class^=icon-],
    a [class^=icon-] {
      background-image: url("../../images/dell-glyphicons-halflings-white.png");
    }
  }

  .icon-ui-dell {
    background-image:  url("../../images/dell-white.png") !important;
    background-repeat: no-repeat;
    height: 60px;
    width: 60px;
    top: -18px;
    margin-top: 15px;
    margin-right: 3px;
    margin-left: 4px;
  }

  [class^=icon-small-favorite-gray] {
    background-image:    url("../../images/dell-glyphons-halflings-multi-color.png")!important;
    background-position: -584px -13px !important;
    }

  .icon-ui-triangleup {
    background-position: -396px -69px;
  }

  .icon-ui-triangleright {
    background-position: -366px -69px;
  }

  .icon-ui-triangleleft {
    background-position: -336px -69px;
  }

  .icon-ui-triangledown {
    background-position: -426px -69px;
  }

  .icon-ui-plus {
    background-position: -456px -39px;
  }

  .icon-ui-minus {
    background-position: -426px -39px;
  }

  .icon-ui-menucollapsed {
    background-position: -396px -39px;
  }

  .icon-ui-expand {
    background-position: -396px -159px;
  }

  .icon-ui-dell {
    background-position: 0px 0px;
  }

  .windows7-mobile > .icon-ui-dell {
    background-image:  url("../../images/dell-blue.png") !important;
    background-repeat: no-repeat;
    height: 60px;
    width: 60px;
    top: 12px;
    margin-top: -1px;
    margin-right: 3px;
    margin-left: -6px;
  }

  .icon-ui-collapse {
    background-position: -366px -158px;
  }

  .icon-ui-closecircle {
    background-position: -426px -159px;
  }

  .icon-ui-close {
    background-position: -427px -9px;
  }

  .icon-ui-arrowright {
    background-position: -306px -39px;
    margin-bottom: 0px;
  }

  .icon-ui-arrowleft {
    background-position: -277px -39px;
    margin-bottom: 0px;
  }

  .icon-small-zoomout {
    background-position: -127px -33px;
    height: 26px;
    width: 23px;
    margin-left: 2px;
  }

  .icon-small-zoomin {
    background-position: -156px -33px;
    height: 26px;
    width: 23px;
    margin-left: 2px;
  }

  .icon-small-wireless {
    background-position: -186px -159px;
  }

  .icon-small-whitepaper {
    background-position: -156px -159px;
  }

  .icon-small-webcam {
    background-position: -66px -189px;
  }

  .icon-small-warranty {
    background-position: -246px -69px;
  }

  .icon-small-videocard {
    background-position: -126px -129px;
  }

  .icon-small-video {
    background-position: -366px -9px;
  }

  .icon-small-useraccount {
    background-position: -306px -9px;
  }

  .icon-small-trash {
    background-position: -66px -39px;
  }

  .icon-small-towergeneric {
    background-position: -336px -129px;
  }

  .icon-small-touchpad {
    background-position: -426px -129px;
  }

  .icon-small-touch {
    background-position: -456px -9px;
  }

  .icon-small-thinclient {
    background-position: -366px -129px;
  }

  .icon-small-tablet {
    background-position: -36px -9px;
  }

  .icon-small-surgeprotection {
    background-position: -186px -189px;
  }

  .icon-small-support {
    background-position: -366px -39px;
  }

  .icon-small-storage {
    background-position: -456px -159px;
  }

  .icon-small-speakers {
    background-position: -96px -189px;
  }

  .icon-small-software {
    background-position: -246px -189px;
  }

  .icon-small-shipsfast {
    background-position: 42px 11px;
  }

  .icon-small-shipping {
    background-position: -246px -39px;
  }

  .icon-small-share {
    background-position: -216px -159px;
  }

  .icon-small-serverrack {
    background-position: -306px -129px;
  }

  .icon-small-server {
    background-position: -276px -129px;
  }

  .icon-small-securesoftware {
    background-position: -276px -189px;
  }

  .icon-small-secure {
    background-position: -216px -189px;
  }

  .icon-small-searchright {
    background-position: -96px -39px;
    -moz-transform:      scaleX(-1);
    -o-transform:        scaleX(-1);
    -webkit-transform:   scaleX(-1);
    transform:           scaleX(-1);
    filter:              FlipH;
    -ms-filter:          "FlipH";
  }

  .icon-small-searchleft {
    background-position: -96px -39px;
  }

  .icon-small-save {
    background-position: -306px -69px;
  }

  .icon-small-rss {
    background-position: -186px -69px;
  }

  .icon-small-recycle {
    background-position: -456px -99px;
  }

  .icon-small-protection {
    background-position: -156px -189px;
  }

  .icon-small-projector {
    background-position: -96px -9px;
  }

  .icon-small-processor {
    background-position: -96px -129px;
  }

  .icon-small-printer {
    background-position: -6px -129px;
  }

  .icon-small-powersupply {
    background-position: -6px -189px;
  }

  .icon-small-ports {
    background-position: -246px -129px;
  }

  .icon-small-play {
    background-position: -126px -69px;
  }

  .icon-small-photos {
    background-position: -96px -99px;
  }

  .icon-small-phone {
    background-position: -336px -159px;
  }

  .icon-small-performance {
    background-position: -96px -159px;
  }

  .icon-small-package {
    background-position: -36px -159px;
  }

  .icon-small-opticaldrive {
    background-position: -306px -189px;
  }

  .icon-small-operatingsystem {
    background-position: -336px -189px;
  }

  .icon-small-network {
    background-position: -126px -9px;
  }

  .icon-small-music {
    background-position: -186px -9px;
  }

  .icon-small-mouse {
    background-position: -306px -99px;
  }

  .icon-small-mobile {
    background-position: -276px -99px;
  }

  .icon-small-missingimage {
    background-position: -216px -9px;
  }

  .icon-small-memorycardreader {
    background-position: -216px -129px;
  }

  .icon-small-memory {
    background-position: -186px -129px;
  }

  .icon-small-mail {
    background-position: -246px -9px;
  }

  .icon-small-location {
    background-position: -276px -159px;
  }

  .icon-small-lightbulb {
    background-position: -426px -99px;
  }

  .icon-small-keyboard {
    background-position: -396px -129px;
  }

  .icon-small-inktoner {
    background-position: -156px -129px;
  }

  .icon-small-house {
    background-position: -6px -39px;
  }

  .icon-small-help {
    background-position: -96px -69px;
  }

  .icon-small-harddrive {
    background-position: -126px -189px;
  }

  .icon-small-globe {
    background-position: -366px -99px;
  }

  .icon-small-giftcard {
    background-position: -6px -99px;
  }

  .icon-small-energyefficient {
    background-position: -396px -99px;
  }

  .icon-small-employee {
    background-position: -305px -7px
  }

  .icon-small-edit {
    background-position: -6px -159px;
  }

  .icon-small-drivers {
    background-position: -36px -39px;
  }

  .icon-small-download {
    background-position: -246px -159px;
  }

  .icon-small-display {
    background-position: -66px -9px;
  }

  .icon-small-dimensionsweight {
    background-position: -276px -9px;
  }

  .icon-small-diagnostic {
    background-position: -126px -159px;
  }

  .icon-small-deals {
    background-position: -66px -99px;
  }

  .icon-small-data {
    background-position: -276px -69px;
  }

  .icon-small-creditcvv {
    background-position: -185px -99px
  }

  .icon-small-copy {
    background-position: -336px -99px;
  }

  .icon-small-contact {
    background-position: -126px -99px;
  }

  .icon-small-computergeneric {
    background-position: -6px -9px;
  }

  .icon-small-color {
    background-position: -156px -9px;
  }

  .icon-small-cloud {
    background-position: -306px -159px;
  }

  .icon-small-clock {
    background-position: -66px -159px;
  }

  .icon-small-chipset {
    background-position: -66px -129px;
  }

  .icon-small-checkmark {
    background-position: -396px -9px;
  }

  .icon-small-chat {
    background-position: -336px -39px;
  }

  .icon-small-cart {
    background-position: -186px -39px;
  }

  .icon-small-carryingcase {
    background-position: -456px -69px;
  }

  .icon-small-calendar {
    background-position: -156px -99px;
  }

  .icon-small-calculator {
    background-position: -456px -129px;
  }

  .icon-small-cables {
    background-position: -36px -189px;
  }

  .icon-small-bell {
    background-position: -36px -99px;
  }

  .icon-small-battery {
    background-position: -216px -99px;
  }

  .icon-small-award {
    background-position: -36px -129px;
  }

  .icon-small-audiospeaker {
    background-position: -246px -99px;
  }

  .icon-small-audiocard {
    background-position: -246px -99px;
  }

  .icon-small-alertnotice {
    background-position: -216px -69px;
  }

  .icon-small-alertinfo {
    background-position: -66px -69px;
  }

  .icon-small-alerterror {
    background-position: -156px -69px;
  }

  .icon-small-alertcomplete {
    background-position: -36px -69px;
  }

  .icon-small-add {
    background-position: -6px -69px;
  }

  .text-yellow [class^=icon-small-favorite],
  .text-yellow[class^=icon-small-favorite] {
    background-position: -276px -36px;
  }

  .icon-small-favorite-90 {
    background-position: -250px -42px !important;
  }

  .icon-small-favorite-80 {
    background-position: -219px -42px !important;
  }

  .icon-small-favorite-70 {
    background-position: 176px -42px !important;
  }

  .icon-small-favorite-60 {
    background-position: -159px -42px !important;
  }

  .icon-small-favorite-50 {
    background-position: -129px -42px !important;
  }

  .icon-small-favorite-40 {
    background-position: -99px -42px !important;
  }

  .icon-small-favorite-30 {
    background-position: -69px -42px !important;
  }

  .icon-small-favorite-20 {
    background-position: -39px -42px !important;
  }

  .icon-small-favorite-10 {
    background-position: -8px -42px !important;
  }

  .accordion-toggle {
    &:before {
      content:             "";
      background-image:    url("../../images/dell-glyphicons-halflings-alienware-teal.png");
      background-position: -366px -157px;
      background-repeat:   no-repeat;
      width:               20px;
      height:              20px;
    }
    &.collapsed:before {
      content:             "";
      background-position: -396px -157px;
    }

  }

  .breadcrumb > li {
    margin-top: -10px;
    &:first-child:before {
      content:             "";
      background-image:    url("../../images/dell-glyphicons-halflings-gray-light.png");
      background-position: -6px -39px;
      background-repeat:   no-repeat;
      width:               20px;
      height:              20px;
      display:             inline-block;
      top:                 6px;
      position:            relative;
    }
  }

  // NOTE: overriding caret with font icon for dell-308
  .dropdown-toggle {
    .caret {
      display: none;
    }
    &:after {
      content:             "";
      background-image:    url("../../images/dell-glyphicons-halflings-alienware-teal.png");
      background-position: -428px -70px;
      background-repeat:   no-repeat;
      display: inline-block;
      width: 18px;
      height: 14px;
      margin-top: 1px;
      line-height: 14px;
      vertical-align: text-top;
    }
    &.btn-primary:after,
    &.btn-secondary:after,
    &.btn-success:after,
    &.btn-info:after,
    &.btn-warning:after,
    &.btn-default:after,
    &.btn-danger:after{
      background-image: url("../../images/dell-glyphicons-halflings-white.png");
    }

    &.no-arrow:after {
      display: none;
    }
  }

  .open > .dropdown-toggle:after {
    content:             "";
    background-position: -398px -70px;
  }

  .progress {
    //progress-status dell 308 only
    &.progress-status {

      .bar {
        &-complete {
          &:after {
            content:             "";
            background-image:    url("../../images/dell-glyphicons-halflings-white.png");
            background-position: -396px -8px;
            background-repeat:   no-repeat;
            height:              16px;
            width:               20px;
            display:             inline-block;
          }
        }
      }
    }
  }

  [class^=icon-small-favorite] {
    background-image:    url("../../images/dell-glyphons-halflings-multi-color.png");
    background-position: -280px -42px;
  }

  .alert {
    &:before {
      content:             "";
      background-image:    url("../../images/dell-glyphons-halflings-multi-color.png");
      background-position: -104px -10px;
      background-repeat:   no-repeat;
      width:               30px;
      height:              23px;
      display:             inline-block;
    }
    &.alert-success:before {
      content:             "";
      background-position: -149px -10px  !important;
    }
    &.alert-danger,
    &.alert-error {
      &:before {
        content:             "";
        background-position: -55px -10px !important;
      }
    }
    &.alert-info {
      &:before {
        content:             "";
        background-position: -7px -10px !important;
      }
    }
    .close > [class^=icon] {
      display:          inline-block;
      background-image: url("../../images/dell-glyphicons-halflings-dark-gray-sml.png");
    }
  }

  .modal-header {
    .close:before {
      content:             "";
      background-image:    url("../../images/dell-glyphicons-halflings-dark-gray.png");
      background-repeat:   no-repeat;
      width:               30px;
      height:              23px;
      display:             inline-block;
      background-position: -416px -9px;
    }
  }
  .accordion-heading.well .accordion-toggle.collapsed:after {
    content:             "";
    background-image:    url("../../images/dell-glyphicons-halflings-white.png");
    background-repeat:   no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
    background-position: -453px -38px;
    margin-top: 0px;
  }
  .accordion-heading.well .accordion-toggle:after {
    content:             "";
    background-image:    url("../../images/dell-glyphicons-halflings-white.png");
    background-repeat:   no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
    background-position: -423px -38px;
    margin-top: 0px;
  }

  .carousel .carousel-control.left:before {
    content: "";
    background-image:    url("../../images/teal-carousel-arrow-left.png");
    background-repeat:   no-repeat;
    width: 200px;
    height: 200px;
    display: inline-block;
    background-position: 16px -4px;
    margin-top: -3px;
  }
  .carousel .carousel-control.right:after {
    content: "";
    background-image:    url("../../images/teal-carousel-arrow-right.png");
    background-repeat:   no-repeat;
    width: 200px;
    height: 200px;
    display: inline-block;
    background-position: 16px -4px;
    margin-top: -3px;
  }

  .pagination-unnumbered ul.pagination + .zoom-controls [class^="icon-small-zoom"] {
    margin: -14px 10px 10px 10px;
    font-size: 24px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    cursor: pointer;
    position: relative;
    top: 11px !important;
  }

  .pagination-unnumbered ul.pagination {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: inline-block;
    padding-left: 0;
    margin: 0px 0;
    border-radius: 4px;
    position: relative;
    top: 6px !important;
  }

  .pager li > a > .icon-ui-arrowright,
  .pager li > span > .icon-ui-arrowright {
    margin: 2px -6px -1px -1px;
    background-image: url("../../images/dell-glyphicons-halflings-white.png");
  }

  .pager li > a > .icon-ui-arrowleft,
  .pager li > span > .icon-ui-arrowleft {
    margin: 2px -1px -1px -7px;
    background-image: url("../../images/dell-glyphicons-halflings-white.png");
  }

  .nav-pills li > a:hover,
  .nav-pills li > a:focus {
    &.dropdown-toggle:after{
      content: "";
      background-image: url("../../images/dell-glyphicons-halflings-white.png");
      background-position: -428px -70px;
      background-repeat: no-repeat;
      display: inline-block;
      width: 18px;
      height: 14px;
      margin-top: 1px;
      line-height: 14px;
      vertical-align: text-top;
    }
  }

  .windows7-mobile-hide{
    display: none !important
  }

  .windows-show {
    display: block !important
  }


}//END body.alienware
