<section>
    <!-- all demo css is scoped inside #grid-html-example -->
    <div class="container" id="grid-html-example">
        <h2>Grid sample</h2>

        <h3 class="top-offset-20">Gutter explanation</h3>
        <div class="grid-gutter-demo">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 outer-div-column-area">
                <span class="visible-xs-block text-center inner-div-live-area">Live Area <br>.col-xs-3</span>
                <span class="visible-sm-block text-center inner-div-live-area">Live Area <br>.col-sm-3</span>
                <span class="visible-md-block text-center inner-div-live-area">Live Area <br>.col-md-3</span>
                <span class="visible-lg-block text-center inner-div-live-area">Live Area <br>.col-lg-3</span>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 outer-div-column-area">
                <span class="visible-xs-block text-center inner-div-live-area">Live Area <br>.col-xs-3</span>
                <span class="visible-sm-block text-center inner-div-live-area">Live Area <br>.col-sm-3</span>
                <span class="visible-md-block text-center inner-div-live-area">Live Area <br>.col-md-3</span>
                <span class="visible-lg-block text-center inner-div-live-area">Live Area <br>.col-lg-3</span>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 outer-div-column-area">
                <span class="visible-xs-block text-center inner-div-live-area">Live Area <br>.col-xs-3</span>
                <span class="visible-sm-block text-center inner-div-live-area">Live Area <br>.col-sm-3</span>
                <span class="visible-md-block text-center inner-div-live-area">Live Area <br>.col-md-3</span>
                <span class="visible-lg-block text-center inner-div-live-area">Live Area <br>.col-lg-3</span>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 outer-div-column-area">
                <span class="visible-xs-block text-center inner-div-live-area">Live Area <br>.col-xs-3</span>
                <span class="visible-sm-block text-center inner-div-live-area">Live Area <br>.col-sm-3</span>
                <span class="visible-md-block text-center inner-div-live-area">Live Area <br>.col-md-3</span>
                <span class="visible-lg-block text-center inner-div-live-area">Live Area <br>.col-lg-3</span>
            </div>
        </div>
        <div class="row top-offset-20">
            <div class="well well-white">
                <div class="media">
                    <div class="media-left">
                        <div class="outer-div-column-area-square-div"></div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Columns<a class="anchorjs-link" href="#media-heading"><span class="anchorjs-icon"></span></a></h4>
                        Inside each column is 15px of padding placed on the left and right <i><strong>( See the light gray shaded area )</strong></i>. This padding pushes the live area in by a total of 30px per column. The "Gutter" is created by the sum of the padding between two adjacent columns.                    </div>
                    </div>

                <div class="media">
                    <div class="media-left">
                        <div class="inner-div-live-area-square-div"></div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Inside Live Area for a Column<a class="anchorjs-link" href="#media-heading"><span class="anchorjs-icon"></span></a></h4>
                        The live content area for each column is indicated by the light yellow shaded area with red dotted lines.
                    </div>
                </div>
            </div>
        </div>

        <hr/>
    </div>

</section>
