/*
*grid component EXAMPLE - These do not exist in bootstrap
*------------------------------------------------------------------------------------------
*/

.inner-div-live-area {
    border-left: 1px dashed red;
    border-right: 1px dashed red;
    min-height: 100px;
}
