/*
*grid component EXAMPLE - These do not exist in bootstrap
*------------------------------------------------------------------------------------------
*/

.inner-div-live-area {
    border-left: 1px dashed red;
    border-right: 1px dashed red;
    background: @dell-alert-yellow;
    min-height: 100px;
    padding: 30px;
}

.outer-div-column-area {
    border-left: 1px solid @dell-green-hover;
    border-right: 1px solid @dell-green-hover;
    background: @dell-gray-light;
}

.inner-div-live-area-square-div {
    border-left: 1px dashed red;
    border-right: 1px dashed red;
    background: @dell-alert-yellow;
    display: inline-block;
    //margin: 10px 10px 30px 10px;
    width: 50px;
    height: 25px;
}

.outer-div-column-area-square-div {
    border-left: 1px solid @dell-green-hover;
    border-right: 1px solid @dell-green-hover;
    background: @dell-gray-light;
    display: inline-block;
    //margin: 10px 10px 30px 10px;
    width: 50px;
    height: 25px;
}

.vert-align {
    position: relative;
    top: -17px;
}
