<section id="forms" class="container" ng-controller="FormsCtrl">
	<div class="page-header">
	    <h2>
	        Forms
	    </h2>
	</div>

	<!-- copy html description and dropdown-->
	<div class="row bottom-offset-20 html-copy">
	    <div class="col-md-9">{{copyHtmlNote}}</div>
	    <div class="col-md-3">
	        <div class="btn-group pull-right">
	            <button class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">Copy your HTML</button>
	            <ul class="dropdown-menu">
	                <li><a ref="javascript:;" class="disabled"><strong>Search</strong></a></li>
	                <li><a href="javascript:;" to-clipboard clipboard-target="#search-bar-copy" class="text-blue">Search bar</a></li>
	                <li><a href="javascript:;" to-clipboard clipboard-target="#search-bar-copy-2" class="text-blue">Search bar with custom callback function</a></li>
	                <li><a ref="javascript:;" class="disabled"><strong>Address Block</strong></a></li>
	                <li><a href="javascript:;" to-clipboard clipboard-target="#address-form" class="text-blue">Ship to address form</a></li>

	                <li><a ref="javascript:;" class="disabled"><strong>Individual Form Controls</strong></a></li>
	                <li><a href="javascript:;" to-clipboard clipboard-target="#input-email-address" class="text-blue">Email address</a></li>
	                <li><a href="javascript:;" to-clipboard clipboard-target="#text-input" class="text-blue">Text input</a></li>
	                <li><a href="javascript:;" to-clipboard clipboard-target="#password-protected" class="text-blue">Password input</a></li>
	                <li><a href="javascript:;" to-clipboard clipboard-target="#textarea-example" class="text-blue">Textarea input</a></li>
	                <li><a href="javascript:;" to-clipboard clipboard-target="#uneditable-input" class="text-blue">Uneditable input</a></li>
	                <li><a href="javascript:;" to-clipboard clipboard-target="#disabled-input" class="text-blue">Disabled input</a></li>
	                <li><a href="javascript:;" to-clipboard clipboard-target="#file-input" class="text-blue">File input</a></li>
	                <li><a href="javascript:;" to-clipboard clipboard-target="#input-with-error" class="text-blue">Input with error</a></li>
	                <li><a href="javascript:;" to-clipboard clipboard-target="#input-phone-number" class="text-blue">Phone number</a></li>
	                <li><a href="javascript:;" to-clipboard clipboard-target="#submit" class="text-blue">Submit button</a></li>
	                <li><a href="javascript:;" to-clipboard clipboard-target="#reset" class="text-blue">Reset button</a></li>

	                <li><a ref="javascript:;" class="disabled"><strong>Checkbox and Radio Buttons</strong></a></li>
	                <li><a href="javascript:;" to-clipboard clipboard-target="#checkbox" class="text-blue">Checkbox</a></li>
	                <li><a href="javascript:;" to-clipboard clipboard-target="#checkbox-inline" class="text-blue">Inline checkbox</a></li>
	                <li><a href="javascript:;" to-clipboard clipboard-target="#radio-button" class="text-blue">Radio buttons</a></li>
	                <li><a href="javascript:;" to-clipboard clipboard-target="#radio-inline" class="text-blue">Inline radio buttons</a></li>
	                <li><a href="javascript:;" to-clipboard clipboard-target="#checkbox-tree" class="text-blue">Checkbox tree</a></li>

	                <li><a ref="javascript:;" class="disabled"><strong>Selects</strong></a></li>
	                <li><a href="javascript:;" to-clipboard clipboard-target="#select-list" class="text-blue">Select list</a></li>
	                <li><a href="javascript:;" to-clipboard clipboard-target="#multi-select" class="text-blue">Multi-select</a></li>
	                <li><a href="javascript:;" to-clipboard clipboard-target="#tiered-select-list" class="text-blue">Tiered Select List</a></li>


	                <li><a ref="javascript:;" class="disabled"><strong>Selects with Pre-populated States (US only)</strong></a></li>
	                <li><a href="javascript:;" to-clipboard clipboard-target="#default-select-state-html" class="text-blue">Default select list</a></li>
	                <li><a href="javascript:;" to-clipboard clipboard-target="#short-select-state-html" class="text-blue">List with abvreviations</a></li>
	                <li><a href="javascript:;" to-clipboard clipboard-target="#both-select-state-html" class="text-blue">List with abvreviations and names</a></li>
	                <li><a href="javascript:;" to-clipboard clipboard-target="#emptyname-select-state-html" class="text-blue">List with custom label</a></li>
	            </ul>
	        </div>
	    </div>
	</div>

	<h3>Navbar search</h3>
	<div class="well bottom-offset-40">

	    <div id="search-bar">
	        <div navbar-search="searchTerm" data-placeholder="What would you like to do?"></div>
	    </div>
	    <div id="search-bar-copy" class="hide">
	        &lt;div navbar-search="searchTerm" data-placeholder="What would you like to do?"&gt;&lt;/div&gt;
	    </div>
	    <h5>With custom callback function to execute on submit.</h5>
	    <div id="search-bar-2">
	        <div navbar-search="searchTerm" data-submit="doSomethingWithSearchTerm" data-placeholder="What would you like to do?"></div>
	    </div>
	    <div id="search-bar-copy-2" class="hide">
	        &lt;div navbar-search="searchTerm" data-submit="doSomethingWithSearchTerm" data-placeholder="What would you like to do?"&gt;&lt;/div&gt;
	    </div>

	    <div class="alert alert-info alert-dismissable">
	        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	        <strong>About callback function:</strong> 
	        "doSomethingWithSearchTerm" refers to a function you would have in the controller for the page or component you have this form element in. Example:
	        <pre><code>
	        $scope.doSomethingWithSearchTerm = function(searchTerm) {
	          alert('hi you searched for "'+searchTerm+'"');
	        };
	        </code></pre>
	    </div>
	</div>
	<div>
	    <h3 class="bottom-offset-20">Grouped Address Form <small>( with condensed grid spacing )</small></h3>
	</div>
	<div class="bottom-offset-60">
	    <form class="form-compressed" role="form">
	        <div class="row">
	            <h4>Ship to</h4>
	            <div class="col-xs-9 col-sm-5">
	                <label class="sr-only" for="first-name">First Name</label>
	                <input type="text" class="form-control" id="first-name" placeholder="*First Name">
	            </div>
	            <div class="col-xs-3 col-sm-2">
	                <label class="sr-only" for="middle-initial">Middle Initial</label>
	                <input type="text" class="form-control" id="middle-initial" placeholder="MI">
	            </div>
	            <div class="col-xs-12 col-sm-5">
	                <label class="sr-only" for="last-name">Last Name</label>
	                <input type="text" class="form-control" id="last-name" placeholder="*Last Name">
	            </div>
	            <div class="col-xs-12 col-sm-5">
	                <label class="sr-only" for="phone-number">Phone Number</label>
	                <input id="phone-number" type="text" class="form-control phone-number" placeholder="(555) 111-2222">
	            </div>
	            <div class="col-xs-12 col-sm-7">
	                <label class="sr-only" for="email-address">Email Address</label>
	                <input type="email" class="form-control" id="email-address" placeholder="*Email Address">
	            </div>
	        </div>
	        <div class="row">
	            <div class="bottom-offset-20" id="add-phone">
	                <p class="bottom-offset-mini">
	                    <a href="javascript:;" class="collapsed" data-toggle="collapse" data-target="#add-phone-extension">
	                        <span class="show-collapsed"><i aria-hidden="true" class="icon-ui-plus"></i>&nbsp;Add phone extension</span>
	                        <span class="hide-expanded"><i aria-hidden="true" class="icon-ui-plus"></i>&nbsp;Remove phone extension</span>
	                    </a>
	                </p>
	                <div id="add-phone-extension" class="collapse col-xs-12 col-sm-5">
	                    <p class="form-group">
	                        <label class="sr-only" for="phone-extension">Add phone extension</label>
	                        <input id="phone-extension" type="text" class="form-control phone-extension" placeholder="ext: (2222)">
	                    </p>
	                </div>
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-xs-12">
	                <label class="sr-only" for="street-address">Street Address</label>
	                <input type="text" class="form-control" id="street-address" placeholder="*Street Address">
	            </div>
	            <div class="col-xs-12">
	                <label class="sr-only" for="additional-street-address">Address line 2</label>
	                <input type="text" class="form-control" id="additional-street-address" placeholder="Address line 2">
	            </div>
	        </div>
	        <div class="row">
	            <div  class="bottom-offset-20" id="add-address">
	                <p class="bottom-offset-mini">
	                    <a href="javascript:;" class="collapsed" data-toggle="collapse" data-target="#add-additional-address">
	                        <span class="show-collapsed"><i aria-hidden="true" class="icon-ui-plus"></i>&nbsp;Add another street address</span>
	                        <span class="hide-expanded"><i aria-hidden="true" class="icon-ui-plus"></i>&nbsp;Remove street address</span>
	                    </a>
	                </p>
	                <div id="add-additional-address" class="collapse col-xs-12">
	                    <div class="form-group">
	                        <label class="sr-only" for="address-line-3">Address line 3</label>
	                        <input type="text" class="form-control" id="address-line-3" placeholder="Address line 3">
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-xs-12 col-sm-6">
	                <label class="sr-only" for="city">City</label>
	                <input type="text" class="form-control" id="city" placeholder="*City">
	            </div>
	            <div class="col-xs-6 col-sm-3">
	                <label class="sr-only" for="state">State</label>
	                <select class="form-control select-state" data-format="short" id="state" data-emptyname="select a state" required ng-model="state"></select>
	            </div>
	            <div class="col-xs-6 col-sm-3">
	                <label class="sr-only" for="zip-code">Zip code</label>
	                <input type="text" class="form-control" id="zip-code" placeholder="*Zip code">
	            </div>
	        </div>
	    </form>
	    <div id="address-form" class="hide">
	        &lt;form class="form-compressed" role="form"&gt;
	            &lt;div class="row"&gt;
	                &lt;h4&gt;Ship to&lt;/h4&gt;
	                &lt;div class="col-xs-9 col-sm-5"&gt;
	                    &lt;label class="sr-only" for="first-name"&gt;First Name&lt;/label&gt;
	                    &lt;input type="text" class="form-control" id="first-name" placeholder="*First Name"&gt;
	                &lt;/div&gt;
	                &lt;div class="col-xs-3 col-sm-2"&gt;
	                    &lt;label class="sr-only" for="middle-initial"&gt;Middle Initial&lt;/label&gt;
	                    &lt;input type="text" class="form-control" id="middle-initial" placeholder="MI"&gt;
	                &lt;/div&gt;
	                &lt;div class="col-xs-12 col-sm-5"&gt;
	                    &lt;label class="sr-only" for="last-name"&gt;Last Name&lt;/label&gt;
	                    &lt;input type="text" class="form-control" id="last-name" placeholder="*Last Name"&gt;
	                &lt;/div&gt;
	                &lt;div class="col-xs-12 col-sm-5"&gt;
	                    &lt;label class="sr-only" for="phone-number"&gt;Phone Number&lt;/label&gt;
	                    &lt;input id="phone-number" type="text" class="form-control phone-number" placeholder="(555) 111-2222"&gt;
	                &lt;/div&gt;
	                &lt;div class="col-xs-12 col-sm-7"&gt;
	                    &lt;label class="sr-only" for="email-address"&gt;Email Address&lt;/label&gt;
	                    &lt;input type="email" class="form-control" id="email-address" placeholder="*Email Address"&gt;
	                &lt;/div&gt;
	            &lt;/div&gt;
	            &lt;div class="row"&gt;
	                &lt;div class="bottom-offset-20" id="add-phone"&gt;
	                    &lt;p class="bottom-offset-mini"&gt;
	                        &lt;a href="javascript:;" class="collapsed" data-toggle="collapse" data-target="#add-phone-extension"&gt;
	                            &lt;span class="show-collapsed"&gt;&lt;i aria-hidden="true" class="icon-ui-plus"&gt;&lt;/i&gt;&nbsp;Add phone extension&lt;/span&gt;
	                            &lt;span class="hide-expanded"&gt;&lt;i aria-hidden="true" class="icon-ui-plus"&gt;&lt;/i&gt;&nbsp;Remove phone extension&lt;/span&gt;
	                        &lt;/a&gt;
	                    &lt;/p&gt;
	                    &lt;div id="add-phone-extension" class="collapse col-xs-12 col-sm-5"&gt;
	                        &lt;p class="form-group"&gt;
	                            &lt;label class="sr-only" for="phone-extension"&gt;Add phone extension&lt;/label&gt;
	                            &lt;input id="phone-extension" type="text" class="form-control phone-extension" placeholder="ext: (2222)"&gt;
	                        &lt;/p&gt;
	                    &lt;/div&gt;
	                &lt;/div&gt;
	            &lt;/div&gt;
	            &lt;div class="row"&gt;
	                &lt;div class="col-xs-12"&gt;
	                    &lt;label class="sr-only" for="street-address"&gt;Street Address&lt;/label&gt;
	                    &lt;input type="text" class="form-control" id="street-address" placeholder="*Street Address"&gt;
	                &lt;/div&gt;
	                &lt;div class="col-xs-12"&gt;
	                    &lt;label class="sr-only" for="additional-street-address"&gt;Address line 2&lt;/label&gt;
	                    &lt;input type="text" class="form-control" id="additional-street-address" placeholder="Address line 2"&gt;
	                &lt;/div&gt;
	            &lt;/div&gt;
	            &lt;div class="row"&gt;
	                &lt;div  class="bottom-offset-20" id="add-address"&gt;
	                    &lt;p class="bottom-offset-mini"&gt;
	                        &lt;a href="javascript:;" class="collapsed" data-toggle="collapse" data-target="#add-additional-address"&gt;
	                            &lt;span class="show-collapsed"&gt;&lt;i aria-hidden="true" class="icon-ui-plus"&gt;&lt;/i&gt;&nbsp;Add another street address&lt;/span&gt;
	                            &lt;span class="hide-expanded"&gt;&lt;i aria-hidden="true" class="icon-ui-plus"&gt;&lt;/i&gt;&nbsp;Remove street address&lt;/span&gt;
	                        &lt;/a&gt;
	                    &lt;/p&gt;
	                    &lt;div id="add-additional-address" class="collapse col-xs-12"&gt;
	                        &lt;div class="form-group"&gt;
	                            &lt;label class="sr-only" for="address-line-3"&gt;Address line 3&lt;/label&gt;
	                            &lt;input type="text" class="form-control" id="address-line-3" placeholder="Address line 3"&gt;
	                        &lt;/div&gt;
	                    &lt;/div&gt;
	                &lt;/div&gt;
	            &lt;/div&gt;
	            &lt;div class="row"&gt;
	                &lt;div class="col-xs-12 col-sm-6"&gt;
	                    &lt;label class="sr-only" for="city"&gt;City&lt;/label&gt;
	                    &lt;input type="text" class="form-control" id="city" placeholder="*City"&gt;
	                &lt;/div&gt;
	                &lt;div class="col-xs-6 col-sm-3"&gt;
	                    &lt;label class="sr-only" for="state"&gt;State&lt;/label&gt;
	                    &lt;select class="form-control select-state" data-format="short" id="state" data-emptyname="select a state" required ng-model="state"&gt;&lt;/select&gt;
	                &lt;/div&gt;
	                &lt;div class="col-xs-6 col-sm-3"&gt;
	                    &lt;label class="sr-only" for="zip-code"&gt;Zip code&lt;/label&gt;
	                    &lt;input type="text" class="form-control" id="zip-code" placeholder="*Zip code"&gt;
	                &lt;/div&gt;
	            &lt;/div&gt;
	        &lt;/form&gt;
	    </div>
	</div>
	<hr/>
	<div>
	    <h3 class="bottom-offset-20">Individual Form Controls</h3>
	</div>
	<form role="form">
	    <div class="row bottom-offset-20">
	        <div id="input-email-address">
	            <div class="col-xs-12 col-sm-6">
	                <div class="form-group">
	                    <label for="input-email">Email address</label>
	                    <input type="email" class="form-control" id="input-email" placeholder="*Enter email">
	                </div>
	            </div>
	        </div>
	        <div id="text-input">
	            <div class="col-xs-12 col-sm-6">
	                <div class="form-group">
	                    <label for="text-label-input">Text input label</label>
	                    <div>
	                        <input type="text" class="form-control" id="text-label-input">
	                        <p class="help-block">
	                            In addition to freeform text, any HTML5 text-based input appears like so.
	                        </p>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <div class="row bottom-offset-20">
	        <div class="col-xs-12 col-sm-6">
	            <div class="form-group show-password">
	                <label for="password">Password</label>
	                <input id="password" type="password" class="form-control" ng-model="password">
	            </div>
	            <div class="hide" id="password-protected">
	            &lt;div class="form-group show-password"&gt;
	                &lt;label for="password"&gt;Password&lt;/label&gt;
	                &lt;input id="password" type="password" class="form-control" ng-model="password"&gt;
	            &lt;/div&gt; 
	            </div>
	        </div>

	        <div class="col-xs-12 col-sm-6" id="textarea-example">
	            <div class="form-group">
	                <label for="textarea">Textarea input label</label>
	                <textarea id="textarea" class="form-control" rows="5"></textarea>
	            </div>
	        </div>
	    </div>

	    <div class="row bottom-offset-20">
	        <div id="uneditable-input">
	            <div class="col-xs-12 col-sm-6">
	                <div class="form-group">
	                    <label for="uneditable">Uneditable input</label>
	                    <span id="uneditable" class="uneditable-input form-control">Some value here</span>
	                </div>
	            </div>
	        </div>

	        <div id="disabled-input">
	            <div class="col-xs-12 col-sm-6">
	                <div class="form-group">
	                    <label for="disabledInput">Disabled input</label>
	                    <input class="disabled form-control" id="disabledInput" type="text" placeholder="Disabled input here…" disabled>
	                </div>
	            </div>
	        </div>
	    </div>

	    <div class="row bottom-offset-20">
	        <div id="file-input">
	            <div class="col-xs-12 col-sm-6">
	                <div class="form-group">
	                    <label for="exampleInputFile">File input</label>
	                    <input type="file" id="exampleInputFile">
	                    <p class="help-block">Example block-level help text here.</p>
	                </div>
	            </div>
	        </div>

	        <div id="input-with-error">
	            <div class="col-xs-12 col-sm-6">
	                <div class="form-group">
	                    <label for="inputError">Input with error</label>
	                    <input type="text" id="inputError"
	                           class="form-control alert alert-warning"
	                           data-html="true"
	                           data-toggle="popover"
	                           data-placement="top"
	                           data-content="&lt;i class='icon-small-alertnotice text-red pull-left'&gt;&lt;/i&gt; &nbsp;<strong>'First Name'</strong> should not be empty."
	                           data-trigger="hover" data-original-title="" title=""
	                           placeholder="*First Name">
	                </div>
	            </div>
	        </div>
	    </div>

	    <div class="row bottom-offset-20">
	        <div id="input-phone-number">
	            <div class="col-xs-12 col-sm-6">
	                <div class="form-group">
	                    <label for="phone">Phone number</label>
	                    <input id="phone" type="text" class="form-control phone-number" placeholder="(555) 111-2222">
	                </div>
	            </div>
	        </div>

	        <div id="submit">
	            <div class="col-xs-12 col-sm-3">
	                <button type="submit" class="btn btn-primary">Submit</button>
	                <p class="help-block">Example of a "Submit" button.</p>
	            </div>
	        </div>
	        <div id="reset">
	            <div class="col-xs-12 col-sm-3">
	                <div>
	                    <button type="reset" class="btn btn-default">Reset</button>
	                    <button type="submit" class="btn btn-primary">Submit</button>
	                </div>
	                    <p class="help-block">Example of a bundled "cancel and submit" button.</p>
	            </div>
	        </div>
	    </div>

	    <hr/>

	    <div class="row bottom-offset-20">
	        <div class="col-xs-12 col-sm-6 bottom-offset-20">
	            <h4>Checkboxes</h4>
	            <div id="checkbox">
	                <div class="checkbox">
	                    <label>
	                        <input type="checkbox" value="">
	                        Checkbox one
	                    </label>
	                </div>
	                <div class="checkbox disabled bottom-offset-20">
	                    <label>
	                        <input type="checkbox" value="" disabled>
	                        Checkbox two is disabled
	                    </label>
	                </div>
	            </div>
	        </div>
	        <div class="col-xs-12 col-sm-6 bottom-offset-20">
	            <h4>Radio Buttons</h4>
	            <div id="radio-button">
	                <div class="radio">
	                    <label>
	                        <input type="radio" name="optionsRadios" id="options-radio-1" value="option1" checked>
	                        Option one radio button
	                    </label>
	                </div>
	                <div class="radio">
	                    <label>
	                        <input type="radio" name="optionsRadios" id="options-radio-2" value="option2">
	                        Option two radio button
	                    </label>
	                </div>
	                <div class="radio disabled">
	                    <label>
	                        <input type="radio" name="optionsRadios" id="options-radio-3" value="option3" disabled>
	                        Option three is disabled
	                    </label>
	                </div>
	            </div>
	        </div>
	        <div class="col-xs-12 col-sm-6">
	            <h4>Inline Checkboxes</h4>
	            <div id="checkbox-inline">
	                <label class="checkbox-inline">
	                    <input type="checkbox" id="inlineCheckbox1" value="option1"> 1
	                </label>
	                <label class="checkbox-inline">
	                    <input type="checkbox" id="inlineCheckbox2" value="option2"> 2
	                </label>
	                <label class="checkbox-inline">
	                    <input type="checkbox" id="inlineCheckbox3" value="option3"> 3
	                </label>
	            </div>
	        </div>
	        <div class="col-xs-12 col-sm-6">
	            <h4>Inline Radio Buttons</h4>
	            <div class="row bottom-offset-40">
	                <div id="radio-inline">
	                    <div class="col-xs-12">
	                        <label class="radio-inline">
	                            <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 1
	                        </label>
	                        <label class="radio-inline">
	                            <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 2
	                        </label>
	                        <label class="radio-inline">
	                            <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 3
	                        </label>
	                    </div>
	                </div>
	            </div>
	        </div>

	        <!--<div class="col-xs-12 col-sm-6">-->
	        <!--<h4>Checkbox tree</h4>-->
	        <!--<div class="row bottom-offset-20">-->
	            <!--<div id="checkbox-tree">-->
	                <!--<div class="col-xs-12">-->
	                    <!--<ul id="tree" class="checktree-root" ng-init="treeView()">-->
	                        <!--<li>-->
	                            <!--<label>-->
	                                <!--<input type="checkbox"/>Level 1 - 1</label>-->
	                        <!--</li>-->
	                        <!--<li>-->
	                            <!--<label><input type="checkbox"/>Level 1 - 2</label>-->
	                            <!--<ul>-->
	                                <!--<li>-->
	                                    <!--<label><input type="checkbox"/>Level 2 - 1</label>-->
	                                    <!--<ul>-->
	                                        <!--<li>-->
	                                            <!--<label><input type="checkbox"/>Level 3 - 1</label>-->
	                                        <!--</li>-->
	                                        <!--<li>-->
	                                            <!--<label><input type="checkbox"/>Level 3 - 2</label>-->
	                                            <!--<ul>-->
	                                                <!--<li>-->
	                                                    <!--<label><input type="checkbox"/>Level 4 - 1</label>-->
	                                                <!--</li>-->
	                                            <!--</ul>-->
	                                        <!--</li>-->
	                                    <!--</ul>-->
	                                <!--</li>-->
	                            <!--</ul>-->
	                    <!--</ul>-->
	                <!--</div>-->
	            <!--</div>-->
	        <!--</div>-->
	    <!--</div>-->

	    </div>
	</form>

	<hr/>

	<form>
	    <div>
	        <h3 class="bottom-offset-20">Selects</h3>
	    </div>
	    <div class="row">
	        <div id="select-list">
	            <div class="col-xs-12 col-sm-6">
	                <label for="select01">Select list</label>
	                <select class="form-control" id="select01">
	                    <option>
	                        something
	                    </option>
	                    <option>
	                        2
	                    </option>
	                    <option>
	                        3
	                    </option>
	                    <option>
	                        4
	                    </option>
	                    <option>
	                        5
	                    </option>
	                </select>
	            </div>
	        </div>
	        <div id="multi-select">
	            <div class="col-xs-12 col-sm-6">
	                <label for="multiSelect">multi-select</label>
	                <select multiple="multiple" id="multiSelect">
	                    <option>
	                        1
	                    </option>
	                    <option>
	                        2
	                    </option>
	                    <option>
	                        3
	                    </option>
	                    <option>
	                        4
	                    </option>
	                    <option>
	                        5
	                    </option>
	                </select>
	            </div>
	        </div>
	        <div id="tiered-select-list">
	            <div class="col-xs-12 col-sm-6">
	                <label for="select-01">Tiered Select List</label>
	                <select class="form-control" id="select-01">
	                    <option class="text-gray-dark" value="all">All</option>
	                    <optgroup class="text-gray-dark" label="Original Release Date">
	                        <option class="text-gray-dark" value="0-30 days">0-30 days</option>
	                        <option class="text-gray-dark" value="0-90 days">0-90 days</option>
	                        <option class="text-gray-dark" value="older">older</option>
	                    </optgroup>
	                    <optgroup class="text-gray-dark" label="Last updated date">
	                        <option class="text-gray-dark" value="0-30 days">0-30 days</option>
	                        <option class="text-gray-dark" value="0-90 days">0-90 days</option>
	                        <option class="text-gray-dark" value="older">older</option>
	                    </optgroup>
	                </select>
	            </div>
	        </div>        
	    </div>

	</form>

	<hr/>

	<form>
	    <div>
	        <h3 class="bottom-offset-20">Selects with Pre-populated States (US only)</h3>
	    </div>
	    <div class="row">
	        <div class="col-xs-12 col-sm-6">
	            <div class="form-group">
	                <label for="default-select-state">Default</label>
	                <select class="form-control select-state" id="default-select-state" ng-model="stateDefault"></select>
	            </div>
	            <div id="default-select-state-html" class="hide">
	                &lt;label for="default-select-state">Default&lt;/label>
	                &lt;select class="form-control select-state" id="default-select-state" ng-model="stateDefault">&lt;/select>
	            </div>
	            <code>class="form-control select-state"</code>
	        </div>
	        <div class="col-xs-12 col-sm-6">
	            <div class="form-group">
	                <label for="short-select-state">With abbreviations</label>
	                <select class="form-control select-state" data-format="short" id="short-select-state" ng-model="stateDefault"></select>
	            </div>
	            <div id="short-select-state-html" class="hide">
	                &lt;label for="short-select-state">With abbreviations&lt;/label>
	                &lt;select class="form-control select-state" data-format="short" id="short-select-state" ng-model="stateDefault">&lt;/select>
	            </div>
	            <code>data-format="short" </code>
	        </div>
	    </div>
	    <div class="row bottom-offset-20">
	        <div class="col-xs-12 col-sm-6">
	            <div class="form-groupl">
	                <label for="both-select-state">With both abbreviations and name</label>
	                <select class="form-control select-state" data-format="both" id="both-select-state" ng-model="stateDefault"></select>
	            </div>
	            <div id="both-select-state-html" class="hide">
	                &lt;label for="both-select-state">With both abbreviations and name&lt;/label>
	                &lt;select class="form-control select-state" data-format="both" id="both-select-state" ng-model="stateDefault">&lt;/select>
	            </div>
	            <code>data-format="both"</code>
	        </div>        
	        <div class="col-xs-12 col-sm-6">
	            <div class="form-group">
	                <label for="emptyname-select-state">With custom select text</label>
	                <select class="form-control select-state" data-format="both" data-emptyname="Please select a state" id="emptyname-select-state" ng-model="stateDefault"></select>
	            </div>
	            <div id="emptyname-select-state-html" class="hide">
	                &lt;label for="emptyname-select-state">With custom select text&lt;/label>
	                &lt;select class="form-control select-state" data-format="both" data-emptyname="Please select a state" id="emptyname-select-state" ng-model="stateDefault">&lt;/select>
	            </div>
	            <code>data-emptyname="Please select a state" </code>
	        </div>        
	    </div>

	    <div class="alert alert-info alert-dismissable">
	        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	        <strong>Note:</strong> <p>This component is triggered by the inclusion of <code>select-state</code> class in the form control. All the required code is automatically inserted.</p>
	    </div>
	    

	</form>



</section>
