//This LESS should ONLY be for DEMO purposes. It will not be included in the dell-ui-components css, only in the demo application

#icons-html-example {

  .icons-gallery-list {
    padding-left: 0;
    list-style: none;
  }

  .icons-gallery-list li {
    width: 12.5%;
    font-size: 14px;
    float: left;
    height: 115px;
    padding: 15px 10px 10px;
    line-height: 1.4;
    text-align: center;
    border: 1px solid #ffffff;
    background-color: #f9f9f9;
  }

  .icons-gallery-class {
    font-size: 12px;
    display: block;
    margin-top: 15px;
  }
}

//for play demo
#icons-play-demo {


}