<section ng-controller="iconsCtrl" id="icons-html-example">

    <div class="container">
        <h2>Icons Demo</h2>

        <div class="row">
            <div class="col-xs-12 bottom-offset-20 top-offset-20">
                <p><strong>Dev guidance:</strong> The following icons are specific to Dell Brand Standards. Please use the following icon class names in place of native Bootstrap icon class names.</p>
                <p><strong>Color guidance:</strong> All of the icons below can change to the following colors by adding these class modifiers <code>.text-blue</code>, <code>.text-dark-blue</code>, <code>.text-purple</code>, <code>.text-berry</code>, <code>.text-red</code>, <code>.text-red-dark</code>, <code>.text-gray-medium</code>, <code>.text-gray-dark</code>, <code>.text-orange</code>, <code>.text-green</code>, or <code>.text-white</code>.  For example: <code>class="icon-ui-arrowleft text-blue"</code> change the modifier color after the <code>.text-*</code>.</p>

                <h3 class="top-offset-20">UI icons</h3>
                <ul class="icons-gallery-list">
                    <li>
                        <!--icon-ui-arrowleft-->
                        <i class="icon-ui-arrowleft text-blue"></i>
                        <!--icon-ui-arrowleft-->
                        <div class="icons-gallery-class">icon-ui-arrowleft</div>
                    </li>
                    <li>
                        <!--icon-ui-arrowright-->
                        <i class="icon-ui-arrowright text-blue"></i>
                        <!--icon-ui-arrowright-->
                        <div class="icons-gallery-class">icon-ui-arrowright</div>
                    </li>
                    <li>
                        <!--icon-ui-close-->
                        <i class="icon-ui-close text-blue"></i>
                        <!--icon-ui-close-->
                        <div class="icons-gallery-class">icon-ui-close</div>
                    </li>
                    <li>
                        <!--icon-ui-closecircle-->
                        <i class="icon-ui-closecircle text-blue"></i>
                        <!--icon-ui-closecircle-->
                        <div class="icons-gallery-class">icon-ui-closecircle</div>
                    </li>
                    <li>
                        <!--icon-ui-collapse-->
                        <i class="icon-ui-collapse text-blue"></i>
                        <!--/icon-ui-collapse-->
                        <div class="icons-gallery-class">icon-ui-collapse</div>
                    </li>
                    <li>
                        <!--icon-ui-dell-->
                        <i class="icon-ui-dell text-blue"></i>
                        <!--/icon-ui-dell-->
                        <div class="icons-gallery-class">icon-ui-dell</div>
                    </li>
                    <li>
                        <!--icon-ui-expand-->
                        <i class="icon-ui-expand text-blue"></i>
                        <!--icon-ui-expand-->
                        <div class="icons-gallery-class">icon-ui-expand</div>
                    </li>
                    <li><!--icon-ui-list-view-->
                        <i class="icon-ui-list-view text-blue"></i>
                        <!--/icon-ui-list-view-->
                        <div class="icons-gallery-class">icon-ui-grid-view</div>
                    </li>
                    <li><!--icon-ui-menucollapsed-->
                        <i class="icon-ui-menucollapsed text-blue"></i>
                        <!--/icon-ui-menucollapsed-->
                        <div class="icons-gallery-class">icon-ui-menucollapsed</div>
                    </li>
                    <li><!--icon-ui-minus-->
                        <i class="icon-ui-minus text-blue"></i>
                        <!--/icon-ui-minus-->
                        <div class="icons-gallery-class">icon-ui-arrowleft</div>
                    </li>
                    <li>
                        <!--icon-ui-minus-->
                        <i class="icon-ui-arrowleft text-blue"></i>
                        <!--/icon-ui-minus-->
                        <div class="icons-gallery-class">icon-ui-minus</div>
                    </li>
                    <li>
                        <!--icon-ui-pause-->
                        <i class="icon-ui-pause text-blue"></i>
                        <!--icon-ui-pause-->
                        <div class="icons-gallery-class">icon-ui-pause</div>
                    </li>
                    <li>
                        <!--icon-ui-play-->
                        <i class="icon-ui-play text-blue"></i>
                        <!--icon-ui-play-->
                        <div class="icons-gallery-class">icon-ui-play</div>
                    </li>
                    <li>
                        <!--icon-ui-plus-->
                        <i class="icon-ui-plus text-blue"></i>
                        <!--icon-ui-plus-->
                        <div class="icons-gallery-class">icon-ui-plus</div>
                    </li>
                    <li>
                        <!--icon-ui-triangledown-->
                        <i class="icon-ui-triangledown text-blue"></i>
                        <!--icon-ui-triangledown-->
                        <div class="icons-gallery-class">icon-ui-triangledown</div>
                    </li>
                    <li>
                        <!--icon-ui-triangleleft-->
                        <i class="icon-ui-triangleleft text-blue"></i>
                        <!--icon-ui-triangleleft-->
                        <div class="icons-gallery-class">icon-ui-arrowleft</div>
                    </li>
                    <li>
                        <!--icon-ui-triangleright-->
                        <i class="icon-ui-triangleright text-blue"></i>
                        <!--icon-ui-triangleright-->
                        <div class="icons-gallery-class">icon-ui-triangleright</div>
                    </li>
                    <li>
                        <!--icon-ui-triangleup-->
                        <i class="icon-ui-triangleup text-blue"></i>
                        <!--icon-ui-triangleup-->
                        <div class="icons-gallery-class">icon-ui-triangleup</div>
                    </li>
                </ul>
            </div>
        </div>

        <hr/>

        <div class="row">
            <div class="col-xs-12 bottom-offset-20 top-offset-20">
                <h3>Small icons</h3>
                <p>The small icons have less detail and are intended to be used at the default font size of 16px. Please use the small icons for task based communications. For crisper small icons use the following sizes: 16px, 28px and 42px.</p>
                <ul class="icons-gallery-list">
                    <li>
                        <!--icon-ui-triangleup-->
                        <i class="icon-ui-triangleup text-blue"></i>
                        <!--icon-ui-triangleup-->
                        <div class="icons-gallery-class">icon-ui-triangleup</div>
                    </li>
                </ul>
            </div>
        </div>




    </div>

</section>
