<section ng-controller="iconsCtrl" id="icons-html-example">

    <div class="container">
        <h2>Icons Demo</h2>

        <div class="row">
            <div class="col-xs-12 bottom-offset-20 top-offset-20">
                <p><strong>Dev guidance:</strong> The following icons are specific to Dell Brand Standards. Please use
                    the following icon class names in place of native Bootstrap icon class names.</p>

                <p><strong>Color guidance:</strong> All of the icons below can change to the following colors by adding
                    these class modifiers <code>.text-blue</code>, <code>.text-dark-blue</code>,
                    <code>.text-purple</code>, <code>.text-berry</code>, <code>.text-red</code>,
                    <code>.text-red-dark</code>, <code>.text-gray-medium</code>, <code>.text-gray-dark</code>, <code>.text-orange</code>,
                    <code>.text-green</code>, or <code>.text-white</code>. For example: <code>class="icon-ui-arrowleft
                        text-blue"</code> change the modifier color after the <code>.text-*</code>.</p>

                <h3 class="top-offset-20">UI icons</h3>
                <ul class="icons-gallery-list">
                    <li>
                        <i class="icon-ui-arrowleft "></i>
                        <span class="icons-gallery-class ng-binding">icon-ui-arrowleft</span>
                    </li>
                    <li>
                        <i class="icon-ui-arrowright "></i>
                        <span class="icons-gallery-class ng-binding">icon-ui-arrowright</span>
                    </li>
                    <li>
                    <li>
                        <i class="icon-ui-close "></i>
                        <span class="icons-gallery-class ng-binding">icon-ui-close</span>
                    </li>
                    <li>
                        <i class="icon-ui-closecircle "></i>
                        <span class="icons-gallery-class ng-binding">icon-ui-closecircle</span>
                    </li>
                    <li>
                        <i class="icon-ui-collapse "></i>
                        <span class="icons-gallery-class ng-binding">icon-ui-collapse</span>
                    </li>
                    <li>
                        <i class="icon-ui-dell "></i>
                        <span class="icons-gallery-class ng-binding">icon-ui-dell</span>
                    </li>
                    <li>
                        <i class="icon-ui-expand "></i>
                        <span class="icons-gallery-class ng-binding">icon-ui-expand</span>
                    </li>
                    <li>
                        <i class="icon-ui-grid-view "></i>
                        <span class="icons-gallery-class ng-binding">icon-ui-grid-view</span>
                    </li>
                    <li>
                        <i class="icon-ui-list-view "></i>
                        <span class="icons-gallery-class ng-binding">icon-ui-list-view</span>
                    </li>
                    <li>
                        <i class="icon-ui-menucollapsed "></i>
                        <span class="icons-gallery-class ng-binding">icon-ui-menucollapsed</span>
                    </li>
                    <li>
                        <i class="icon-ui-minus "></i>
                        <span class="icons-gallery-class ng-binding">icon-ui-minus</span>
                    </li>
                    <li>
                        <i class="icon-ui-pause "></i>
                        <span class="icons-gallery-class ng-binding">icon-ui-pause</span>
                    </li>
                    <li>
                        <i class="icon-ui-play "></i>
                        <span class="icons-gallery-class ng-binding">icon-ui-play</span>
                    </li>
                    <li>
                        <i class="icon-ui-plus "></i>
                        <span class="icons-gallery-class ng-binding">icon-ui-plus</span>
                    </li>
                    <li>
                        <i class="icon-ui-triangledown "></i>
                        <span class="icons-gallery-class ng-binding">icon-ui-triangledown</span>
                    </li>
                    <li>
                        <i class="icon-ui-triangleleft "></i>
                        <span class="icons-gallery-class ng-binding">icon-ui-triangleleft</span>
                    </li>
                    <li>
                        <i class="icon-ui-triangleright "></i>
                        <span class="icons-gallery-class ng-binding">icon-ui-triangleright</span>
                    </li>
                    <li>
                        <i class="icon-ui-triangleup "></i>
                        <span class="icons-gallery-class ng-binding">icon-ui-triangleup</span>
                    </li>
                    <li>
                        <i class="icon-ui-loading "></i>
                        <span class="icons-gallery-class ng-binding">icon-ui-loading</span>
                    </li>
                </ul>
            </div>
        </div>

        <hr/>

        <div class="row">
            <div class="col-xs-12 bottom-offset-20 top-offset-20">
                <h3>Small icons</h3>

                <p>The small icons have less detail and are intended to be used at the default font size of 16px. Please
                    use the small icons for task based communications. For crisper small icons use the following sizes:
                    16px, 28px and 42px.</p>
                <ul class="icons-gallery-list">
                    <li>
                        <i class="icon-small-360-hinge text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-360-hinge</span>
                    </li>
                    <li>
                        <i class="icon-small-add text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-add</span>
                    </li>
                    <li>
                        <i class="icon-small-alertcomplete text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-alertcomplete</span>
                    </li>
                    <li>
                        <i class="icon-small-alerterror text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-alerterror</span>
                    </li>
                    <li>
                        <i class="icon-small-alertinfo text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-alertinfo</span>
                    </li>
                    <li>
                        <i class="icon-small-alertnotice text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-alertnotice</span>
                    </li>
                    <li>
                        <i class="icon-small-audiocard text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-audiocard</span>
                    </li>
                    <li>
                        <i class="icon-small-audiospeaker text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-audiospeaker</span>
                    </li>
                    <li>
                        <i class="icon-small-award text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-award</span>
                    </li>
                    <li>
                        <i class="icon-small-battery text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-battery</span>
                    </li>
                    <li>
                        <i class="icon-small-bell text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-bell</span>
                    </li>
                    <li>
                        <i class="icon-small-cables text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-cables</span>
                    </li>
                    <li>
                        <i class="icon-small-calculator text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-calculator</span>
                    </li>
                    <li>
                        <i class="icon-small-calendar text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-calendar</span>
                    </li>
                    <li>
                        <i class="icon-small-carryingcase text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-carryingcase</span>
                    </li>
                    <li>
                        <i class="icon-small-cart text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-cart</span>
                    </li>
                    <li>
                        <i class="icon-small-chat text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-chat</span>
                    </li>
                    <li>
                        <i class="icon-small-checkmark text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-checkmark</span>
                    </li>
                    <li>
                        <i class="icon-small-chipset text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-chipset</span>
                    </li>
                    <li>
                        <i class="icon-small-clock text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-clock</span>
                    </li>
                    <li>
                        <i class="icon-small-cloud text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-cloud</span>
                    </li>
                    <li>
                        <i class="icon-small-color text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-color</span>
                    </li>
                    <li>
                        <i class="icon-small-computergeneric text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-computergeneric</span>
                    </li>
                    <li>
                        <i class="icon-small-contact text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-contact</span>
                    </li>
                    <li>
                        <i class="icon-small-copy text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-copy</span>
                    </li>
                    <li>
                        <i class="icon-small-data text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-data</span>
                    </li>
                    <li>
                        <i class="icon-small-deals text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-deals</span>
                    </li>
                    <li>
                        <i class="icon-small-detachable text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-detachable</span>
                    </li>
                    <li>
                        <i class="icon-small-diagnostic text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-diagnostic</span>
                    </li>
                    <li>
                        <i class="icon-small-dimensionsweight text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-dimensionsweight</span>
                    </li>
                    <li>
                        <i class="icon-small-display text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-display</span>
                    </li>
                    <li>
                        <i class="icon-small-download text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-download</span>
                    </li>
                    <li>
                        <i class="icon-small-drivers text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-drivers</span>
                    </li>
                    <li>
                        <i class="icon-small-edit text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-edit</span>
                    </li>
                    <li>
                        <i class="icon-small-employee text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-employee</span>
                    </li>
                    <li>
                        <i class="icon-small-energyefficient text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-energyefficient</span>
                    </li>
                    <li>
                        <i class="icon-small-enterprise text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-enterprise</span>
                    </li>
                    <li>
                        <i class="icon-small-e-value text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-e-value</span>
                    </li>
                    <li>
                        <i class="icon-small-gift-card text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-gift-card</span>
                    </li>
                    <li>
                        <i class="icon-small-globe text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-globe</span>
                    </li>
                    <li>
                        <i class="icon-small-graphics-card text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-graphics-card</span>
                    </li>
                    <li>
                        <i class="icon-small-harddrive text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-harddrive</span>
                    </li>
                    <li>
                        <i class="icon-small-help text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-help</span>
                    </li>
                    <li>
                        <i class="icon-small-house text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-house</span>
                    </li>
                    <li>
                        <i class="icon-small-infrastructure text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-infrastructure</span>
                    </li>
                    <li>
                        <i class="icon-small-inktoner text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-inktoner</span>
                    </li>
                    <li>
                        <i class="icon-small-keyboard text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-keyboard</span>
                    </li>
                    <li>
                        <i class="icon-small-lightbulb text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-lightbulb</span>
                    </li>
                    <li>
                        <i class="icon-small-location text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-location</span>
                    </li>
                    <li>
                        <i class="icon-small-magnifying-glass text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-magnifying-glass</span>
                    </li>
                    <li>
                        <i class="icon-small-mail text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-mail</span>
                    </li>
                    <li>
                        <i class="icon-small-memory text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-memory</span>
                    </li>
                    <li>
                        <i class="icon-small-memorycardreader text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-memorycardreader</span>
                    </li>
                    <li>
                        <i class="icon-small-missingimage text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-missingimage</span>
                    </li>
                    <li>
                        <i class="icon-small-mobile text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-mobile</span>
                    </li>
                    <li>
                        <i class="icon-small-mouse text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-mouse</span>
                    </li>
                    <li>
                        <i class="icon-small-music text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-music</span>
                    </li>
                    <li>
                        <i class="icon-small-network text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-network</span>
                    </li>
                    <li>
                        <i class="icon-small-notebook text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-notebook</span>
                    </li>
                    <li>
                        <i class="icon-small-operatingsystem text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-operatingsystem</span>
                    </li>
                    <li>
                        <i class="icon-small-opticaldrive text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-opticaldrive</span>
                    </li>
                    <li>
                        <i class="icon-small-package text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-package</span>
                    </li>
                    <li>
                        <i class="icon-small-partners text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-partners</span>
                    </li>
                    <li>
                        <i class="icon-small-performance text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-performance</span>
                    </li>
                    <li>
                        <i class="icon-small-phone text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-phone</span>
                    </li>
                    <li>
                        <i class="icon-small-photos text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-photos</span>
                    </li>
                    <li>
                        <i class="icon-small-ports text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-ports</span>
                    </li>
                    <li>
                        <i class="icon-small-powersupply text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-powersupply</span>
                    </li>
                    <li>
                        <i class="icon-small-printer text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-printer</span>
                    </li>
                    <li>
                        <i class="icon-small-processor text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-processor</span>
                    </li>
                    <li>
                        <i class="icon-small-projector text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-projector</span>
                    </li>
                    <li>
                        <i class="icon-small-protection text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-protection</span>
                    </li>
                    <li>
                        <i class="icon-small-recycle text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-recycle</span>
                    </li>
                    <li>
                        <i class="icon-small-refresh text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-refresh</span>
                    </li>
                    <li>
                        <i class="icon-small-rss text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-rss</span>
                    </li>
                    <li>
                        <i class="icon-small-save text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-save</span>
                    </li>
                    <li>
                        <i class="icon-small-scale-out text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-scale-out</span>
                    </li>
                    <li>
                        <i class="icon-small-searchleft text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-searchleft</span>
                    </li>
                    <li>
                        <i class="icon-small-secure text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-secure</span>
                    </li>
                    <li>
                        <i class="icon-small-securesoftware text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-securesoftware</span>
                    </li>
                    <li>
                        <i class="icon-small-server text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-server</span>
                    </li>
                    <li>
                        <i class="icon-small-serverrack text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-serverrack</span>
                    </li>
                    <li>
                        <i class="icon-small-share text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-share</span>
                    </li>
                    <li>
                        <i class="icon-small-shipping text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-shipping</span>
                    </li>
                    <li>
                        <i class="icon-small-socialnetworking text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-socialnetworking</span>
                    </li>
                    <li>
                        <i class="icon-small-software text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-software</span>
                    </li>
                    <li>
                        <i class="icon-small-solutions text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-solutions</span>
                    </li>
                    <li>
                        <i class="icon-small-speakers text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-speakers</span>
                    </li>
                    <li>
                        <i class="icon-small-star text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-star</span>
                    </li>
                    <li>
                        <i class="icon-small-storage text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-storage</span>
                    </li>
                    <li>
                        <i class="icon-small-support text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-support</span>
                    </li>
                    <li>
                        <i class="icon-small-surgeprotection text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-surgeprotection</span>
                    </li>
                    <li>
                        <i class="icon-small-tablet text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-tablet</span>
                    </li>
                    <li>
                        <i class="icon-small-thinclient text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-thinclient</span>
                    </li>
                    <li>
                        <i class="icon-small-touch text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-touch</span>
                    </li>
                    <li>
                        <i class="icon-small-touch-pad text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-touch-pad</span>
                    </li>
                    <li>
                        <i class="icon-small-towergeneric text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-towergeneric</span>
                    </li>
                    <li>
                        <i class="icon-small-trash text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-trash</span>
                    </li>
                    <li>
                        <i class="icon-small-tv text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-tv</span>
                    </li>
                    <li>
                        <i class="icon-small-useraccount text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-useraccount</span>
                    </li>
                    <li>
                        <i class="icon-small-video text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-video</span>
                    </li>
                    <li>
                        <i class="icon-small-videocard text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-videocard</span>
                    </li>
                    <li>
                        <i class="icon-small-virtualization text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-virtualization</span>
                    </li>
                    <li>
                        <i class="icon-small-warranty text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-warranty</span>
                    </li>
                    <li>
                        <i class="icon-small-webcam text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-webcam</span>
                    </li>
                    <li>
                        <i class="icon-small-whitepaper text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-whitepaper</span>
                    </li>
                    <li>
                        <i class="icon-small-wireless text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-wireless</span>
                    </li>
                    <li>
                        <i class="icon-small-zoomin text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-zoomin</span>
                    </li>
                    <li>
                        <i class="icon-small-zoomout text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-zoomout</span>
                    </li>
                </ul>

            </div>
        </div>

        <hr/>

        <div class="row">
            <div class="col-xs-12 bottom-offset-20 top-offset-20">
                <h3>Large icons</h3>

                <p>The large icons have more detail then the small icons. These should be used to support content only.
                    For crisper large icons use the following sizes: 36px, 72px and 108px.</p>
                <ul class="icons-gallery-list large">
                    <li>
                        <i class="icon-large-360-hinge text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-360-hinge</span>
                    </li>
                    <li>
                        <i class="icon-large-add text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-add</span>
                    </li>
                    <li>
                        <i class="icon-large-alertcomplete text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-alertcomplete</span>
                    </li>
                    <li>
                        <i class="icon-large-alerterror text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-alerterror</span>
                    </li>
                    <li>
                        <i class="icon-large-alertinfo text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-alertinfo</span>
                    </li>
                    <li>
                        <i class="icon-large-alertnotice text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-alertnotice</span>
                    </li>
                    <li>
                        <i class="icon-large-audicard text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-audicard</span>
                    </li>
                    <li>
                        <i class="icon-large-audiospeaker text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-audiospeaker</span>
                    </li>
                    <li>
                        <i class="icon-large-award text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-award</span>
                    </li>
                    <li>
                        <i class="icon-large-battery text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-battery</span>
                    </li>
                    <li>
                        <i class="icon-large-bell text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-bell</span>
                    </li>
                    <li>
                        <i class="icon-large-cables text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-cables</span>
                    </li>
                    <li>
                        <i class="icon-large-calculator text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-calculator</span>
                    </li>
                    <li>
                        <i class="icon-large-calendar text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-calendar</span>
                    </li>
                    <li>
                        <i class="icon-large-carryingcase text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-carryingcase</span>
                    </li>
                    <li>
                        <i class="icon-large-cart text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-cart</span>
                    </li>
                    <li>
                        <i class="icon-large-chat text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-chat</span>
                    </li>
                    <li>
                        <i class="icon-large-checkmark text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-checkmark</span>
                    </li>
                    <li>
                        <i class="icon-large-chipset text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-chipset</span>
                    </li>
                    <li>
                        <i class="icon-large-clock text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-clock</span>
                    </li>
                    <li>
                        <i class="icon-large-cloud text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-cloud</span>
                    </li>
                    <li>
                        <i class="icon-large-color text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-color</span>
                    </li>
                    <li>
                        <i class="icon-large-computergeneric text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-computergeneric</span>
                    </li>
                    <li>
                        <i class="icon-large-contact text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-contact</span>
                    </li>
                    <li>
                        <i class="icon-large-copy text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-copy</span>
                    </li>
                    <li>
                        <i class="icon-large-data text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-data</span>
                    </li>
                    <li>
                        <i class="icon-large-deals text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-deals</span>
                    </li>
                    <li>
                        <i class="icon-large-detachable text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-detachable</span>
                    </li>
                    <li>
                        <i class="icon-large-diagnostic text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-diagnostic</span>
                    </li>
                    <li>
                        <i class="icon-large-dimensionsweight text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-dimensionsweight</span>
                    </li>
                    <li>
                        <i class="icon-large-display text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-display</span>
                    </li>
                    <li>
                        <i class="icon-large-download text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-download</span>
                    </li>
                    <li>
                        <i class="icon-large-drivers text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-drivers</span>
                    </li>
                    <li>
                        <i class="icon-large-edit text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-edit</span>
                    </li>

                    <li>
                        <i class="icon-large-employee text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-employee</span>
                    </li>

                    <li>
                        <i class="icon-large-energyefficient text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-energyefficient</span>
                    </li>

                    <li>
                        <i class="icon-large-enterprise text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-enterprise</span>
                    </li>

                    <li>
                        <i class="icon-large-e-value text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-e-value</span>
                    </li>

                    <li>
                        <i class="icon-large-giftcard text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-giftcard</span>
                    </li>

                    <li>
                        <i class="icon-large-globe text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-globe</span>
                    </li>

                    <li>
                        <i class="icon-large-graphics-card text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-graphics-card</span>
                    </li>

                    <li>
                        <i class="icon-large-harddrive text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-harddrive</span>
                    </li>

                    <li>
                        <i class="icon-large-help text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-help</span>
                    </li>

                    <li>
                        <i class="icon-large-house text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-house</span>
                    </li>

                    <li>
                        <i class="icon-large-infrastructure text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-infrastructure</span>
                    </li>

                    <li>
                        <i class="icon-large-inktoner text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-inktoner</span>
                    </li>

                    <li>
                        <i class="icon-large-keyboard text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-keyboard</span>
                    </li>

                    <li>
                        <i class="icon-large-lightbulb text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-lightbulb</span>
                    </li>

                    <li>
                        <i class="icon-large-location text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-location</span>
                    </li>

                    <li>
                        <i class="icon-large-magnifying-glass text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-magnifying-glass</span>
                    </li>

                    <li>
                        <i class="icon-large-mail text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-mail</span>
                    </li>

                    <li>
                        <i class="icon-large-memory text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-memory</span>
                    </li>

                    <li>
                        <i class="icon-large-memorycarreader text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-memorycarreader</span>
                    </li>

                    <li>
                        <i class="icon-large-missingimage text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-missingimage</span>
                    </li>

                    <li>
                        <i class="icon-large-mobile text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-mobile</span>
                    </li>

                    <li>
                        <i class="icon-large-mouse text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-mouse</span>
                    </li>

                    <li>
                        <i class="icon-large-music text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-music</span>
                    </li>

                    <li>
                        <i class="icon-large-network text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-network</span>
                    </li>

                    <li>
                        <i class="icon-large-notebook text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-notebook</span>
                    </li>

                    <li>
                        <i class="icon-large-operatingsystem text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-operatingsystem</span>
                    </li>

                    <li>
                        <i class="icon-large-opticaldrive text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-opticaldrive</span>
                    </li>

                    <li>
                        <i class="icon-large-package text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-package</span>
                    </li>

                    <li>
                        <i class="icon-large-partners text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-partners</span>
                    </li>

                    <li>
                        <i class="icon-large-performance text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-performance</span>
                    </li>

                    <li>
                        <i class="icon-large-phone text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-phone</span>
                    </li>

                    <li>
                        <i class="icon-large-photos text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-photos</span>
                    </li>

                    <li>
                        <i class="icon-large-ports text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-ports</span>
                    </li>

                    <li>
                        <i class="icon-large-powersupply text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-powersupply</span>
                    </li>

                    <li>
                        <i class="icon-large-printer text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-printer</span>
                    </li>

                    <li>
                        <i class="icon-large-processor text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-processor</span>
                    </li>

                    <li>
                        <i class="icon-large-projector text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-projector</span>
                    </li>

                    <li>
                        <i class="icon-large-protection text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-protection</span>
                    </li>

                    <li>
                        <i class="icon-large-recycle text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-recycle</span>
                    </li>

                    <li>
                        <i class="icon-large-refresh text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-refresh</span>
                    </li>

                    <li>
                        <i class="icon-large-rss text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-rss</span>
                    </li>

                    <li>
                        <i class="icon-large-save text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-save</span>
                    </li>

                    <li>
                        <i class="icon-large-scale-out text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-scale-out</span>
                    </li>

                    <li>
                        <i class="icon-large-searchleft text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-searchleft</span>
                    </li>

                    <li>
                        <i class="icon-large-secure text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-secure</span>
                    </li>

                    <li>
                        <i class="icon-large-securesoftware text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-securesoftware</span>
                    </li>

                    <li>
                        <i class="icon-large-server text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-server</span>
                    </li>

                    <li>
                        <i class="icon-large-serverrack text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-serverrack</span>
                    </li>

                    <li>
                        <i class="icon-large-share text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-share</span>
                    </li>

                    <li>
                        <i class="icon-large-shipping text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-shipping</span>
                    </li>

                    <li>
                        <i class="icon-large-socialnetworking text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-socialnetworking</span>
                    </li>

                    <li>
                        <i class="icon-large-software text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-software</span>
                    </li>

                    <li>
                        <i class="icon-large-solutions text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-solutions</span>
                    </li>

                    <li>
                        <i class="icon-large-speakers text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-speakers</span>
                    </li>

                    <li>
                        <i class="icon-large-star text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-star</span>
                    </li>

                    <li>
                        <i class="icon-large-storage text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-storage</span>
                    </li>

                    <li>
                        <i class="icon-large-support text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-support</span>
                    </li>

                    <li>
                        <i class="icon-large-surgeprotection text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-surgeprotection</span>
                    </li>

                    <li>
                        <i class="icon-large-tablet text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-tablet</span>
                    </li>

                    <li>
                        <i class="icon-large-thinclient text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-thinclient</span>
                    </li>

                    <li>
                        <i class="icon-large-touch text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-touch</span>
                    </li>

                    <li>
                        <i class="icon-large-touchpad text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-touchpad</span>
                    </li>

                    <li>
                        <i class="icon-large-towergeneric text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-towergeneric</span>
                    </li>

                    <li>
                        <i class="icon-large-trash text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-trash</span>
                    </li>

                    <li>
                        <i class="icon-large-tv text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-tv</span>
                    </li>

                    <li>
                        <i class="icon-large-useraccount text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-useraccount</span>
                    </li>

                    <li>
                        <i class="icon-large-video text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-video</span>
                    </li>

                    <li>
                        <i class="icon-large-videocard text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-videocard</span>
                    </li>

                    <li>
                        <i class="icon-large-virtualization text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-virtualization</span>
                    </li>

                    <li>
                        <i class="icon-large-warranty text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-warranty</span>
                    </li>

                    <li>
                        <i class="icon-large-webcam text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-webcam</span>
                    </li>

                    <li>
                        <i class="icon-large-whitepaper text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-whitepaper</span>
                    </li>

                    <li>
                        <i class="icon-large-wireless text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-wireless</span>
                    </li>

                    <li>
                        <i class="icon-large-zoomin text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-zoomin</span>
                    </li>

                    <li>
                        <i class="icon-large-zoomout text-blue"></i>
                        <span class="icons-gallery-class ng-binding">icon-large-zoomout</span>
                    </li>

                </ul>
            </div>
        </div>

        <hr/>

        <div class="row">
            <div class="col-xs-12 bottom-offset-20 top-offset-20">
                <h3>Ratings icons</h3>

                <p>The rating icons have been broken down to 10% increments. These small changes are demonstrated on the last star of the examples below</p>

                <ul class="icons-gallery-list">
                    <li>
                        <i class="icon-small-favorite-100"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-favorite-100</span>
                    </li>
                    <li>
                        <i class="icon-small-favorite-90"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-favorite-90</span>
                    </li>
                    <li>
                        <i class="icon-small-favorite-80"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-favorite-80</span>
                    </li>
                    <li>
                        <i class="icon-small-favorite-70"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-favorite-70</span>
                    </li>
                    <li>
                        <i class="icon-small-favorite-60"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-favorite-60</span>
                    </li>
                    <li>
                        <i class="icon-small-favorite-50"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-favorite-50</span>
                    </li>
                    <li>
                        <i class="icon-small-favorite-40"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-favorite-40</span>
                    </li>
                    <li>
                        <i class="icon-small-favorite-30"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-favorite-30</span>
                    </li>
                    <li>
                        <i class="icon-small-favorite-20"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-favorite-20</span>
                    </li>
                    <li>
                        <i class="icon-small-favorite-10"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-favorite-10</span>
                    </li>
                    <li>
                        <i class="icon-small-favorite-0"></i>
                        <span class="icons-gallery-class ng-binding">icon-small-favorite-0</span>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</section>
