/*
 * Icons component theme overrides
 *------------------------------------------------------------------------------------------
 */

[class^=icon-social] { background: url('icons/social-img/icon-sm-sprite.png') no-repeat top left; width: 24px; height: 24px;  display: block; }
.icon-social-facebook { background-position: 0 0; }
.icon-social-flickr { background-position: 0 -34px; }
.icon-social-google_plus { background-position: 0 -68px; }
.icon-social-linkedin { background-position: 0 -102px; }
.icon-social-pinterest { background-position: 0 -136px; }
.icon-social-renren { background-position: 0 -170px; }
.icon-social-slideshare { background-position: 0 -204px; }
.icon-social-storify { background-position: 0 -238px; }
.icon-social-twitter { background-position: 0 -272px; }
.icon-social-weibo { background-position: 0 -306px; }
.icon-social-xing { background-position: 0 -340px; }
.icon-social-youtube { background-position: 0 -374px; }

//TODO fix needs to go in dell-ui-bootstrap
[class*=icon-small-favorite] {
	margin: 0;
}