/*
 * Icons component theme overrides
 *------------------------------------------------------------------------------------------
 */

[class^=icon-sm] { background: url('icons/social-img/icon-sm-sprite.png') no-repeat top left; width: 24px; height: 24px;  display: block; }
.icon-sm-facebook { background-position: 0 0; }
.icon-sm-flickr { background-position: 0 -34px; }
.icon-sm-google_plus { background-position: 0 -68px; }
.icon-sm-linkedin { background-position: 0 -102px; }
.icon-sm-pinterest { background-position: 0 -136px; }
.icon-sm-renren { background-position: 0 -170px; }
.icon-sm-slideshare { background-position: 0 -204px; }
.icon-sm-storify { background-position: 0 -238px; }
.icon-sm-twitter { background-position: 0 -272px; }
.icon-sm-weibo { background-position: 0 -306px; }
.icon-sm-xing { background-position: 0 -340px; }
.icon-sm-youtube { background-position: 0 -374px; }
