<section ng-controller="miniButtonsCtrl" id="mini-buttons-html-example">

    <div class="container">
            <h2 class="bottom-offset-30">Mini-Buttons Demo</h2>

            <div class="bottom-offset-30">
                <h4>Primary Non-Purchase</h4>
                <!--Primary Non-Purchase-->
                <a class="btn btn-primary btn-xs" href="javascript:;">Primary</a>
                <!--/primary Non-Purchase-->
            </div>

            <div class="bottom-offset-30">
                <h4>Primary Non-Purchase disabled</h4>
                <!--Primary Non-Purchase disabled-->
                <a class="btn btn-primary btn-xs disabled" href="javascript:;">Primary</a>
                <!--/primary Non-Purchase disabled-->
            </div>

            <hr/>

            <div class="bottom-offset-30">
                <h4>Primary Purchase</h4>
                <!--Primary Purchase-->
                <a class="btn btn-success btn-xs" href="javascript:;">Purchase</a>
                <!--/primary Non Purchase-->
            </div>

            <div class="bottom-offset-30">
                <h4>Primary Purchase disabled</h4>
                <!--Primary Purchase disabled-->
                <a class="btn btn-success btn-xs disabled" href="javascript:;">Purchase</a>
                <!--/primary Purchase disabled-->
            </div>

            <hr/>

            <div class="bottom-offset-30">
                <h4>Secondary or General Use</h4>
                <!--Secondary or General Use-->
                <a class="btn btn-default btn-xs" href="javascript:;">General Use</a>
                <!--/Secondary or General Use-->
            </div>

            <div class="bottom-offset-30">
                <h4>Secondary or General Use disabled</h4>
                <!--Secondary or General Use disabled-->
                <a class="btn btn-default btn-xs disabled" href="javascript:;">General Use</a>
                <!--/Secondary or General Use disabled-->
            </div>

            <hr/>
    </div>

</section>
