<section ng-controller="blockButtonsCtrl" id="block-buttons-html-example">

    <div class="container">
        <h2 class="bottom-offset-40">Block-Buttons Demo</h2>

        <div class="top-offset-20 bottom-offset-30">
            <div class="row">
                <h4 class="col-xs-12">Block level button col-xs-12</h4>
                <!-- Block level button col-xs-12 -->
                <div class="col-xs-12">
                    <button class="btn btn-primary btn-lg btn-block" type="button">col-xs-12</button>
                </div>
                <!--/Block level button col-xs-12-->


                <h4 class="top-offset-40 col-xs-12">Block level button col-xs-6</h4>
                <!-- Block level button col-xs-6 -->
                <div class="col-xs-6">
                    <button class="btn btn-primary btn-lg btn-block" type="button">col-xs-6</button>
                </div>
                <!--/Block level button col-xs-6-->


                <h4 class="top-offset-40 col-xs-12">Block level button col-xs-4</h4>
                <!-- Block level button col-xs-4 -->
                <div class="col-xs-4">
                    <button class="btn btn-primary btn-lg btn-block" type="button">col-xs-4</button>
                </div>
                <!--/Block level button col-xs-4-->
            </div>
        </div>
    </div>

</section>
