      <div class="">
        <h2>Modals</h2>
      </div>     
      <div id="modal-example-HTML">
          <div class="modal">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
              <h3>Modal header</h3>
            </div>
            <div class="modal-body">
              <p>One fine body…</p>
            </div>
            <div class="modal-footer">
              <a href="#" class="btn" data-dismiss="modal">Close</a>
              <a href="#" class="btn btn-primary" data-dismiss="modal">Save changes</a>
            </div>
          </div>
      </div>
      <button class="btn btn-default" ng-click="sherpa.modal.show()">
        Launch Demo Modal
      </button>
      <style>
        #modal-example-HTML .modal {
          display:block;
          position:relative;
        }
      </style>
