      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<!--           <h2 msg="styleguide.title_overview">Overview</h2>
 -->          

  <magic>button|primary|msg:text_button_magic|url:#/project-index</magic>
<p markdown="lib/design-library/styleguide/partials/overview.md"></p>
<!--           <p lorem="{paragraphs:5,startLorem:true,chars:500}"></p> -->
        </div> 
      </div>


      <!--
      <magic>button|primary|msg:text_button_magic|url:#/project-index</magic>
          <magicbutton>primary button with textkey text_button_magic that goes to #/project-index</magicbutton>
          -->