/*
 * Date-Selector component theme overrides
 *------------------------------------------------------------------------------------------
 */


	.date-selector .input-group-btn .btn-default {
		background-color: @white;
	}

	.date-selector .theader {
		background-color: @dell-blue;
	}

	.date-selector .input-group {
		width:300px;
	}

	.date-selector .dropdown-menu {
		border-radius: 5px;
		padding:5px;
	}

	.date-selector th > .btn-block {
	    font-size: 1.2em;
	}

	.date-selector table, .date-selector th, .date-selector td, .date-selector .btn-block {
	    height:33px;
	}
	
	.date-selector table, .date-selector th, .date-selector td {
	    border:0px;
	}

	.date-selector thead > tr > th > .pull-right {
		padding-bottom: 5px;
		width:35px;
		height:33px;
		color:@white;
	}

	.date-selector thead > tr > th > button  {
		color:@white;
	}

	.date-selector thead > tr > th > .pull-left {
		padding-bottom: 5px;
		width:35px;
		height:33px;
		color:@white;		
	}

	.date-selector table tbody button:hover {
		color: @dell-gray-dark;
		background-color: @dell-highlight-blue !important;
		border:0px solid @white;
	}

	.date-selector tbody .btn-default {
		color: @dell-gray-dark;
		background-color: @white;
		border-color: @white;
	}

	.date-selector .btn.disabled, .date-selector .btn[disabled], .date-selector fieldset[disabled] .btn {
		background-color: @white;
		border-color: @white;
	}

	.date-selector thead .btn-default {
		color: @white;
		background-color: @dell-blue;
		border:0px;
	}

	.date-selector thead tr {
		background-color: @dell-blue;
	}

	.date-selector thead .h6 {
		background-color: @white;
	}