<section ng-controller="dividersCtrl" id="dividers-html-example">

    <div class="container">
        <h2>Dividers Demo</h2>
        <div>

            <!--section dividers with shadows-->
            <div class="">
                <h4>Section dividers with shadow<small> (supported browsers)</small></h4>
                <hr class="shadow-separator">
            </div>
            <!----------------------------->


            <!--section dividers with shadows (example of non-supported browsers)-->
            <div class="bottom-offset-30">
                <h4>Section dividers default dividers<small> (example of non-supported browsers)</small></h4>
                <hr class="separator-default">
            </div>
            <!----------------------------->


            <!--horizontal section dividers-->
            <div class="top-offset-40">
                <h2>Horizontal Dividers</h2>
            </div>

            <div class="top-offset-20">
                <h4>Primary divider</h4>
                <hr class="hr-gray"/>
            </div>

            <div class="top-offset-20">
                <h4>Secondary dividers</h4>
                <hr/>
            </div>

            <div class="bottom-offset-30">
                <h4>Tertiary dividers</h4>
                <hr class="hr-gray-light"/>
            </div>
            <!----------------------------->


            <!--Vertical dividers-->
            <div class="top-offset-40">
                <h2>Vertical Dividers</h2>
            </div>

            <div class="row">
                <!--vertical divider left-->
                <div class="col-xs-12 top-offset-20 bottom-offset-20">
                    <div class="col-xs-4 border-left-gray-stroke text-left">&nbsp;vertical divider left</div>
                    <div class="col-xs-4 border-right-gray-stroke text-right">&nbsp;vertical divider right</div>
                </div>

                <!--vertical divider left-->
                <div class="col-xs-12 top-offset-20 bottom-offset-20">
                    <div class="col-xs-4 border-left-thick-gray-stroke text-left">&nbsp;vertical thick divider left</div>
                    <div class="col-xs-4 border-right-thick-gray-stroke text-right">&nbsp;vertical thick divider right </div>
                </div>

            </div>
            <!----------------------------->

        </div>
    </div>

</section>
