/*
 * Dividers component theme overrides
 *------------------------------------------------------------------------------------------
 */

.shadow-separator {
    border-top: 1px solid @dell-gray-light;
    &:before {
        box-shadow: 0 0 11px rgba(0,0,0,.2);
    }
}

.separator-default {
    border-top: 1px solid @dell-gray-light;
}


.border-left {
    height: auto;
    &-gray-stroke {
        border-left: 1px solid @dell-gray-stroke;
    }
}

.border-right {
    height: auto;
    //TODO need to add this back into the bootstrap-dell-ui core
    &-gray-stroke  {
        border-right: 1px solid @dell-gray-stroke;
    }
}

.border-left-thick {
    height: auto;
    //TODO need to add this back into the bootstrap-dell-ui core
    &-gray-stroke  {
        border-left: 2px solid @dell-gray-stroke;
    }
}

.border-right-thick {
    height: auto;
    //TODO need to add this back into the bootstrap-dell-ui core
    &-gray-stroke  {
        border-right: 2px solid @dell-gray-stroke;
    }
}
