<!-- Banner Layout http://www.delldesignlibrary.com/blank-templates/banner.html -->
<header class="masthead-container" id="masthead">
    <div class="container">
        <div ui-view="masthead">%%masthead%%</div>
    </div>
</header>
<section ui-view="banner-area" id="banner-area">%%banner-area%%</section>
<section ui-view="main-content-area" id="main-content-area">%%main-content-area%%</section>
<footer class="footer-container" id="footer">
    <div class="container">
        <div ui-view="footer">%%footer%%</div>
    </div>
</footer>