<!-- Banner + right rail Layout http://www.delldesignlibrary.com/blank-templates/banner-right-rail.html -->
<header class="masthead-container" id="masthead">
    <div ui-view="masthead">%%masthead%%</div>
</header>
<section ui-view="banner-area" id="banner-area">%%banner-area%%</section>
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">	
			<section ui-view="main-content-area" id="main-content-area">%%main-content-area%%</section>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			<section ui-view="right-rail-area" id="right-rail-area">%%right-rail-area%%</section>
		</div>
	</div>
</div>
<footer class="footer-container" id="footer">
    <div ui-view="footer">%%footer%%</div>
</footer>