<!-- Left 3 Column Nav + right rail + secondary content Layout http://www.delldesignlibrary.com/blank-templates/left-nav-right-rail-secondary-content.html -->
<header class="masthead-container" id="masthead">
    <div ui-view="masthead">%%masthead%%</div>
</header>
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
			<section ui-view="left-nav-area" id="left-nav-area">%%left-nav-area%%</section>
		</div>
		<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
			<div class="row">
				<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
					<section ui-view="main-content-area" id="main-content-area">%%main-content-area%%</section>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
					<section ui-view="right-rail-area" id="right-rail-area">%%right-rail-area%%</section>
				</div>
			</div>
			<section ui-view="secondary-content-area" id="secondary-content-area">%%secondary-content-area%%</section>
		</div>
	</div>
</div>
<footer class="footer-container" id="footer">
    <div ui-view="footer">%%footer%%</div>
</footer>