<section ng-controller="progressBarsCtrl" id="progress-bars-html-example">

    <div class="container">
        <h2>Progress-Bars Demo</h2>
        <div class="row">
            <div class="col-md-6 bottom-offset-20">

                <h4>Default</h4>
                <!--default-->
                <div class="progress">
                    <div class="bar" style="width: 60%;"></div>
                </div>

                <h4>Default with percentage</h4>
                <!--with percentage-->
                <div class="progress">
                    <div class="bar" style="width: 60%;">60%</div>
                </div>

            </div>
        </div>

        <div class="bottom-offset-60">

            <h4>Default progress status</h4>
            <div class="progress progress-status">
                <a href="javascript:;" class="bar bar-complete" style="width: 33.3%">
                    <span class="hidden-xs hidden-sm">Shipping</span>
                </a>
                <div class="bar bar-progress" style="width: 33.3%">
                    <span class="hidden-xs hidden-sm">Payment</span>
                </div>
                <div class="bar bar-incomplete" style="width: 33.4%">
                    <span class="hidden-xs hidden-sm">Verify &amp; Submit Order</span>
                </div>
            </div>

        </div>

        <div class="bottom-offset-60">

            <h4>Progress Status: Disabled</h4>
            <div class="progress progress-status">
                <div href="javascript:;" class="bar bar-disabled" style="width: 33.3%">
                    <span class="hidden-xs hidden-sm">Shipping</span>
                </div>
                <div class="bar bar-progress-disabled" style="width: 33.3%">
                    <span class="hidden-xs hidden-sm">Payment</span>
                </div>
                <div class="bar bar-incomplete" style="width: 33.4%">
                    <span class="hidden-xs hidden-sm">Verify &amp; Submit Order</span>
                </div>
            </div>

        </div>

        <div class="bottom-offset-60">
            <h4>Progress Status 2-Step minimum</h4>

            <div class="progress progress-status">
                <a href="javascript:;" class="bar bar-complete" style="width: 50%">
                    <span class="hidden-xs hidden-sm">Payment</span>
                </a>
                <div class="bar bar-incomplete" style="width: 50%">
                    <span class="hidden-xs hidden-sm">Verify &amp; submit order</span>
                </div>
            </div>

        </div>

        <div class="bottom-offset-60">
            <h4>Progress status 6-Step maximum</h4>

            <div class="progress progress-status">
                <a href="javascript:;" class="bar bar-complete" style="width: 16.666%">
                    <span class="hidden-xs hidden-sm">Step 1</span>
                </a>
                <a href="javascript:;" class="bar bar-complete" style="width: 16.666%">
                    <span class="hidden-xs hidden-sm">Step 2</span>
                </a>
                <a href="javascript:;" class="bar bar-complete" style="width: 16.666%">
                    <span class="hidden-xs hidden-sm">Step 3</span>
                </a>
                <div class="bar bar-progress" style="width: 16.666%">
                    <span class="hidden-xs hidden-sm">Step 4</span>
                </div>
                <div class="bar bar-incomplete" style="width: 16.666%">
                    <span class="hidden-xs hidden-sm">Step 5</span>
                </div>
                <div class="bar bar-incomplete" style="width: 16.666%">
                    <span class="hidden-xs hidden-sm">Step 6</span>
                </div>
            </div>

        </div>


        <div class="bottom-offset-60">
            <h4>Animated Striped</h4>
            <p>Add <code>.active</code> to <code>.progress-bar-striped</code> to animate the stripes right to left. Not available in IE9 and below.</p>
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                    <span class="sr-only">45% Complete</span>
                </div>
            </div>
        </div>

        <div class="bottom-offset-60">
            <h4>Striped progress</h4>

            <div ng-init="fakeAnimation()" class="interactive-progress-bar">
                <div class="pull-right progress-counter hidden-xs">
                    <h4 class="pull-right">{{fakeAnimationValue}}%</h4>
                </div>
                <div class="progress bottom-offset-5">
                    <div ng-class="stripeAnimate" class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="{{fakeAnimationValue}}" aria-valuemin="0" aria-valuemax="100" style="width: {{fakeAnimationValue}}%">
                    </div>
                </div>
                <div>
                    <p class="pull-left">Download<span ng-if="fakeAnimationValue < 100">ing</span><span ng-if="fakeAnimationValue === 100">ed</span> {{fakeAnimationSteps}} of 5</p>
                    <div class="btn-group pull-right fake-animation-controls">

                        <button type="reset" class="btn btn-default" ng-click="resetFakeAnimation()" ng-if="fakeAnimationValue !== 100">Cancel</button>

                        <button type="submit" class="btn btn-primary" ng-click="pauseFakeAnimation()" ng-if="fakeAnimationId && fakeAnimationValue !== 100">Pause</button>

                        <button type="submit" class="btn btn-primary" ng-click="fakeAnimation()" ng-if="!fakeAnimationId && fakeAnimationValue !== 100">Resume</button>

                        <button type="submit" class="btn btn-primary" ng-if="fakeAnimationValue === 100" ng-click="resetFakeAnimation()" >Ok</button>

                    </div>
                </div>
            </div>

        </div>


        <div class="bottom-offset-60">
            <h4>Striped progress</h4>

            <div class="btn-toolbar">
                <div class="btn-group" id="button-default-dropdown">
                    <a class="btn btn-default dropdown-toggle btn-progress" data-toggle="dropdown" href="javascript:;" aria-expanded="false">Step 5 of 9: Lorem ispum</a>
                    <ul class="dropdown-menu">
                        <li class="completed"><a href="javascript:;">Step 1 of 9: Lorem ispum</a></li>
                        <li class="completed"><a href="javascript:;">Step 2 of 9: Lorem ispum</a></li>
                        <li class="completed"><a href="javascript:;">Step 3 of 9: Lorem ispum</a></li>
                        <li class="completed"><a href="javascript:;">Step 4 of 9: Lorem ispum</a></li>
                        <li class="active"><a href="javascript:;">Step 5 of 9: Lorem ispum</a></li>
                        <li class="disabled"><a href="javascript:;">Step 6 of 9: Lorem ispum</a></li>
                        <li class="disabled"><a href="javascript:;">Step 7 of 9: Lorem ispum</a></li>
                        <li class="disabled"><a href="javascript:;">Step 8 of 9: Lorem ispum</a></li>
                        <li class="disabled"><a href="javascript:;">Step 9 of 9: Lorem ispum</a></li>
                        <li><a href="javascript:;">Summary</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <a class="btn btn-primary" href="javascript:;">Next</a>
                </div>
                <div class="btn-group">
                    <a class="btn btn-link" href="javascript:;">Exit</a>
                </div>
            </div>

        </div>

    </div>
</section>
