<section ng-controller="progressBarsCtrl" id="progress-bars-html-example">

    <div class="container">
        <h2>Progress-Bars Demo</h2>
        <div>
            <div class="col-md-6 bottom-offset-20">
                <h4>
                    Default
                </h4>
                <p>
                    Default progress bar color.
                </p>
                <div id="default-progress">
                    <div class="progress">
                        <div class="bar" style="width: 60%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
