/*
 * Progress-Bars component theme overrides
 *------------------------------------------------------------------------------------------
 */


//progress-bars
//------------------------------------------------------------------------------------------
.progress {
    overflow:      hidden;
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top,  #eeeeee 0%, #ffffff 30%, #ffffff 51%, #ffffff 88%, #eeeeee 98%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(30%,#ffffff), color-stop(51%,#ffffff), color-stop(88%,#ffffff), color-stop(98%,#eeeeee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #eeeeee 0%,#ffffff 30%,#ffffff 51%,#ffffff 88%,#eeeeee 98%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #eeeeee 0%,#ffffff 30%,#ffffff 51%,#ffffff 88%,#eeeeee 98%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #eeeeee 0%,#ffffff 30%,#ffffff 51%,#ffffff 88%,#eeeeee 98%); /* IE10+ */
    background: linear-gradient(to bottom,  #eeeeee 0%,#ffffff 30%,#ffffff 51%,#ffffff 88%,#eeeeee 98%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */


    .bar {
        width:              0;
        height:             100%;
        color:              @white;
        float:              left;
        font-size:          12px;
        text-align:         center;
        padding-top:        3px;
        text-shadow:        0 -1px 0 rgba(0, 0, 0, 0.25);
        background-color:   @dell-blue;
        -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
        -moz-box-shadow:    inset 0 -1px 0 rgba(0, 0, 0, 0.15);
        box-shadow:         inset 0 -1px 0 rgba(0, 0, 0, 0.15);
        -webkit-box-sizing: border-box;
        -moz-box-sizing:    border-box;
        box-sizing:         border-box;
        -webkit-transition: width .6s ease;
        -moz-transition:    width .6s ease;
        -o-transition:      width .6s ease;
        transition:         width .6s ease;

        &-disabled{
            background-color: @dell-gray-dark;
        }
    }

    //progress-status dell 308 only
    &.progress-status {
        overflow:      visible;
        position:      relative;
        margin-bottom: 40px;
        .bar {
            position: relative;
//            .box-shadow(inset 0 1px 2px rgba(0, 0, 0, .3));
            span {
                position:    relative;
                color:       @dell-gray-dark;
                text-shadow: none;
                top:         30px;
                font-size:   14px;
            }
            &-disabled {
                span {
                    font-weight: bold;
                    color:       @dell-gray-dark;
                }
            }

            &-complete {
                span {
                    font-weight: bold;
                    color:       @dell-blue;
                }

                &:after {
                    position:     absolute;
                    right:        45%;
                    top:          2px;
                    content:      "\e611";
                    font-family:  "icon-small";
                    font-size:    11px;
                    font-weight:  normal;
                    margin-right: 2px;
                }
            }


            &-progress {
                span {
                    font-weight: bold;
                }
//                #gradient > .vertical(@dell-gray, @dell-gray);
                // TODO: need to remove the #gradient with .vertical to background: @dell-highlight-blue;
                background: @dell-highlight-blue;
            }

            &-incomplete {
                span {
                    color: @dell-gray;
                }
                background: #eeeeee; /* Old browsers */
                background: -moz-linear-gradient(top,  #eeeeee 0%, #ffffff 30%, #ffffff 51%, #ffffff 88%, #eeeeee 98%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(30%,#ffffff), color-stop(51%,#ffffff), color-stop(88%,#ffffff), color-stop(98%,#eeeeee)); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top,  #eeeeee 0%,#ffffff 30%,#ffffff 51%,#ffffff 88%,#eeeeee 98%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(top,  #eeeeee 0%,#ffffff 30%,#ffffff 51%,#ffffff 88%,#eeeeee 98%); /* Opera 11.10+ */
                background: -ms-linear-gradient(top,  #eeeeee 0%,#ffffff 30%,#ffffff 51%,#ffffff 88%,#eeeeee 98%); /* IE10+ */
                background: linear-gradient(to bottom,  #eeeeee 0%,#ffffff 30%,#ffffff 51%,#ffffff 88%,#eeeeee 98%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */

            }

            &:first-child {
//                .border-left-radius(@border-radius-base);
                // New style does not have this rounding corner radius
            }

            &:last-child {
//                .border-right-radius(@border-radius-base);
                // New style does not have this rounding corner radius

            }

            &:hover {
                text-decoration: none;
            }
        }
    }
    .progress-label {
        display: none;
    }
}


.progress-counter {
    margin-left: 15px;
    width: 4%;
}


@media only screen and (max-width: @screen-xs-max) {
    .progress.progress-status {
        .bar span {
            display: none;
        }
    }
}

@media only screen and (max-width: @screen-sm-max) {
    .progress.progress-status {
        .bar span {
            left: 2%;
        }
    }
}

