/*
 * Progress-Bars component theme overrides
 *------------------------------------------------------------------------------------------
 */
.progress {
    overflow: visible;
    &.progress-status {
        .bar {
            position: relative;
            span {
                position:    relative;
                color:       @dell-gray-dark;
                text-shadow: none;
                top:         30px;
                font-size:   14px;
            }
            &-disabled {
                span {
                    font-weight: bold;
                    color:       @dell-gray-dark;
                }
            }

            &-complete {
                span {
                    font-weight: bold;
                    color:       @dell-blue;
                }

                &:after {
                    position:     absolute;
                    right:        45%;
                    top:          2px;
                    content:      "\e611";
                    font-family:  "icon-small";
                    font-size:    11px;
                    font-weight:  normal;
                    margin-right: 2px;
                }
            }


            &-progress {
                span {
                    font-weight: bold;
                }
//                #gradient > .vertical(@dell-gray, @dell-gray);
                // TODO: need to remove the #gradient with .vertical to background: @dell-highlight-blue;
                // Not sure what this means.

                background: @dell-highlight-blue;

                &-disabled {
                    background: @dell-gray;
                    font-weight: bold;
                }
            }


            &-incomplete {
                span {
                    color: @dell-gray-dark;
                }
                background: #eeeeee; /* Old browsers */
                background: -moz-linear-gradient(top,  #eeeeee 0%, #ffffff 30%, #ffffff 51%, #ffffff 88%, #eeeeee 98%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(30%,#ffffff), color-stop(51%,#ffffff), color-stop(88%,#ffffff), color-stop(98%,#eeeeee)); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top,  #eeeeee 0%,#ffffff 30%,#ffffff 51%,#ffffff 88%,#eeeeee 98%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(top,  #eeeeee 0%,#ffffff 30%,#ffffff 51%,#ffffff 88%,#eeeeee 98%); /* Opera 11.10+ */
                background: -ms-linear-gradient(top,  #eeeeee 0%,#ffffff 30%,#ffffff 51%,#ffffff 88%,#eeeeee 98%); /* IE10+ */
                background: linear-gradient(to bottom,  #eeeeee 0%,#ffffff 30%,#ffffff 51%,#ffffff 88%,#eeeeee 98%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */

            }

            &:first-child {
//                .border-left-radius(@border-radius-base);
                // New style does not have this rounding corner radius
            }

            &:last-child {
//                .border-right-radius(@border-radius-base);
                // New style does not have this rounding corner radius

            }

            &:hover {
                text-decoration: none;
            }
        }
    }
    .progress-label {
        display: none;
    }
}



.btn-progress {
    &.active,
    &.focus,
    &:active,
    &:focus,
    &:hover,
    .open > .dropdown-toggle.btn-progress {
        background: white none repeat scroll 0 0;
        //margin-right: 10px; removed because it causes jump on hover
    }

}

.btn-progress + .dropdown-menu li {
    position: relative;
    a {
        color: #007db8;
        padding-left: 30px;
    }
    &.disabled > a {
        color: #ccc;
    }
    &.active > a {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        color: #444;
    }
    &.completed > a {
        color: #007db8;
    }
    &.completed > a::before,
    &.active > a::before {
        color: #6ea204;
        content: "\e611";
        font-family: icon-small;
        font-size: 11px;
        font-weight: 400;
        left: -20px;
        margin-right: -10px;
        padding-right: 0;
        position: relative;
    }
}


.progress-counter {
    margin-left: 15px;
    width: 4%;
}


@media only screen and (max-width: @screen-xs-max) {
    .progress.progress-status {
        .bar span {
            display: none;
        }
    }
}

@media only screen and (max-width: @screen-sm-max) {
    .progress.progress-status {
        .bar span {
            left: 2%;
        }
    }
}

.progress.progress-status .bar {
    position: relative;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
}
