<section ng-controller="tablesCtrl" id="tables-html-example">

    <div class="container">
        <h2>Tables Demo</h2>

		<div>
            <h3>
                Data Tables - Simple
        </div>
        <div class="bottom-offset-20">
            <div class="data-table-simple">
	            <table class="table" data-toggle="table" data-url="components\tables\data.json" data-show-columns="true">
				    <thead>
					    <tr>
					        <th data-field="Column 1" 
					            data-sortable="true"
					            data-formatter="nameFormatter">
					                Column 1
					        </th>
					        <th data-field="Column 2" 
					            data-sortable="true">
					                Column 2
					        </th>
					        <th data-field="Column 3" 
					            data-sortable="true">
					                Column 3
					        </th>
					        <th data-field="Column 4" 
					            data-sortable="true">
					                Column 4
					        </th>
					        <th data-field="Column 5" 
					            data-sortable="false">
					                Column 5
					        </th>
					        <th data-field="Column 6" 
					            data-sortable="true">
					                Column 7
					        </th>
					        <th data-field="Column 7" 
					            data-sortable="true">
					                Column 7
					        </th>
					    </tr>
				    </thead>
				</table>
			</div>
        </div>
        <div>
            <h3>
                Data Tables - Simple w/ optional zebra striping
        </div>
        <div class="bottom-offset-20">
            <div id="data-table-simple bootstrap-table">
            	<table data-toggle="table"
       data-url="components\tables\data.json"
       data-sort-name="Column 1"
       data-sort-order="asc" class="table table-hover table-striped bootstrap-table">
                		<thead>
						    <tr>
						        <th data-field="Column 1" 
						            data-sortable="true"
						            data-formatter="nameFormatter">
						                Column 1
						        </th>
						        <th data-field="Column 2" 
						            data-sortable="true">
						                Column 2
						        </th>
						        <th data-field="Column 3" 
						            data-sortable="true">
						                Column 3
						        </th>
						        <th data-field="Column 4" 
						            data-sortable="true">
						                Column 4
						        </th>
						        <th data-field="Column 5" 
						            data-sortable="false">
						                Column 5
						        </th>
						        <th data-field="Column 6" 
						            data-sortable="true">
						                Column 7
						        </th>
						        <th data-field="Column 7" 
						            data-sortable="true">
						                Column 7
						        </th>
						    </tr>
					    </thead>
					</table>
                </div>
            </div>
        </div>
    </div>

</section>
