//This LESS should ONLY be for DEMO purposes. It will not be included in the dell-ui-components css, only in the demo application

#tables-html-example {
 .sortable-table-example {
   width: 100%;
   height: 200px;
   overflow-x: hidden;
 }

}

//for play demo
#tables-play-demo {


}