<section ng-controller="tablesCtrl" id="tables-html-example">

    <div class="container">
        <h2>Tables Demo</h2>

        <h3>
            Data Tables - Simple
        </h3>
        <div class="bottom-offset-20">
            <!--Data Tables - Simple-->
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Column 1</th>
                        <th>Column 2</th>
                        <th>Column 3</th>
                        <th>Column 4</th>
                        <th>Column 5</th>
                        <th>Column 6</th>
                        <th>Column 7</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>value 1:2</td>
                        <td><a href="javascript:;">value 1:3</a></td>
                        <td>value 1:4</td>
                        <td>value 1:5</td>
                        <td>value 1:6</td>
                        <td>value 1:7</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>value 2:2</td>
                        <td>value 2:3</td>
                        <td><a href="javascript:;">value 2:4</a></td>
                        <td>value 2:5</td>
                        <td>value 2:6</td>
                        <td>value 2:7</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>value 3:2</td>
                        <td>value 3:3</td>
                        <td>value 3:4</td>
                        <td>value 3:5</td>
                        <td>value 3:6</td>
                        <td>value 3:7</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--/Data Tables - Simple-->

        </div>


        <h3>
            Data Tables - Simple w/ optional zebra striping
        </h3>

        <div class="bottom-offset-20">
            <!--Data Tables - Simple w/ optional zebra striping-->

            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Column 1</th>
                        <th>Column 2</th>
                        <th>Column 3</th>
                        <th>Column 4</th>
                        <th>Column 5</th>
                        <th>Column 6</th>
                        <th>Column 7</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>value 1:2</td>
                        <td><a href="javascript:;">value 1:3</a></td>
                        <td>value 1:4</td>
                        <td>value 1:5</td>
                        <td>value 1:6</td>
                        <td>value 1:7</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>value 2:2</td>
                        <td>value 2:3</td>
                        <td><a href="javascript:;">value 2:4</a></td>
                        <td>value 2:5</td>
                        <td>value 2:6</td>
                        <td>value 2:7</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>value 3:2</td>
                        <td>value 3:3</td>
                        <td>value 3:4</td>
                        <td>value 3:5</td>
                        <td>value 3:6</td>
                        <td>value 3:7</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--/Data Tables - Simple w/ optional zebra striping-->

        </div>



        <h3>
            Data Tables - Responsive Simple Table
        </h3>

        <div class="bottom-offset-20">
            <!--Data Tables - Responsive Simple Table-->

            <div id="responsive-simple-table" class="" responsive-table="#responsive-simple-table ">
                <!--<table class="table table-hover table-striped">-->

                <table>
                    <thead>
                    <tr>
                        <th>Column 1</th>
                        <th>Column 2</th>
                        <th>Column 3</th>
                        <th>Column 4</th>
                        <th>Column 5</th>
                        <th>Column 6</th>
                        <th>Column 7</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>value 1:2</td>
                        <td><a href="javascript:;">value 1:3</a></td>
                        <td>value 1:4</td>
                        <td>value 1:5</td>
                        <td>value 1:6</td>
                        <td>value 1:7</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>value 2:2</td>
                        <td>value 2:3</td>
                        <td><a href="javascript:;">value 2:4</a></td>
                        <td>value 2:5</td>
                        <td>value 2:6</td>
                        <td>value 2:7</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>value 3:2</td>
                        <td>value 3:3</td>
                        <td>value 3:4</td>
                        <td>value 3:5</td>
                        <td>value 3:6</td>
                        <td>value 3:7</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--/Data Tables - Responsive Simple Table-->


        </div>



    </div>

</section>
