// ================== Datatables bootstrap ====================
div.dataTables_length {
    label {
        font-weight: normal;
        text-align: left;
        white-space: nowrap;
    }
    select {
        width: 75px;
        display: inline-block;
    }
}
div.dataTables_filter {
    text-align: right;
    label {
        font-weight: normal;
        white-space: nowrap;
        text-align: left;
    }
    input {
        margin-left: 0.5em;
        display: inline-block;
        width: auto;
    }
}
div.dataTables_info {
    padding-top: 8px;
    white-space: nowrap;
}
div.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right;
    ul.pagination {
        margin: 2px 0;
        white-space: nowrap;
    }
}

// ========== modified ============
@media screen and (max-width: 767px) {
    div.dataTables_wrapper > div.row > div,
    div.dataTables_length,
    div.dataTables_filter,
    div.dataTables_info,
    div.dataTables_paginate {
        text-align: left; //modified from center
    }
    div.DTTT {
        margin-bottom: 0.5em;
    }
}
// ========== /modified ============



// ====== doubling happening here ===========
table.dataTable td,table.dataTable th {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}



// =========== adding bootstrap sort icons  ==========
table.dataTable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    thead {
        .sorting:after {
            //opacity: 0.2;
            content: "\e150";
            color: @dell-blue;
        }
        .sorting_asc:after {
            content: "\e155";
            color: @dell-blue;
        }
        .sorting_desc:after {
            content: "\e156";
            color: @dell-blue;
        }
        & > tr {
            & > th {
                padding-right: 30px;
            }
        }
    }
    th:active {
        outline: none;
    }
}

table.dataTable thead .sorting,table.dataTable thead .sorting_asc,table.dataTable thead .sorting_desc,table.dataTable thead .sorting_asc_disabled,table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
    position: relative;
}
table.dataTable thead .sorting:after,table.dataTable thead .sorting_asc:after,table.dataTable thead .sorting_desc:after {
    position: absolute;
    top: 8px;
    right: 8px;
    display: block;
    font-family: 'Glyphicons Halflings';
    opacity: 0.8;
}
div.dataTables_scrollBody table.dataTable thead .sorting:after,div.dataTables_scrollBody table.dataTable thead .sorting_asc:after,div.dataTables_scrollBody table.dataTable thead .sorting_desc:after {
    display: none;
}
table.dataTable thead .sorting_asc_disabled:after,table.dataTable thead .sorting_desc_disabled:after {
    color: #eee;
}
table.dataTable.table-condensed {
    thead {
        & > tr {
            & > th {
                padding-right: 20px;
            }
        }
    }
}
table.dataTable.table-condensed thead .sorting:after,table.dataTable.table-condensed thead .sorting_asc:after,table.dataTable.table-condensed thead .sorting_desc:after {
    top: 6px;
    right: 6px;
}
// =========== adding bootstrap sort icons  ==========

div.dataTables_scrollHead {
    table {
        margin-bottom: 0 !important;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    table.table-bordered {
        border-bottom-width: 0;
    }
}

//=================================

div.dataTables_scrollHead table thead tr:last-child th:first-child,div.dataTables_scrollHead table thead tr:last-child td:first-child {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
div.dataTables_scrollBody {
    table {
        border-top: none;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}
div.dataTables_scrollBody tbody tr:first-child th,div.dataTables_scrollBody tbody tr:first-child td {
    border-top: none;
}
div.dataTables_scrollFoot {
    table {
        margin-top: 0 !important;
        border-top: none;
    }
}
table.table-bordered.dataTable {
    border-collapse: separate !important;
}
table.table-bordered thead th,table.table-bordered thead td {
    border-left-width: 0;
    border-top-width: 0;
}
table.table-bordered tbody th,table.table-bordered tbody td {
    border-left-width: 0;
    border-bottom-width: 0;
}
table.table-bordered tfoot th,table.table-bordered tfoot td {
    border-left-width: 0;
    border-bottom-width: 0;
}
table.table-bordered th:last-child,table.table-bordered td:last-child {
    border-right-width: 0;
}
.table.dataTable tbody tr.active td,.table.dataTable tbody tr.active th {
    background-color: #08C;
    color: white;
}
.table.dataTable tbody tr.active:hover td,.table.dataTable tbody tr.active:hover th {
    background-color: #0075b0 !important;
}
.table.dataTable tbody tr.active th &>a,.table.dataTable tbody tr.active td &>a {
    color: white;
}
.table-striped.dataTable tbody tr.active:nth-child(odd) td,.table-striped.dataTable tbody tr.active:nth-child(odd) th {
    background-color: #017ebc;
}

//=================================
//=================================
table.DTTT_selectable {
    tbody {
        tr {
            cursor: pointer;
        }
    }
}

div.DTTT {
    .btn:hover {
        text-decoration: none !important;
    }
}
ul.DTTT_dropdown.dropdown-menu {
    z-index: 2003;
    a {
        color: #333 !important;
    }
    li {
        position: relative;
    }
    li:hover {
        a {
            background-color: #0088cc;
            color: white !important;
        }
    }
}
//=================================
//=================================

div.DTTT_collection_background {
    z-index: 2002;
}
div.DTTT_print_info {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 150px;
    margin-left: -200px;
    margin-top: -75px;
    text-align: center;
    color: #333;
    padding: 10px 30px;
    opacity: 0.95;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
    h6 {
        font-weight: normal;
        font-size: 28px;
        line-height: 28px;
        margin: 1em;
    }
    p {
        font-size: 14px;
        line-height: 20px;
    }
}
//=================================
//======================================

div.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 60px;
    margin-left: -50%;
    margin-top: -25px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 1.2em;
    background-color: white;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(25%, rgba(255,255,255,0.9)), color-stop(75%, rgba(255,255,255,0.9)), color-stop(100%, rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
}


div.DTFC_LeftHeadWrapper table,div.DTFC_LeftFootWrapper table,div.DTFC_RightHeadWrapper table,div.DTFC_RightFootWrapper table,table.DTFC_Cloned tr.even {
    background-color: white;
    margin-bottom: 0;
}
div.DTFC_RightHeadWrapper table ,div.DTFC_LeftHeadWrapper table {
    border-bottom: none !important;
    margin-bottom: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
div.DTFC_RightHeadWrapper table thead tr:last-child th:first-child,div.DTFC_RightHeadWrapper table thead tr:last-child td:first-child,div.DTFC_LeftHeadWrapper table thead tr:last-child th:first-child,div.DTFC_LeftHeadWrapper table thead tr:last-child td:first-child {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}


div.DTFC_RightBodyWrapper table,div.DTFC_LeftBodyWrapper table {
    border-top: none;
    margin: 0 !important;
}
div.DTFC_RightBodyWrapper tbody tr:first-child th,div.DTFC_RightBodyWrapper tbody tr:first-child td,div.DTFC_LeftBodyWrapper tbody tr:first-child th,div.DTFC_LeftBodyWrapper tbody tr:first-child td {
    border-top: none;
}
div.DTFC_RightFootWrapper table,div.DTFC_LeftFootWrapper table {
    border-top: none;
    margin-top: 0 !important;
}
div.DTFC_LeftBodyWrapper table.dataTable thead .sorting:after,div.DTFC_LeftBodyWrapper table.dataTable thead .sorting_asc:after,div.DTFC_LeftBodyWrapper table.dataTable thead .sorting_desc:after,div.DTFC_RightBodyWrapper table.dataTable thead .sorting:after,div.DTFC_RightBodyWrapper table.dataTable thead .sorting_asc:after,div.DTFC_RightBodyWrapper table.dataTable thead .sorting_desc:after {
    display: none;
}

//==== fixes doubling =============
div.FixedHeader_Cloned {
    table {
        margin: 0 !important;
    }
}
//======================================
//======================================

/*
 * Table styles
 */
table.dataTable {
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
}

//======================================
//======================================
table.dataTable thead th,
table.dataTable tfoot th {
    font-weight: bold;
}
table.dataTable thead th,
table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 1px solid @dell-gray;
}
table.dataTable thead th:active,
table.dataTable thead td:active {
    outline: none;
}
table.dataTable tfoot th,
table.dataTable tfoot td {
    padding: 10px 18px 6px 18px;
    border-top: 1px solid @dell-gray;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    cursor: pointer;
    *cursor: hand;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background-repeat: no-repeat;
    background-position: center right;
}

//======================================

//================= disable sort.png =====================
table.dataTable thead .sorting {
    background-image: none;
}
table.dataTable thead .sorting_asc {
    background-image: none;

}
table.dataTable thead .sorting_desc {
    background-image: none;

}
table.dataTable thead .sorting_asc_disabled {
    background-image: none;

}
table.dataTable thead .sorting_desc_disabled {
    background-image: none;
}
//================= /disable sort.png =====================

//============= commented out ===============
//table.dataTable tbody tr {
//    background-color: #ffffff;
//}
//table.dataTable tbody tr.selected {
//    background-color: #B0BED9;
//}
//table.dataTable tbody th,
//table.dataTable tbody td {
//    padding: 8px 10px;
//}
//table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
//    border-top: 1px solid #ddd;
//}
//table.dataTable.row-border tbody tr:first-child th,
//table.dataTable.row-border tbody tr:first-child td, table.dataTable.display tbody tr:first-child th,
//table.dataTable.display tbody tr:first-child td {
//    border-top: none;
//}
//table.dataTable.cell-border tbody th, table.dataTable.cell-border tbody td {
//    border-top: 1px solid #ddd;
//    border-right: 1px solid #ddd;
//}
//table.dataTable.cell-border tbody tr th:first-child,
//table.dataTable.cell-border tbody tr td:first-child {
//    border-left: 1px solid #ddd;
//}
//table.dataTable.cell-border tbody tr:first-child th,
//table.dataTable.cell-border tbody tr:first-child td {
//    border-top: none;
//}
//table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
//    background-color: #f9f9f9;
//}
//table.dataTable.stripe tbody tr.odd.selected, table.dataTable.display tbody tr.odd.selected {
//    background-color: #abb9d3;
//}
//table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
//    background-color: whitesmoke;
//}
//table.dataTable.hover tbody tr:hover.selected, table.dataTable.display tbody tr:hover.selected {
//    background-color: #a9b7d1;
//}
//table.dataTable.order-column tbody tr > .sorting_1,
//table.dataTable.order-column tbody tr > .sorting_2,
//table.dataTable.order-column tbody tr > .sorting_3, table.dataTable.display tbody tr > .sorting_1,
//table.dataTable.display tbody tr > .sorting_2,
//table.dataTable.display tbody tr > .sorting_3 {
//    background-color: #f9f9f9;
//}
//table.dataTable.order-column tbody tr.selected > .sorting_1,
//table.dataTable.order-column tbody tr.selected > .sorting_2,
//table.dataTable.order-column tbody tr.selected > .sorting_3, table.dataTable.display tbody tr.selected > .sorting_1,
//table.dataTable.display tbody tr.selected > .sorting_2,
//table.dataTable.display tbody tr.selected > .sorting_3 {
//    background-color: #acbad4;
//}
//table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
//    background-color: #f1f1f1;
//}
//table.dataTable.display tbody tr.odd > .sorting_2, table.dataTable.order-column.stripe tbody tr.odd > .sorting_2 {
//    background-color: #f3f3f3;
//}
//table.dataTable.display tbody tr.odd > .sorting_3, table.dataTable.order-column.stripe tbody tr.odd > .sorting_3 {
//    background-color: whitesmoke;
//}
//table.dataTable.display tbody tr.odd.selected > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_1 {
//    background-color: #a6b3cd;
//}
//table.dataTable.display tbody tr.odd.selected > .sorting_2, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_2 {
//    background-color: #a7b5ce;
//}
//table.dataTable.display tbody tr.odd.selected > .sorting_3, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_3 {
//    background-color: #a9b6d0;
//}
//table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
//    background-color: #f9f9f9;
//}
//table.dataTable.display tbody tr.even > .sorting_2, table.dataTable.order-column.stripe tbody tr.even > .sorting_2 {
//    background-color: #fbfbfb;
//}
//table.dataTable.display tbody tr.even > .sorting_3, table.dataTable.order-column.stripe tbody tr.even > .sorting_3 {
//    background-color: #fdfdfd;
//}
//table.dataTable.display tbody tr.even.selected > .sorting_1, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_1 {
//    background-color: #acbad4;
//}
//table.dataTable.display tbody tr.even.selected > .sorting_2, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_2 {
//    background-color: #adbbd6;
//}
//table.dataTable.display tbody tr.even.selected > .sorting_3, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_3 {
//    background-color: #afbdd8;
//}
//table.dataTable.display tbody tr:hover > .sorting_1, table.dataTable.order-column.hover tbody tr:hover > .sorting_1 {
//    background-color: #eaeaea;
//}
//table.dataTable.display tbody tr:hover > .sorting_2, table.dataTable.order-column.hover tbody tr:hover > .sorting_2 {
//    background-color: #ebebeb;
//}
//table.dataTable.display tbody tr:hover > .sorting_3, table.dataTable.order-column.hover tbody tr:hover > .sorting_3 {
//    background-color: #eeeeee;
//}
//table.dataTable.display tbody tr:hover.selected > .sorting_1, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_1 {
//    background-color: #a1aec7;
//}
//table.dataTable.display tbody tr:hover.selected > .sorting_2, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_2 {
//    background-color: #a2afc8;
//}
//table.dataTable.display tbody tr:hover.selected > .sorting_3, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_3 {
//    background-color: #a4b2cb;
//}
//
//table.dataTable.nowrap th, table.dataTable.nowrap td {
//    white-space: nowrap;
//}
//table.dataTable.compact thead th,
//table.dataTable.compact thead td {
//    padding: 4px 17px 4px 4px;
//}
//table.dataTable.compact tfoot th,
//table.dataTable.compact tfoot td {
//    padding: 4px;
//}
//table.dataTable.compact tbody th,
//table.dataTable.compact tbody td {
//    padding: 4px;
//}
//table.dataTable th.dt-left,
//table.dataTable td.dt-left {
//    text-align: left;
//}
//table.dataTable th.dt-center,
//table.dataTable td.dt-center,
//table.dataTable td.dataTables_empty {
//    text-align: center;
//}
//table.dataTable th.dt-right,
//table.dataTable td.dt-right {
//    text-align: right;
//}
//table.dataTable th.dt-justify,
//table.dataTable td.dt-justify {
//    text-align: justify;
//}
//table.dataTable th.dt-nowrap,
//table.dataTable td.dt-nowrap {
//    white-space: nowrap;
//}
//table.dataTable thead th.dt-head-left,
//table.dataTable thead td.dt-head-left,
//table.dataTable tfoot th.dt-head-left,
//table.dataTable tfoot td.dt-head-left {
//    text-align: left;
//}
//table.dataTable thead th.dt-head-center,
//table.dataTable thead td.dt-head-center,
//table.dataTable tfoot th.dt-head-center,
//table.dataTable tfoot td.dt-head-center {
//    text-align: center;
//}
//table.dataTable thead th.dt-head-right,
//table.dataTable thead td.dt-head-right,
//table.dataTable tfoot th.dt-head-right,
//table.dataTable tfoot td.dt-head-right {
//    text-align: right;
//}
//table.dataTable thead th.dt-head-justify,
//table.dataTable thead td.dt-head-justify,
//table.dataTable tfoot th.dt-head-justify,
//table.dataTable tfoot td.dt-head-justify {
//    text-align: justify;
//}
//table.dataTable thead th.dt-head-nowrap,
//table.dataTable thead td.dt-head-nowrap,
//table.dataTable tfoot th.dt-head-nowrap,
//table.dataTable tfoot td.dt-head-nowrap {
//    white-space: nowrap;
//}
//table.dataTable tbody th.dt-body-left,
//table.dataTable tbody td.dt-body-left {
//    text-align: left;
//}
//table.dataTable tbody th.dt-body-center,
//table.dataTable tbody td.dt-body-center {
//    text-align: center;
//}
//table.dataTable tbody th.dt-body-right,
//table.dataTable tbody td.dt-body-right {
//    text-align: right;
//}
//table.dataTable tbody th.dt-body-justify,
//table.dataTable tbody td.dt-body-justify {
//    text-align: justify;
//}
//table.dataTable tbody th.dt-body-nowrap,
//table.dataTable tbody td.dt-body-nowrap {
//    white-space: nowrap;
//}
//
//table.dataTable,
//table.dataTable th,
//table.dataTable td {
//    -webkit-box-sizing: content-box;
//    -moz-box-sizing: content-box;
//    box-sizing: content-box;
//}

/*
 * Control feature layout
 */
//.dataTables_wrapper {
//    position: relative;
//    clear: both;
//    *zoom: 1;
//    zoom: 1;
//}
//.dataTables_wrapper .dataTables_length {
//    float: left;
//}
//.dataTables_wrapper .dataTables_filter {
//    float: right;
//    text-align: right;
//}
//.dataTables_wrapper .dataTables_filter input {
//    margin-left: 0.5em;
//}
//.dataTables_wrapper .dataTables_info {
//    clear: both;
//    float: left;
//    padding-top: 0.755em;
//}
//.dataTables_wrapper .dataTables_paginate {
//    float: right;
//    text-align: right;
//    padding-top: 0.25em;
//}
//.dataTables_wrapper .dataTables_paginate .paginate_button {
//    box-sizing: border-box;
//    display: inline-block;
//    min-width: 1.5em;
//    padding: 0.5em 1em;
//    margin-left: 2px;
//    text-align: center;
//    text-decoration: none !important;
//    cursor: pointer;
//    *cursor: hand;
//    color: #333 !important;
//    border: 1px solid transparent;
//}
//.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
//    color: #333 !important;
//    border: 1px solid #cacaca;
//    background-color: white;
//    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #dcdcdc));
//    /* Chrome,Safari4+ */
//    background: -webkit-linear-gradient(top, white 0%, #dcdcdc 100%);
//    /* Chrome10+,Safari5.1+ */
//    background: -moz-linear-gradient(top, white 0%, #dcdcdc 100%);
//    /* FF3.6+ */
//    background: -ms-linear-gradient(top, white 0%, #dcdcdc 100%);
//    /* IE10+ */
//    background: -o-linear-gradient(top, white 0%, #dcdcdc 100%);
//    /* Opera 11.10+ */
//    background: linear-gradient(to bottom, white 0%, #dcdcdc 100%);
//    /* W3C */
//}
//.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
//    cursor: default;
//    color: #666 !important;
//    border: 1px solid transparent;
//    background: transparent;
//    box-shadow: none;
//}
//.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
//    color: white !important;
//    border: 1px solid #111;
//    background-color: #585858;
//    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));
//    /* Chrome,Safari4+ */
//    background: -webkit-linear-gradient(top, #585858 0%, #111 100%);
//    /* Chrome10+,Safari5.1+ */
//    background: -moz-linear-gradient(top, #585858 0%, #111 100%);
//    /* FF3.6+ */
//    background: -ms-linear-gradient(top, #585858 0%, #111 100%);
//    /* IE10+ */
//    background: -o-linear-gradient(top, #585858 0%, #111 100%);
//    /* Opera 11.10+ */
//    background: linear-gradient(to bottom, #585858 0%, #111 100%);
//    /* W3C */
//}
//.dataTables_wrapper .dataTables_paginate .paginate_button:active {
//    outline: none;
//    background-color: #2b2b2b;
//    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c));
//    /* Chrome,Safari4+ */
//    background: -webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
//    /* Chrome10+,Safari5.1+ */
//    background: -moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
//    /* FF3.6+ */
//    background: -ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
//    /* IE10+ */
//    background: -o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
//    /* Opera 11.10+ */
//    background: linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%);
//    /* W3C */
//    box-shadow: inset 0 0 3px #111;
//}
//.dataTables_wrapper .dataTables_paginate .ellipsis {
//    padding: 0 1em;
//}
//.dataTables_wrapper .dataTables_processing {
//    position: absolute;
//    top: 50%;
//    left: 50%;
//    width: 100%;
//    height: 40px;
//    margin-left: -50%;
//    margin-top: -25px;
//    padding-top: 20px;
//    text-align: center;
//    font-size: 1.2em;
//    background-color: white;
//    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0.9)), color-stop(75%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
//    /* Chrome,Safari4+ */
//    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
//    /* Chrome10+,Safari5.1+ */
//    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
//    /* FF3.6+ */
//    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
//    /* IE10+ */
//    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
//    /* Opera 11.10+ */
//    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
//    /* W3C */
//}
//.dataTables_wrapper .dataTables_length,
//.dataTables_wrapper .dataTables_filter,
//.dataTables_wrapper .dataTables_info,
//.dataTables_wrapper .dataTables_processing,
//.dataTables_wrapper .dataTables_paginate {
//    color: #333;
//}
//.dataTables_wrapper .dataTables_scroll {
//    clear: both;
//}
//.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
//    *margin-top: -1px;
//    -webkit-overflow-scrolling: touch;
//}
//.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody th > div.dataTables_sizing,
//.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody td > div.dataTables_sizing {
//    height: 0;
//    overflow: auto;
//    margin: 0 ;
//    padding: 0 ;
//}
//.dataTables_wrapper.no-footer .dataTables_scrollBody {
//    border-bottom: 1px solid #111;
//}
//.dataTables_wrapper.no-footer div.dataTables_scrollHead table,
//.dataTables_wrapper.no-footer div.dataTables_scrollBody table {
//    border-bottom: none;
//}
//.dataTables_wrapper:after {
//    visibility: hidden;
//    display: block;
//    content: "";
//    clear: both;
//    height: 0;
//}

//@media screen and (max-width: 767px) {
//    .dataTables_wrapper .dataTables_info,
//    .dataTables_wrapper .dataTables_paginate {
//        float: none;
//        text-align: center;
//    }
//    .dataTables_wrapper .dataTables_paginate {
//        margin-top: 0.5em;
//    }
//}
//@media screen and (max-width: 640px) {
//    .dataTables_wrapper .dataTables_length,
//    .dataTables_wrapper .dataTables_filter {
//        float: none;
//        text-align: center;
//    }
//    .dataTables_wrapper .dataTables_filter {
//        margin-top: 0.5em;
//    }
//}

//============= commented out =============






div.FixedHeader_Cloned th,
div.FixedHeader_Cloned td {
    background-color: white !important;
}

table.dataTable.no-footer {
    border-bottom: none;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: none;
}

/* =============== Modifications for Dell ui triangle toggles styles =============== */
//table.dataTable thead .sorting_asc:after {
//    color: @dell-blue;
//    content: "\e253";
//    opacity: 1;
//}
//table.dataTable thead .sorting_desc:after {
//    color: @dell-blue;
//    content: "\e252";
//    opacity: 1;
//}
//table.dataTable thead .sorting:after {
//    color: @dell-blue;
//    content: "\e252";
//    opacity: 0.5;
//}
/* =============== /Modifications for Dell ui triangle toggles styles =============== */

/* ====== create pagination/pager styling  =========*/
.dataTables_paginate .pagination > li > a,
.dataTables_paginate .pagination > li > a:hover,
.dataTables_paginate .pagination > li > a:focus,
.dataTables_paginate .pagination > li.active > a {
    float: none;
    background: none;
    border: none;
    outline: none;
    border-radius: none;
    color: @dell-blue;
}

/* ========== DataTables code ============ */
.dataTables_paginate span.icon-ui-arrowright,
.dataTables_paginate span.icon-ui-arrowleft{
    top: 2px;
    position: relative;
}

.dataTables_paginate > .pagination > .btn.btn-default.next,
.dataTables_paginate > .pagination > .btn.btn-default.previous,
.dataTables_paginate > .pagination > .btn.btn-default.first,
.dataTables_paginate > .pagination > .btn.btn-default.last {
    padding: 8px 6px;
    margin: 0 2px;
}

.DTFC_LeftHeadWrapper table.dataTable thead th,
.dataTables_scrollHead table.dataTable thead th {
    border-bottom: 1px solid @dell-gray;
    //white-space: nowrap;
    //min-width: 150px;
}
.dataTables_scrollBody {
    padding-left: 10px;
    white-space: nowrap;
}

.DTFC_ScrollWrapper {
    padding-left: 5px;
    white-space: nowrap;
}

/* Ensure that the demo table scrolls */
.DTFC_LeftBodyWrapper table.dataTable td,
.DTFC_LeftHeadWrapper table.dataTable th {
    border-right: 1px solid @dell-gray;
    //white-space: inherit;
}
/* ========== /DataTables code ============ */

/* Block out the gap above the scrollbar on the right, when there is a fixed right column */
div.DTFC_Blocker {
    background-color: white;
}
div.DTFC_LeftWrapper table.dataTable,
div.DTFC_RightWrapper table.dataTable {
    margin-bottom: 0;
    z-index: 2;
}
div.DTFC_LeftWrapper table.dataTable.no-footer,
div.DTFC_RightWrapper table.dataTable.no-footer {
    border-bottom: none;
}
/* ======= /required for fixed column ======== */

/* Block out what is behind the fixed column's header and footer */
table.DTFC_Cloned thead,
table.DTFC_Cloned tfoot {
    background-color: white;
}



// =================== code for DataTable responsive =========================
// ===========================================================================
table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}
table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
    top: 8px;
    left: 4px;
    height: 16px;
    width: 16px;
    display: block;
    position: absolute;
    color: white;
    border: 2px solid white;
    border-radius: 16px;
    text-align: center;
    line-height: 14px;
    box-shadow: 0 0 3px #444;
    box-sizing: content-box;
    content: '+';
    background-color: #31b131;
}
table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child.dataTables_empty:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child.dataTables_empty:before {
    display: none;
}
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child:before {
    content: '-';
    background-color: #d33333;
}
table.dataTable.dtr-inline.collapsed > tbody > tr.child td:before {
    display: none;
}
table.dataTable.dtr-inline.collapsed.compact > tbody > tr > td:first-child,
table.dataTable.dtr-inline.collapsed.compact > tbody > tr > th:first-child {
    padding-left: 27px;
}
table.dataTable.dtr-inline.collapsed.compact > tbody > tr > td:first-child:before,
table.dataTable.dtr-inline.collapsed.compact > tbody > tr > th:first-child:before {
    top: 5px;
    left: 4px;
    height: 14px;
    width: 14px;
    border-radius: 14px;
    line-height: 12px;
}
table.dataTable.dtr-column > tbody > tr > td.control,
table.dataTable.dtr-column > tbody > tr > th.control {
    position: relative;
    cursor: pointer;
}
table.dataTable.dtr-column > tbody > tr > td.control:before,
table.dataTable.dtr-column > tbody > tr > th.control:before {
    top: 50%;
    left: 50%;
    height: 16px;
    width: 16px;
    margin-top: -10px;
    margin-left: -10px;
    display: block;
    position: absolute;
    color: white;
    border: 2px solid white;
    border-radius: 16px;
    text-align: center;
    line-height: 14px;
    box-shadow: 0 0 3px #444;
    box-sizing: content-box;
    content: '+';
    background-color: #31b131;
}
table.dataTable.dtr-column > tbody > tr.parent td.control:before,
table.dataTable.dtr-column > tbody > tr.parent th.control:before {
    content: '-';
    background-color: #d33333;
}
table.dataTable > tbody > tr.child {
    padding: 0.5em 1em;
}
table.dataTable > tbody > tr.child:hover {
    background: transparent !important;
}
table.dataTable > tbody > tr.child ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
table.dataTable > tbody > tr.child ul li {
    border-bottom: 1px solid #efefef;
    padding: 0.5em 0;
}
table.dataTable > tbody > tr.child ul li:first-child {
    padding-top: 0;
}
table.dataTable > tbody > tr.child ul li:last-child {
    border-bottom: none;
}
table.dataTable > tbody > tr.child span.dtr-title {
    display: inline-block;
    min-width: 75px;
    font-weight: bold;
}




// ========================== duplicate code trying to get show/hide working ===============
// =========================================================================================



// ========================== /duplicate code trying to get show/hide working ===============
// =========================================================================================





// ================= Code for the Responsive Simple Table =====================
// ============================================================================
table.table-responsive td:before {
    display: none;
}
@media (max-width: 767px) {
    /*
    Generic Styling, for Desktops/Laptops
    */
    table.table-responsive {
        width: 100%;
        border-collapse: collapse;
    }
    table.table-responsive {
        th {
            background: #333;
            color: white;
            font-weight: bold;
            padding: 6px;
            //border: 1px solid #ccc;
            text-align: left;
        }
        td {
            padding: 6px;
            border: 1px solid #ccc;
            text-align: left;
        }
    }
    /* Force table to not be like tables anymore */
    table.table-responsive,
    table.table-responsive thead {
        ///* Hide table headers (but not display: none;, for accessibility) */
        > tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
    }
    table.table-responsive tbody,
    table.table-responsive th,
    table.table-responsive td,
    table.table-responsive tr {
        display: block;
        overflow: hidden;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        /* BELOW THREE STATEMENTS NEEDED FOR IE9 AND BELOW */
        float: left;
        clear: left;
        width: 100%;
    }
    table.table-responsive td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50% !important;
        &:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
            font-weight: bold;
            display: block;
        }
    }
}
// ================= /Code for the Responsive Simple Table =====================
// =============================================================================



// ================= Code for complex and column select Table =====================
// ================================================================================
td.details-control {
    position: relative;
    top: 0px;
    right: 0px;
    display: block;
    font-family: icon-ui;
    opacity: 0.8;
    background: none !important;
    &:after {
        content: "\e610";
        color: @dell-blue;
    }
}
tr.shown td.details-control {
    position: relative;
    top: 0px;
    right: 0px;
    display: block;
    font-family: icon-ui;
    opacity: 0.8;
    background: none !important;
    &:after {
        content: "\e60e";
        color: @dell-blue;
    }
}


div#example-dt-complex_filter,
div#example-rdt_filter {
    text-align: left;
}


// ================= /Code for complex and column select Table =====================
// ================================================================================




// =========================== Code for Column Visible  ===========================
// ================================================================================
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * ColVis styles
 */
div.ColVis {
    float: right;
    margin-bottom: 1em;
}

button.ColVis_Button,
ul.ColVis_collection li {
    position: relative;
    float: left;
    margin-right: 3px;
    padding: 5px 8px;
    border: 1px solid #999;
    cursor: pointer;
    *cursor: hand;
    font-size: 0.88em;
    color: black !important;
    white-space: nowrap;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;

    -webkit-box-shadow: 1px 1px 3px #ccc;
    -moz-box-shadow: 1px 1px 3px #ccc;
    -ms-box-shadow: 1px 1px 3px #ccc;
    -o-box-shadow: 1px 1px 3px #ccc;
    box-shadow: 1px 1px 3px #ccc;

    /* Generated by http://www.colorzilla.com/gradient-editor/ */
    background: #ffffff; /* Old browsers */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */
    background:    -moz-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* FF3.6+ */
    background:     -ms-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* IE10+ */
    background:      -o-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* Opera 11.10+ */
    background:         linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
}

.ColVis_Button:hover,
ul.ColVis_collection li:hover {
    border: 1px solid #666;
    text-decoration: none !important;

    -webkit-box-shadow: 1px 1px 3px #999;
    -moz-box-shadow: 1px 1px 3px #999;
    -ms-box-shadow: 1px 1px 3px #999;
    -o-box-shadow: 1px 1px 3px #999;
    box-shadow: 1px 1px 3px #999;

    background: #f3f3f3; /* Old browsers */
    background: -webkit-linear-gradient(top, #f3f3f3 0%,#e2e2e2 89%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
    background:    -moz-linear-gradient(top, #f3f3f3 0%,#e2e2e2 89%,#f4f4f4 100%); /* FF3.6+ */
    background:     -ms-linear-gradient(top, #f3f3f3 0%,#e2e2e2 89%,#f4f4f4 100%); /* IE10+ */
    background:      -o-linear-gradient(top, #f3f3f3 0%,#e2e2e2 89%,#f4f4f4 100%); /* Opera 11.10+ */
    background:         linear-gradient(top, #f3f3f3 0%,#e2e2e2 89%,#f4f4f4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
}

button.ColVis_Button {
    height: 30px;
    padding: 3px 8px;
}

button.ColVis_Button::-moz-focus-inner {
    border: none !important;
    padding: 0;
}

button.ColVis_Button:active {
    outline: none;
}


div.ColVis_collectionBackground {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 1100;
}

ul.ColVis_collection {
    list-style: none;
    width: 150px;
    padding: 8px 8px 4px 8px;
    margin: 0;
    border: 1px solid #ccc;
    border: 1px solid rgba( 0, 0, 0, 0.4 );
    background-color: #f3f3f3;
    background-color: rgba( 255, 255, 255, 0.3 );
    overflow: hidden;
    z-index: 2002;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;

    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

ul.ColVis_collection li {
    position: relative;
    height: auto;
    left: 0;
    right: 0;
    padding: 0.5em;

    display: block;
    float: none;
    margin-bottom: 4px;

    -webkit-box-shadow: 1px 1px 3px #999;
    -moz-box-shadow: 1px 1px 3px #999;
    -ms-box-shadow: 1px 1px 3px #999;
    -o-box-shadow: 1px 1px 3px #999;
    box-shadow: 1px 1px 3px #999;
}

ul.ColVis_collection li {
    text-align: left;
}

ul.ColVis_collection li.ColVis_Button:hover {
    border: 1px solid #999;
    background-color: #f0f0f0;
}

ul.ColVis_collection li span {
    display: inline-block;
    padding-left: 0.5em;
    cursor: pointer;
}


ul.ColVis_collection li.ColVis_Special {
    border-color: #555;
    background: rgb(237,237,237); /* Old browsers */
    background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(214,214,214,1) 77%,rgba(232,232,232,1) 100%); /* Chrome10+,Safari5.1+ */
    background:    -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(214,214,214,1) 77%, rgba(232,232,232,1) 100%); /* FF3.6+ */
    background:     -ms-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(214,214,214,1) 77%,rgba(232,232,232,1) 100%); /* IE10+ */
    background:      -o-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(214,214,214,1) 77%,rgba(232,232,232,1) 100%); /* Opera 11.10+ */
    background:         linear-gradient(to bottom, rgba(237,237,237,1) 0%,rgba(214,214,214,1) 77%,rgba(232,232,232,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-9 */
}

ul.ColVis_collection li.ColVis_Special:hover {
    background: #e2e2e2; /* Old browsers */
    background: -webkit-linear-gradient(top, #d0d0d0 0%,#d5d5d5 89%,#e2e2e2 100%); /* Chrome10+,Safari5.1+ */
    background:    -moz-linear-gradient(top, #d0d0d0 0%,#d5d5d5 89%,#e2e2e2 100%); /* FF3.6+ */
    background:     -ms-linear-gradient(top, #d0d0d0 0%,#d5d5d5 89%,#e2e2e2 100%); /* IE10+ */
    background:      -o-linear-gradient(top, #d0d0d0 0%,#d5d5d5 89%,#e2e2e2 100%); /* Opera 11.10+ */
    background:         linear-gradient(top, #d0d0d0 0%,#d5d5d5 89%,#e2e2e2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */
}


span.ColVis_radio {
    display: inline-block;
    width: 20px;
}

div.ColVis_catcher {
    position: absolute;
    z-index: 1101;
}

.disabled {
    color: #999;
}

// =========================== /Code for Column Visible  ===========================
// ================================================================================
