/*  
 * Simple data tables - bootstrap css override
 */

@import "../bower_components/bootstrap-table/dist/bootstrap-table.min.css";

.table>thead>tr>th {
	color: #0085c3;
}

label {
	padding: 10px 10px 10px 20px;
}

.fixed-table-container tbody td {
	border-left: 0px;
}

.fixed-table-container thead th {
	border-left: 0px;
}

.fixed-table-container {
	border: 0px;
}