// ================== Datatables bootstrap ====================
div.dataTables_length {
    label {
        font-weight: normal;
        text-align: left;
        white-space: nowrap;
        float: left;
    }
    select {
        width: 75px;
        display: inline-block;
    }
}
div.dataTables_filter {
    text-align: right;
    label {
        font-weight: normal;
        white-space: nowrap;
        text-align: left;
        padding: 10px 0 10px 0;
    }
    input {
        margin-left: 0.5em;
        display: inline-block;
        width: auto;
    }
}
div.dataTables_info {
    padding-top: 8px;
    white-space: nowrap;
}
div.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right;
    ul.pagination {
        margin: 2px 0;
        white-space: nowrap;
        padding-right: 0;
    }
}
table.dataTable input{
    vertical-align: top;
}

// ========== modified ============
@media screen and (max-width: 767px) {
    div.dataTables_wrapper > div.row > div,
    div.dataTables_length,
    div.dataTables_filter,
    div.dataTables_info,
    div.dataTables_paginate {
        text-align: left; //modified from center
    }
    div.DTTT {
        margin-bottom: 0.5em;
    }
}
// ========== /modified ============



// ====== doubling happening here ===========
table.dataTable td,table.dataTable th {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}



// =========== adding bootstrap sort icons  ==========
//table.dataTable {
//    clear: both;
//    margin-top: 6px !important;
//    margin-bottom: 6px !important;
//    max-width: none !important;
//    thead {
//        .sorting:after {
//            //opacity: 0.2;
//            content: "\e150";
//            color: @dell-blue;
//        }
//        .sorting_asc:after {
//            content: "\e155";
//            color: @dell-blue;
//        }
//        .sorting_desc:after {
//            content: "\e156";
//            color: @dell-blue;
//        }
//        & > tr {
//            & > th {
//                padding-right: 30px;
//            }
//        }
//    }
//    th:active {
//        outline: none;
//    }
//}
//
//table.dataTable thead .sorting,table.dataTable thead .sorting_asc,table.dataTable thead .sorting_desc,table.dataTable thead .sorting_asc_disabled,table.dataTable thead .sorting_desc_disabled {
//    cursor: pointer;
//    position: relative;
//}
//table.dataTable thead .sorting:after,table.dataTable thead .sorting_asc:after,table.dataTable thead .sorting_desc:after {
//    position: absolute;
//    top: 8px;
//    right: 8px;
//    display: block;
//    font-family: 'Glyphicons Halflings';
//    opacity: 0.8;
//}
//div.dataTables_scrollBody table.dataTable thead .sorting:after,div.dataTables_scrollBody table.dataTable thead .sorting_asc:after,div.dataTables_scrollBody table.dataTable thead .sorting_desc:after {
//    display: none;
//}
//table.dataTable thead .sorting_asc_disabled:after,table.dataTable thead .sorting_desc_disabled:after {
//    color: #eee;
//}
//table.dataTable.table-condensed {
//    thead {
//        & > tr {
//            & > th {
//                padding-right: 20px;
//            }
//        }
//    }
//}
//table.dataTable.table-condensed thead .sorting:after,table.dataTable.table-condensed thead .sorting_asc:after,table.dataTable.table-condensed thead .sorting_desc:after {
//    top: 6px;
//    right: 6px;
//}
// =========== /adding bootstrap sort icons  ==========


// =========== adding FontAwesome sort icons  ==========
table.dataTable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    thead {
        .sorting:after {
            //opacity: 0.2;
            content: "\f0dc";
            color: #5AABD1;
        }
        .sorting_asc:after {
            content: "\f0de";
            color: @dell-blue;
        }
        .sorting_desc:after {
            content: "\f0dd";
            color: @dell-blue;
        }
        & > tr {
            & > th {
                padding-right: 15px;
            }
        }
    }
    th:active {
        outline: none;
    }
}

table.dataTable thead .sorting,table.dataTable thead .sorting_asc,table.dataTable thead .sorting_desc,table.dataTable thead .sorting_asc_disabled,table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
    position: relative;
}
table.dataTable thead .sorting:after,table.dataTable thead .sorting_asc:after,table.dataTable thead .sorting_desc:after {
    position: absolute;
    top: 10px;
    right: 3px;
    display: block;
    font-family: 'FontAwesome';
    opacity: 0.8;
}
div.dataTables_scrollBody table.dataTable thead .sorting:after,div.dataTables_scrollBody table.dataTable thead .sorting_asc:after,div.dataTables_scrollBody table.dataTable thead .sorting_desc:after {
    display: none;
}
table.dataTable thead .sorting_asc_disabled:after,table.dataTable thead .sorting_desc_disabled:after {
    color: #eee;
}
table.dataTable.table-condensed {
    thead {
        & > tr {
            & > th {
                padding-right: 20px;
            }
        }
    }
}
table.dataTable.table-condensed thead .sorting:after,table.dataTable.table-condensed thead .sorting_asc:after,table.dataTable.table-condensed thead .sorting_desc:after {
    top: 6px;
    right: 6px;
}
// =========== /adding FontAwesome sort icons  ==========





div.dataTables_scrollHead {
    table {
        margin-bottom: 0 !important;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    table.table-bordered {
        border-bottom-width: 0;
    }
}

//=================================

div.dataTables_scrollHead table thead tr:last-child th:first-child,div.dataTables_scrollHead table thead tr:last-child td:first-child {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
div.dataTables_scrollBody {
    table {
        border-top: none;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}
div.dataTables_scrollBody tbody tr:first-child th,div.dataTables_scrollBody tbody tr:first-child td {
    border-top: none;
}
div.dataTables_scrollFoot {
    table {
        margin-top: 0 !important;
        border-top: none;
    }
}
table.table-bordered.dataTable {
    border-collapse: separate !important;
}
table.table-bordered thead th,table.table-bordered thead td {
    border-left-width: 0;
    border-top-width: 0;
}
table.table-bordered tbody th,table.table-bordered tbody td {
    border-left-width: 0;
    border-bottom-width: 0;
}
table.table-bordered tfoot th,table.table-bordered tfoot td {
    border-left-width: 0;
    border-bottom-width: 0;
}
table.table-bordered th:last-child,table.table-bordered td:last-child {
    border-right-width: 0;
}
.table.dataTable tbody tr.active td,.table.dataTable tbody tr.active th {
    background-color: #08C;
    color: white;
}
.table.dataTable tbody tr.active:hover td,.table.dataTable tbody tr.active:hover th {
    background-color: #0075b0 !important;
}
.table.dataTable tbody tr.active th &>a,.table.dataTable tbody tr.active td &>a {
    color: white;
}
.table-striped.dataTable tbody tr.active:nth-child(odd) td,.table-striped.dataTable tbody tr.active:nth-child(odd) th {
    background-color: #017ebc;
}

//=================================
//=================================
table.DTTT_selectable {
    tbody {
        tr {
            cursor: pointer;
        }
    }
}

div.DTTT {
    .btn:hover {
        text-decoration: none !important;
    }
}
ul.DTTT_dropdown.dropdown-menu {
    z-index: 2003;
    a {
        color: #333 !important;
    }
    li {
        position: relative;
    }
    li:hover {
        a {
            background-color: #0088cc;
            color: white !important;
        }
    }
}
//=================================
//=================================

div.DTTT_collection_background {
    z-index: 2002;
}
div.DTTT_print_info {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 150px;
    margin-left: -200px;
    margin-top: -75px;
    text-align: center;
    color: #333;
    padding: 10px 30px;
    opacity: 0.95;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
    h6 {
        font-weight: normal;
        font-size: 28px;
        line-height: 28px;
        margin: 1em;
    }
    p {
        font-size: 14px;
        line-height: 20px;
    }
}
//=================================
//======================================

div.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 60px;
    margin-left: -50%;
    margin-top: -25px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 1.2em;
    background-color: white;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(25%, rgba(255,255,255,0.9)), color-stop(75%, rgba(255,255,255,0.9)), color-stop(100%, rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
}

div.DTFC_LeftHeadWrapper table,div.DTFC_LeftFootWrapper table,div.DTFC_RightHeadWrapper table,div.DTFC_RightFootWrapper table,table.DTFC_Cloned tr.even {
    background-color: white;
    margin-bottom: 0;
}
div.DTFC_RightHeadWrapper table ,div.DTFC_LeftHeadWrapper table {
    border-bottom: none !important;
    margin-bottom: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
div.DTFC_RightHeadWrapper table thead tr:last-child th:first-child,div.DTFC_RightHeadWrapper table thead tr:last-child td:first-child,div.DTFC_LeftHeadWrapper table thead tr:last-child th:first-child,div.DTFC_LeftHeadWrapper table thead tr:last-child td:first-child {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

div.DTFC_RightBodyWrapper table,div.DTFC_LeftBodyWrapper table {
    border-top: none;
    margin: 0 !important;
}
div.DTFC_RightBodyWrapper tbody tr:first-child th,div.DTFC_RightBodyWrapper tbody tr:first-child td,div.DTFC_LeftBodyWrapper tbody tr:first-child th,div.DTFC_LeftBodyWrapper tbody tr:first-child td {
    border-top: none;
}
div.DTFC_RightFootWrapper table,div.DTFC_LeftFootWrapper table {
    border-top: none;
    margin-top: 0 !important;
}
div.DTFC_LeftBodyWrapper table.dataTable thead .sorting:after,div.DTFC_LeftBodyWrapper table.dataTable thead .sorting_asc:after,div.DTFC_LeftBodyWrapper table.dataTable thead .sorting_desc:after,div.DTFC_RightBodyWrapper table.dataTable thead .sorting:after,div.DTFC_RightBodyWrapper table.dataTable thead .sorting_asc:after,div.DTFC_RightBodyWrapper table.dataTable thead .sorting_desc:after {
    display: none;
}

//==== fixes doubling =============
div.FixedHeader_Cloned {
    table {
        margin: 0 !important;
    }
}
//======================================
//======================================

/*
 * Table styles
 */
table.dataTable {
    width: 100% !important;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
}

table.dataTable thead th,
table.dataTable tfoot th {
    font-weight: bold;
    font-size: .9em;
}
table.dataTable thead th,
table.dataTable thead td {
    padding: 10px 8px;
    border-bottom: 1px solid @dell-gray;
}
table.dataTable thead th:active,
table.dataTable thead td:active {
    outline: none;
}
table.dataTable tfoot th,
table.dataTable tfoot td {
    padding: 10px 18px 6px 18px;
    border-top: 1px solid @dell-gray;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    cursor: pointer;
    *cursor: hand;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background-repeat: no-repeat;
    background-position: center right;
}

//================= disable sort.png =====================
table.dataTable thead .sorting {
    background-image: none;
}
table.dataTable thead .sorting_asc {
    background-image: none;

}
table.dataTable thead .sorting_desc {
    background-image: none;

}
table.dataTable thead .sorting_asc_disabled {
    background-image: none;

}
table.dataTable thead .sorting_desc_disabled {
    background-image: none;
}
//================= /disable sort.png =====================

table.dataTable tbody tr.selected {
    //background-color: #B0BED9;
}

table.dataTable.stripe tbody tr.odd.selected, table.dataTable.display tbody tr.odd.selected {
    //background-color: #abb9d3;
    //background: #CCE5F1;
}

.table-striped tbody>tr:nth-child(odd).selected>td,
.table-striped tbody>tr:nth-child(odd).selected>th,
.table-striped tbody>tr:nth-child(even).selected>td,
.table-striped tbody>tr:nth-child(even).selected>th{
    background-color: #CCE5F1;
    border-top: 0;
}

//table.dataTable.stripe tbody tr.odd.selected,
//table.dataTable.display tbody tr.odd.selected {
//    background: #CCE5F1;
//}



table.dataTable.hover tbody tr:hover.selected, table.dataTable.display tbody tr:hover.selected {
    //background-color: #a9b7d1;
    background: #EDF9FF;
}
table.dataTable.order-column tbody tr > .sorting_1,
table.dataTable.order-column tbody tr > .sorting_2,
table.dataTable.order-column tbody tr > .sorting_3, table.dataTable.display tbody tr > .sorting_1,
table.dataTable.display tbody tr > .sorting_2,
table.dataTable.display tbody tr > .sorting_3 {
    //background-color: #f9f9f9;
}
table.dataTable.order-column tbody tr.selected > .sorting_1,
table.dataTable.order-column tbody tr.selected > .sorting_2,
table.dataTable.order-column tbody tr.selected > .sorting_3, table.dataTable.display tbody tr.selected > .sorting_1,
table.dataTable.display tbody tr.selected > .sorting_2,
table.dataTable.display tbody tr.selected > .sorting_3 {
    //background-color: #acbad4;
    //background: none;
}
table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
    //background-color: #E4E4E4;
    //background: none;
}
table.dataTable.display tbody tr.odd > .sorting_2, table.dataTable.order-column.stripe tbody tr.odd > .sorting_2 {
    //background-color: #f3f3f3;
    //background: none;
}

table.dataTable.display tbody tr.odd.selected > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_1 {
    //background-color: #a6b3cd;
    //background: #EEEEEE;
}
table.dataTable.display tbody tr.odd.selected > .sorting_2, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_2 {
    //background-color: #a7b5ce;
    //background: none;
}
table.dataTable.display tbody tr.odd.selected > .sorting_3, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_3 {
    //background-color: #a9b6d0;
    //background: none;
}
table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
    //background-color: #f7f7f7;
    //background: none;
}
table.dataTable.display tbody tr.even > .sorting_2, table.dataTable.order-column.stripe tbody tr.even > .sorting_2 {
    //background-color: #fbfbfb;
    //background: none;
}
table.dataTable.display tbody tr.even > .sorting_3, table.dataTable.order-column.stripe tbody tr.even > .sorting_3 {
    //background-color: #fdfdfd;
    //background: none;
}
table.dataTable.display tbody tr.even.selected > .sorting_1, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_1 {
    //background-color: #acbad4;
    //background: none;
}
table.dataTable.display tbody tr.even.selected > .sorting_2, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_2 {
    //background-color: #adbbd6;
    //background: none;
}
table.dataTable.display tbody tr.even.selected > .sorting_3, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_3 {
    //background-color: #afbdd8;
    //background: none;
}
table.dataTable.display tbody tr:hover > .sorting_1, table.dataTable.order-column.hover tbody tr:hover > .sorting_1 {
    //background-color: #eaeaea;
    //background: none;
}
table.dataTable.display tbody tr:hover > .sorting_2, table.dataTable.order-column.hover tbody tr:hover > .sorting_2 {
    //background-color: #ebebeb;
    //background: none;
}
table.dataTable.display tbody tr:hover > .sorting_3, table.dataTable.order-column.hover tbody tr:hover > .sorting_3 {
    //background-color: #eeeeee;
    //background: none;
}
table.dataTable.display tbody tr:hover.selected > .sorting_1, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_1 {
    //background-color: #a1aec7;
    //background: none;
}
table.dataTable.display tbody tr:hover.selected > .sorting_2, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_2 {
    //background-color: #a2afc8;
    //background: none;
}
table.dataTable.display tbody tr:hover.selected > .sorting_3, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_3 {
    //background-color: #a4b2cb;
    //background: none;
}


/* =============== /Modifications for Dell ui triangle toggles styles =============== */

/* ====== create pagination/pager styling  =========*/
.dataTables_paginate .pagination > li > a,
.dataTables_paginate .pagination > li > a:hover,
.dataTables_paginate .pagination > li > a:focus,
.dataTables_paginate .pagination > li.active > a {
    float: none;
    background: none;
    border: none;
    outline: none;
    border-radius: none;
    color: @dell-blue;
}

/* ========== DataTables code ============ */
.dataTables_paginate span.icon-ui-arrowright,
.dataTables_paginate span.icon-ui-arrowleft{
    top: 2px;
    position: relative;
}

.dataTables_paginate > .pagination > .btn.btn-default.next,
.dataTables_paginate > .pagination > .btn.btn-default.previous,
.dataTables_paginate > .pagination > .btn.btn-default.first,
.dataTables_paginate > .pagination > .btn.btn-default.last {
    padding: 8px 6px;
    margin: 0 2px;
}

.DTFC_LeftHeadWrapper table.dataTable thead th,
.dataTables_scrollHead table.dataTable thead th {
    border-bottom: 1px solid @dell-gray;
}
.dataTables_scrollBody {
    white-space: nowrap;
}

.DTFC_ScrollWrapper {
    padding-left: 0;
    white-space: nowrap;
}

/* Ensure that the demo table scrolls */
.DTFC_LeftBodyWrapper table.dataTable td,
.DTFC_LeftHeadWrapper table.dataTable th {
    border-right: 1px solid @dell-gray;
}
/* ========== /DataTables code ============ */

/* Block out the gap above the scrollbar on the right, when there is a fixed right column */
div.DTFC_Blocker {
    background-color: white;
}
div.DTFC_LeftWrapper table.dataTable,
div.DTFC_RightWrapper table.dataTable {
    margin-bottom: 0;
    z-index: 2;
}
div.DTFC_LeftWrapper table.dataTable.no-footer,
div.DTFC_RightWrapper table.dataTable.no-footer {
    border-bottom: none;
}
/* Block out what is behind the fixed column's header and footer */
table.DTFC_Cloned thead,
table.DTFC_Cloned tfoot {
    background-color: white;
}

// =================== code for DataTable responsive =========================
// ===========================================================================
table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child {
    position: relative;
    padding-left: 10px;
    cursor: pointer;
}
table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
    top: 0px;
    left: 2px;
    height: 16px;
    width: 16px;
    display: block;
    position: relative;
    font-family: 'FontAwesome';
    content: "\f0dd";
    color: #007db8;
    //border: 2px solid white;
    //border-radius: 16px;
    text-align: center;
    line-height: 14px;
    //box-shadow: 0 0 3px #444;
    box-sizing: content-box;
    padding-left: 2px;
    padding-bottom: 15px;
    //background-color: #31b131;
}
table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child.dataTables_empty:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child.dataTables_empty:before {
    display: none;
}
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child:before {
    content: '\f0de';
    color: #007db8;
}
table.dataTable.dtr-inline.collapsed > tbody > tr.child td:before {
    display: none;
}
table.dataTable.dtr-inline.collapsed.compact > tbody > tr > td:first-child,
table.dataTable.dtr-inline.collapsed.compact > tbody > tr > th:first-child {
    padding-left: 27px;
}
table.dataTable.dtr-inline.collapsed.compact > tbody > tr > td:first-child:before,
table.dataTable.dtr-inline.collapsed.compact > tbody > tr > th:first-child:before {
    top: 5px;
    left: 4px;
    height: 14px;
    width: 14px;
    border-radius: 14px;
    line-height: 12px;
}
table.dataTable.dtr-column > tbody > tr > td.control,
table.dataTable.dtr-column > tbody > tr > th.control {
    position: relative;
    cursor: pointer;
}
table.dataTable.dtr-column > tbody > tr > td.control:before,
table.dataTable.dtr-column > tbody > tr > th.control:before {
    top: 50%;
    left: 50%;
    height: 16px;
    width: 16px;
    margin-top: -10px;
    margin-left: -10px;
    display: block;
    position: absolute;
    color: white;
    border: 2px solid white;
    border-radius: 16px;
    text-align: center;
    line-height: 14px;
    box-shadow: 0 0 3px #444;
    box-sizing: content-box;
    content: '+';
    background-color: #31b131;
}
table.dataTable.dtr-column > tbody > tr.parent td.control:before,
table.dataTable.dtr-column > tbody > tr.parent th.control:before {
    content: '\f0de';
    background-color: #d33333;
}
table.dataTable > tbody > tr.child {
    padding: 0.5em 1em;
}
table.dataTable > tbody > tr.child:hover {
    background: transparent !important;
}
table.dataTable > tbody > tr.child ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
table.dataTable > tbody > tr.child ul li {
    border-bottom: 1px solid #efefef;
    padding: 0.5em 0;
}
table.dataTable > tbody > tr.child ul li:first-child {
    padding-top: 0;
}
table.dataTable > tbody > tr.child ul li:last-child {
    border-bottom: none;
}
table.dataTable > tbody > tr.child span.dtr-title {
    display: inline-block;
    min-width: 75px;
    font-weight: bold;
}

// ================= Code for the Responsive Simple Table =====================
// ============================================================================
table.table-responsive td:before {
    display: none;
}
@media (max-width: 767px) {
    /*
    Generic Styling, for Desktops/Laptops
    */
    table.table-responsive {
        width: 100%;
        border-collapse: collapse;
    }
    table.table-responsive {
        th {
            background: #333;
            color: white;
            font-weight: bold;
            padding: 6px;
            //border: 1px solid #ccc;
            text-align: left;
        }
        td {
            padding: 6px;
            border: 1px solid #ccc;
            text-align: left;
        }
    }
    /* Force table to not be like tables anymore */
    table.table-responsive,
    table.table-responsive thead {
        ///* Hide table headers (but not display: none;, for accessibility) */
        > tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
    }
    table.table-responsive tbody,
    table.table-responsive th,
    table.table-responsive td,
    table.table-responsive tr {
        display: block;
        overflow: hidden;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        /* BELOW THREE STATEMENTS NEEDED FOR IE9 AND BELOW */
        float: left;
        clear: left;
        width: 100%;
    }
    table.table-responsive td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50% !important;
        &:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
            font-weight: bold;
            display: block;
        }
    }
}
// ================= /Code for the Responsive Simple Table =====================
// =============================================================================



// ================= Code for complex and column select Table =====================
// ================================================================================
td.details-control {
    position: relative;
    top: 0;
    right: 0;
    display: block;
    font-family: icon-ui;
    opacity: 0.8;
    background: none !important;
    &:after {
        content: "\e610";
        color: @dell-blue;
    }
}
tr.shown td.details-control {
    position: relative;
    top: 0;
    right: 0;
    display: block;
    font-family: icon-ui;
    opacity: 0.8;
    background: none !important;
    &:after {
        content: "\e60e";
        color: @dell-blue;
    }
}

div#example-dt-complex_filter,
div#example-rdt_filter {
    text-align: left;
}

table.table-complex > tbody > tr > td > table > tbody > tr > td {
    background: none !important;
    padding: 5px 20px;
    td:nth-child(even){
        border-top: 1px dotted @dell-gray-stroke;
    }
}


.table-complex td[colspan="5"] {
    background: @white !important;
    border-bottom: 1px solid @dell-gray-stroke;
    border-top: 1px solid @dell-gray-stroke;


}


// ================= /Code for complex and column select Table =====================
// ================================================================================

// =========================== Code for Column Visible  ===========================
// ================================================================================
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * ColVis styles
 */
div.ColVis {
    float: right;
    margin-bottom: 0;
    top: 10px;
    position: relative;
}

button.ColVis_Button,
ul.ColVis_collection li {
    position: relative;
    float: left;
    padding: 5px 8px;
    border: 1px solid #999;
    cursor: pointer;
    *cursor: hand;
    font-size: 0.88em;
    color: black !important;
    white-space: nowrap;
    background: @dell-gray-light;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 1px 1px 3px #ccc;
    -moz-box-shadow: 1px 1px 3px #ccc;
    -ms-box-shadow: 1px 1px 3px #ccc;
    -o-box-shadow: 1px 1px 3px #ccc;
    box-shadow: 1px 1px 3px #ccc;
}

.ColVis_Button {
    &:hover {
        background: #dadada;
        border-color: #adadad;
    }
    &:active{
        background: #dadada;
        border-color: #adadad;
        color: #00618f;
        -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
        box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    }
}

ul.ColVis_collection li:hover {
    text-decoration: none !important;
    border-color: #adadad;
    background: @dell-highlight-blue;
}

button.ColVis_Button {
    height: 30px;
    padding: 3px 8px;
    margin-left: 10px;
}

button.ColVis_Button::-moz-focus-inner {
    border: none !important;
    padding: 0;
}

button.ColVis_Button:active {
    outline: none;
}

div.ColVis_collectionBackground {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 1100;
}

ul.ColVis_collection {
    list-style: none;
    width: 150px;
    margin: 0;
    border: 1px solid @dell-gray-stroke;
    background-color: @white;
    overflow: hidden;
    z-index: 2002;
    padding: 0;
    border-radius: 1px;
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

ul.ColVis_collection li {
    position: relative;
    height: auto;
    left: 0;
    right: 0;
    padding:1px 10px;
    border: none;
    display: block;
    float: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

ul.ColVis_collection li {
    text-align: left;
}

ul.ColVis_collection li.ColVis_Button:hover {
    border: 1px solid #999;
    background-color: #f0f0f0;
}

ul.ColVis_collection li span {
    display: inline-block;
    padding-left: 0.5em;
    cursor: pointer;
    color: @dell-blue;
}

span.ColVis_radio {
    display: inline-block;
    width: 20px;
}

div.ColVis_catcher {
    position: absolute;
    z-index: 1101;
}

.disabled {
    color: #999;
}


// =========================== /Code for Column Visible  ===========================
// ================================================================================



// =========================== code for keyTable =================================
// ===============================================================================

div.DTE_Inline input {
    border: none;
    background-color: transparent;
    padding: 0 !important;
    font-size: 90%;
}

div.DTE_Inline input:focus {
    outline: none;
    background-color: transparent;
}


// =========================== /code for keyTable =================================
// ===============================================================================

