/*
 * Carousel component theme overrides
 *------------------------------------------------------------------------------------------
 */

.carousel {
    padding: 0 40px 30px 40px;
    > .carousel-control.right:after,
    > .carousel-control.left:before {
        font-size: 40px;
    }
    &.carousel-filmstrip {
        .carousel-control {
            top:34%;
            &.carousel-control.right:after {
                right: -10px;
                position: relative;
            }
            &.carousel-control.left:before {
                left: -10px;
                position: relative;
            }
        }
    }
    &.carousel-filmstrip-content {
        .carousel-control {
            top:13%;
            &.carousel-control.right:after {
                right: -10px;
                position: relative;
            }
            &.carousel-control.left:before {
                left: -10px;
                position: relative;
            }
        }
    }
}


.carousel.carousel-gallery {
    padding: 0 0 30px;
    position: relative;
}

.carousel .carousel-control {
    top: 40%;
    &.left{
        left: 14px;
    }
    &.right{
        right:2px;
    }
}

.carousel-caption {
    position: absolute;
    left: 15%;
    right: 15%;
    bottom: 20px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
    text-shadow: none;
}

.carousel .carousel-indicators li {
    width: 14px;
    height: 6px;
    margin: 0 5px;
    border-radius: 2px;
    border: none;
    background: @dell-gray-stroke;
}

.carousel.carousel-gallery .carousel-caption {
    position: absolute;
    left: auto;
    right: auto;
    bottom: 0;
    padding: 20px 60px;
    background: inherit;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.6);
    width: 100%;
    color: #444444;
    text-align: left;
}

.carousel.carousel-gallery .carousel-caption.pull-right {
    max-width: 40%;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    position: absolute;
    text-align: left;
    top: 0;
    right: 0;
    padding-right: 60px;
    padding-left: 20px;
    min-height: 430px;
}

.carousel.carousel-gallery .carousel-caption.pull-left {
    max-width: 40%;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    position: absolute;
    padding-right: 60px;
    text-align: left;
    top: 0;
    left: 0;
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 20px;
    min-height: 430px;
}


.carousel.carousel-gallery .carousel-caption.no-arrows.pull-left {
    max-width: 40%;
    max-height: 65%;
    min-height: 0;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 10px;
    position: absolute;
    text-align: left;
    top: 20px;
    left: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

}


.well-banner {
    max-height: 65%;
    max-width: 40%;
    min-height: 50%;
    padding: 20px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.6);
    border: 0 solid transparent;
    border-radius: 15px;
    -webkit-box-shadow: none;
    box-shadow: none;
    top: 20px;
    left: 20px;
    position: absolute;
}




@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    .well-banner {
        max-height: 65%;
        max-width: 40%;
        min-height: 50%;
        padding: 20px;
        margin-bottom: 20px;
        background: rgba(255, 255, 255, 0.6);
        border: 0 solid transparent;
        border-radius: 15px;
        -webkit-box-shadow: none;
        box-shadow: none;
        top: 30px;
        left: 30px;
        position: absolute;
    }

    .carousel-inner {
        position: relative;
        overflow: hidden;
        width: 110%;
        margin-left: -5%;
        margin-right: -5%;
    }
}



@media (max-width: @screen-sm-max) {

    .carousel {
        &.carousel-filmstrip {
            .carousel-control {
                top:23%;
            }
        }
        &.carousel-filmstrip-content {
            .carousel-control {
                top:10%;
            }
        }
    }

    .carousel .carousel-control {
        top: 33%;
    }

    .carousel > .carousel-control.right:after,
    .carousel > .carousel-control.left:before {
        font-size: 30px;
    }
}


@media (max-width: @screen-sm-max) {
    .carousel {
        .filmstrip-carousel {

            > .carousel-control.right:after {
                font-size: 28px;
                top: -45%;
                position: absolute;
                right: -44px;
            }
            > .carousel-control.left:before {
                font-size: 28px;
                top: -45%;
                position: absolute;
                left: -44px;
            }
        }
    }
}



@media (max-width: @screen-xs-max) {
    .carousel {
        .filmstrip-carousel {

            > .carousel-control.right:after {
                font-size: 25px;
                top: -18%;
                position: absolute;
                right: -44px;
            }
            > .carousel-control.left:before {
                font-size: 25px;
                top: -18%;
                position: absolute;
                left: -44px;
            }
        }
    }
}


@media (max-width: 480px) {
    .carousel {
        .filmstrip-carousel {
            text-align: center;
            > .carousel-control.right:after {
                //font-size: 25px;
                //top: -18%;
                //position: absolute;
                //right: -44px;
                display: none;
            }
            > .carousel-control.left:before {
                //font-size: 25px;
                //top: -18%;
                //position: absolute;
                //left: -44px;
                display: none;
            }
        }
    }
}



@media (min-width: @screen-md-min) {
    .carousel {
        .filmstrip-carousel {

            > .carousel-control.right:after {
                font-size: 30px;
                top: -30%;
                position: absolute;
                right: -44px;
            }
            > .carousel-control.left:before {
                font-size: 30px;
                top: -30%;
                position: absolute;
                left: -44px;
            }
        }
    }
}


@media (min-width: @screen-md-max) {
    .carousel {
        .filmstrip-carousel {

            > .carousel-control.right:after {
                font-size: 30px;
                top: -14%;
                position: absolute;
                right: -44px;
            }
            > .carousel-control.left:before {
                font-size: 30px;
                top: -14%;
                position: absolute;
                left: -44px;
            }
        }
    }
}




@media (max-width: @screen-md-max) {

    .carousel {
        &.carousel-filmstrip {
            .carousel-control {
                top:30%;
            }
        }
        &.carousel-filmstrip-content {
            .carousel-control {
                top:12%;
            }
        }
    }

    .carousel .carousel-control {
        top: 38%;
    }

    .carousel > .carousel-control.right:after,
    .carousel > .carousel-control.left:before {
        font-size: 35px;
    }
}



@media (max-width: @screen-xs-max) {
    .well-banner {
        max-height: 65%;
        min-width: 105%;
        min-height: 40%;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 0px;
        background: @dell-gray-light;
        border: 0 solid transparent;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        top: 0;
        left: 0;
        position: relative;

    }

    .carousel-inner {
        position: relative;
        overflow: hidden;
        width: 110%;
        margin-left: -5%;
        margin-right: -5%;
    }

}

    @media (min-width: 580px) and (max-width: @screen-sm-min) {
        .well-banner {
            max-height: 65%;
            min-width: 105%;
            min-height: 40%;
            padding-left: 35px;
            padding-right: 35px;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-bottom: 0;
            background: @dell-gray-light;
            border: 0 solid transparent;
            border-radius: 15px;
            -webkit-box-shadow: none;
            box-shadow: none;
            top: 0;
            left: 0;
            position: relative;
        }

    }


// Slick CSS
/* Slider */
.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}


//.carousel {
//    .filmstrip-carousel {
//
//        > .carousel-control.right:after {
//            font-size: 30px;
//            top: 4%;
//            position: absolute;
//            right: -44px;
//        }
//        > .carousel-control.left:before {
//            font-size: 30px;
//            top: 4%;
//            position: absolute;
//            left: -44px;
//        }
//    }
//}
