/*
 * Carousel component theme overrides
 *------------------------------------------------------------------------------------------
 */

.carousel {
    padding: 0 40px 30px 40px;
    > .carousel-control.right:after,
    > .carousel-control.left:before {
        font-size: 40px;
    }
    &.carousel-filmstrip {
        .carousel-control {
            top:34%;
            &.carousel-control.right:after {
                right: -10px;
                position: relative;
            }
            &.carousel-control.left:before {
                left: -10px;
                position: relative;
            }
        }
    }
    &.carousel-filmstrip-content {
        .carousel-control {
            top:13%;
            &.carousel-control.right:after {
                right: -10px;
                position: relative;
            }
            &.carousel-control.left:before {
                left: -10px;
                position: relative;
            }
        }
    }
}

.carousel.carousel-gallery {
    padding: 0 0 30px;
    position: relative;
}

.carousel .carousel-control {
    top: 40%;
    &.left{
        left: 14px;
    }
    &.right{
        right:2px;
    }
}

.carousel-caption {
    position: absolute;
    left: 15%;
    right: 15%;
    bottom: 20px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
    text-shadow: none;
}

.carousel .carousel-indicators li {
    width: 14px;
    height: 6px;
    margin: 0 5px;
    border-radius: 2px;
    border: none;
    background: @dell-gray-stroke;
}

.carousel.carousel-gallery .carousel-caption {
    position: absolute;
    left: auto;
    right: auto;
    bottom: 0;
    padding: 20px 60px;
    background: inherit;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.6);
    width: 100%;
    color: #444444;
    text-align: left;
}

.carousel.carousel-gallery .carousel-caption.pull-right {
    max-width: 40%;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    position: absolute;
    text-align: left;
    top: 0;
    right: 0;
    padding-right: 60px;
    padding-left: 20px;
    min-height: 430px;
}

.carousel.carousel-gallery .carousel-caption.pull-left {
    max-width: 40%;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    position: absolute;
    padding-right: 60px;
    text-align: left;
    top: 0;
    left: 0;
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 20px;
    min-height: 430px;
}



@media (max-width: @screen-md-max) {

    .carousel {
        &.carousel-filmstrip {
            .carousel-control {
                top:30%;
            }
        }
        &.carousel-filmstrip-content {
            .carousel-control {
                top:12%;
            }
        }
    }

    .carousel .carousel-control {
        top: 38%;
    }

    .carousel > .carousel-control.right:after,
    .carousel > .carousel-control.left:before {
        font-size: 35px;
    }
}


@media (max-width: @screen-sm-max) {

    .carousel {
        &.carousel-filmstrip {
            .carousel-control {
                top:23%;
            }
        }
        &.carousel-filmstrip-content {
            .carousel-control {
                top:10%;
            }
        }
    }

    .carousel .carousel-control {
        top: 33%;
    }

    .carousel > .carousel-control.right:after,
    .carousel > .carousel-control.left:before {
        font-size: 30px;
    }
}


@media (max-width: @screen-xs-max) {
    .carousel.carousel-gallery {
        width: 105%;
        margin-left: -2%;
    }
}
