
<section ng-controller="carouselCtrl" id="carousel-html-example">

    <div class="container">
        <h2>Carousel Demo</h2>

            <h3 class="top-offset-40">Banner carousel with all options</h3>
            <!--banner carousel-->
            <div id="banner-carousel-example" class="carousel slide carousel-gallery" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item">
                        <a href="javascript:;"><img alt="First slide" src="http://placehold.it/1140x430"></a>
                    </div>
                    <div class="item active">
                        <a href="javascript:;"><img alt="Second slide" src="http://placehold.it/1140x430"></a>
                    </div>
                    <div class="item">
                        <a href="javascript:;"><img alt="Third slide" src="http://placehold.it/1140x430"></a>
                    </div>
                </div>
                <ol class="carousel-indicators">
                    <li data-target="#banner-carousel-example" data-slide-to="0" class=""></li>
                    <li data-target="#banner-carousel-example" data-slide-to="1" class="active"></li>
                    <li data-target="#banner-carousel-example" data-slide-to="2" class=""></li>
                </ol>
                <a class="left carousel-control" href="#banner-carousel-example" data-slide="prev">
                </a>
                <a class="right carousel-control" href="#banner-carousel-example" data-slide="next">
                </a>
            </div>

        <hr/>

            <h3 class="top-offset-40">Banner carousel with no arrows</h3>
            <!--banner carousel with no arrows-->
            <div id="banner-carousel-no-arrows-example" class="carousel slide carousel-gallery" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item">
                        <a href="javascript:;"><img alt="First slide" src="http://placehold.it/1140x430"></a>
                    </div>
                    <div class="item active">
                        <a href="javascript:;"><img alt="Second slide" src="http://placehold.it/1140x430"></a>
                    </div>
                    <div class="item">
                        <a href="javascript:;"><img alt="Third slide" src="http://placehold.it/1140x430"></a>
                    </div>
                </div>
                <ol class="carousel-indicators">
                    <li data-target="#banner-carousel-no-arrows-example" data-slide-to="0" class=""></li>
                    <li data-target="#banner-carousel-no-arrows-example" data-slide-to="1" class="active"></li>
                    <li data-target="#banner-carousel-no-arrows-example" data-slide-to="2" class=""></li>
                </ol>
            </div>

        <hr/>


        <h3 class="top-offset-40">Banner carousel captions no arrows</h3>
        <!-- banner carousel with captions & arrows-->
        <div id="carousel-example-with-caption" class="carousel slide carousel-gallery" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <img alt="First slide" src="http://placehold.it/1140x430" alt="Image" class="image">
                    <div class="well well-banner pull-left">
                        <h2 class="hidden-xs">First slide lorem ipsum dolor sit amet.
                        </h2>
                        <p>
                            First slide: Mauris in ultricies leo, fermentum consectetur ligula.
                        </p>
                        <p>
                            <a href="#" class="btn btn-primary pull-left hidden-xs">Buy Now!</a>
                            <a href="#" class="pull-left visible-xs">Buy Now!</a>
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img alt="second slide" src="http://placehold.it/1140x430" alt="Image" class="image">
                    <div class="well well-banner pull-left">
                        <h2 class="hidden-xs">Second slide lorem ipsum dolor sit amet.
                        </h2>
                        <p>
                            Second slide: Mauris in ultricies leo, fermentum consectetur ligula.
                        </p>
                        <p>
                            <a href="#" class="btn btn-primary pull-left hidden-xs">Buy Now!</a>
                            <a href="#" class="pull-left visible-xs">Buy Now!</a>
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img alt="second slide" src="http://placehold.it/1140x430" alt="Image" class="image">
                    <div class="well well-banner pull-left">
                        <h2 class="hidden-xs">Second slide lorem ipsum dolor sit amet.
                        </h2>
                        <p>
                            Second slide: Mauris in ultricies leo, fermentum consectetur ligula.
                        </p>
                        <p>
                            <a href="#" class="btn btn-primary pull-left hidden-xs">Buy Now!</a>
                            <a href="#" class="pull-left visible-xs">Buy Now!</a>
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img alt="second slide" src="http://placehold.it/1140x430" alt="Image" class="image">
                    <div class="well well-banner pull-left">
                        <h2 class="hidden-xs">Fourth slide lorem ipsum dolor sit amet.
                        </h2>
                        <p>
                            Fourth slide: Mauris in ultricies leo, fermentum consectetur ligula.
                        </p>
                        <p>
                            <a href="#" class="btn btn-primary pull-left hidden-xs">Buy Now!</a>
                            <a href="#" class="pull-left visible-xs">Buy Now!</a>
                        </p>
                    </div>
                </div>
            </div>
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-with-caption" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-with-caption" data-slide-to="1" class=""></li>
                <li data-target="#carousel-example-with-caption" data-slide-to="2" class=""></li>
                <li data-target="#carousel-example-with-caption" data-slide-to="3" class=""></li>
            </ol>
        </div>



        <h3 class="top-offset-40">Adaptive carousel mobile / static mosaic desktop & tablet</h3>
        <!--Selection for Adaptive carousel mobile / static mosaic desktop & tablet-->

        <div class="hidden-xs">
            <div class="row">
                <div class="col-sm-12 col-md-6 bottom-offset-20">
                    <div class="well well-teaser">
                        <img src="http://placehold.it/720x505" alt="720x505" class="img-responsive">
                    </div>
                    <div class="well-caption">
                        <a href="javascript:;"><h5 class="text-blue">Better security for better business.</h5></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-3 bottom-offset-20">
                    <div class="well well-teaser">
                        <img src="http://placehold.it/720x505" alt="720x505" class="img-responsive">
                    </div>
                    <div class="well-caption">
                        <a href="javascript:;"><h5 class="text-blue">Security is a shared responsibility.</h5></a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 bottom-offset-20">
                    <div  class="well well-teaser">
                        <img src="http://placehold.it/720x505" alt="720x505" class="img-responsive">
                    </div>
                    <div class="well-caption">
                        <a href="javascript:;"><h5 class="text-blue">Can your IT security lorum ipsum?</h5></a>
                    </div>
                </div>
            </div>
        </div>
            <!--/tablet/desktop mosaic pattern-->

            <!--adaptive carousel mobile-->
            <div id="mosaic-carousel" class="carousel slide carousel-gallery visible-xs-block" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="http://placehold.it/720x505" alt="720x505" class="img-responsive">
                        <div class="well well-banner">
                            <a href="javascript:;"><h3 class="text-blue">Better security for better business.</h3></a>
                        </div>
                    </div>
                    <div class="item">
                        <img src="http://placehold.it/720x505" alt="720x505" class="img-responsive">
                        <div class="well well-banner pull-left">
                            <a href="javascript:;"><h3 class="text-blue">Security is a shared responsibility.</h3></a>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="First slide" src="http://placehold.it/720x505" alt="Image" class="img-responsive">
                        <div class="well well-banner pull-left">
                            <a href="javascript:;"><h3 class="text-blue">Can your IT security lorum ipsum?</h3></a>
                        </div>
                    </div>

                </div>
                <ol class="carousel-indicators">
                    <li data-target="#mosaic-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#mosaic-carousel" data-slide-to="1" class=""></li>
                    <li data-target="#mosaic-carousel" data-slide-to="2" class=""></li>
                </ol>
            </div>
        <!--/Selection for Adaptive carousel mobile / static mosaic desktop & tablet-->

        <hr class="top-offset-60"/>

        <h3 class="top-offset-40">Filmstrip carousel images (no arrows on XS)</h3>

        <!-- Filmstrip carousel images (no arrows on XS) -->

        <div class="well well-white well-white-stroke">
            <div class="carousel carousel-filmstrip">
                <!-- Carousel items -->
                <div class="carousel-inner">

                    <div class="item">
                        <a href="javascript:;">
                            <img src="http://placehold.it/250x250/cccccc/FFFFFF&text=Image 1" alt="Image" class="img-responsive">
                        </a>
                    </div>
                    <div class="item">
                        <a href="javascript:;">
                            <img src="http://placehold.it/250x250/cccccc/FFFFFF&text=Image 2" alt="Image" class="img-responsive">
                        </a>
                    </div>
                    <div class="item">
                        <a href="javascript:;">
                            <img src="http://placehold.it/250x250/cccccc/FFFFFF&text=Image 3" alt="Image" class="img-responsive">
                        </a>
                    </div>
                    <div class="item">
                        <a href="javascript:;">
                            <img src="http://placehold.it/250x250/cccccc/FFFFFF&text=Image 4" alt="Image" class="img-responsive">
                        </a>
                    </div>
                    <div class="item">
                        <a href="javascript:;">
                            <img src="http://placehold.it/250x250/cccccc/FFFFFF&text=Image 5" alt="Image" class="img-responsive">
                        </a>
                    </div>
                    <div class="item">
                        <a href="javascript:;">
                            <img src="http://placehold.it/250x250/cccccc/FFFFFF&text=Image 6" alt="Image" class="img-responsive">
                        </a>
                    </div>
                    <div class="item">
                        <a href="javascript:;">
                            <img src="http://placehold.it/250x250/cccccc/FFFFFF&text=Image 7" alt="Image" class="img-responsive">
                        </a>
                    </div>
                </div><!--/carousel-inner-->
            </div><!--/Filmstrip carousel images (no arrows on XS)-->

        </div>


        <h3 class="top-offset-40">Filmstrip carousel with images and content block (no arrows on XS)</h3>

        <!-- Filmstrip carousel with images and content block -->
        <div class="carousel carousel-filmstrip-arrow-only">
            <!-- Carousel items -->
            <div class="carousel-inner">

                <div class="item">
                    <a href="javascript:;">
                        <img src="http://placehold.it/300x200/cccccc/FFFFFF&text=Image 1" alt="300x200" class="img-responsive">
                        <h5 class="text-blue">Content Headline Title Goes Here</h5>
                    </a>
                    <p>Etiam velit ex, sagittis non vehicula in, efficitur vel massa. Aliquam erat volutpat. Maecenas id laoreet leo. Ut ut pretium ex. Nunc fermentum vehicula lectus, non interdum felis ornare sit amet.</p>
                </div>
                <div class="item">
                    <a href="javascript:;">
                        <img src="http://placehold.it/300x200/cccccc/FFFFFF&text=Image 2" alt="300x200" class="img-responsive">
                        <h5 class="text-blue">Headline Title Goes Here with Additional Headline</h5>
                    </a>
                    <p>Aenean interdum nulla sed ante imperdiet, sit amet aliquam dui iaculis. Vivamus tempus ligula eget fringilla venenatis. Suspendisse malesuada leo nunc, in suscipit velit molestie sed. Integer lacus quam, gravida eu sollicitudin in, convallis ac justo. Nullam eget turpis eu elit finibus aliquet in in nisl. </p>
                </div>
                <div class="item">
                    <a href="javascript:;">
                        <img src="http://placehold.it/300x200/cccccc/FFFFFF&text=Image 3" alt="300x200" class="img-responsive">
                        <h5 class="text-blue">Content Headline Title Goes Here</h5>
                    </a>
                    <p>Etiam velit ex, sagittis non vehicula in, efficitur vel massa. Aliquam erat volutpat. Maecenas id laoreet leo. Ut ut pretium ex. Nunc fermentum vehicula lectus.</p>
                </div>
                <div class="item">
                    <a href="javascript:;">
                        <img src="http://placehold.it/300x200/cccccc/FFFFFF&text=Image 4" alt="300x200" class="img-responsive">
                        <h5 class="text-blue">Headline Title Goes Here</h5>
                    </a>
                    <p>Vehicula in, efficitur vel massa. Aliquam erat volutpat. Maecenas id laoreet leo. Ut ut pretium ex. Nunc fermentum vehicula lectus, non interdum felis ornare sit amet. Aliquam erat volutpat. </p>
                </div>
                <div class="item">
                    <a href="javascript:;">
                        <img src="http://placehold.it/300x200/cccccc/FFFFFF&text=Image 5" alt="300x200" class="img-responsive">
                        <h5 class="text-blue">Content Headline Title Goes Here</h5>
                    </a>
                    <p>Nullam eget turpis eu elit finibus aliquet in in nisl. Aenean interdum nulla sed ante imperdiet, sit amet aliquam dui iaculis. Vivamus tempus ligula eget fringilla venenatis. Suspendisse malesuada leo nunc, in suscipit velit molestie sed. Integer lacus quam, gravida eu sollicitudin in, convallis ac justo. </p>
                </div>
                <div class="item">
                    <a href="javascript:;">
                        <img src="http://placehold.it/300x200/cccccc/FFFFFF&text=Image 6" alt="300x200" class="img-responsive">
                        <h5 class="text-blue">Headline Title Goes Here</h5>
                    </a>
                    <p>Etiam velit ex, sagittis non vehicula in, efficitur vel massa. Aliquam erat volutpat. Maecenas id laoreet leo. Ut ut pretium ex. Nunc fermentum vehicula lectus, non interdum felis ornare sit amet.</p>
                </div>
                <div class="item">
                    <a href="javascript:;">
                        <img src="http://placehold.it/300x200/cccccc/FFFFFF&text=Image 7" alt="300x200" class="img-responsive">
                        <h5 class="text-blue">Content Headline Title Goes Here</h5>
                    </a>
                    <p>liquam erat volutpat. Maecenas id laoreet leo. Ut ut pretium ex. efficitur vel massa. Aliquam erat volutpat. Maecenas id laoreet leo. Ut ut pretium ex. Nunc fermentum vehicula lectus, non interdum felis ornare sit amet.</p>
                </div>
            </div><!--/carousel-inner-->
        </div><!-- Filmstrip carousel with images and content block-->

    </div>
</section>
