
<section ng-controller="carouselCtrl" id="carousel-html-example">

    <div class="container">
        <h2>Carousel Demo</h2>

            <h3 class="top-offset-40">Banner carousel with all options</h3>
            <!--banner carousel-->
            <div id="banner-carousel-example" class="carousel slide carousel-gallery" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item">
                        <a href="javascript:;"><img alt="First slide" src="http://placehold.it/1140x430"></a>
                    </div>
                    <div class="item active">
                        <a href="javascript:;"><img alt="Second slide" src="http://placehold.it/1140x430"></a>
                    </div>
                    <div class="item">
                        <a href="javascript:;"><img alt="Third slide" src="http://placehold.it/1140x430"></a>
                    </div>
                </div>
                <ol class="carousel-indicators">
                    <li data-target="#banner-carousel-example" data-slide-to="0" class=""></li>
                    <li data-target="#banner-carousel-example" data-slide-to="1" class="active"></li>
                    <li data-target="#banner-carousel-example" data-slide-to="2" class=""></li>
                </ol>
                <a class="left carousel-control" href="#banner-carousel-example" data-slide="prev">
                </a>
                <a class="right carousel-control" href="#banner-carousel-example" data-slide="next">
                </a>
            </div>


            <h3 class="top-offset-40">Banner carousel with no arrows</h3>
            <!--banner carousel with no arrows-->
            <div id="banner-carousel-no-arrows-example" class="carousel slide carousel-gallery" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item">
                        <a href="javascript:;"><img alt="First slide" src="http://placehold.it/1140x430"></a>
                    </div>
                    <div class="item active">
                        <a href="javascript:;"><img alt="Second slide" src="http://placehold.it/1140x430"></a>
                    </div>
                    <div class="item">
                        <a href="javascript:;"><img alt="Third slide" src="http://placehold.it/1140x430"></a>
                    </div>
                </div>
                <ol class="carousel-indicators">
                    <li data-target="#banner-carousel-no-arrows-example" data-slide-to="0" class=""></li>
                    <li data-target="#banner-carousel-no-arrows-example" data-slide-to="1" class="active"></li>
                    <li data-target="#banner-carousel-no-arrows-example" data-slide-to="2" class=""></li>
                </ol>
            </div>

        <h3 class="top-offset-40">Banner carousel captions no arrows</h3>
        <!-- banner carousel with captions & arrows-->
        <div class="carousel slide carousel-gallery" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <img alt="First slide" src="http://placehold.it/1140x430" alt="Image" class="image">
                    <div class="well well-banner pull-left">
                        <h2 class="hidden-xs">First slide lorem ipsum dolor sit amet.
                        </h2>
                        <p>
                            First slide: Mauris in ultricies leo, fermentum consectetur ligula.
                        </p>
                        <p>
                            <a href="#" class="btn btn-primary pull-left hidden-xs">Buy Now!</a>
                            <a href="#" class="pull-left visible-xs">Buy Now!</a>
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img alt="second slide" src="http://placehold.it/1140x430" alt="Image" class="image">
                    <div class="well well-banner pull-left">
                        <h2 class="hidden-xs">Second slide lorem ipsum dolor sit amet.
                        </h2>
                        <p>
                            Second slide: Mauris in ultricies leo, fermentum consectetur ligula.
                        </p>
                        <p>
                            <a href="#" class="btn btn-primary pull-left hidden-xs">Buy Now!</a>
                            <a href="#" class="pull-left visible-xs">Buy Now!</a>
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img alt="second slide" src="http://placehold.it/1140x430" alt="Image" class="image">
                    <div class="well well-banner pull-left">
                        <h2 class="hidden-xs">Second slide lorem ipsum dolor sit amet.
                        </h2>
                        <p>
                            Second slide: Mauris in ultricies leo, fermentum consectetur ligula.
                        </p>
                        <p>
                            <a href="#" class="btn btn-primary pull-left hidden-xs">Buy Now!</a>
                            <a href="#" class="pull-left visible-xs">Buy Now!</a>
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img alt="second slide" src="http://placehold.it/1140x430" alt="Image" class="image">
                    <div class="well well-banner pull-left">
                        <h2 class="hidden-xs">Fourth slide lorem ipsum dolor sit amet.
                        </h2>
                        <p>
                            Fourth slide: Mauris in ultricies leo, fermentum consectetur ligula.
                        </p>
                        <p>
                            <a href="#" class="btn btn-primary pull-left hidden-xs">Buy Now!</a>
                            <a href="#" class="pull-left visible-xs">Buy Now!</a>
                        </p>
                    </div>
                </div>
            </div>
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-with-caption" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-with-caption" data-slide-to="1" class=""></li>
                <li data-target="#carousel-example-with-caption" data-slide-to="2" class=""></li>
                <li data-target="#carousel-example-with-caption" data-slide-to="3" class=""></li>
            </ol>
        </div>



        <!--Hold off on this version until banner guides are updated-->

            <!--<h3 class="top-offset-40">Banner carousel captions & arrows</h3>-->
            <!--&lt;!&ndash; banner carousel with captions & arrows&ndash;&gt;-->
            <!--<div id="carousel-example-with-caption" class="carousel slide carousel-gallery" data-ride="carousel">-->
                <!--<div class="carousel-inner">-->
                    <!--<div class="item active">-->
                        <!--<img alt="First slide" src="http://placehold.it/1140x430" alt="Image" class="image">-->
                        <!--<div class="carousel-caption pull-left">-->
                            <!--<h2 class="hidden-xs">First slide lorem ipsum dolor sit amet.-->
                            <!--</h2>-->
                            <!--<p>-->
                                <!--Mauris in ultricies leo, fermentum consectetur ligula.-->
                            <!--</p>-->
                            <!--<p>-->
                                <!--<a href="#" class="btn btn-primary pull-left hidden-xs">Buy Now!</a>-->
                                <!--<a href="#" class="pull-right visible-xs lead">Buy Now!</a>-->
                            <!--</p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="item">-->
                        <!--<img alt="Second slide" src="http://placehold.it/1140x430" alt="Image" class="image">-->
                        <!--<div class="carousel-caption pull-right">-->
                            <!--<h2 class="hidden-xs">Second slide lorem ipsum dolor sit amet.</h2>-->
                            <!--<p>-->
                                <!--Ut enim ad minim veniam, laboris nisi ut aliquip ex ea commodo consequat.-->
                            <!--</p>-->
                            <!--<p>-->
                                <!--<a href="#" class="btn btn-primary pull-left hidden-xs">Buy Now!</a>-->
                                <!--<a href="#" class="pull-left visible-xs lead">Buy Now!</a>-->
                            <!--</p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="item">-->
                        <!--<img alt="Third slide" src="http://placehold.it/1140x430" alt="Image" class="image">-->
                        <!--<div class="carousel-caption">-->
                            <!--<h2 class="hidden-xs">Third slide lorem ipsum dolor sit amet.</h2>-->
                            <!--<p>-->
                                <!--Duis aute irure dolor in reprehenderit.-->
                            <!--</p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="item">-->
                        <!--<a href="javascript:;"><img alt="Fourth slide" src="http://placehold.it/1140x430" alt="Image" class="image"/></a>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<ol class="carousel-indicators">-->
                    <!--<li data-target="#carousel-example-with-caption" data-slide-to="0" class="active"></li>-->
                    <!--<li data-target="#carousel-example-with-caption" data-slide-to="1" class=""></li>-->
                    <!--<li data-target="#carousel-example-with-caption" data-slide-to="2" class=""></li>-->
                    <!--<li data-target="#carousel-example-with-caption" data-slide-to="3" class=""></li>-->
                <!--</ol>-->
                <!--<a class="left carousel-control" href="#carousel-example-with-caption" data-slide="prev">-->
                <!--</a>-->
                <!--<a class="right carousel-control" href="#carousel-example-with-caption" data-slide="next">-->
                <!--</a>-->
            <!--</div>-->


        <h3 class="top-offset-40">Filmstrip carousel with images (only)</h3>

        <!-- Filmstrip carousel with images only-->
        <div class="carousel carousel-filmstrip">
            <!-- Carousel items -->
            <div class="carousel-inner">

                <div class="item">
                    <a href="javascript:;">
                        <img src="http://placehold.it/250x250/cccccc/FFFFFF&text=Image 1" alt="Image" class="img-responsive">
                    </a>
                </div>
                <div class="item">
                    <a href="javascript:;">
                        <img src="http://placehold.it/250x250/cccccc/FFFFFF&text=Image 2" alt="Image" class="img-responsive">
                    </a>
                </div>
                <div class="item">
                    <a href="javascript:;">
                        <img src="http://placehold.it/250x250/cccccc/FFFFFF&text=Image 3" alt="Image" class="img-responsive">
                    </a>
                </div>
                <div class="item">
                    <a href="javascript:;">
                        <img src="http://placehold.it/250x250/cccccc/FFFFFF&text=Image 4" alt="Image" class="img-responsive">
                    </a>
                </div>
                <div class="item">
                    <a href="javascript:;">
                        <img src="http://placehold.it/250x250/cccccc/FFFFFF&text=Image 5" alt="Image" class="img-responsive">
                    </a>
                </div>
                <div class="item">
                    <a href="javascript:;">
                        <img src="http://placehold.it/250x250/cccccc/FFFFFF&text=Image 6" alt="Image" class="img-responsive">
                    </a>
                </div>
                <div class="item">
                    <a href="javascript:;">
                        <img src="http://placehold.it/250x250/cccccc/FFFFFF&text=Image 7" alt="Image" class="img-responsive">
                    </a>
                </div>
            </div><!--/carousel-inner-->
        </div><!--/Carousel-->




    </div>
</section>
