
<section ng-controller="carouselCtrl" id="carousel-html-example">

    <div class="container">
        <h2>Carousel Demo</h2>

            <h3 class="top-offset-40">Banner carousel with all options</h3>
            <!--banner carousel-->
            <div id="banner-carousel-example" class="carousel slide carousel-gallery" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item">
                        <a href="javascript:;"><img alt="First slide" src="http://placehold.it/1140x430"></a>
                    </div>
                    <div class="item active">
                        <a href="javascript:;"><img alt="Second slide" src="http://placehold.it/1140x430"></a>
                    </div>
                    <div class="item">
                        <a href="javascript:;"><img alt="Third slide" src="http://placehold.it/1140x430"></a>
                    </div>
                </div>
                <ol class="carousel-indicators">
                    <li data-target="#banner-carousel-example" data-slide-to="0" class=""></li>
                    <li data-target="#banner-carousel-example" data-slide-to="1" class="active"></li>
                    <li data-target="#banner-carousel-example" data-slide-to="2" class=""></li>
                </ol>
                <a class="left carousel-control" href="#banner-carousel-example" data-slide="prev">
                </a>
                <a class="right carousel-control" href="#banner-carousel-example" data-slide="next">
                </a>
            </div>

        <hr/>

            <h3 class="top-offset-40">Banner carousel with no arrows</h3>
            <!--banner carousel with no arrows-->
            <div id="banner-carousel-no-arrows-example" class="carousel slide carousel-gallery" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item">
                        <a href="javascript:;"><img alt="First slide" src="http://placehold.it/1140x430"></a>
                    </div>
                    <div class="item active">
                        <a href="javascript:;"><img alt="Second slide" src="http://placehold.it/1140x430"></a>
                    </div>
                    <div class="item">
                        <a href="javascript:;"><img alt="Third slide" src="http://placehold.it/1140x430"></a>
                    </div>
                </div>
                <ol class="carousel-indicators">
                    <li data-target="#banner-carousel-no-arrows-example" data-slide-to="0" class=""></li>
                    <li data-target="#banner-carousel-no-arrows-example" data-slide-to="1" class="active"></li>
                    <li data-target="#banner-carousel-no-arrows-example" data-slide-to="2" class=""></li>
                </ol>
            </div>

        <hr/>



        <!--====================== New carousel Banner ==================-->

        <h3 class="top-offset-40">Banner carousel captions no arrows</h3>
        <!-- banner carousel with captions & no arrows-->
        <div id="jumbotron-carousel" class="carousel slide carousel-gallery" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="jumbotron">
                        <a href="javascript:alert('hello');">
                            <img src="http://placehold.it/3000x1011.png" alt=" ideal image size is 1400x472" class="img-responsive">
                        </a>
                        <div class="container">
                            <div class="row">
                                <a href="javascript:alert('hello');">
                                    <div class="well">
                                        <h5 class="hidden-xs hidden-sm">Sample event title</h5>
                                        <h2>Headline lorem ipsum dolor sit amet orc.</h2>
                                        <p>Subhead lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in purus sed dolor posuerat.</p>
                                        <p>
                                            <small class="hidden-xs hidden-sm">Sample Legal text for placement only.</small>
                                        </p>
                                        <p>
                                            <a href="javascript:;" class="btn btn-primary hidden-xs hidden-sm">Sample CTA</a>
                                            <a href="javascript:;" class="visible-xs visible-sm">Sample CTA</a>
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="jumbotron">
                        <a href="javascript:alert('hello');">
                            <img src="http://placehold.it/3000x1011.png" alt=" ideal image size is 1400x472" class="img-responsive">
                        </a>
                        <div class="container">
                            <div class="row">
                                <a href="javascript:alert('hello');">
                                    <div class="well">
                                        <h5 class="hidden-xs hidden-sm">Sample event title</h5>
                                        <h2>Headline lorem ipsum dolor sit amet orc.</h2>
                                        <p>Subhead lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in purus sed dolor posuerat.</p>
                                        <p>
                                            <small class="hidden-xs hidden-sm">Sample Legal text for placement only.</small>
                                        </p>
                                        <p>
                                            <a href="javascript:;" class="btn btn-primary hidden-xs hidden-sm">Sample CTA</a>
                                            <a href="javascript:;" class="visible-xs visible-sm">Sample CTA</a>
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="jumbotron">
                        <a href="javascript:alert('hello');">
                            <img src="http://placehold.it/3000x1011.png" alt=" ideal image size is 1400x472" class="img-responsive">
                        </a>
                        <div class="container">
                            <div class="row">
                                <a href="javascript:alert('hello');">
                                    <div class="well">
                                        <h5 class="hidden-xs hidden-sm">Sample event title</h5>
                                        <h2>Headline lorem ipsum dolor sit amet orc.</h2>
                                        <p>Subhead lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in purus sed dolor posuerat.</p>
                                        <p>
                                            <small class="hidden-xs hidden-sm">Sample Legal text for placement only.</small>
                                        </p>
                                        <p>
                                            <a href="javascript:;" class="btn btn-primary hidden-xs hidden-sm">Sample CTA</a>
                                            <a href="javascript:;" class="visible-xs visible-sm">Sample CTA</a>
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="jumbotron">
                        <a href="javascript:alert('hello');">
                            <img src="http://placehold.it/3000x1011.png" alt=" ideal image size is 1400x472" class="img-responsive">
                        </a>
                        <div class="container">
                            <div class="row">
                                <a href="javascript:alert('hello');">
                                    <div class="well">
                                        <h5 class="hidden-xs hidden-sm">Sample event title</h5>
                                        <h2>Headline lorem ipsum dolor sit amet orc.</h2>
                                        <p>Subhead lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in purus sed dolor posuerat.</p>
                                        <p>
                                            <small class="hidden-xs hidden-sm">Sample Legal text for placement only.</small>
                                        </p>
                                        <p>
                                            <a href="javascript:;" class="btn btn-primary hidden-xs hidden-sm">Sample CTA</a>
                                            <a href="javascript:;" class="visible-xs visible-sm">Sample CTA</a>
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ol class="carousel-indicators">
                <li data-target="#jumbotron-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#jumbotron-carousel" data-slide-to="1" class=""></li>
                <li data-target="#jumbotron-carousel" data-slide-to="2" class=""></li>
                <li data-target="#jumbotron-carousel" data-slide-to="3" class=""></li>
            </ol>
        </div>


        <!--====================== /New carousel Banner ==================-->


        <hr class="top-offset-60"/>

        <h3 class="top-offset-40">Filmstrip carousel images (no arrows on XS)</h3>

        <!-- Filmstrip carousel images (no arrows on XS) -->

        <div class="well well-white well-white-stroke">
            <div class="carousel carousel-filmstrip">
                <!-- Carousel items -->
                <div class="carousel-inner">

                    <div class="item">
                        <a href="javascript:;">
                            <img src="http://placehold.it/250x250/cccccc/FFFFFF&text=Image 1" alt="Image" class="img-responsive">
                        </a>
                    </div>
                    <div class="item">
                        <a href="javascript:;">
                            <img src="http://placehold.it/250x250/cccccc/FFFFFF&text=Image 2" alt="Image" class="img-responsive">
                        </a>
                    </div>
                    <div class="item">
                        <a href="javascript:;">
                            <img src="http://placehold.it/250x250/cccccc/FFFFFF&text=Image 3" alt="Image" class="img-responsive">
                        </a>
                    </div>
                    <div class="item">
                        <a href="javascript:;">
                            <img src="http://placehold.it/250x250/cccccc/FFFFFF&text=Image 4" alt="Image" class="img-responsive">
                        </a>
                    </div>
                    <div class="item">
                        <a href="javascript:;">
                            <img src="http://placehold.it/250x250/cccccc/FFFFFF&text=Image 5" alt="Image" class="img-responsive">
                        </a>
                    </div>
                    <div class="item">
                        <a href="javascript:;">
                            <img src="http://placehold.it/250x250/cccccc/FFFFFF&text=Image 6" alt="Image" class="img-responsive">
                        </a>
                    </div>
                    <div class="item">
                        <a href="javascript:;">
                            <img src="http://placehold.it/250x250/cccccc/FFFFFF&text=Image 7" alt="Image" class="img-responsive">
                        </a>
                    </div>
                </div><!--/carousel-inner-->
            </div><!--/Filmstrip carousel images (no arrows on XS)-->

        </div>


        <h3 class="top-offset-40">Filmstrip carousel with images and content block (no arrows on XS)</h3>

        <!-- Filmstrip carousel with images and content block -->
        <div class="carousel carousel-filmstrip-arrow-only">
            <!-- Carousel items -->
            <div class="carousel-inner">

                <div class="item">
                    <a href="javascript:;">
                        <img src="http://placehold.it/300x200/cccccc/FFFFFF&text=Image 1" alt="300x200" class="img-responsive">
                        <h5>Content Headline Title Goes Here</h5>
                    </a>
                    <p>Etiam velit ex, sagittis non vehicula in, efficitur vel massa. Aliquam erat volutpat. Maecenas id laoreet leo. Ut ut pretium ex. Nunc fermentum vehicula lectus, non interdum felis ornare sit amet.</p>
                </div>
                <div class="item">
                    <a href="javascript:;">
                        <img src="http://placehold.it/300x200/cccccc/FFFFFF&text=Image 2" alt="300x200" class="img-responsive">
                        <h5>Headline Title Goes Here with Additional Headline</h5>
                    </a>
                    <p>Aenean interdum nulla sed ante imperdiet, sit amet aliquam dui iaculis. Vivamus tempus ligula eget fringilla venenatis. Suspendisse malesuada leo nunc, in suscipit velit molestie sed. Integer lacus quam, gravida eu sollicitudin in, convallis ac justo. Nullam eget turpis eu elit finibus aliquet in in nisl. </p>
                </div>
                <div class="item">
                    <a href="javascript:;">
                        <img src="http://placehold.it/300x200/cccccc/FFFFFF&text=Image 3" alt="300x200" class="img-responsive">
                        <h5>Content Headline Title Goes Here</h5>
                    </a>
                    <p>Etiam velit ex, sagittis non vehicula in, efficitur vel massa. Aliquam erat volutpat. Maecenas id laoreet leo. Ut ut pretium ex. Nunc fermentum vehicula lectus.</p>
                </div>
                <div class="item">
                    <a href="javascript:;">
                        <img src="http://placehold.it/300x200/cccccc/FFFFFF&text=Image 4" alt="300x200" class="img-responsive">
                        <h5>Headline Title Goes Here</h5>
                    </a>
                    <p>Vehicula in, efficitur vel massa. Aliquam erat volutpat. Maecenas id laoreet leo. Ut ut pretium ex. Nunc fermentum vehicula lectus, non interdum felis ornare sit amet. Aliquam erat volutpat. </p>
                </div>
                <div class="item">
                    <a href="javascript:;">
                        <img src="http://placehold.it/300x200/cccccc/FFFFFF&text=Image 5" alt="300x200" class="img-responsive">
                        <h5>Content Headline Title Goes Here</h5>
                    </a>
                    <p>Nullam eget turpis eu elit finibus aliquet in in nisl. Aenean interdum nulla sed ante imperdiet, sit amet aliquam dui iaculis. Vivamus tempus ligula eget fringilla venenatis. Suspendisse malesuada leo nunc, in suscipit velit molestie sed. Integer lacus quam, gravida eu sollicitudin in, convallis ac justo. </p>
                </div>
                <div class="item">
                    <a href="javascript:;">
                        <img src="http://placehold.it/300x200/cccccc/FFFFFF&text=Image 6" alt="300x200" class="img-responsive">
                        <h5>Headline Title Goes Here</h5>
                    </a>
                    <p>Etiam velit ex, sagittis non vehicula in, efficitur vel massa. Aliquam erat volutpat. Maecenas id laoreet leo. Ut ut pretium ex. Nunc fermentum vehicula lectus, non interdum felis ornare sit amet.</p>
                </div>
                <div class="item">
                    <a href="javascript:;">
                        <img src="http://placehold.it/300x200/cccccc/FFFFFF&text=Image 7" alt="300x200" class="img-responsive">
                        <h5>Content Headline Title Goes Here</h5>
                    </a>
                    <p>liquam erat volutpat. Maecenas id laoreet leo. Ut ut pretium ex. efficitur vel massa. Aliquam erat volutpat. Maecenas id laoreet leo. Ut ut pretium ex. Nunc fermentum vehicula lectus, non interdum felis ornare sit amet.</p>
                </div>
            </div><!--/carousel-inner-->
        </div><!-- Filmstrip carousel with images and content block-->

    </div>
</section>
