
//tabs
//------------------------------------------------------------------------------------------
.tabbable.tabs-bordered .tab-content {
    border:     1px solid @dell-gray-stroke;
    border-top: none;
    .border-bottom-radius(@border-radius-base);
    padding:    10px 10px 0 10px;
    margin:     -20px 0 20px 0;
    }

.tabbable.tabs-left.tabs-bordered .tab-content,
.tabbable.tabs-bottom.tabs-bordered .tab-content,
.tabbable.tabs-right.tabs-bordered .tab-content {
    border:  none;
    padding: 0;
    margin:  0;
    }

.tabbable.tabs-left {
    &.tabs-gray-light {
        background:    @gray-light;
        margin-bottom: 7px;
        .border-right-radius(@border-radius-base);
        .nav-tabs {
            margin-bottom: 0;
            background:    @white;
            border-right:  none;
            li.active a {
                background: @gray-light;
                border:     none;
                }
            }

        .tab-content {
            margin-top: 20px;
            }

        > .nav-tabs {
            width: 30%;
            float: left;

            > li a {
                background: #ffffff;
                border:     none;

                &:hover {
                    background-color: #cce7f3;
                    }
                }

            .active a {
                background: @gray-light;
                border:     none;

                &:hover {
                    background-color: @gray-light;
                    }
                }
            }
        }
    }

.tabs-left {
    .tab-content {
        width: auto;
        }
    .tabs();
    }

.tabs-right {
    .tabs();
    }

.tabs() {
    > .nav-tabs,
    > .nav-tabs {
        float:         left;
        margin-right:  19px;
        border-bottom: none;
        border-right:  1px solid @dell-gray-stroke;
        .active > a,
        .active > a:hover,
        .active > a:focus {
            border-color: @dell-gray-stroke transparent @dell-gray-stroke @dell-gray-stroke;
            }

        > li {
            float: none;

            > a {
                margin-right:          -1px;
                -webkit-border-radius: 4px 0 0 4px;
                -moz-border-radius:    4px 0 0 4px;
                border-radius:         4px 0 0 4px;
                min-width:             100px;
                margin-bottom:         3px;
                padding:               10px 15px;
                }
            }
        }
    }

.tabbable.tabs-aside {
    .nav-aside {
        position: relative;
        z-index:  2;
        }

    .tab-content {
        position:      relative;
        left:          -15px;
        padding-left:  47px;
        z-index:       1;
        .box-shadow(-10px 0px 5px -9px rgba(0, 0, 0, .4));
        &:before {
            content: " ";
            }
        margin-bottom: @line-height-computed;
        }
    }

.img-tab {
    max-width: 135px;
    min-width: 90px;
    h3, h4,{
        margin-bottom: 0px;
        color:@dell-blue;
        }
    p {
        line-height: 18px;
        color:@dell-gray;
    }
}

// controls for the contab containers
.tab-advance-container {
//    min-width:300px;
    overflow:hidden;
//    position:relative;
    border:1px solid black;
    height:auto;
    }

.nav-tabs-overflow {
    overflow-x: auto;
    overflow-y: hidden;
    display: -webkit-box;
    }

.tab-pagers {
    position: absolute;
    z-index: 5;
    }

