//This LESS should ONLY be for DEMO purposes. It will not be included in the dell-ui-components css, only in the demo application

#offsets-html-example {

    .hr-offset-none {
        margin-bottom: 0;
        margin-top: 0;
        border-top: 1px solid red;
    }
}

//for play demo
#offsets-play-demo {


}
