<section ng-controller="offsetsCtrl" id="offsets-html-example">

    <div class="container">
        <h2 class="bottom-offset-30">Offsets Demo</h2>
        <div class="bottom-offset-30 row">
            <ul class="list-unstyled">
                <li class="col-xs-12 col-sm-3">
                    <div class="well well-gray-light offset-example">
                        <p>0px</p>
                        <div id="bottom-offset-0">
                            <div class="well well-green bottom-offset-0">
                                class="bottom-offset-0"
                            </div>
                        </div>
                        <hr>
                    </div>
                </li>
                <li class="col-xs-12 col-sm-3">
                    <div class="well well-gray-light offset-example">
                        <p>5px</p>
                        <div id="bottom-offset-5">
                            <div class="well well-green bottom-offset-5">
                                class="bottom-offset-5"
                            </div>
                        </div>
                        <hr>
                    </div>
                </li>
                <li class="col-xs-12 col-sm-3">
                    <div class="well well-gray-light offset-example">
                        <p>10px</p>
                        <div id="bottom-offset-10">
                            <div  class="well well-green bottom-offset-10">
                                class="bottom-offset-10"
                            </div>
                        </div>
                        <hr>
                    </div>
                </li>
                <li class="col-xs-12 col-sm-3">
                    <div class="well well-gray-light offset-example">
                        <p>20px</p>
                        <div id="bottom-offset-20">
                            <div  class="well well-green bottom-offset-20">
                                class="bottom-offset-20"
                            </div>
                        </div>
                        <hr>
                    </div>
                </li>
                <li class="col-xs-12 col-sm-3">
                    <div class="well well-gray-light offset-example">
                        <p>30px</p>
                        <div id="bottom-offset-30">
                            <div class="well well-green bottom-offset-30">
                                class="bottom-offset-30"
                            </div>
                        </div>
                        <hr>
                    </div>
                </li>
                <li class="col-xs-12 col-sm-3">
                    <div class="well well-gray-light offset-example">
                        <p>40px</p>
                        <div id="bottom-offset-40">
                            <div class="well well-green bottom-offset-40">
                                class="bottom-offset-40"
                            </div>
                        </div>
                        <hr>
                    </div>
                </li>
                <li class="col-xs-12 col-sm-3">
                    <div class="well well-gray-light offset-example">
                        <p>60px</p>
                        <div id="bottom-offset-60">
                            <div class="well well-green bottom-offset-60">
                                class="bottom-offset-60"
                            </div>
                        </div>
                        <hr>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</section>
