

// Related to custom dell ui components
//----------------------------------------------
@contact-drawer-width: 						245px;
@contact-drawer-height: 					262px;
@contact-drawer-cta-color:					@dell-blue;
@contact-drawer-cta-font-family:			@font-family-sans-serif;
@contact-drawer-distance-top:				150px;
@contact-drawer-background-color:			@white;
@contact-drawer-open-speed:					300ms;
