
     <!-- Footer
      ================================================== -->

      <div id="footer" class="gray-light" ng-controller="footerController" data-ng-init="init()">
        <div class="container">
          <div class="da-all ta-all ma-all top-offset-small">
              <h4 class="text-gray"><span>2014</span> <span class="divider">/</span> <span>Dell Sherpa</span><small class="pull-right text-gray">Dell, Inc.</small></h4>
              <p>A responsive prototyping framework for user experience design.</p>
          </div>

        </div>
          <p class="footer-back-to-top pull-right" data-spy="affix" data-offset-top="100"><a class="scroll text-white" href="#top"><i aria-hidden="true" class="icon-ui-collapse"></i> <span>Back to top</span></a></p>
      </div>