<section ng-controller="tablesUberCtrl" id="tables-uber-html-example">

    <div class="container">
        <h2>Tables-Uber Demo</h2>
        <div>

            <h3 class="bottom-offset-5 top-offset-60">
                Data Tables - Responsive (Complex-alt)
            </h3>

            <div class="bottom-offset-60">
                <!--  Data Tables - Responsive (Complex)  -->

                <table id="table-uber" class="table table-striped table-hover table-responsive-columns table-pagination display table-editable" table-data="{{exampleComplexTableData}}">
                    <thead>
                        <tr>
                            <th class="editable">Company name</th>
                            <th class="editable">Solution name</th>
                            <th class="editable">Solution ID</th>
                            <th>Owner</th>
                            <th>Last edited</th>
                            <th>List price</th>
                            <th>Customer number</th>
                            <th>Reference number</th>
                            <th>Quote number</th>
                        </tr>
                    </thead>
                </table>
            </div>


            <hr/>

            <div class="bottom-offset-60">
                <table id="example-complex" class="table table-striped table-hover table-complex display" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>vdzsdfsadfsdf</th>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Salary</th>
                    </tr>
                    </thead>
                </table>
            </div>

            <hr/>

            <h3 class="bottom-offset-5 top-offset-60">
                Data Tables - Responsive (Experiment)
            </h3>

            <div class="bottom-offset-60">
                <!--  Data Tables - Responsive (Experiment)  -->

                <div class="table">
                    <div class="row">
                        <div id="a" class="col-xs-1">
                            <input type="checkbox" name="table-items" value="o1">
                        </div>
                        <div class="col-xs-11">
                        <span class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                            <p class="small">Company name</p>
                            <p><a href="javascript:;">Boeing Aerospace</a></p>
                        </span>
                        <span class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                            <p class="small">Solution name</p>
                            <p><a href="">Server Rack Bo245</a></p>
                        </span>
                        <span class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                            <p class="small">Solution ID</p>
                            <p><a href="javascript:;">1234567825</a></p>
                        </span>
                        <span class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                            <p class="small">Owner</p>
                            <p><a href="javascript:;">Michael Kirk</a></p>
                        </span>
                        <span class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                            <p class="small">Last edited</p>
                            <p>03/15/15  14:28</p>
                        </span>
                        <span class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                            <p class="small">List price</p>
                            <p>$3,657.95</p>
                        </span>
                        <span class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                            <p class="small">Version creator</p>
                            <p>10</p>
                        </span>
                        <span class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                            <p class="small">Customer number</p>
                            <p>234517</p>
                        </span>
                        <span class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                            <p class="small">Mega customer number</p>
                            <p>13598</p>
                        </span>
                        <span class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                            <p class="small">Quote number</p>
                            <p><a href="javascript:;">342123</a></p>
                        </span>
                        </div>
                    </div>


                </div>

                <div class="row ">
                    <div id="a" class="col-xs-1">
                        <input type="checkbox" name="table-items" value="o1">
                    </div>
                    <div class="col-xs-11">
                    <span class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                        <p class="small">Company name</p>
                        <p><a href="javascript:;">Boeing Aerospace</a></p>
                    </span>
                    </div>
                </div>

        </div>
    </div>

</section>
