<section ng-controller="tablesUberCtrl" id="tables-uber-html-example">

    <div class="container">
        <h2>Tables-Uber Demo</h2>

        <div>

            <h3 class="bottom-offset-5 top-offset-60">
                Data Tables - Expandable Details
            </h3>

            <div class="bottom-offset-60">
                <form class="dt-form-inline" role="form">
                    <div class="form-group pull-left">
                        <label for="expand-details" class="control-label">Filter</label>
                        <div class="form-group">
                            <select class="form-control" id="expand-details">
                                <option disabled selected> choose option </option>
                                <option> open </option>
                                <option> waiting on response </option>
                                <option> pending approval </option>
                                <option> closed </option>
                            </select>
                        </div>
                    </div>
                </form>

                <table id="table-expandable" class="table table-striped table-hover table-expandable-row table-pagination table-editable nowrap compact">
                    <thead>
                    <tr>
                        <th><input name="select_all" value="1" type="checkbox"></th>
                        <th class="truncate">Company name</th>
                        <th class="truncate">Solution ID</th>
                        <th class="truncate">List price</th>
                        <th class="truncate">Quote number</th>
                    </tr>
                    </thead>
                </table>
            </div>

            <h3 class="bottom-offset-20 top-offset-60">
                Data Tables - Responsive Collapsing Column
            </h3>

            <div class="bottom-offset-60">
                <form class="dt-form-inline" role="form">
                    <div class="form-group pull-left">
                        <label for="collapse-columns" class="control-label">Filter</label>
                        <div class="form-group">
                            <select class="form-control" id="collapse-columns">
                                <option disabled selected> choose option </option>
                                <option> open </option>
                                <option> waiting on response </option>
                                <option> pending approval </option>
                                <option> closed </option>
                            </select>
                        </div>
                    </div>
                </form>

                <table id="table-uber" class="table table-striped table-hover table-responsive-columns table-pagination table-editable">
                    <thead>
                    <tr>
                        <th>
                            <span><input name="select_all" value="1" type="checkbox"></span>
                        </th>
                        <th>Company name</th>
                        <th>Solution name</th>
                        <th>Solution ID</th>
                        <th>Owner</th>
                        <th>Last edited</th>
                        <th>List price</th>
                        <th>Customer number</th>
                        <th>Reference number</th>
                        <th>Quote number</th>
                    </tr>
                    </thead>
                </table>
            </div>


            <hr/>

        </div>
    </div>

</section>
