/*
 * Tables-Uber component theme overrides
 *------------------------------------------------------------------------------------------
 */


table .table-responsive-columns {
    table td[class*=col-], table th[class*=col-] {
        position: static;
        float: none;
        display: table-cell;
    }
}


.table-expandable-row {
    p {
       margin-bottom: 5px;
       line-height: 15px;
    }
    p + p {
        margin-bottom: 10px;
    }
    td.details-control {
        text-align: left;
        &:after {
            padding-left: 5px;
        }
    }
    th {
        line-height: 15px !important;
    }
    th:first-child {
        &.details-control.sorting span:after,
        &.details-control.sorting_asc span:after,
        &.details-control.sorting_desc span:after{
            display: none;
        }
    }


}


div.dataTables_wrapper > div.row > div,
div.dataTables_length,
div.dataTables_filter,
div.dataTables_info,
div.dataTables_paginate {
    text-align: left;
}



// input placement
//.hide-text {
//    text-indent: -9999px;
//}


@media (max-width: @screen-xs-max) {
    div.dataTables_filter {
        label {
            font-weight: normal;
            white-space: nowrap;
            text-align: left;
            padding: 10px 0 10px 0;
            float: right;
            width: 100%;
            margin-top: -20px;
        }

        i.icon-small-magnifying-glass.text-blue {
            float: right;
            right: 10px;
            top: 24px;
            position: relative;
            z-index: 20;
        }
    }
    .form-inline .form-control {
        display: inline-block;
        width: 100%;
        vertical-align: middle;
        margin-left: 0;
        margin-right: 0;
        height: 31px !important;

    }

    select.form-control {
        width: 50px !important;
    }


    div.dataTables_paginate ul.pagination {
        margin: 2px 0;
        white-space: nowrap;
        padding-right: 10px;
        padding-left: 10px;
        text-align: center !important;
        float: none;
        //margin-left: auto;
        //margin-right: auto;
    }

    div.dataTables_wrapper > div.row > div,
    div.dataTables_length,
    div.dataTables_filter,
    div.dataTables_info,
    div.dataTables_paginate {
        text-align: center !important;
        padding-bottom: 10px;
    }


}

input.form-control.input-sm.col-xs-12.col-sm-4 {
    height: 31px !important;
}

.ColVis_Button i.glyphicon.glyphicon-option-horizontal.text-blue {
    padding-top: 3px;
}

// search glyph-icon
div.dataTables_filter i.icon-small-magnifying-glass.text-blue {
    right: 24px;
    top: 8px;
    position: relative;
    z-index: 20;
}



//change position of sorting icon css

table.dataTable thead th {
    background: transparent !important;
    white-space: nowrap;
}

table.dataTable thead span.sort-icon {
    display: inline-block;
    margin-left: 10px;
    font-family: 'FontAwesome';
}

table.dataTable thead .sorting span:after {
    content: "\f0dc";
    color: #5AABD1;
}
table.dataTable thead .sorting_asc span:after {
    content: "\f0de";
    color: @dell-blue;
}
table.dataTable thead .sorting_desc span:after {
    content: "\f0dd";
    color: @dell-blue;
}

table.dataTable thead .sorting_asc_disabled span:after {
    content: "\f0de";
    color: @dell-gray-light;
}
table.dataTable thead .sorting_desc_disabled span:after {
    content: "\f0dd";
    color: @dell-gray-light;
}


// ======================



td.dt-body-center input[type="checkbox"] {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: top;
}

ul.ColVis_collection li:first-of-type {
    display: none;
}


table.DTCR_clonedTable {
    background-color:rgba(255,255,255,0.7);
    z-index:202
}

div.DTCR_pointer {
    width:1px;
    background-color:#0259C4;
    z-index:201
}
