

//navbar
//------------------------------------------------------------------------------------------

.brand .icon-ui-dell {
    font-size: 48px;
    display: inline-block;
    position: relative;
    margin-top: 13px;
    }

.brand h2 {
    font-size: 30px;
    display: inline;
    position: relative;
    top: -6px;
    }