<section ng-controller="ratingsAndReviewsCtrl" id="ratings-and-reviews-html-example">

    <div class="container">

        <h2>Ratings-And-Reviews Demo</h2>
        <div class="ratings-and-reviews">
            <!-- example html for Ratings-And-Reviews component -->
            <!-- data-user-rating is for the current user and accepts a whole number   -->
            <!-- data-review-stars is for historical rating and an empty string ("[]") -->
            <!-- for no ratings or a comma separated list ("[4,12,32,45,56]") used to  -->
            <!-- calculate the rating and fill the histogram. Order is 1star to 5star  -->
            <!-- data-histogram turns the histogram on ("yes") or off ("no")           -->
            <h3 class="top-offset-40">Star Ratings (No Reviews)</h3>
            <div class="ratingBlock" data-user-rating="0" data-review-stars='' data-histogram="no"></div>
            <h3 class="top-offset-40">Star Ratings (Reviews)</h3>
            <div class="ratingBlock" data-user-rating="5" data-review-stars='[2,6,12,34,7]' data-histogram="no"></div>
            <h3 class="top-offset-40">Star Ratings (Reviews w/Histogram)</h3>
            <div class="ratingBlock" data-user-rating="5" data-review-stars='[12,12,23,54,107]' data-histogram="yes"></div>
        </div>

        <!-- example html for Recommendation Ratio component -->
        <div>
        	<h3 class="top-offset-40">Recommendation Ratio</h3>
        	<div class="recoRatio" data-recs="74" data-total="91"></div>
        </div>

        <!-- example html for Customer Review component -->
       	<div>
		<h3 class="top-offset-40">Customer Review Quote</h3>
        	<div class="revQuote" data-quote="When I received the XPS 16 I was so surprised at how thin, sharp, and stylish the XPS 16 was." data-attribution="jevester, September 24, 2009"></div>
        </div>

        <!-- example html for Like / Dislike component -->
        <div>
			<h3 class="top-offset-40">Like / Dislike</h3>
			Was this review helpful?
        	<div class="likeDislike" data-yes="74" data-no="6"></div>
        	<span class="text-blue">Report review</span>
        	<div class="nonlink"></div>
        </div>

        <!-- example html for Like / Dislike component -->
        <div>
			<h3 class="top-offset-40">Individual Ratings</h3>
			<div class="ind-rating-block pull-left">
				<div class="ratingBlock" data-user-rating="5" data-review-stars='[2,6,12,34,7]' data-histogram="no"></div>
				<div class="individual-rating pull-left" data-rating-label="Features" data-user-rating="4.4"></div>
				<div class="individual-rating pull-left" data-rating-label="Performance" data-user-rating="4.4"></div>
				<div class="individual-rating pull-left" data-rating-label="Value" data-user-rating="5"></div>
				<div class="individual-rating pull-left" data-rating-label="Customer Service" data-user-rating="4.1"></div>
				<div class="individual-rating pull-left" data-rating-label="Operating System" data-user-rating="4.1"></div>
			</div>
        </div>
    </div>

</section>
