/*
 * Ratings-And-Reviews component theme overrides
 *------------------------------------------------------------------------------------------
 */

.ratingBlock {
	width: 450px;
	height: 40px;
	border: 1px solid #000;
}

.starbox {
	font-size: 1.8em;
	font-weight: bold;
	background-image: url("<svg width='120px' height='20px'><text x='10' y='20'>☆☆☆☆☆</text></svg>");
}

.yesRatings {
	color: #F2AF00;
}

.noRatings {
	color: #000;
}

.reviewText {
	margin-left: 10px;
	margin-top: 8px;
}

.linkStyle, .linkStyle:hover {
	text-decoration: none !important;
	text-decoration: underline !important;
	color: #000;
}
