/*
 * Ratings-And-Reviews component theme overrides - OLD
 *------------------------------------------------------------------------------------------
 */


ul.ratings {
	padding-left: 0;
    list-style: none;
    margin-left: 0px;
    > li {
    	float:left;
    }
    ul.rating-stars{
    	padding-left: 0;
		list-style: none;
	    margin-left: -5px;
		> li {
			float:left;
			margin-right: -4px;
		}
		margin-right: 10px;
		position: relative;
	    top: -1px;
    }
    &:after {
    	content: " ";
    	clear:both;
    	display:block;
    }
}

.ratings-histogram {
	.progress {
		margin-bottom:10px;
	}
	.row {
		> div:last-child {
			margin-left:-20px;
		}
	}
}