<section ng-controller="productStackCtrl" id="product-stack-html-example">

    <div class="container">
        <h2>Product-Stack Demo</h2>
        <div>
            <!-- example html for Product-Stack component -->
            <div class="product-stack wrapper">
                <div class="row">
                    <div class="col-xs-12 col-sm-3">

                        <!-- product-bug-->
                        <div class="well product-bug">
                            <div class="triangle"></div>
                            <p>3 Year Accidental Damage Service Included</p>
                        </div>
                        <!-- /product-bug-->

                        <!-- asset sub-stack-->
                        <a href="javascript:;">
                            <img src="/components/product-stack/product-img/series-thumb-laptops-precision_7000.png" class="product-img center-block"/>
                        </a>
                        <!-- /asset sub-stack-->

                        <!-- product title and ratings sub-stack-->
                        <div class="product-title-stack">
                            <a href="javascript:;">
                                <h5 class="btn-link">Product Title Goes Here</h5>
                            </a>
                            <ul class="ratings">
                                <li>
                                    <ul class="rating-stars">
                                        <li><i class="icon-small-favorite-100"></i></li>
                                        <li><i class="icon-small-favorite-100"></i></li>
                                        <li><i class="icon-small-favorite-100"></i></li>
                                        <li><i class="icon-small-favorite-100"></i></li>
                                        <li><i class="icon-small-favorite-60"></i></li>
                                    </ul>
                                </li>
                                <li class="pull-right">
                                    <a href="javascript:;" class="btn-link">200 ratings</a>
                                </li>
                            </ul>

                            <!-- optional pricing overview -->
                                <h5 class="optional-price"><strong>00.00</strong></h5>
                            <!-- /optional pricing overview -->

                        </div>
                        <!-- /product title and ratings sub-stack-->

                        <!--tech specs -->
                        <div class="tech-spec">
                            <!-- spec 1 -->
                            <div>
                                <p>4th Generation Intel Core i5 Processor</p>
                                <ul class="list-inline list-unstyled">
                                    <li class="spec-bar active"></li>
                                    <li class="spec-bar active"></li>
                                    <li class="spec-bar active"></li>
                                    <li class="spec-bar active"></li>
                                    <li class="spec-bar default"></li>
                                </ul>
                            </div>
                            <!-- spec 2 -->
                            <div>
                                <p>Windows 8</p>
                                <ul class="list-inline list-unstyled">
                                    <li class="spec-bar active"></li>
                                    <li class="spec-bar active"></li>
                                    <li class="spec-bar active"></li>
                                    <li class="spec-bar active"></li>
                                    <li class="spec-bar active"></li>
                                </ul>
                            </div>
                            <!-- spec 3 -->
                            <div>
                                <p>6GB Memory</p>
                                <ul class="list-inline list-unstyled">
                                    <li class="spec-bar active"></li>
                                    <li class="spec-bar active"></li>
                                    <li class="spec-bar active"></li>
                                    <li class="spec-bar default"></li>
                                    <li class="spec-bar default"></li>
                                </ul>
                            </div>
                            <!-- spec 4 -->
                            <div>
                                <p>500GB Hard Drive</p>
                                <ul class="list-inline list-unstyled">
                                    <li class="spec-bar active"></li>
                                    <li class="spec-bar active"></li>
                                    <li class="spec-bar active"></li>
                                    <li class="spec-bar default"></li>
                                    <li class="spec-bar default"></li>
                                </ul>
                            </div>
                        </div>
                        <!-- /tech specs -->

                        <!-- feature spec -->
                        <div class="feature-spec">
                            <div class="wrapper">
                                <i class="icon-large-touch"></i>
                                <p><strong>Touch-enabled</strong></p>
                            </div>
                        </div>
                        <!-- /feature spec -->

                        <!-- product blurb -->
                        <div>
                            <p>
                                Includes a faster processor, more memory and a larger hard drive for the ultimate computing experience.
                            </p>
                        </div>
                        <!-- /product blurb -->

                        <!-- special-offers -->
                        <div class="special-offers">
                            <a href="javascript:;" class="collapsed" data-toggle="collapse" data-target="#special-offers">
                                <span class="show-collapsed"><i aria-hidden="true" class="icon-ui-triangleright"></i>Show stuff</span>
                                <span class="hide-expanded"><i aria-hidden="true" class="icon-ui-triangledown"></i>Hide stuff</span>
                            </a>
                                <div id="special-offers" class="collapse">
                                    <ul>
                                        <li>
                                            <a href="javascript:;" class="btn-link">Dell Precision 17 5000 Series price includes $140 instant discount.</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" class="btn-link">Dell Precision 17 5000 Series price includes $140 instant discount.</a>
                                        </li>
                                    </ul>
                                </div>



                        </div>
                        <!-- /special-offers -->

                        <!-- price-stack -->
                        <div class="price-stack">
                            <div class="well well-transparent-stroke">
                                <!--<h6>Market Value<span class="pull-right">$00.00</span></h6>-->
                                <!--<a href="javascript:;" class="btn-link"><h6 class="">Total Savings<span class="pull-right">$00.00</span></h6></a>-->
                                <h4 class="dell-price"><small>Dell Price</small><span class="pull-right"><strong>$0,000,000.00</strong></span></h4>

                                <h6 aria-describedby="popover-top">
                                    <a tabindex="0"
                                       role="popover"
                                       id="popover-top"
                                       data-trigger="show"
                                       class="popover-link"
                                       data-html="true"
                                       data-toggle="popover"
                                       data-placement="top"
                                       data-content="&lt;h6&gt;Market Value&lt;sup&gt;1&lt;/sup&gt;&lt;span class='pull-right'&gt;$000.00&lt;/span&gt;&lt;/h6&gt;
                                                     &lt;h6 class='text-berry'&gt;Instant discount&lt;span class='pull-right'&gt;-$00.00&lt;/span&gt;&lt;/h6&gt;
                                                     &lt;hr class='dotted-hr'/&gt;
                                                     &lt;h6&gt;&lt;strong&gt;Dell Price&lt;span class='pull-right'&gt;$000.00&lt;/span&gt;&lt;/strong&gt;&lt;/h6&gt;"
                                       >$20 Discount included</a>
                                </h6>

                            </div>



                            <!--&lt;h6&gt;Market Value&lt;sup&gt;1&lt;/sup&gt;&lt;span class='pull-right'&gt;$000.00&lt;/span&gt;&lt;/h6&gt;-->
                            <!--&lt;h6 class='text-berry'&gt;Instant discount&lt;span class='pull-right'&gt;-$00.00&lt;/span&gt;&lt;/h6&gt;-->
                            <!--&lt;hr class='dotted-hr'/&gt;-->
                            <!--&lt;h6&gt;&lt;strong&gt;Dell Price&lt;span class='pull-right'&gt;$000.00&lt;/span&gt;&lt;/strong&gt;&lt;/h6&gt;-->

                            <!--<h6>Market Value<sup>1</sup><span class="pull-right">$000.00</span></h6>-->
                            <!--<h6 class="text-berry">Instant discount<span class="pull-right">-$00.00</span></h6>-->
                            <!--<hr class="dotted-hr"/>-->
                            <!--<h6><strong>Dell Price<span class="pull-right">$000.00</span></strong></h6>-->

                        </div>

                        <!--<a href="javascript:;" data-toggle="tooltip" data-container="body" data-placement="top" title="Tooltip on bottom with simple filler copy"><small>Tooltip on top</small></a>-->


                        <!-- /price-stack -->
                        <!-- finance-stack -->
                        <div class="finance-stack">
                            <h6>Dell Preferred Account</h6>
                            <ul class="list-inline">
                                <li><a href="javascript:;" class="btn-link">As low as <sup>$</sup>20/mo<sup>1</sup></a></li>
                                <li class="pipe">|</li>
                                <li><a href="javascript:;" class="btn-link">Always</a></li>
                            </ul>
                        </div>
                        <!-- finance-stack -->

                        <!-- rewards-stack -->
                        <div class="rewards-stack">
                            <p>
                                <i aria-hidden="true" class="icon-small-favorite text-blue pull-left"></i>Get <a href="javascript:;" class="btn-link">$19.99</a> back in rewards
                            </p>
                        </div>
                        <!-- rewards-stack -->
                        <!-- rewards-stack -->
                        <div class="shipping-stack">
                            <div class="ship-date">
                                <img src="components/product-stack/product-img/Smart_Selection_Green_64px.png" class="img-responsive pull-left" alt="Responsive image">
                                <p class=pull-left">
                                    <small><a href="javascript:;" data-toggle="tooltip" data-placement="top" title=""
                                              data-original-title="Dell Smart Selection systems are our best value, ready-to-ship systems prebuilt based on customer insights. With Smart Selection, you get a simplified ordering process and fast shipping. Our experts will also recommend preselected software and accessories so that you get everything you need in one purchase. And you can add our custom-selected support services to keep your computer up and running.
                                 Limited system quantities available. Smart Selection system orders typically ship out from Dell facilities the next business day after payment processing. 3-5 day shipping method is standard. Not available for APO/FPO orders. Electronics and accessories may ship separately.">Smart Selection</a></small>
                                </p>
                                <p><small><strong>Ship date: </strong></small><small><strong>/12/15</strong></small></p>
                            </div>
                            <div class="same-day-ship">
                                <p><small><strong class="text-orange"><a href="javascript:;" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Same day shipment subject to order size limitations and payment confirmation. Not available for APO/FPO orders or AK or HI addresses. Electronics and accessories may ship separately.">Ships same day</a></strong> if ordered by 2pm CST Monday - Thursday</small></p>
                            </div>


                        </div>
                        <!-- rewards-stack -->





                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="bottom-offset-60">
extra space
    </div>
</section>
