<section ng-controller="productStackCtrl" id="product-stack-html-example">

    <div class="container">
        <h2>Product-Stack Demo</h2>
        <div>
            <!-- example html for Product-Stack component -->


            <div class="product-stack wrapper">

                <div class="row">
                    <div class="col-xs-12 col-sm-3">
                        <div class="well promo-snipe">
                            <div class="triangle"></div>
                            <p>Content placed in a <strong>"well"</strong></p>
                        </div>
                    </div>
                </div>

            </div>



        </div>
    </div>

</section>
