<section ng-controller="productStackCtrl" id="product-stack-html-example">

    <div class="container">
        <h2>Product-Stack Demo</h2>
        <div>
            <!-- example html for Product-Stack component -->


            <div class="product-stack wrapper">

                <div class="row">
                    <div class="col-xs-12 col-sm-3">

                        <!-- product-bug-->
                        <div class="well product-bug">
                            <div class="triangle"></div>
                            <p>3 Year Accidental Damage Service Included</p>
                        </div>

                        <!-- asset sub-stack-->
                        <a href="javascript:;">
                            <img src="/components/product-stack/product-img/series-thumb-laptops-precision_7000.png" class="img-responsive center-block"/>
                        </a>

                        <!-- product title and ratings sub-stack-->
                        <div>
                            <a href="javascript:;">
                                <h5 class="btn-link">Product Title Goes Here</h5>
                            </a>
                            <ul class="ratings">
                                <li>
                                    <ul class="rating-stars">
                                        <li><i class="icon-small-favorite-100"></i></li>
                                        <li><i class="icon-small-favorite-100"></i></li>
                                        <li><i class="icon-small-favorite-100"></i></li>
                                        <li><i class="icon-small-favorite-100"></i></li>
                                        <li><i class="icon-small-favorite-60"></i></li>
                                    </ul>
                                </li>
                                <li class="pull-right">
                                    <a href="javascript:;" class="btn-link">200 ratings</a>
                                </li>
                        </div>
                    </div>
                </div>

            </div>



        </div>
    </div>

</section>
