<section ng-controller="listsCtrl" id="lists-html-example">

    <div class="container">
        <h2 class="bottom-offset-30">Lists Demo</h2>

        <h3 class="bottom-offset-20">Horizontal inline link collector</h3>
        <!--Horizontal inline link collector-->
        <div class="row">
            <div class="col-xs-12 col-sm-9 clearfix">
                <div class="inline-content-links">
                    <ul class="list-unstyled list-inline content-links">
                        <li><a href="javascript:;" class="btn-link">Security Online Training</a></li>
                        <li><a href="javascript:;" class="btn-link">Security Webcasts</a></li>
                        <li><a href="javascript:;" class="btn-link">Contact an Expert</a></li>
                        <li><a href="javascript:;" class="btn-link">Additional Link</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--/Horizontal inline link collector-->


        <hr class="bottom-offset-30"/>

        <h3 class="bottom-offset-20">Unordered lists</h3>

            <!--unordered lists-->
            <ul>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Consectetur adipiscing elit</li>
                <li>Integer molestie lorem at massa</li>
                <li>Facilisis in pretium nisl aliquet</li>
                <li>Nulla volutpat aliquam velit
                    <ul>
                        <li>Phasellus iaculis neque</li>
                        <li>Purus sodales ultricies</li>
                        <li>Vestibulum laoreet porttitor sem</li>
                        <li>Ac tristique libero volutpat at</li>
                    </ul>
                </li>
                <li>Faucibus porta lacus fringilla vel</li>
                <li>Aenean sit amet erat nunc</li>
                <li>Eget porttitor lorem</li>
            </ul>

            <hr class="bottom-offset-30"/>

            <h3 class="bottom-offset-20">Ordered</h3>

            <!--ordered list-->
            <ol>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Consectetur adipiscing elit</li>
                <li>Integer molestie lorem at massa</li>
                <li>Facilisis in pretium nisl aliquet</li>
                <li>Nulla volutpat aliquam velit</li>
                <li>Faucibus porta lacus fringilla vel</li>
                <li>Aenean sit amet erat nunc</li>
                <li>Eget porttitor lorem</li>
            </ol>

            <hr class="bottom-offset-30"/>

            <h3 class="bottom-offset-20">Unstyled</h3>

            <!--unstyled lists-->
            <ul class="list-unstyled">
                <li>Lorem ipsum dolor sit amet</li>
                <li>Consectetur adipiscing elit</li>
                <li>Integer molestie lorem at massa</li>
                <li>Facilisis in pretium nisl aliquet</li>
                <li>Nulla volutpat aliquam velit
                    <ul>
                        <li>Phasellus iaculis neque</li>
                        <li>Purus sodales ultricies</li>
                        <li>Vestibulum laoreet porttitor sem</li>
                        <li>Ac tristique libero volutpat at</li>
                    </ul>
                </li>
                <li>Faucibus porta lacus fringilla vel</li>
                <li>Aenean sit amet erat nunc</li>
                <li>Eget porttitor lorem</li>
            </ul>

            <hr class="bottom-offset-30"/>

            <h3 class="bottom-offset-20">Inline</h3>

            <!--inline lists-->
            <ul class="list-inline">
                <li>Lorem ipsum</li>
                <li>Phasellus iaculis</li>
                <li>Nulla volutpat</li>
                <li>Happy</li>
                <li>Trees</li>
            </ul>

            <hr class="bottom-offset-30"/>

            <h3 class="bottom-offset-20">Description</h3>

            <!--vertical description list-->
            <dl>
                <dt>Description lists</dt>
                <dd>A description list is perfect for defining terms.</dd>
                <dt>Euismod</dt>
                <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                <dt>Malesuada porta</dt>
                <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
            </dl>

            <hr class="bottom-offset-30"/>

            <h3 class="bottom-offset-20">Horizontal description</h3>

            <!--horizontal description list-->

            <dl class="dl-horizontal">
                <dt>Description lists</dt>
                <dd>A description list is perfect for defining terms.</dd>
                <dt>Euismod</dt>
                <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                <dt>Malesuada porta</dt>
                <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                <dt>Felis euismod semper eget lacinia</dt>
                <dd>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>
            </dl>

    </div>

</section>
