//This LESS should ONLY be for DEMO purposes. It will not be included in the dell-ui-components css, only in the demo application

#site-wide-messaging-code{
    margin-left: -19px;
    margin-right: -19px;
    .container {
        width:100%;
        padding-left: 19px;
        padding-right: 19px;
    }
}



//
////for play demo
//site-wide-messaging-play-demo {
//
//
//}
////for guide demo
//site-wide-messaging-guide-demo {
//
//
//}
