//This LESS should ONLY be for DEMO purposes. It will not be included in the dell-ui-components css, only in the demo application

#popovers-html-example {


    .example-popover {
        margin: 0 -20px;
        clear:both;
        display:block;
        position:relative;
        z-index:1;

        .popover {
            position: relative;
            display: block;
            float: left;
            width: 260px;
            margin: 20px;
        }
    }

    @media (max-width: @screen-xs-max) {
        .example-popover {
            display:none;
        }
    }

}

//for play demo
#popovers-play-demo {


}