//This LESS should ONLY be for DEMO purposes. It will not be included in the dell-ui-components css, only in the demo application

#popovers-html-example {


.bs-example-popover .popover {
    position: relative;
    display: block;
    float: left;
    width: 260px;
    margin: 20px;
}


}

.bs-example-popover .popover {
    position: relative;
    display: block;
    float: left;
    width: 260px;
    margin: 20px;
}

//for play demo
#popovers-play-demo {


}