<section ng-controller="popoversCtrl" id="popovers-html-example">

    <div class="container">
        <h2>Popovers Demo</h2>
        <div>
            <div class="bottom-offset-40">
                <ul class="unstyled list-inline">
                    <li class="top-offset-20" aria-describedby="popover-top">
                        <a tabindex="0" role="popover" id="popover-top" data-trigger="show" class="btn btn-default" data-html="true" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="Popover on top &lt;button type='button' class='close pull-right visible-phone' data-dismiss='popover'&gt;×&lt;/button&gt;">Popover on top</a>
                    </li>
                    <li class="top-offset-20" aria-describedby="popover-right">
                        <a tabindex="1" role="popover" id="popover-right" data-trigger="focus" class="btn btn-default" data-html="true" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="Popover on right &lt;button type='button' class='close pull-right visible-phone' data-dismiss='popover'&gt;×&lt;/button&gt;">Popover on right</a>
                    </li>
                    <li class="top-offset-20" aria-describedby="popover-bottom">
                        <a tabindex="2" role="popover" id="popover-bottom" data-trigger="focus" class="btn btn-default" data-html="true" data-toggle="popover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="Popover on bottom &lt;button type='button' class='close pull-right visible-phone' data-dismiss='popover'&gt;×&lt;/button&gt;">Popover on bottom</a>
                    </li>
                    <li class="top-offset-20" aria-describedby="popover-left">
                        <a tabindex="3" role="popover" id="popover-left" data-trigger="focus" class="btn btn-default" data-html="true" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="Popover on left &lt;button type='button' class='close pull-right visible-phone' data-dismiss='popover'&gt;×&lt;/button&gt;">Popover on left</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="example-help-popover">
            <p aria-describedby="popover-with-help-icon">
              Example of inline help icon with popover <a tabindex="4" role="popover" id="popover-with-help-icon" data-trigger="show" data-html="true" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="Popover with help icon &lt;button type='button' class='close pull-right visible-phone' data-dismiss='popover'&gt;×&lt;/button&gt;"><i class="icon-small-alertinfo"></i></a>
            </p>
        </div>


        <div class="example-popover">

            <div class="popover top">
              <div class="arrow"></div>
              <h3 class="popover-title">Popover top</h3>
              <div class="popover-content">
                <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
              </div>
            </div>

            <div class="popover right">
              <div class="arrow"></div>
              <h3 class="popover-title">Popover right</h3>
              <div class="popover-content">
                <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
              </div>
            </div>
        </div>
        <div class="example-popover clearfix">

            <div class="popover bottom">
              <div class="arrow"></div>
              <h3 class="popover-title">Popover bottom</h3>

              <div class="popover-content">
                <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
              </div>
            </div>

            <div class="popover left">
              <div class="arrow"></div>
              <h3 class="popover-title">Popover left</h3>
              <div class="popover-content">
                <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
              </div>
            </div>
        </div>


    </div>

</section>

