/*
 * Popovers component theme overrides
 *------------------------------------------------------------------------------------------
 */
.popover .close {
    font-size: 16px;
    line-height: 1;
    padding-left: 5px;
}
.popover.top>.arrow {
    border-top-color: inherit;
    border-top-color: inherit;
}
.popover.top>.arrow {
    left: inherit;
    margin-left: -30px;
    border-bottom-width: 0;
    bottom: -13px;
}
.popover>.arrow, .popover>.arrow:after {
    content: none !important;
    position: absolute;
    width: 25px;
    height: 25px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background: white !important;
    border: 1px solid #8a8a8a !important;
}

.popover.left>.arrow {
	margin-top: -11px;
    border-right-width: 0 !important;
    border-top-width: 0 !important;
    content: none !important;
    left: 297px !important;
    background: white !important;
    transform: rotate(222deg) !important;
}
.popover.right>.arrow {
    top: 50%;
    left: 22px;
    margin-top: -12px;
    border-right-width: 0 !important;
    border-top-width: 0 !important;
    background: white !important;
    content: none !important;
}
.popover.top>.arrow {
    border-top-width: 0 !important;
    border-left-width: 0 !important;
    content: none !important;
    left: 55% !important;
}
.popover.bottom>.arrow {
    margin-left: -11px;
    border-top-width: 0 !important;
    top: -13px;
    border-left-width: 0 !important;
    content: none !important;
    transform: rotate(226deg) !important;
}
.popover>.arrow:after {
    border-width: 0;
    content: none !important;
}