/*
 * Containers component theme overrides
 *------------------------------------------------------------------------------------------
 */


@media (min-width: @screen-xs-min) {
    .well-caption {
        background: rgba(255, 255, 255, 0.9);
        bottom: 20px;
        right: 15px;
        left: 15px;
        position: absolute;
        padding: 12px 15px 15px 15px;
        border: none;
        .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    .well-teaser{
        padding: 0;
        overflow: hidden;
    }

}



@media (max-width: @screen-xs-max)  {
    .well-caption {
        background: @dell-gray-light;
        bottom: 20px;
        right: 0;
        left:0;
        position: relative;
        padding: 10px 15px 10px 15px;
        border: none;
    }
    .well-teaser{
        padding: 0;
        overflow: hidden;
    }

}

