/*
 * Containers component theme overrides
 *------------------------------------------------------------------------------------------
 */

//TODO needs to be in dell-ui-bootstrap
.well-lg {
    padding: 24px;
}

.well-sm {
    padding: 9px;
}

@media (max-width: @screen-xs-max){
    .well-lg,
    .well-sm {
        margin-left: -15px;
        margin-right: -15px;
    }
}

