<section ng-controller="containersCtrl" id="containers-html-example">

    <div class="container">
        <h2>Containers Demo</h2>
        <div>
            <h4>Default well example</h4>
            <div id="example-well">
                <div class="well well-transparent-stroke">
                    <p>This is a default Well...</p>
                </div>
            </div>
        </div>



        <h4>Solid colored wells &amp; containers</h4>

        <!-- solid -->
            <div class="well well-lg well-blue">
                <h2>Headline</h2>
                <p>Content placed in a <strong>"well well-lg well-blue"</strong></p>
            </div>

            <div class="well well-lg well-dark-blue">
                <h2>Headline</h2>
                <p>Content placed in a <strong>"well well-lg well-dark-blue"</strong></p>
            </div>

            <div class="well well-lg well-purple">
                <h2>Headline</h2>
                <p>Content placed in a <strong>"well well-lg well-purple"</strong></p>
            </div>
            <div class="well well-lg well-berry">
                <h2>Headline</h2>
                <p>Content placed in a <strong>"well well-lg well-berry"</strong></p>
            </div>

            <div class="well well-lg well-red">
                <h2>Headline</h2>
                <p>Content placed in a <strong>"well well-lg well-red"</strong></p>
            </div>

            <div class="well well-lg well-gray-medium">
                <h2>Headline</h2>
                <p>Content placed in a <strong>"well well-lg well-gray-medium"</strong></p>
            </div>

            <div class="well well-lg well-gray-dark">
                <h2>Headline</h2>
                <p>Content placed in a <strong>"well well-lg well-gray-dark"</strong></p>
            </div>



        <h4 class="top-offset-60">Color stroked wells &amp; containers</h4>

        <!-- stroked containers -->
        <div class="well well-lg well-blue-stroke">
            <h2>Headline</h2>
            <p>Content placed in a <strong>"well well-lg well-blue-stroke"</strong></p>
        </div>

        <div class="well well-lg well-dark-blue-stroke">
            <h2>Headline</h2>
            <p>Content placed in a <strong>"well well-lg well-dark-blue-stroke"</strong></p>
        </div>

        <div class="well well-lg well-purple-stroke">
            <h2>Headline</h2>
            <p>Content placed in a <strong>"well well-lg well-purple-stroke"</strong></p>
        </div>

        <div class="well well-lg well-berry-stroke">
            <h2>Headline</h2>
            <p>Content placed in a <strong>"well well-lg well-berry-stroke"</strong></p>
        </div>

        <div class="well well-lg well-red-stroke">
            <h2>Headline</h2>
            <p>Content placed in a <strong>"well well-lg well-red-stroke"</strong></p>
        </div>

        <div class="well well-lg well-red-dark-stroke">
            <h2>Headline</h2>
            <p>Content placed in a <strong>"well well-lg well-red-dark-stroke"</strong></p>
        </div>

        <div class="well well-lg well-gray-medium-stroke">
            <h2>Headline</h2>
            <p>Content placed in a <strong>"well well-lg well-gray-medium-stroke"</strong></p>
        </div>

        <div class="well well-lg well-gray-dark-stroke">
            <h2>Headline</h2>
            <p>Content placed in a <strong>"well well-lg well-gray-dark-stroke"</strong></p>
        </div>





        <h4 class="top-offset-60">Color stroked wells &amp; containers with title</h4>

        <!-- color stroked containers with title -->
        <div class="well well-lg well-blue-stroke">
            <h4 class="container-title">A really long title goes here</h4>
            <p>Content placed in a <strong>"well well-lg well-blue-stroke"</strong></p>
        </div>

        <div class="well well-lg well-dark-blue-stroke">
            <h4 class="container-title">A really long title goes here</h4>
            <p>Content placed in a <strong>"well well-lg well-dark-blue-stroke"</strong></p>
        </div>

        <div class="well well-lg well-purple-stroke">
            <h4 class="container-title">A really long title goes here</h4>
            <p>Content placed in a <strong>"well well-lg well-purple-stroke"</strong></p>
        </div>

        <div class="well well-lg well-berry-stroke">
            <h4 class="container-title">A really long title goes here</h4>
            <p>Content placed in a <strong>"well well-lg well-berry-stroke"</strong></p>
        </div>

        <div class="well well-lg well-red-stroke">
            <h4 class="container-title">A really long title goes here</h4>
            <p>Content placed in a <strong>"well well-lg well-red-stroke"</strong></p>
        </div>

        <div class="well well-lg well-red-dark-stroke">
            <h4 class="container-title">A really long title goes here</h4>
            <p>Content placed in a <strong>"well well-lg well-red-dark-stroke"</strong></p>
        </div>

        <div class="well well-lg well-gray-medium-stroke">
            <h4 class="container-title">A really long title goes here</h4>
            <p>Content placed in a <strong>"well well-lg well-gray-medium-stroke"</strong></p>
        </div>

        <div class="well well-lg well-gray-dark-stroke">
            <h4 class="container-title">A really long title goes here</h4>
            <p>Content placed in a <strong>"well well-lg well-gray-dark-stroke"</strong></p>
        </div>





        <h4 class="top-offset-60">Color stroked wells &amp; containers with title</h4>

        <!-- color stroked containers with panel -->
        <div class="panel panel-blue">
            <h3 class="panel-heading">A really long title goes here</h3>
            <p class="panel-body">Content placed in a <strong>"panel panel-blue"</strong></p>
        </div>

        <div class="panel panel-dark-blue">
            <h3 class="panel-heading">A really long title goes here</h3>
            <p class="panel-body">Content placed in a <strong>"panel panel-dark-blue"</strong></p>
        </div>

        <div class="panel panel-purple">
            <h3 class="panel-heading">A really long title goes here</h3>
            <p class="panel-body">Content placed in a <strong>"panel panel-purple"</strong></p>
        </div>

        <div class="panel panel-purple">
            <h3 class="panel-heading">A really long title goes here</h3>
            <p class="panel-body">Content placed in a <strong>"panel panel-purple"</strong></p>
        </div>

        <div class="panel panel-berry">
            <h3 class="panel-heading">A really long title goes here</h3>
            <p class="panel-body">Content placed in a <strong>"panel panel-berry"</strong></p>
        </div>

        <div class="panel panel-red">
            <h3 class="panel-heading">A really long title goes here</h3>
            <p class="panel-body">Content placed in a <strong>"panel panel-red"</strong></p>
        </div>

        <div class="panel panel-red-dark">
            <h3 class="panel-heading">A really long title goes here</h3>
            <p class="panel-body">Content placed in a <strong>"panel panel-red-dark"</strong></p>
        </div>

        <div class="panel panel-gray-medium">
            <h3 class="panel-heading">A really long title goes here</h3>
            <p class="panel-body">Content placed in a <strong>"panel panel-gray-medium"</strong></p>
        </div>

        <div class="panel panel-gray-dark">
            <h3 class="panel-heading">A really long title goes here</h3>
            <p class="panel-body">Content placed in a <strong>"panel panel-gray-dark"</strong></p>
        </div>

    </div>

</section>
