/*
 * Contact-Drawer component theme overrides
 *------------------------------------------------------------------------------------------
 */

.contact-drawer {
	z-index: 9000;
	position: fixed;
	top: @contact-drawer-distance-top;
	right: -245px;
	width: @contact-drawer-width;
	-webkit-transition: all @contact-drawer-open-speed cubic-bezier(1.000, 0.000, 0.000, 1.000);
	-moz-transition: all @contact-drawer-open-speed cubic-bezier(1.000, 0.000, 0.000, 1.000);
	-o-transition: all @contact-drawer-open-speed cubic-bezier(1.000, 0.000, 0.000, 1.000);
	transition: all @contact-drawer-open-speed cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */

	&.open {
		right: 0px !important;
	}
	.contact-drawer-cta {
        width: 35px;
        height: 115px;
        position: absolute;
        left: -33px;
        top: 30px;
		cursor: pointer;
		background: @contact-drawer-cta-color;
		color: #ffffff;
		padding: 5px 10px;
		font-size: 18px;
		line-height: 22px;
		font-family:  @contact-drawer-cta-font-family;
	}

    .contact-drawer-cta-90 {
        width: 150px;
        height: 30px;
        position: absolute;
        left: -59px;
        top: 20px;
        cursor: pointer;
        color: #ffffff;
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        padding: 5px 10px;
        font-size: 18px;
        line-height: 22px;
        font-family:  @contact-drawer-cta-font-family;
    }
	.contact-drawer-panel {
		border: 1px solid @dell-gray-very-light;
		border-top: 1px solid @dell-gray-light;
		padding: 20px 20px 0;
		background:  @contact-drawer-background-color;
		display: inline-block;
		width: @contact-drawer-width;
		-webkit-box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.2);
		box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.2);
		.icon {
			float: left;
			min-height: 80px;
			margin-right: 10px;
			color: @contact-drawer-cta-color;
		}
		&:before {
			content: " ";
			width: 2px;
			background:  @contact-drawer-cta-color;
			height: @contact-drawer-height;
			position: absolute;
			top: 30px;
			left: 0;
		}
	}
    .close {
        top: 35px;
        right: 15px;
        position: relative;
        font-size: 19px;
        font-weight: bold;

    }
}

