<section ng-controller="contactDrawerCtrl" id="contact-drawer-html-example">

    <div class="container" id="contact-drawer">
        <h2>Contact-Drawer Demo</h2>
        <div class="block-grid-item">
            <!-- example html for Contact-Drawer component -->
            <div class="hidden-xs hidden-sm contact-drawer">
			    <div class="contact-drawer-cta">
			    	Contact us
			    </div>
			    <div class="contact-drawer-panel">
			        <ul class="unstyled">
			            <li>
			                <div class="icon">
			                    <i class="icon-small-chat"></i>
			                </div>
			                <div class="description">
			                    <p>Get immediate answers about your product.</p>
			                    <p><a href="javascript:;">Chat now</a></p>
			                </div>
			            </li>
			            <li>
			                <div class="icon">
			                    <i class="icon-small-phone"></i>
			                </div>
			                <div class="description">
			                    <p>Talk to a Dell expert over the phone.</p>
			                    <p><a href="javascript:;">Call 1-800-WWW-DELL</a></p>
			                </div>
			            </li>
			            <li>
			                <div class="icon">
			                    <i class="icon-small-mail"></i>
			                </div>
			                <div class="description">
			                    <p>Email us, and we'll reply within one business day</p>
			                    <p><a href="javascript:;">Email us</a></p>
			                </div>
			            </li>
			        </ul>
			    </div>
			</div>
        </div>
    </div>

</section>
