//This LESS should ONLY be for DEMO purposes. It will not be included in the dell-ui-components css, only in the demo application

#contact-drawer-html-example {
	#contact-drawer {
		.block-grid-item {
			border: 1px solid @dell-gray-stroke;
			padding: 10px 0;
			overflow: hidden;
			position: relative;
			height:400px;
			.contact-drawer {
			  z-index: 9000;
			  position: absolute;
			  top: 50px;
			  right: -245px;
			}
		}

	}

}
//
////for play demo
//contact-drawer-play-demo {
//
//
//}
