/*
 * Content-Teaser component theme overrides
 *------------------------------------------------------------------------------------------
 */


.stacked-detail-links  {
    min-height: 20px;
    margin-bottom: 10px;

     ul > li,
     ul > span {
        padding-top: 5px;
        padding-bottom: 5px;
        a, span {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}

.teaser-media-heading {
    margin-top: 0;
    margin-bottom: 0px;
}

.vertical-center {
    display: inline-block;
    vertical-align: middle;
    float: none;
    a {
        padding-top: 7px;
        padding-bottom: 7px;
        margin-top: -5px;
        margin-bottom: -5px;
    }
}

@media (max-width: @screen-xs-max) {
   .detail-links {
        li {
            width: 100%;
            padding-bottom: 20px;
        }
    }

    .multiline-ellipsis {
        display: block;
        display: -webkit-box;
        max-width: 100%;
        height: 64px;
        margin: 0 auto;
        //font-size: 14px;
        line-height: 20px;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .full-width-teaser {
        margin-left: -20px;
        margin-right: -20px;
        width: 105%;
        margin-bottom: 20px;
    }
}

.well-site-wide {
    border-top: 1px solid @dell-gray-stroke;
    border-bottom: none;
    border-left: none;
    border-right: none;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(left,  #ffffff 0%, #ededed 51%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(51%,#ededed), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #ffffff 0%,#ededed 51%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #ffffff 0%,#ededed 51%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #ffffff 0%,#ededed 51%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to right,  #ffffff 0%,#ededed 51%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
    padding: 10px 20px;
}


.detail-links {
    > li {
        display: none;
        padding-bottom: 20px;

        @media (min-width: 768px) {

            &:nth-child(-n+4) {
                display: block;
            }
        }
    }
    &.view-all {
        > li {
            display: block;
        }
    }
}

.content-toggle {
    margin-top: -15px;
}


.dropdown-menu {
    i {
        margin-left: -6px;
        vertical-align: text-bottom;
    }
}




.content-teaser-container{
    display: block;
    margin-bottom: 30px;
}


//value props code
//======================================================================//

.value-props-gallery {
    position: relative;
    text-align: center;
    border-top: 1px solid @dell-gray-stroke;
    border-bottom: 1px solid @dell-gray-stroke;
    background-color: @dell-gray-light;
    z-index: 120;
    .gallery-item {
        padding: 20px 15px 10px 15px;
        border-radius: 0;
        cursor: pointer;
        &:hover {
            background: @white;
            border-left: 1px solid @dell-gray-stroke;
            border-right: 1px solid @dell-gray-stroke;

        }
    }
}






//    /* Extra small devices (phones, less than 768px) */
//    /* No media query since this is the default in Bootstrap */
//    .content-holder {
//        float: left;
//        margin-top: 40px;
//        margin-left: 20px;
//        padding-left: 0px;
//    }
//
//    .full-width-container {
//        width:100%;
//        max-width: 1210px;
//    }
//
//    .full-width-teaser {
//        width:100%;
//        max-width: 1210px;
//        text-align:center;
//        height:40px;
//        border-top: 1px solid @dell-gray-stroke;
//        padding-top: 10px;
//        padding-left: 10px;
//        background: @dell-gray-light;
//    }
//
//    .div-wrapper {
//        position: relative;
//        height: 320px;
//        max-width: 262px
//    }
//
//    .div-wrapper img {
//        position: absolute;
//        left: 0;
//        bottom: 0;
//    }
//
//    .top-offset-15 {
//        margin-top: 15px;
//    }
//
//    .horizontal-teaser {
//        width:584px;
//        height:175px;
//    }
//
//    .teaser-headline {
//        margin-top: 30px;
//        margin-bottom: 0px;
//    }
//
//    .teaser-link {
//        color: @dell-primary-blue;
//        width:584px;
//        height: 45px;
//        padding-top: 15px;
//        padding-left: 15px;
//        float: left;
//    }
//
//    .horizontal-teaser .pull-right {
//        padding-left: 15px;
//    }
//
//    .horizontal-full-bleed {
//        position:relative;
//        float:left;
//        clear:none;
//    }
//
//    .horizontal-full-bleed p {
//        padding-left: 10px;
//    }
//
//    .text-link-overlay {
//        display:block;
//        position: absolute;
//        bottom: -10px;
//        left: 0;
//        width: 100%;
//        height: 45px;
//        background-color: rgba(255,255,255,90%);
//    }
//
//    .content-holder p {
//        padding-top: 10px;
//    }
//
//    .vertical-teaser-link {
//        margin: 0px;
//    }
//
//
//    @media (max-width: 2800px) {
//        .full-width-teaser {
//            width:100%;
//            height:40px;
//            text-align:center;
//            border-top: 1px solid @dell-gray-stroke;
//            padding-top: 10px;
//            background: rgb(255,255,255); /* Old browsers */
//            background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(240,240,240,1) 50%, rgba(255,255,255,1) 100%); /* FF3.6+ */
//            background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(240,240,240,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
//            background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(240,240,240,1) 50%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
//            background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(240,240,240,1) 50%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
//            background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(240,240,240,1) 50%,rgba(255,255,255,1) 100%); /* IE10+ */
//            background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(240,240,240,1) 50%,rgba(255,255,255,1) 100%); /* W3C */
//            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
//        }
//    }
//
//
//    @media (max-width: 993px) {
//        .full-width-teaser {
//            width:100%;
//            max-width: 750px;
//            height:60px;
//            text-align:center;
//            border-top: 1px solid @dell-gray-stroke;
//            padding-top: 10px;
//            background: rgb(255,255,255); /* Old browsers */
//            background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(240,240,240,1) 50%, rgba(255,255,255,1) 100%); /* FF3.6+ */
//            background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(240,240,240,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
//            background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(240,240,240,1) 50%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
//            background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(240,240,240,1) 50%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
//            background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(240,240,240,1) 50%,rgba(255,255,255,1) 100%); /* IE10+ */
//            background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(240,240,240,1) 50%,rgba(255,255,255,1) 100%); /* W3C */
//            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
//        }
//
//        .horizontal-teaser {
//            width:100%;
//            max-width: 700px;
//            /*height:175px;
//            padding-left: 15px;*/
//        }
//
//        .teaser-headline {
//            color: @dell-primary-blue;
//            margin-top: 0px;
//            margin-bottom: 0px;
//        }
//
//        .text-link-overlay {
//            width: 320px;
//            height: 60px;
//            padding: 15px;
//        }
//
//        .content-holder {
//            width: 100%;
//        }
//
//    }
//}
