/*
 * Content-Teaser component theme overrides
 *------------------------------------------------------------------------------------------
 */


.stacked-content-links {
    min-height: 20px;
    padding: 10px 15px;
    margin-bottom: 10px;

    li, span {
        padding-top: 5px;
        padding-bottom: 5px;
        a, span {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}

@media (max-width: @screen-xs-max) {
    .inline-content-links {
        .content-links {
            li {
                width: 100%;
                padding-bottom: 20px;
            }
        }
    }
}

.content-links {
    > li {
        display: none;
        @media (min-width: 768px) {

            &:nth-child(-n+5) {
                display: block;
            }
        }
    }
    &.view-all {
        > li {
            display: block;
        }
    }
}


.content-toggle {
    margin-top: -15px;
}


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
	.content-holder {
		float: left;
		margin-top: 40px;
		margin-left: 20px;
		padding-left: 0px;
	}

	.full-width-container {
		width:100%;
		max-width: 1210px;
	}

	.full-width-teaser {
		width:100%;
		max-width: 1210px;
		text-align:center;
		height:40px;
		border-top: 1px solid @dell-gray-stroke;
		padding-top: 10px;
		padding-left: 10px;
		background: @dell-gray-light;
	}

	.div-wrapper {
		position: relative;
		height: 320px;
		max-width: 262px
	}

	.div-wrapper img {
	    position: absolute;
	    left: 0;
	    bottom: 0;
	}

	.top-offset-15 {
		margin-top: 15px;
	}

	.horizontal-teaser {
		width:584px;
		height:175px;
	}

	.teaser-headline {
		margin-top: 30px;
		margin-bottom: 0px;
	}

	.teaser-link {
		color: @dell-primary-blue;
		width:584px;
		height: 45px;
		padding-top: 15px;
		padding-left: 15px;
		float: left;
	}

	.horizontal-teaser .pull-right {
		padding-left: 15px;
	}

	.horizontal-full-bleed {
		position:relative;
		float:left;
		clear:none;
	}

	.horizontal-full-bleed p {
		padding-left: 10px;
	}

	.text-link-overlay {
		display:block;
		position: absolute;
		bottom: -10px;
		left: 0;
		width: 100%;
		height: 45px;
		background-color: rgba(255,255,255,90%);
	}

	.content-holder p {
		padding-top: 10px;
	}

	.vertical-teaser-link {
		margin: 0px;
	}


@media (max-width: 2800px) {
	.full-width-teaser {
		width:100%;
		height:40px;
		text-align:center;
		border-top: 1px solid @dell-gray-stroke;
		padding-top: 10px;
		background: rgb(255,255,255); /* Old browsers */
		background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(240,240,240,1) 50%, rgba(255,255,255,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(240,240,240,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(240,240,240,1) 50%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(240,240,240,1) 50%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(240,240,240,1) 50%,rgba(255,255,255,1) 100%); /* IE10+ */
		background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(240,240,240,1) 50%,rgba(255,255,255,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
	}
}


@media (max-width: 993px) {
	.full-width-teaser {
		width:100%;
		max-width: 750px;
		height:60px;
		text-align:center;
		border-top: 1px solid @dell-gray-stroke;
		padding-top: 10px;
		background: rgb(255,255,255); /* Old browsers */
		background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(240,240,240,1) 50%, rgba(255,255,255,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(240,240,240,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(240,240,240,1) 50%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(240,240,240,1) 50%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(240,240,240,1) 50%,rgba(255,255,255,1) 100%); /* IE10+ */
		background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(240,240,240,1) 50%,rgba(255,255,255,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
	}

	.horizontal-teaser {
		width:100%;
		max-width: 700px;
		/*height:175px;
		padding-left: 15px;*/
	}

	.teaser-headline {
		color: @dell-primary-blue;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.text-link-overlay {
		width: 320px;
		height: 60px;
		padding: 15px;
	}

	.content-holder {
		width: 100%;
	}

}
