<section ng-controller="contentTeaserCtrl" id="content-teaser-html-example">


    <div class="container">
        <h2>Teasers Demo</h2>
        <h3 class="bottom-offset-20">Vertical Teaser – Show/no-hide</h3>
        <div class="row">
            <!--Example 1-->
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="content-teaser-container">
                        <img src="http://placehold.it/260x155" class="img-responsive bottom-offset-10"/>
                        <h4 class="text-blue">Content Headline Title Goes Here</h4>
                        <p>Controlling access and achieving governance has become more complicated than ever. Today’s diverse mix of applications and access scenarios make identity and access management (IAM) extremely complex and time-consuming.</p>
                        <div class="stacked-detail-links"><!--parent show/hide wrapper for links-->
                            <ul class="list-unstyled detail-links list-group content-card" ng-class="{'view-all': viewAll['parent-link-1']}">
                                <li><a href="javascript:;">1 Sample Link</a></li>
                                <li><a href="javascript:;">2 Sample Link</a></li>
                                <li><a href="javascript:;">3 Sample Link</a></li>
                                <li><a href="javascript:;">4 Sample Link</a></li>
                                <li><a href="javascript:;">5 Sample Link</a></li>
                                <li><a href="javascript:;">6 Sample Link</a></li>
                                <li><a href="javascript:;">7 Sample Link</a></li>
                                <li><a href="javascript:;">8 Sample Link</a></li>
                                <li><a href="javascript:;">9 Sample Link</a></li>
                            </ul>
                            <div class="content-toggle" ng-hide="viewAll['parent-link-1']">
                                <a href="javascript:;" class="hidden-xs" ng-click="viewAll['parent-link-1'] = true">View All</a>
                                <a href="javascript:;" class="visible-xs"  ng-click="viewAll['parent-link-1'] = true">More</a>
                            </div>
                        </div><!--/parent show/hide wrapper for links-->
                    </div>
                </div>
                <!--/Example 1-->


                <!--Example 2-->

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="content-teaser-container">
                        <img src="http://placehold.it/260x155" class="img-responsive bottom-offset-10"/>
                        <h4 class="text-blue">Content Headline Title Goes Here</h4>
                        <p>Controlling access and achieving governance has become more complicated than ever. Today’s diverse mix of applications and access scenarios make identity and access management (IAM) extremely complex and time-consuming.</p>
                        <div class="stacked-detail-links"><!--parent show/hide wrapper for links-->
                            <ul class="list-unstyled detail-links list-group" ng-class="{'view-all': viewAll['parent-link-2']}">
                                <li><a href="javascript:;">1 Sample Link</a></li>
                                <li><a href="javascript:;">2 Sample Link</a></li>
                                <li><a href="javascript:;">3 Sample Link</a></li>
                                <li><a href="javascript:;">4 Sample Link</a></li>
                                <li><a href="javascript:;">5 Sample Link</a></li>
                                <li><a href="javascript:;">6 Sample Link</a></li>
                                <li><a href="javascript:;">7 Sample Link</a></li>
                                <li><a href="javascript:;">8 Sample Link</a></li>
                                <li><a href="javascript:;">9 Sample Link</a></li>
                            </ul>
                            <div class="content-toggle" ng-hide="viewAll['parent-link-2']">
                                <a href="javascript:;" class="hidden-xs" ng-click="viewAll['parent-link-2'] = true">View All</a>
                                <a href="javascript:;" class="visible-xs"  ng-click="viewAll['parent-link-2'] = true">More</a>
                            </div>
                        </div><!--/parent show/hide wrapper for links-->
                    </div>
                </div>
                <!--/Example 2-->

                <!--Example 3-->
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="content-teaser-container">
                        <img src="http://placehold.it/260x155" class="img-responsive bottom-offset-10"/>
                        <h4 class="text-blue">Content Headline Title Goes Here</h4>
                        <p>Controlling access and achieving governance has become more complicated than ever. Today’s diverse mix of applications and access scenarios make identity and access management (IAM) extremely complex and time-consuming.</p>
                        <div class="stacked-detail-links"><!--parent show/hide wrapper for links-->
                            <ul class="list-unstyled detail-links list-group" ng-class="{'view-all': viewAll['parent-link-3']}">
                                <li><a href="javascript:;">1 Sample Link</a></li>
                                <li><a href="javascript:;">2 Sample Link</a></li>
                                <li><a href="javascript:;">3 Sample Link</a></li>
                                <li><a href="javascript:;">4 Sample Link</a></li>
                                <li><a href="javascript:;">5 Sample Link</a></li>
                                <li><a href="javascript:;">6 Sample Link</a></li>
                                <li><a href="javascript:;">7 Sample Link</a></li>
                                <li><a href="javascript:;">8 Sample Link</a></li>
                                <li><a href="javascript:;">9 Sample Link</a></li>
                            </ul>
                            <div class="content-toggle" ng-hide="viewAll['parent-link-3']">
                                <a href="javascript:;" class="hidden-xs" ng-click="viewAll['parent-link-3'] = true">View All</a>
                                <a href="javascript:;" class="visible-xs"  ng-click="viewAll['parent-link-3'] = true">More</a>
                            </div>
                        </div> <!--/parent show/hide wrapper for links-->
                    </div>
                </div>
                <!--/Example 3-->

                <!--Example 4-->
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="content-teaser-container">
                        <img src="http://placehold.it/260x155" class="img-responsive bottom-offset-10"/>
                        <h4 class="text-blue">Content Headline Title Goes Here</h4>
                        <p>Controlling access and achieving governance has become more complicated than ever. Today’s diverse mix of applications and access scenarios make identity and access management (IAM) extremely complex and time-consuming.</p>
                        <div class="stacked-detail-links"><!--parent show/hide wrapper for links-->
                            <ul class="list-unstyled detail-links list-group" ng-class="{'view-all': viewAll['parent-link-4']}">
                                <li><a href="javascript:;">1 Sample Link</a></li>
                                <li><a href="javascript:;">2 Sample Link</a></li>
                                <li><a href="javascript:;">3 Sample Link</a></li>
                                <li><a href="javascript:;">4 Sample Link</a></li>
                                <li><a href="javascript:;">5 Sample Link</a></li>
                                <li><a href="javascript:;">6 Sample Link</a></li>
                                <li><a href="javascript:;">7 Sample Link</a></li>
                                <li><a href="javascript:;">8 Sample Link</a></li>
                                <li><a href="javascript:;">9 Sample Link</a></li>
                            </ul>
                            <div class="content-toggle" ng-hide="viewAll['parent-link-4']">
                                <a href="javascript:;" class="hidden-xs" ng-click="viewAll['parent-link-4'] = true">View All</a>
                                <a href="javascript:;" class="visible-xs"  ng-click="viewAll['parent-link-4'] = true">More</a>
                            </div>
                        </div> <!--/parent show/hide wrapper for links-->
                    </div>
                </div>
                <!--/Example 4-->
        </div>

        <hr/>

        <h3 class="bottom-offset-20">Vertical Teaser – truncated content with dropdown CTA</h3>

        <div class="row">
            <!--Example 1-->
            <div class="col-xs-12 col-sm-4 col-md-3 bottom-offset-30">
                <img src="http://placehold.it/260x155" class="img-responsive bottom-offset-10"/>
                <h4 class="text-blue">Content Headline Title Goes Here</h4>
                <p class="multiline-ellipsis">Controlling access and achieving governance has become more complicated than ever. Today’s diverse mix of applications and access scenarios make identity and access management (IAM) extremely complex and time-consuming.</p>
                <div class="stacked-detail-links">
                    <ul class="list-unstyled list-group bottom-offset-10">
                        <li class="text-gray-medium">Updated: 3/25/2015</li>
                    </ul>
                </div>
                <div class="btn-group">
                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="javascript:;">Actions <i
                        class="caret"></i></a>
                    <ul class="dropdown-menu dropdown-icon-menu">
                        <li><a href="javascript:;"><i class="icon-small-download"></i>&nbsp;&nbsp;Download</a></li>
                        <li><a href="javascript:;"><i class="icon-small-share"></i>&nbsp;&nbsp;Share</a></li>
                        <li><a href="javascript:;"><i class="icon-small-chat"></i>&nbsp;&nbsp;Contact an Expert</a></li>
                    </ul>
                </div>
            </div>
        <!--/Example 1-->

        <!--Example 2-->
            <div class="col-xs-12 col-sm-4 col-md-3 bottom-offset-30">
                <img src="http://placehold.it/260x155" class="img-responsive bottom-offset-10"/>
                <h4 class="text-blue">Content Headline Title Goes Here</h4>
                <p class="multiline-ellipsis">Controlling access and achieving governance has become more complicated than ever. Today’s diverse mix of applications and access scenarios make identity and access management (IAM) extremely complex and time-consuming.</p>
                <div class="stacked-detail-links">
                    <ul class="list-unstyled list-group bottom-offset-10">
                        <li class="text-gray-medium">Updated: 3/25/2015</li>
                    </ul>
                </div>
                <div class="btn-group">
                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="javascript:;">Actions <i
                        class="caret"></i></a>
                    <ul class="dropdown-menu dropdown-icon-menu">
                        <li><a href="javascript:;"><i class="icon-small-download"></i>&nbsp;&nbsp;Download</a></li>
                        <li><a href="javascript:;"><i class="icon-small-share"></i>&nbsp;&nbsp;Share</a></li>
                        <li><a href="javascript:;"><i class="icon-small-chat"></i>&nbsp;&nbsp;Contact an Expert</a></li>
                    </ul>
                </div>
            </div>
        <!--/Example 2-->

        <!--Example 3-->
            <div class="col-xs-12 col-sm-4 col-md-3 bottom-offset-30">
                <img src="http://placehold.it/260x155" class="img-responsive bottom-offset-10"/>
                <h4 class="text-blue">Content Headline Title Goes Here</h4>
                <p class="multiline-ellipsis">Controlling access and achieving governance has become more complicated than ever. Today’s diverse mix of applications and access scenarios make identity and access management (IAM) extremely complex and time-consuming.</p>
                <div class="stacked-detail-links">
                    <ul class="list-unstyled list-group bottom-offset-10">
                        <li class="text-gray-medium">Updated: 3/25/2015</li>
                    </ul>
                </div>
                <div class="btn-group">
                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="javascript:;">Actions <i
                        class="caret"></i></a>
                    <ul class="dropdown-menu dropdown-icon-menu">
                        <li><a href="javascript:;"><i class="icon-small-download"></i>&nbsp;&nbsp;Download</a></li>
                        <li><a href="javascript:;"><i class="icon-small-share"></i>&nbsp;&nbsp;Share</a></li>
                        <li><a href="javascript:;"><i class="icon-small-chat"></i>&nbsp;&nbsp;Contact an Expert</a></li>
                    </ul>
                </div>
            </div>
        <!--/Example 3-->

        <!--Example 4-->
            <div class="col-xs-12 col-sm-4 col-md-3 bottom-offset-30">
                <img src="http://placehold.it/260x155" class="img-responsive bottom-offset-10"/>
                <h4 class="text-blue">Content Headline Title Goes Here</h4>
                <p class="multiline-ellipsis">Controlling access and achieving governance has become more complicated than ever. Today’s diverse mix of applications and access scenarios make identity and access management (IAM) extremely complex and time-consuming.</p>
                <div class="stacked-detail-links">
                    <ul class="list-unstyled list-group bottom-offset-10">
                        <li class="text-gray-medium">Updated: 3/25/2015</li>
                    </ul>
                </div>
                <div class="btn-group">
                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="javascript:;">Actions <i
                        class="caret"></i></a>
                    <ul class="dropdown-menu dropdown-icon-menu">
                        <li><a href="javascript:;"><i class="icon-small-download"></i>&nbsp;&nbsp;Download</a></li>
                        <li><a href="javascript:;"><i class="icon-small-share"></i>&nbsp;&nbsp;Share</a></li>
                        <li><a href="javascript:;"><i class="icon-small-chat"></i>&nbsp;&nbsp;Contact an Expert</a></li>
                    </ul>
                </div>
            </div>
        <!--/Example 4-->
        </div>

        <hr/>



        <div class="top-offset-60">
            <h3 class="bottom-offset-20">Vertical Teaser – truncated content</h3>
                    <div class="row">
                <!--Example 1-->
                <div class="col-xs-12 col-sm-6 col-md-6 stacked-detail-links">
                    <img src="http://placehold.it/555x275" class="img-responsive bottom-offset-10" />
                    <h4 class="text-blue">Headline Title Goes Here <img src="components/content-teaser/pdficon_small.png"/></h4>
                    <p class="multiline-ellipsis">Controlling access and achieving governance has become more complicated than ever. Today’s diverse mix of applications and access scenarios make identity and access management (IAM) extremely complex and time-consuming.</p>
                    <div class="stacked-detail-links">
                        <ul class="list-unstyled list-group">
                            <li class="text-gray-medium">Updated: 3/25/2015</li>
                            <li class="text-gray-medium">Category:<a href="javascript:;">&nbsp;&nbsp;Security Solutions</a></li>
                            <li><a href="javascript:;">View all Security resources</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /Example 1-->
            </div>
        </div>


        <hr class="bottom-offset-60 top-offset-60"/>





   <div class="hidden">

        <!--                                    -->
        <!-- example html for Teasers component -->
        <!--                                    -->
        <div class="row pull-left full-width-container">
            <div class="content-holder col-lg-12">
                <h4>Full-width</h4>
                <p class="full-width-teaser">
                    <span>Text area may contain centered text up to 140 characters including spaces and call-to-action. <a class="btn-link" href='#'>Call to Action</a></span>
                </p>
            </div>
        </div>
        <!-- example html for Teasers component -->


        <div class="row pull-left">
            <!--                                                  -->
            <!-- example html for Teasers Horizontal - image left -->
            <!--                                                  -->
            <div class="content-holder">
                <h4>Horizontal - image left</h4>
                <div class="horizontal-teaser row">
                    <div class="pull-left col-xs-5">
                        <img class="visible-sm visible-md visible-lg hidden-xs" src="http://placehold.it/230x175" />
                        <img class="visible-xs" src="http://placehold.it/105x80" />
                    </div>
                    <div class="pull-right col-xs-7">
                        <h5 class="teaser-headline"><a class="btn-link" href="#">Headline</a></h5>
                        <p class="teaser-text">Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet, lorem ipsum dolor sit amet.</p>
                        <a class="btn btn-success" href="#">Call to Action</a>
                    </div>
                </div>
            </div>
            <!-- example html for Teasers Horizontal - image left -->

            <!--                                                   -->
            <!-- example html for Teasers Horizontal - image right -->
            <!--                                                   -->
            <div class="content-holder">
                <h4>Horizontal - image right</h4>
                <div class="horizontal-teaser row">
                    <div class="pull-left col-xs-7">
                        <h5 class="teaser-headline"><a class="btn-link" href="#">Headline</a></h5>
                        <p class="teaser-text">Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet, lorem ipsum dolor sit amet.</p>
                        <a class="hidden-xs btn-link" href="#">Call to Action</a>
                    </div>
                    <div class="pull-right col-xs-5">
                        <img class="visible-sm visible-md visible-lg hidden-xs" src="http://placehold.it/230x175" />
                        <img class="visible-xs" src="http://placehold.it/105x80" />
                    </div>
                </div>
            </div>
            <!-- example html for Teasers Horizontal - image right -->
        </div>

        <!--                                                                           -->
        <!-- example html for Teasers Horizontal - full bleed image, text link overlay -->
        <!--                                                                           -->
        <div class="content-holder">
            <div class="horizontal-full-bleed">
                <h4>Horizontal - full bleed image, text link overlay</h4>
                <img class="pull-left visible-lg" src="http://placehold.it/584x175" />
                <img class="pull-left visible-md" src="http://placehold.it/750x175" />
                <img class="pull-left visible-xs visible-sm" src="http://placehold.it/320x155" />
                <p class="pull-left text-link-overlay">
                    <a class="btn-link" href="#">Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet.</a>
                </p>
            </div>
        </div>
        <!-- example html for Teasers Horizontal - full bleed image, text link overlay -->



        <div class="row pull-left" style="width:100%;">
            <!--                                                      -->
            <!-- example html for Teasers Vertical - image with links -->
            <!--                                                      -->
            <div class="content-holder div-wrapper col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <h4>Vertical<br>image with links</h4>
                <div class="vertical-teaser-box pull-left">
                    <p class="btn-link vertical-teaser-link"><a href="#">Link 1</a></p>
                    <p class="vertical-teaser-link btn-link"><a href="#">Link 2 (optional)</a></p>
                    <p class="vertical-teaser-link btn-link"><a href="#">Link 3 (optional)</a></p>
                </div>
                <img class="pull-left" src="http://placehold.it/260x140" />
            </div>
            <!-- example html for Teasers Vertical - image with links -->


            <!--                                                      -->
            <!-- example html for Teasers Vertical - video with links -->
            <!--                                                      -->
            <div class="content-holder div-wrapper col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <h4>Vertical<br>video with links</h4>
                <div class="vertical-teaser-box pull-left">
                    <p class="vertical-teaser-link btn-link"><a href="#">Link 1</a></p>
                    <p class="vertical-teaser-link btn-link"><a href="#">Link 2 (optional)</a></p>
                    <p class="vertical-teaser-link btn-link"><a href="#">Link 3 (optional)</a></p>
                </div>
                <img class="pull-left" src="http://placehold.it/260x140" />
            </div>
            <!-- example html for Teasers Vertical - video with links -->


            <!--                                                                    -->
            <!-- example html for Teasers Vertical - heading, subheading, CTA, imgs -->
            <!--                                                                    -->
            <div class="content-holder div-wrapper col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <h4>Vertical<br>heading, subheading, CTA</h4>
                <div class="vertical-teaser-box pull-left">
                    <p>
                        <a class="btn-link" href="#">Headline</a><br>Subheading lorem ipsum dolor sit amet. Consectius.
                    </p>
                    <p>
                        <a class="btn-link" href="#">Call to Action</a>
                    </p>
                </div>
                <img class="pull-left top-offset-15" src="http://placehold.it/260x140" />
            </div>
            <!-- example html for Teasers Vertical - heading, subheading, CTA, imgs -->


            <!--                                                 -->
            <!-- example html for Teasers Vertical - with button -->
            <!--                                                 -->
            <div class="content-holder div-wrapper col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="vertical-teaser-box">
                    <h4>Vertical<br>with button</h4>
                    <p><a class="btn-link" href="#">Headline</a><br>Subheading lorem ipsum dolor sit amet. Consectius.</p>
                    <a class="btn btn-success" href="#">Call to Action</a>
                </div>
                <img class="pull-left top-offset-15" src="http://placehold.it/260x140" />
            </div>
            <!-- example html for Teasers Vertical - with button -->
        </div>
    </div>
    </div>

</section>
