<section ng-controller="contentTeaserCtrl" id="content-teaser-html-example">

    <div class="container">
		<h2>Teasers Demo</h2>
		<!--                                    -->
		<!-- example html for Teasers component -->
		<!--                                    -->
		<div class="content-holder col-lg-12">
			<h4>Full-width</h4>
			<p class="full-width-teaser">
				<span>Text area may contain centered text up to 140 characters including spaces and call-to-action. <span class='text-blue'>Call to Action</span></span>
		</div>
		<!-- example html for Teasers component -->


		<div class="row pull-left">
			<!--                                                  -->
			<!-- example html for Teasers Horizontal - image left -->
			<!--                                                  -->			
			<div class="content-holder">
				<h4>Horizontal - image left</h4>
				<div class="horizontal-teaser row">
					<div class="pull-left col-xs-5">
						<img class="visible-sm visible-md visible-lg hidden-xs" src="http://placehold.it/230x175" />
						<img class="visible-xs" src="http://placehold.it/105x80" />
					</div>
					<div class="pull-right col-xs-7">
						<h5 class="teaser-headline">Headline</h5>
						<p class="teaser-text">Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet, lorem ipsum dolor sit amet.</p>
						<a class="btn btn-success" href="javascript:;">Call to Action</a>
					</div>
				</div>
			</div>
			<!-- example html for Teasers Horizontal - image left -->

			<!--                                                   -->
			<!-- example html for Teasers Horizontal - image right -->
			<!--                                                   -->
			<div class="content-holder">
				<h4>Horizontal - image right</h4>		
				<div class="horizontal-teaser row">
					<div class="pull-left col-xs-7">
						<h5 class="teaser-headline">Headline</h5>
						<p class="teaser-text">Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet, lorem ipsum dolor sit amet.</p>
						<a class="btn btn-successn hidden-xs" href="javascript:;">Call to Action</a>
					</div>
					<div class="pull-right col-xs-5">
						<img class="visible-sm visible-md visible-lg hidden-xs" src="http://placehold.it/230x175" />
						<img class="visible-xs" src="http://placehold.it/105x80" />
					</div>
				</div>
			</div>
			<!-- example html for Teasers Horizontal - image right -->
		</div>

		<!--                                                                           -->
		<!-- example html for Teasers Horizontal - full bleed image, text link overlay -->
		<!--                                                                           -->
		<div class="content-holder">
			<h4>Horizontal - full bleed image, text link overlay</h4>
			<img class="pull-left visible-lg" src="http://placehold.it/580x130" />
			<img class="pull-left visible-md" src="http://placehold.it/750x175" />
			<img class="pull-left visible-xs visible-sm" src="http://placehold.it/320x155" />
			<p class="teaser-link">Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet.</p>
		</div>	
		<!-- example html for Teasers Horizontal - full bleed image, text link overlay -->



		<div class="row pull-left" style="width:100%;">
			<!--                                                      -->
			<!-- example html for Teasers Vertical - image with links -->
			<!--                                                      -->			
			<div class="content-holder div-wrapper col-lg-4 col-md-6 col-sm-12 col-xs-12">
				<div class="vertical-teaser-box">
					<h4>Vertical<br>image with links</h4>
					<p class="text-blue">Link 1</p>
					<p class="text-blue">Link 2 (optional)</p>
					<p class="text-blue">Link 3 (optional)</p>
					
				</div>
				<img class="pull-left" src="http://placehold.it/260x140" />
			</div>
			<!-- example html for Teasers Vertical - image with links -->


			<!--                                                      -->
			<!-- example html for Teasers Vertical - video with links -->
			<!--                                                      -->			
			<div class="content-holder div-wrapper col-lg-4 col-md-6 col-sm-12 col-xs-12">
				<div class="vertical-teaser-box">
					<h4>Vertical<br>video with links</h4>
					<p class="text-blue">Link 1</p>
					<p class="text-blue">Link 2 (optional)</p>
					<p class="text-blue">Link 3 (optional)</p>
					<img class="pull-left" src="http://placehold.it/260x140" />
				</div>
			</div>
			<!-- example html for Teasers Vertical - video with links -->


			<!--                                                                    -->
			<!-- example html for Teasers Vertical - heading, subheading, CTA, imgs -->
			<!--                                                                    -->
			<div class="content-holder div-wrapper col-lg-4 col-md-6 col-sm-12 col-xs-12">
				<div class="vertical-teaser-box">
					<h4>Vertical<br>heading, subheading, CTA, img</h4>
					<p><a class="text-blue">Headline</a><br>Subheading lorem ipsum dolor sit amet. Consectius.</p>
					<p class="text-blue">Call to Action</p>
					<img class="pull-left top-offset-15" src="http://placehold.it/260x140" />
				</div>
			</div>
			<!-- example html for Teasers Vertical - heading, subheading, CTA, imgs -->


			<!--                                                 -->
			<!-- example html for Teasers Vertical - with button -->
			<!--                                                 -->
			<div class="content-holder div-wrapper col-lg-4 col-md-6 col-sm-12 col-xs-12">
				<div class="vertical-teaser-box">
					<h4>Vertical<br>with button</h4>
					<p><span class="text-blue">Headline</span><br>Subheading lorem ipsum dolor sit amet. Consectius.</p>
					<a class="btn btn-success" href="javascript:;">Call to Action</a>
					<img class="pull-left top-offset-15" src="http://placehold.it/260x140" />
				</div>
			</div>
			<!-- example html for Teasers Vertical - with button -->
		</div>
	</div>

</section>
