<section ng-controller="contentTeaserCtrl" id="content-teaser-html-example">

    <div class="container">
		<h2 class="bottom-offset-30">Teasers Demo</h2>


        <h3 class="bottom-offset-20">inline Show/no-hide content disclosures</h3>
        <div class="row">
            <div class="col-xs-12">
                <div>teaser

                </div>

            </div>
        </div>



        <h3 class="bottom-offset-20">Full-width</h3>
		<!-- example html for Teasers component -->
		<div class="row pull-left full-width-container">
			<div class="content-holder col-lg-12">
				<p class="full-width-teaser">
					<span>Text area may contain centered text up to 140 characters including spaces and call-to-action. <a class="btn-link" href='#'>Call to Action</a></span>
				</p>
			</div>
		</div>
		<!-- /example html for Teasers component -->


		<div class="row pull-left">

            <h3 class="bottom-offset-20">Horizontal - image left</h3>
            <!-- example html for Teasers Horizontal - image left -->
			<div class="content-holder">
				<div class="horizontal-teaser row">
					<div class="pull-left col-xs-5">
						<img class="visible-sm visible-md visible-lg hidden-xs" src="http://placehold.it/230x175" />
						<img class="visible-xs" src="http://placehold.it/105x80" />
					</div>
					<div class="pull-right col-xs-7">
						<h5 class="teaser-headline"><a class="btn-link" href="#">Headline</a></h5>
						<p class="teaser-text">Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet, lorem ipsum dolor sit amet.</p>
						<a class="btn btn-success" href="#">Call to Action</a>
					</div>
				</div>
			</div>
			<!-- example html for Teasers Horizontal - image left -->

            <h3 class="bottom-offset-20">Horizontal - image right</h3>
            <!-- example html for Teasers Horizontal - image right -->
			<div class="content-holder">
				<div class="horizontal-teaser row">
					<div class="pull-left col-xs-7">
						<h5 class="teaser-headline"><a class="btn-link" href="#">Headline</a></h5>
						<p class="teaser-text">Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet, lorem ipsum dolor sit amet.</p>
						<a class="hidden-xs btn-link" href="#">Call to Action</a>
					</div>
					<div class="pull-right col-xs-5">
						<img class="visible-sm visible-md visible-lg hidden-xs" src="http://placehold.it/230x175" />
						<img class="visible-xs" src="http://placehold.it/105x80" />
					</div>
				</div>
			</div>
			<!-- /example html for Teasers Horizontal - image right -->
		</div>

        <h3 class="bottom-offset-20">Horizontal - full bleed image, text link overlay</h3>
        <!-- example html for Teasers Horizontal - full bleed image, text link overlay -->
		<div class="content-holder">
			<div class="horizontal-full-bleed">
				<img class="pull-left visible-lg" src="http://placehold.it/584x175" />
				<img class="pull-left visible-md" src="http://placehold.it/750x175" />
				<img class="pull-left visible-xs visible-sm" src="http://placehold.it/320x155" />
				<p class="pull-left text-link-overlay">
					<a class="btn-link" href="#">Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet.</a>
				</p>
			</div>
		</div>
		<!-- /example html for Teasers Horizontal - full bleed image, text link overlay -->



		<div class="row pull-left" style="width:100%;">
            <h3 class="bottom-offset-20">Vertical<br>image with links</h3>
            <!-- example html for Teasers Vertical - image with links -->
			<div class="content-holder div-wrapper col-lg-4 col-md-6 col-sm-12 col-xs-12">
				<div class="vertical-teaser-box pull-left">
					<p class="btn-link vertical-teaser-link"><a href="#">Link 1</a></p>
					<p class="vertical-teaser-link btn-link"><a href="#">Link 2 (optional)</a></p>
					<p class="vertical-teaser-link btn-link"><a href="#">Link 3 (optional)</a></p>
				</div>
				<img class="pull-left" src="http://placehold.it/260x140" />
			</div>
			<!-- /example html for Teasers Vertical - image with links -->

            <h3 class="bottom-offset-20">Vertical<br>video with links</h3>
			<!-- example html for Teasers Vertical - video with links -->
			<div class="content-holder div-wrapper col-lg-4 col-md-6 col-sm-12 col-xs-12">
				<h3 class="bottom-offset-20">Vertical<br>video with links</h3>
				<div class="vertical-teaser-box pull-left">
					<p class="vertical-teaser-link btn-link"><a href="#">Link 1</a></p>
					<p class="vertical-teaser-link btn-link"><a href="#">Link 2 (optional)</a></p>
					<p class="vertical-teaser-link btn-link"><a href="#">Link 3 (optional)</a></p>
				</div>
				<img class="pull-left" src="http://placehold.it/260x140" />
			</div>
			<!-- /example html for Teasers Vertical - video with links -->


            <h3 class="bottom-offset-20">Vertical<br>heading, subheading, CTA</h3>
			<!-- example html for Teasers Vertical - heading, subheading, CTA, imgs -->
			<div class="content-holder div-wrapper col-lg-4 col-md-6 col-sm-12 col-xs-12">
				<h3 class="bottom-offset-20">Vertical<br>heading, subheading, CTA</h3>
				<div class="vertical-teaser-box pull-left">
					<p>
						<a class="btn-link" href="#">Headline</a><br>Subheading lorem ipsum dolor sit amet. Consectius.
					</p>
					<p>
						<a class="btn-link" href="#">Call to Action</a>
					</p>
				</div>
				<img class="pull-left top-offset-15" src="http://placehold.it/260x140" />
			</div>
			<!-- /example html for Teasers Vertical - heading, subheading, CTA, imgs -->


			<h3 class="bottom-offset-20">Vertical<br>with button</h3>
			<!-- example html for Teasers Vertical - with button -->
			<div class="content-holder div-wrapper col-lg-4 col-md-6 col-sm-12 col-xs-12">
				<div class="vertical-teaser-box">
					<p><a class="btn-link" href="#">Headline</a><br>Subheading lorem ipsum dolor sit amet. Consectius.</p>
					<a class="btn btn-success" href="#">Call to Action</a>
				</div>
				<img class="pull-left top-offset-15" src="http://placehold.it/260x140" />
			</div>
			<!-- /example html for Teasers Vertical - with button -->
		</div>
	</div>

</section>
