//button-groups
//------------------------------------------------------------------------------------------



//buttons
//------------------------------------------------------------------------------------------

// button sizes
// dell-ui does not allow large so these will be forced into normal size
.btn{
    border-radius: 0px;
    outline: none !important;
    //!important necessary to remove the focus outline in browsers
    }

.btn-default {
    .button-variant(@dell-blue; @btn-default-bg; @btn-default-border);
    &:hover,
    &:focus
    &:active,
    &.active {
        background: @dell-gray-hover;
        }
    }
.btn-primary {
    .button-variant(@btn-primary-color; @btn-primary-bg; @btn-primary-border);
    &:hover,
    &:focus
    &:active,
    &.active {
        background: @dell-blue-hover;
        }
    }
// Success appears as green
.btn-success {
    .button-variant(@btn-success-color; @btn-success-bg; @btn-success-border);
    &:hover,
    &:focus
    &:active,
    &.active {
        background: @dell-green-hover;
        }
    }

// Info appears as blue-green
.btn-info {
    .button-variant(@btn-info-color; @btn-info-bg; @btn-info-border);
    }
// Warning appears as orange
.btn-warning {
    .button-variant(@btn-warning-color; @btn-warning-bg; @btn-warning-border);
    }
// Danger and error appear as red
.btn-danger {
    .button-variant(@btn-danger-color; @btn-danger-bg; @btn-danger-border);
    }



.btn-lg {
    .button-size(@padding-large-vertical; @padding-large-horizontal; @font-size-base; @line-height-large; @border-radius-small);
    }

.btn-lg [class^="icon-"],
.btn-lg [class*=" icon-"] {
    margin-top: 4px;
    }

.btn-small [class^="icon-"],
.btn-small [class*=" icon-"] {
    margin-top: 0;
    }

.btn-xs {
    padding: 1px 5px;
    }

.tap-to-load {
    height: 34px;
    color: @dell-blue;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    border: 1px solid @dell-gray-stroke;
    padding: 6px 12px;
    background:@btn-default-bg;
    &:hover,
    &:focus {
        color: darken(@dell-blue, 10%);
        outline: none;
        border:1px solid transparent;
        background:@dell-gray-very-light;
        }
    }

/* tap-to-load-rule NOTE: not part of Bootstrap*/
.tap-to-load-rule{
    text-align:          center;
    background:          url(img/gray-dark-dot-line.png) repeat-x;
    background-position: 50% 30%;
    margin-bottom:       20px;
    display:             block;
    }

.tap-to-load-rule p {
    display: inline-block;
    background: #ffffff;
    padding: 0px 10px;
    max-width: 80%;
    }



// link buttons
// -------------------------
// disable text decoration with a dropdown toggle
.btn-link.dropdown-toggle{
    &:focus,
    &:active,
    &:hover{
        text-decoration: none;
        }
    }

.btn[data-loading-text][disabled] {
    color: @dell-blue;
    padding-left: 20px;
    position: relative;
    background: @dell-highlight-blue;
    }
.btn[data-loading-text][disabled]:focus {
    outline: none;
    }
.btn[data-loading-text][disabled]:before {
    content: "\00a0\00a0\00a0\00a0\00a0";
    background: url(img/loading-animation-square.gif) no-repeat 0 -1px;
    background-size: cover;
    position: relative;
    left: -10px;
    top: 0;
    }



