<section ng-controller="footerCtrl" id="footer-html-example">
    <div class="container">
        <h2>Footer Demo</h2>
        <h3>Simplified Footer</h3>
    </div>
    <div class="footer-menu" >
        <ul class="container list-unstyled">
            <li><a href="javascript:;"><small>©2014 Dell</small></a></li>
            <li><a href="javascript:;"><small>Terms & Conditions</small></a></li>
            <li><a href="javascript:;"><small>Privacy</small></a></li>
            <li><a href="javascript:;"><small>Ads & Emails</small></a></li>
            <li><a href="javascript:;"><small>Contact</small></a></li>
            <li><a href="javascript:;"><small>Site Map</small></a></li>
            <li><a href="javascript:;"><small>Feedback</small></a></li>
        </ul>
    </div>
</section>
