<section ng-controller="footerCtrl" id="footer-html-example">
    <div class="container">
        <h2>Footer Demo</h2>
        <h3>Simplified Footer</h3>
        <div class="row">
            <div class="col-md-9">

                <div equalizer="group" class="equalize well well-white text-gray-medium well-white-stroke">
                    <div class="center-component component-code" id="navigation-footer-simplified-footer">
                    <!-- code example for simplified footer -->

                        <footer class="navbar">
                            <div class="container">
                                <ul class="nav navbar-nav">
                                    <li><a href="javascript:;">&copy;2015 Dell</a></li>
                                    <li><a href="javascript:;">Terms &amp; Conditions</a></li>
                                    <li><a href="javascript:;">Privacy</a></li>
                                    <li><a href="javascript:;">Ads &amp; Emails</a></li>
                                    <li><a href="javascript:;">Contact</a></li>
                                    <li><a href="javascript:;">Site Map</a></li>
                                    <li><a href="javascript:;">Feedback</a></li>
                                </ul>
                            </div>
                        </footer>

                    <!-- end of code example -->

                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <hr class="rule-break hr-gray-light">
                            <h5 class="fragment-title">Simplified Footer</h5>
                            <div class="description">Use for the minimum required footer functionality/content for dell.com pages. </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-md-3">
                <div class="well"> sidebar </div>
            </div>


        </div>

       <!-- Universal Footer-->
        <h3>Universal Footer</h3>
        <div class="row">
            <div class="col-md-9">

                <div equalizer="group" class="equalize well well-white text-gray-medium well-white-stroke">
                    <div class="center-component component-code" id="navigation-footer-universal-footer">
                        <!-- code example for universal footer -->

                        <footer class="navbar universal-footer">
                            <div class="footer-about gray-light ">
                                <div class="footer-gallery">
                                    <div class="container">
                                        <div  class="col-xs-12 col-sm-4 col-md-4 col-lg-4 gallery-item ">
                                            <i class="icon-large-shipping"></i>
                                            <a href="javascript:;">
                                                <h5>Free shipping, free returns.</h5>
                                                <p class="text-gray-dark">Shop now with free shipping and no-cost returns.</p>
                                            </a>
                                        </div>
                                        <div  class="col-xs-12 col-sm-4 col-md-4 col-lg-4 gallery-item ">
                                            <i class="icon-large-calculator"></i>
                                            <a href="javascript:;">
                                                <h5>Fast. Easy. Financing.*</h5>
                                                <p class="text-gray-dark">Dell Preferred Account<sup>TM</sup> makes purchasing easier.</p>
                                            </a>
                                        </div>
                                        <div  class="col-xs-12 col-sm-4 col-md-4 col-lg-4 gallery-item ">
                                            <i class="icon-large-giftcard"></i>
                                            <a href="javascript:;">
                                                <h5>Dell Advantage Loyalty Program.</h5>
                                                <p class="text-gray-dark"> Here's how much we appreciate our customers.</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="gallery-shadow-section" ></div>
                                <div class="container">
                                    <ul class="nav navbar-nav about-links">
                                        <li><a href="javascript:;" tabindex="11">About Dell</a></li>
                                        <li><a href="javascript:;" tabindex="12">PartnerDirect</a></li>
                                        <li><a href="javascript:;" tabindex="13">TechCenter</a></li>
                                        <li><a href="javascript:;" tabindex="14">Premier</a></li>
                                        <li><a href="javascript:;" tabindex="15">Community</a></li>
                                        <li class="country-selector btn-group dropup">
                                            <a href="javascript:;" class="dropdown-toggle " data-toggle="dropdown" tabindex="16"><img src="components/footer/us.gif" class="flag"/> United States&nbsp;</a>
                                            <ul class="dropdown-menu country-names">

                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="navbar footer-menu ">
                                <div class=" footer-top-section" >
                                    <div class="footer-shadow-section"></div>
                                    <div class="container ">
                                        <ul class="nav navbar-nav">
                                            <li class=" language no-brasil" >
                                                <ul>
                                                    <li><a href="javascript:;" tabindex="15">English</a></li>
                                                    <li><a href="javascript:;" tabindex="16">Spanish</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="javascript:;" tabindex="17">&copy;2015 Dell</a></li>
                                            <li><a href="javascript:;" tabindex="18">Terms &amp; Conditions</a></li>
                                            <li><a href="javascript:;" tabindex="19">Privacy</a></li>
                                            <li><a href="javascript:;" tabindex="20">Ads &amp; Emails</a></li>
                                            <li><a href="javascript:;" tabindex="21">Contact</a></li>
                                            <li><a href="javascript:;" tabindex="22">Site Map</a></li>
                                            <li><a href="javascript:;" tabindex="23">Feedback</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="footer-shadow-section "></div>
                                <div class="footer-bottom-section">
                                    <div class="disclaimer container">
                                        <p>*DELL PREFERRED ACCOUNT (DPA): Offered to U.S. residents by WebBank, who determines qualifications for and terms of credit. Promotion eligibility varies and is determined by WebBank. Taxes, shipping, and other charges are extra and vary.</p>
                                        <p>Offers subject to change, not combinable with all other offers. Taxes, shipping, handling and other fees apply. U.S. Dell Home new purchases only. Free shipping and handling offer available in Continental (except Alaska) U.S. only. Availability of electronics and accessories varies and quantities may be limited. Dell reserves the right to cancel orders arising from pricing or other errors.</p>
                                    </div>
                                </div>
                            </div>
                        </footer>
                        <!-- end of code example -->
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <hr class="rule-break hr-gray-light">
                            <h5 class="fragment-title">Universal Footer</h5>
                            <div class="description">Use for the maximum required footer functionality/content for dell.com pages. </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="well"> sidebar </div>
            </div>
        </div>
    </div>
</section>
