//This LESS should ONLY be for DEMO purposes. It will not be included in the dell-ui-components css, only in the demo application

#navigation-footer-simplified-footer, #navigation-footer-universal-footer {
	margin-left: -30px;
	margin-right: -30px;
	.container {
		padding-left: 30px;
		padding-right: 30px;
	}

}

//for play demo
#footer-play-demo {
}
