/*
 * Footer component theme overrides
 *------------------------------------------------------------------------------------------
 */

footer.navbar {
    position:relative;
    border: 0;
    border-top: 1px solid @dell-highlight-blue;
    border-bottom: 1px solid @dell-highlight-blue;
    background: @dell-blue;
    min-height: 0;
    z-index:0;
    .nav > li > a:focus,
    .nav > li > a:hover {
        background-color: transparent;
    }
    ul.navbar-nav {
        margin:5px auto 5px auto;
        li {
            border-bottom:1px solid darken(@dell-highlight-blue, 28%);
            a {
                display:block;
                color: @white;
                padding: 10px;
                font-size: @font-size-small;
                line-height: 15px; //same as p small
                &:hover {
                    text-decoration:underline;
                    background: transparent;
                    color: @white;
                }
            }
            &:last-child {
                border-bottom:none;
            }
            @media (min-width: @screen-sm-min) {
                display:inline-block;
                border-bottom:none;
                a {
                    padding-right: 10px;
                    padding-left: 10px;
                    &:focus {
                        outline:@white solid thin;
                        text-decoration: none;
                    }
                }

            }
        }
        @media (max-width:@screen-xs-max) {
            li {
                a {
                    padding: 10px 0;
                }
            }
        }
    }
}
footer.navbar.default-footer {
    border-top:1px solid darken(@dell-gray-light, 7%);
    .footer-about {
        position:relative;
        border:0;
        border-bottom:1px solid @dell-highlight-blue;
        background:@dell-gray-light;
        padding: 0 20px;
        z-index:100;

        ul.navbar-nav.about-links  {
            position:relative;
            background-color:transparent;
            width:auto;
            z-index:140;
            li {
                padding: 6px 0;
                border-bottom:1px solid @dell-gray;
                a {
                    padding-right: 10px;
                    padding-left: 10px;
                    font-size:@font-size-base;
                    color:@dell-gray-dark;
                    &:hover {
                        text-decoration:underline;
                        background: transparent;
                    }
                    &:focus {
                        outline:#00447c solid thin;

                    }
                }
            }
            li:last-child {
                border-bottom:none;
            }
            li.country-selector {
                float:right;
                top:2px;
                text-align:right;
                right: -35px;
                ul {
                    padding:0;
                    margin:0;
                    li {
                        display:block;
                        border:none;
                    }
                }
                a {
                    color:@dell-gray-dark;
                    text-decoration:none;
                    font-size:12px;
                    padding: 5px 5px 5px 5px;
                }
                :focus {
                    outline:@dell-blue solid 1px;
                    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,125,184,.6);
                    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,125,184,.6);
                }
                .flag {
                    width:24px;
                    margin:0 3px 3px 0;
                }
                .dropdown-toggle:after {
                    position:relative;
                    font-family:'icon-ui';
                    content:"\e60e";
                    top:1px;
                }
                .dropdown-menu {
                    line-height:1em;
                    overflow-y:scroll;
                    overflow-x:hidden;
                    height:268px;
                    width:224px;
                    position:absolute;
                    left:0;
                    background:@white;
                    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
                    box-shadow: 0 6px 12px rgba(0,0,0,.175);
                    li {
                        padding:0;
                        a:hover {
                            background: @dell-blue;
                            color: @white;
                        }
                    }
                }
                @media (max-width:@screen-xs-max) {
                    float:left;
                    position:relative;
                    margin:6px 0 6px 0;
                    width:auto;
                    text-align:left;
                    right: 5px;
                    ul {
                        padding:0;
                        margin:0;
                        li {
                            display:block;
                        }
                    }
                }
            }
        }
        @media (max-width:@screen-xs-max) {
            ul.navbar-nav.about-links {
                margin-left: -19px;
                margin-right: -19px;
                li {
                    padding:0;
                    a {
                        padding: 10px 0;
                        &:focus {
                            outline: none;
                        }
                    }
                }
            }
        }

        @media (min-width:@screen-sm-min) {
            ul.navbar-nav.about-links   {
                margin:0 0 0 -15px;
                padding:6px 0 6px 0;
                width:100%;
                height:44px;

                z-index:140;
                li {
                    display:inline-block;
                    margin:0;
                    padding:4px 0 0 0;
                    border-bottom:none;
                    a {
                        padding:6px 8px 6px 8px;
                        &:hover,
                        &:focus {
                            color:@dell-dark-blue;
                            background-color:transparent;
                        }
                    }
                }
                li.country-selector {
                    float:right;
                    top:2px;
                    text-align:right;
                    .dropdown-menu {
                        left:-85px;
                    }
                }
            }
        }
    }
    .navbar.footer-menu {
        margin:0;
        padding:0;
        position:relative;
        z-index:0;
        .footer-top-section {
            position:relative;
            background:@dell-blue;
            border-bottom:1px solid lighten(@dell-blue, 3%);
            z-index:0;
            ul.navbar-nav {
                li.language {
                    float:left;
                    text-align:left;
                    margin:0 0 12px 0;
                    padding:0;
                    width:100%;
                    border-bottom:1px solid darken(@dell-highlight-blue, 28%);
                    ul {
                        margin-left:0;
                        padding-left:0;
                    }
                    ul li {
                        display:inline-block;
                        list-style:none;
                        border:none;
                    }
                    .language-divider {
                        padding:0;
                        margin:0;
                    }
                }
            }
            @media (min-width:@screen-sm-min) {
                ul.navbar-nav {
                    margin: 0;
                    padding: 6px 0 6px 0;
                    width: 100%;
                    min-height:44px;
                    li {

                        display:inline-block;
                        border-bottom:none;
                        padding:4px 0 0 0;
                        a {
                            &:focus,
                            &:hover {
                                background-color: transparent;
                            }
                        }
                        &:first-child {
                            a {
                                padding-left: 10px;
                            }
                        }
                    }
                    li.language {
                        position:relative;
                        display:inline-block;
                        margin:0;
                        width:auto;
                        border-bottom:none;
                        float:right;
                        text-align:right;
                        ul {
                            margin-left:0;
                            padding-left:20px;
                        }
                    }
                }
            }
        }
        .footer-bottom-section {
            color:@white;
            position:relative;
            z-index:0;
            .disclaimer {
                padding:30px;
                font-size:11px;
                line-height:1.6em;
                letter-spacing:.04em;
                color:@dell-highlight-blue;
                opacity:.6;
            }
        }
        @media (max-width:@screen-xs-max) {
            .footer-bottom-section {
                .disclaimer {
                    padding: 30px 20px;
                }
            }
        }
    }
}
.footer-menu .footer-top-section a:hover {
    color: #444;
}
.gallery-shadow-section {
    content: "";
    width: 80%;
    height: 10px;
    left: 10%;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    margin:-10px auto 0;
    z-index:0;
}
.footer-shadow-section {
    content: "";
    width: 80%;
    height: 10px;
    left: 10%;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    margin:-10px auto 0;
    z-index:0;
}
.btn-group.dropup .dropdown-menu {
    a {
        color:@dell-blue;
        &:hover {
            width:100%;
        }
    }
}

footer.navbar.default-footer .footer-about ul.navbar-nav.about-links a {
    color: #444444 !important;
    /*&:hover {
            color: #444444 !important;
        }*/
}

footer.navbar.default-footer .navbar.footer-menu .footer-bottom-section .disclaimer {
    color: #ffffff;
    opacity: 75;
}