//This LESS should ONLY be for DEMO purposes. It will not be included in the dell-ui-components css, only in the demo application

.colors-html-example {
    /* Alert Yellow */
    .alert-yellow,
    .well-alert-yellow {
        background-color: @dell-alert-yellow;
        color: #fff;
        border-radius: 0;
    }

    .alert-yellow-stroke,
    .well-alert-yellow-stroke,
    .panel-alert-yellow {
        background-color: @dell-alert-yellow;
        color: #fff;
        border-radius: 0;
        border: 1px solid #FFFFC9;
    }

    /* 20% dell-blue */
    .dell-blue-20-percent,
    .well-dell-blue-20-percent {
        background-color: #CCE5F1;
        color: #fff;
        border-radius: 0;
    }

    .dell-blue-20-percent-stroke,
    .well-dell-blue-20-percent-stroke,
    .panel-dell-blue-20-percent {
        background-color: #CCE5F1;
        color: #fff;
        border-radius: 0;
        border: 1px solid #CCE5F1;
    }


}

//for play demo
#colors-play-demo {


}
