<section ng-controller="colorsCtrl" id="colors-html-example">

    <div class="container">
        <h2>Colors Demo</h2>
        <div>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="well well-white text-gray-dark well-white-stroke"  >
                        <span class="pull-left">color:</span><span class="pull-right">&nbsp;&nbsp;White</span><br>
                        <span class="pull-left">hex:</span><span class="pull-right">&nbsp;&nbsp;#ffffff</span><br>
                        <span class="pull-left">css:</span><span class="pull-right">&nbsp;&nbsp;text-white</span><br>
                    </div>
                    <div class="well well-black text-white well-black-stroke"  >
                        <span class="pull-left">color:</span><span class="pull-right">&nbsp;&nbsp;Black</span><br>
                        <span class="pull-left">hex:</span><span class="pull-right">&nbsp;&nbsp;#000000</span><br>
                        <span class="pull-left">css:</span><span class="pull-right">&nbsp;&nbsp;text-white</span><br>
                    </div>
                    <div class="well text-white well-carbon">
                        <span class="pull-left">color:</span><span class="pull-right">&nbsp;&nbsp;Carbon</span><br>
                        <span class="pull-left">hex:</span><span class="pull-right">&nbsp;&nbsp;#444444</span><br>
                        <span class="pull-left">css:</span><span class="pull-right">&nbsp;&nbsp;n/a</span><br>
                    </div>
                    <div class="well text-white well-gray">
                        <span class="pull-left">color:</span><span class="pull-right">&nbsp;&nbsp;Dell Gray</span><br>
                        <span class="pull-left">hex:</span><span class="pull-right">&nbsp;&nbsp;#aaaaaa</span><br>
                        <span class="pull-left">css:</span><span class="pull-right">&nbsp;&nbsp;n/a</span><br>
                    </div>
                    <div class="well well-gray-dark">
                        <span class="pull-left">color:</span><span class="pull-right">&nbsp;&nbsp;Dell Gray Dark</span><br>
                        <span class="pull-left">hex:</span><span class="pull-right">&nbsp;&nbsp;#444444</span><br>
                        <span class="pull-left">css:</span><span class="pull-right">&nbsp;&nbsp;text-gray-dark</span><br>
                    </div>
                    <div class="well well-blue">
                        <span class="pull-left">color:</span><span class="pull-right">&nbsp;&nbsp;Dell Blue</span><br>
                        <span class="pull-left">hex:</span><span class="pull-right">&nbsp;&nbsp;#007db8</span><br>
                        <span class="pull-left">css:</span><span class="pull-right">&nbsp;&nbsp;text-blue</span><br>
                    </div>
                    <div class="well well-dark-blue">
                        <span class="pull-left">color:</span><span class="pull-right">&nbsp;&nbsp;Dell Dark Blue</span><br>
                        <span class="pull-left">hex:</span><span class="pull-right">&nbsp;&nbsp;#00447c</span><br>
                        <span class="pull-left">css:</span><span class="pull-right">&nbsp;&nbsp;text-dark-blue</span><br>
                    </div>
                    <div class="well text-gray-medium well-light-green">
                        <span class="pull-left">color:</span><span class="pull-right">&nbsp;&nbsp;Dell Light Green</span><br>
                        <span class="pull-left">hex:</span><span class="pull-right">&nbsp;&nbsp;#C1D82F</span><br>
                        <span class="pull-left">css:</span><span class="pull-right">&nbsp;&nbsp;n/a</span><br>
                    </div>

                    <!--<div class="well well-white text-gray-dark well-white-stroke"  >-->
                        <!--<span class="pull-left">color:</span><span class="pull-right">&nbsp;&nbsp;White</span><br>-->
                        <!--<span class="pull-left">hex:</span><span class="pull-right">&nbsp;&nbsp;#ffffff</span><br>-->
                        <!--<span class="pull-left">css:</span><span class="pull-right">&nbsp;&nbsp;text-white</span><br>-->
                    <!--</div>-->
                    <!--<div class="well text-gray-dark">-->
                        <!--<span class="pull-left">color:</span><span class="pull-right">&nbsp;&nbsp;Dell Light Gray</span><br>-->
                        <!--<span class="pull-left">hex:</span><span class="pull-right">&nbsp;&nbsp;#eeeeee</span><br>-->
                        <!--<span class="pull-left">css:</span><span class="pull-right">&nbsp;&nbsp;n/a</span><br>-->
                    <!--</div>-->
                    <!--<div class="well text-white well-gray">-->
                        <!--<span class="pull-left">color:</span><span class="pull-right">&nbsp;&nbsp;Dell Gray</span><br>-->
                        <!--<span class="pull-left">hex:</span><span class="pull-right">&nbsp;&nbsp;#aaaaaa</span><br>-->
                        <!--<span class="pull-left">css:</span><span class="pull-right">&nbsp;&nbsp;n/a</span><br>-->
                    <!--</div>-->
                    <!--<div class="well well-gray-dark">-->
                        <!--<span class="pull-left">color:</span><span class="pull-right">&nbsp;&nbsp;Dell Gray Dark</span><br>-->
                        <!--<span class="pull-left">hex:</span><span class="pull-right">&nbsp;&nbsp;#444444</span><br>-->
                        <!--<span class="pull-left">css:</span><span class="pull-right">&nbsp;&nbsp;text-gray-dark</span><br>-->
                    <!--</div>-->
                    <!--<div class="well well-blue">-->
                        <!--<span class="pull-left">color:</span><span class="pull-right">&nbsp;&nbsp;Dell Blue</span><br>-->
                        <!--<span class="pull-left">hex:</span><span class="pull-right">&nbsp;&nbsp;#007db8</span><br>-->
                        <!--<span class="pull-left">css:</span><span class="pull-right">&nbsp;&nbsp;text-blue</span><br>-->
                    <!--</div>-->
                    <!--<div class="well well-dark-blue">-->
                        <!--<span class="pull-left">color:</span><span class="pull-right">&nbsp;&nbsp;Dell Dark Blue</span><br>-->
                        <!--<span class="pull-left">hex:</span><span class="pull-right">&nbsp;&nbsp;#00447c</span><br>-->
                        <!--<span class="pull-left">css:</span><span class="pull-right">&nbsp;&nbsp;text-dark-blue</span><br>-->
                    <!--</div>-->
                    <!--<div class="well text-gray-medium well-light-green">-->
                        <!--<span class="pull-left">color:</span><span class="pull-right">&nbsp;&nbsp;Dell Light Green</span><br>-->
                        <!--<span class="pull-left">hex:</span><span class="pull-right">&nbsp;&nbsp;#C1D82F</span><br>-->
                        <!--<span class="pull-left">css:</span><span class="pull-right">&nbsp;&nbsp;n/a</span><br>-->
                    <!--</div>-->

                </div>
                <div class="col-sm-12 col-md-4">

                    <div class="well well-green">
                        <span class="pull-left">color:</span><span class="pull-right">&nbsp;&nbsp;Dell Green</span><br>
                        <span class="pull-left">hex:</span><span class="pull-right">&nbsp;&nbsp;#6EA204</span><br>
                        <span class="pull-left">css:</span><span class="pull-right">&nbsp;&nbsp;text-green</span><br>
                    </div>
                    <div class="well well-yellow">
                        <span class="pull-left">color:</span><span class="pull-right">&nbsp;&nbsp;Dell Yellow</span><br>
                        <span class="pull-left">hex:</span><span class="pull-right">&nbsp;&nbsp;#f2af00</span><br>
                        <span class="pull-left">css:</span><span class="pull-right">&nbsp;&nbsp;n/a</span><br>
                    </div>
                    <div class="well well-orange">
                        <span class="pull-left">color:</span><span class="pull-right">&nbsp;&nbsp;Dell Orange</span><br>
                        <span class="pull-left">hex:</span><span class="pull-right">&nbsp;&nbsp;#EE6411</span><br>
                        <span class="pull-left">css:</span><span class="pull-right">&nbsp;&nbsp;text-orange</span><br>
                    </div>
                    <div class="well well-red">
                        <span class="pull-left">color:</span><span class="pull-right">&nbsp;&nbsp;Dell Red</span><br>
                        <span class="pull-left">hex:</span><span class="pull-right">&nbsp;&nbsp;#D74324</span><br>
                        <span class="pull-left">css:</span><span class="pull-right">&nbsp;&nbsp;text-red</span><br>
                    </div>
                    <div class="well well-red-dark">
                        <span class="pull-left">color:</span><span class="pull-right">&nbsp;&nbsp;Dell Dark Red</span><br>
                        <span class="pull-left">hex:</span><span class="pull-right">&nbsp;&nbsp;#CE1126</span><br>
                        <span class="pull-left">css:</span><span class="pull-right">&nbsp;&nbsp;text-red-dark</span><br>
                    </div>
                    <div class="well well-berry">
                        <span class="pull-left">color:</span><span class="pull-right">&nbsp;&nbsp;Dell Berry</span><br>
                        <span class="pull-left">hex:</span><span class="pull-right">&nbsp;&nbsp;#B7295A</span><br>
                        <span class="pull-left">css:</span><span class="pull-right">&nbsp;&nbsp;text-berry</span><br>
                    </div>
                    <div class="well well-purple">
                        <span class="pull-left">color:</span><span class="pull-right">&nbsp;&nbsp;Dell Purple</span><br>
                        <span class="pull-left">hex:</span><span class="pull-right">&nbsp;&nbsp;#6E2585</span><br>
                        <span class="pull-left">css:</span><span class="pull-right">&nbsp;&nbsp;text-purple</span><br>
                    </div>
                    <div class="well well-teal">
                        <span class="pull-left">color:</span><span class="pull-right">&nbsp;&nbsp;Dell Teal</span><br>
                        <span class="pull-left">hex:</span><span class="pull-right">&nbsp;&nbsp;#42aeaf</span><br>
                        <span class="pull-left">css:</span><span class="pull-right">&nbsp;&nbsp;n/a</span><br>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 well">
                    <p>**The following colors may <strong>only be used</strong> in instances associated below.</p>
                    <!-- TODO this description needs help -->
                    <div class="well text-gray-dark well-gray-very-light well-gray-very-light-stroke">
                        <span class="pull-left">color:</span><span class="pull-right">&nbsp;&nbsp;7% Dell Light Gray</span><br>
                        <span class="pull-left">use:</span><span class="pull-right">&nbsp;&nbsp;backgrounds only</span><br>
                        <span class="pull-left">hex:</span><span class="pull-right">&nbsp;&nbsp;#f9f9f9</span><br>
                    </div>
                    <div class="well text-white well-gray-medium">
                        <span class="pull-left">color:</span><span class="pull-right">&nbsp;&nbsp;75% Dell Gray Dark</span><br>
                        <span class="pull-left">use:</span><span class="pull-right">&nbsp;&nbsp;borders only</span><br>
                        <span class="pull-left">hex:</span><span class="pull-right">&nbsp;&nbsp;#737373</span><br>
                    </div>

                    <div id="containers-html-example">
                        <div class="well text-gray-dark well-alert-yellow">
                            <span class="pull-left">color:</span><span class="pull-right">&nbsp;&nbsp;Online Alert Yellow</span><br>
                            <span class="pull-left">use:</span><span class="pull-right">&nbsp;&nbsp;Alerts only</span><br>
                            <span class="pull-left">hex:</span><span class="pull-right">&nbsp;&nbsp;#FFFFC9</span><br>
                        </div>
                        <div class="well text-gray-dark well-dell-blue-20-percent">
                            <span class="pull-left">color:</span><span class="pull-right">&nbsp;&nbsp;20% Dell Blue</span><br>
                            <span class="pull-left">use:</span><span class="pull-right">&nbsp;&nbsp; highlighting and selecting</span><br>
                            <span class="pull-left">hex:</span><span class="pull-right">&nbsp;&nbsp;#CCE5F1</span><br>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>
