<section ng-controller="colorsCtrl" id="colors-html-example">

    <div class="container">
        <h2>Colors Demo</h2>
        <div>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="well well-white text-gray-medium well-white-stroke"  to-clipboard='&lt;div class="well well-white"&gt;&lt;p&gt;Lorem ipsum...&lt;/p&gt;&lt;/div&gt;'>
                        <span class="pull-left">color:</span><span class="pull-right">&nbsp;&nbsp;White</span><br>
                        <span class="pull-left">hex:</span><span class="pull-right">&nbsp;&nbsp;#ffffff</span><br>
                        <span class="pull-left">css:</span><span class="pull-right">&nbsp;&nbsp;text-white</span><br>
                    </div>
                    <div class="well text-gray-medium well-gray-very-light well-gray-very-light-stroke" to-clipboard='&lt;div class="well well-gray-very-light"&gt;&lt;p&gt;Lorem ipsum...&lt;/p&gt;&lt;/div&gt;'>
                        <span class="pull-left">color:</span><span class="pull-right">&nbsp;&nbsp;7% Dell Light Gray</span><br>
                        <span class="pull-left">hex:</span><span class="pull-right">&nbsp;&nbsp;#f9f9f9</span><br>
                        <span class="pull-left">css:</span><span class="pull-right">&nbsp;&nbsp;n/a</span><br>
                    </div>
                    <div class="well text-gray-medium" to-clipboard='&lt;div class="well"&gt;&lt;p&gt;Lorem ipsum...&lt;/p&gt;&lt;/div&gt;'>
                        <span class="pull-left">color:</span><span class="pull-right">&nbsp;&nbsp;Dell Light Gray</span><br>
                        <span class="pull-left">hex:</span><span class="pull-right">&nbsp;&nbsp;#eeeeee</span><br>
                        <span class="pull-left">css:</span><span class="pull-right">&nbsp;&nbsp;n/a</span><br>
                    </div>
                    <div class="well text-white well-gray" to-clipboard='&lt;div class="well well-gray"&gt;&lt;p&gt;Lorem ipsum...&lt;/p&gt;&lt;/div&gt;'>
                        <span class="pull-left">color:</span><span class="pull-right">&nbsp;&nbsp;Dell Gray</span><br>
                        <span class="pull-left">hex:</span><span class="pull-right">&nbsp;&nbsp;#aaaaaa</span><br>
                        <span class="pull-left">css:</span><span class="pull-right">&nbsp;&nbsp;n/a</span><br>
                    </div>
                    <div class="well well-gray-medium" to-clipboard='&lt;div class="well well-gray-medium"&gt;&lt;p&gt;Lorem ipsum...&lt;/p&gt;&lt;/div&gt;'>
                        <span class="pull-left">color:</span><span class="pull-right">&nbsp;&nbsp;Dell Medium Gray</span><br>
                        <span class="pull-left">hex:</span><span class="pull-right">&nbsp;&nbsp;#737373</span><br>
                        <span class="pull-left">css:</span><span class="pull-right">&nbsp;&nbsp;text-gray-medium</span><br>
                    </div>
                    <div class="well well-gray-dark" to-clipboard='&lt;div class="well well-gray-dark"&gt;&lt;p&gt;Lorem ipsum...&lt;/p&gt;&lt;/div&gt;'>
                        <span class="pull-left">color:</span><span class="pull-right">&nbsp;&nbsp;Dell Gray Dark</span><br>
                        <span class="pull-left">hex:</span><span class="pull-right">&nbsp;&nbsp;#444444</span><br>
                        <span class="pull-left">css:</span><span class="pull-right">&nbsp;&nbsp;text-gray-dark</span><br>
                    </div>
                    <div class="well well-blue" to-clipboard='&lt;div class="well well-blue"&gt;&lt;p&gt;Lorem ipsum...&lt;/p&gt;&lt;/div&gt;'>
                        <span class="pull-left">color:</span><span class="pull-right">&nbsp;&nbsp;Dell Blue</span><br>
                        <span class="pull-left">hex:</span><span class="pull-right">&nbsp;&nbsp;#007db8</span><br>
                        <span class="pull-left">css:</span><span class="pull-right">&nbsp;&nbsp;text-blue</span><br>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="well well-dark-blue" to-clipboard='&lt;div class="well well-dark-blue"&gt;&lt;p&gt;Lorem ipsum...&lt;/p&gt;&lt;/div&gt;'>
                        <span class="pull-left">color:</span><span class="pull-right">&nbsp;&nbsp;Dell Dark Blue</span><br>
                        <span class="pull-left">hex:</span><span class="pull-right">&nbsp;&nbsp;#00447c</span><br>
                        <span class="pull-left">css:</span><span class="pull-right">&nbsp;&nbsp;text-dark-blue</span><br>
                    </div>
                    <div class="well well-light-green" to-clipboard='&lt;div class="well well-light-green"&gt;&lt;p&gt;Lorem ipsum...&lt;/p&gt;&lt;/div&gt;'>
                        <span class="pull-left">color:</span><span class="pull-right">&nbsp;&nbsp;Dell Light Green</span><br>
                        <span class="pull-left">hex:</span><span class="pull-right">&nbsp;&nbsp;#C1D82F</span><br>
                        <span class="pull-left">css:</span><span class="pull-right">&nbsp;&nbsp;n/a</span><br>
                    </div>
                    <div class="well well-green" to-clipboard='&lt;div class="well well-green"&gt;&lt;p&gt;Lorem ipsum...&lt;/p&gt;&lt;/div&gt;'>
                        <span class="pull-left">color:</span><span class="pull-right">&nbsp;&nbsp;Dell Green</span><br>
                        <span class="pull-left">hex:</span><span class="pull-right">&nbsp;&nbsp;#6EA204</span><br>
                        <span class="pull-left">css:</span><span class="pull-right">&nbsp;&nbsp;text-green</span><br>
                    </div>
                    <div class="well well-yellow" to-clipboard='&lt;div class="well well-yellow"&gt;&lt;p&gt;Lorem ipsum...&lt;/p&gt;&lt;/div&gt;'>
                        <span class="pull-left">color:</span><span class="pull-right">&nbsp;&nbsp;Dell Yellow</span><br>
                        <span class="pull-left">hex:</span><span class="pull-right">&nbsp;&nbsp;#f2af00</span><br>
                        <span class="pull-left">css:</span><span class="pull-right">&nbsp;&nbsp;n/a</span><br>
                    </div>
                    <div class="well well-orange" to-clipboard='&lt;div class="well well-orange"&gt;&lt;p&gt;Lorem ipsum...&lt;/p&gt;&lt;/div&gt;'>
                        <span class="pull-left">color:</span><span class="pull-right">&nbsp;&nbsp;Dell Orange</span><br>
                        <span class="pull-left">hex:</span><span class="pull-right">&nbsp;&nbsp;#EE6411</span><br>
                        <span class="pull-left">css:</span><span class="pull-right">&nbsp;&nbsp;text-orange</span><br>
                    </div>
                    <div class="well well-red" to-clipboard='&lt;div class="well well-red"&gt;&lt;p&gt;Lorem ipsum...&lt;/p&gt;&lt;/div&gt;'>
                        <span class="pull-left">color:</span><span class="pull-right">&nbsp;&nbsp;Dell Red</span><br>
                        <span class="pull-left">hex:</span><span class="pull-right">&nbsp;&nbsp;#D74324</span><br>
                        <span class="pull-left">css:</span><span class="pull-right">&nbsp;&nbsp;text-red</span><br>
                    </div>
                    <div class="well well-red-dark" to-clipboard='&lt;div class="well well-red-dark"&gt;&lt;p&gt;Lorem ipsum...&lt;/p&gt;&lt;/div&gt;'>
                        <span class="pull-left">color:</span><span class="pull-right">&nbsp;&nbsp;Dell Dark Red</span><br>
                        <span class="pull-left">hex:</span><span class="pull-right">&nbsp;&nbsp;#CE1126</span><br>
                        <span class="pull-left">css:</span><span class="pull-right">&nbsp;&nbsp;text-red-dark</span><br>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="well well-berry" to-clipboard='&lt;div class="well well-berry"&gt;&lt;p&gt;Lorem ipsum...&lt;/p&gt;&lt;/div&gt;'>
                        <span class="pull-left">color:</span><span class="pull-right">&nbsp;&nbsp;Dell Berry</span><br>
                        <span class="pull-left">hex:</span><span class="pull-right">&nbsp;&nbsp;#B7295A</span><br>
                        <span class="pull-left">css:</span><span class="pull-right">&nbsp;&nbsp;text-berry</span><br>
                    </div>
                    <div class="well well-purple" to-clipboard='&lt;div class="well well-purple"&gt;&lt;p&gt;Lorem ipsum...&lt;/p&gt;&lt;/div&gt;'>
                        <span class="pull-left">color:</span><span class="pull-right">&nbsp;&nbsp;Dell Purple</span><br>
                        <span class="pull-left">hex:</span><span class="pull-right">&nbsp;&nbsp;#6E2585</span><br>
                        <span class="pull-left">css:</span><span class="pull-right">&nbsp;&nbsp;text-purple</span><br>
                    </div>
                    <div class="well well-teal" to-clipboard='&lt;div class="well well-teal"&gt;&lt;p&gt;Lorem ipsum...&lt;/p&gt;&lt;/div&gt;'>
                        <span class="pull-left">color:</span><span class="pull-right">&nbsp;&nbsp;Dell Teal</span><br>
                        <span class="pull-left">hex:</span><span class="pull-right">&nbsp;&nbsp;#42aeaf</span><br>
                        <span class="pull-left">css:</span><span class="pull-right">&nbsp;&nbsp;n/a</span><br>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>
