//This LESS should ONLY be for DEMO purposes. It will not be included in the dell-ui-components css, only in the demo application

//search-and-filtering-html-example {
//
//
//}
//
////for play demo
//search-and-filtering-play-demo {
//
//
//}


.searchCard {
	border: 2px solid black;
	border-radius: 5px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	height: 80px;
	width: 100px;
}

.top-padding-5 {
	padding-top: 5px;
}