<section ng-controller="alertsCtrl" id="alerts-html-example">

    <div class="container">
        <h2>Alerts Demo</h2>

            <!-- example html for Alerts component -->

            <h3 class="bottom-offset-20">Alert types </h3>

                <!---------Warning alert:---------->
                <div class="alert">
                    <div class="alert-warning alert-dismissible cssDataTargetDismiss-1 fade in">
                        <p><strong>User Errors: </strong>A soft stop, requiring users to take an action before proceeding. The error cannot be dismissed and is visible until the error is fixed.</p>
                    </div>
                </div>


            <div class="row bottom-offset-20">
                <!---------Success alert:---------->
                <div class="col-xs-12 col-md-4">
                    <div class="alert">
                        <div class="alert-success alert-dismissible cssDataTargetDismiss-2 fade in">
                            <button type="button" class="close" data-toggle="collapse" data-target=".cssDataTargetDismiss-2">×</button>
                            <p><strong>Success Alerts: </strong>Indicates the task has been completed successfully. Can be collapsed and reopened.</p>
                        </div>
                        <span class="cssDataTargetDismiss-2 collapse fade bottom-offset-10" data-toggle="collapse"
                              data-target=".cssDataTargetDismiss-2">
                            <a href="javascript:;" class="text-blue">Re-open dismissed info alert</a>
                        </span>
                    </div>
                </div>


                <!---------Information alert:---------->
                <div class="col-xs-12 col-md-4">
                    <div class="alert">
                        <div class="alert-info alert-dismissible cssDataTargetDismiss-3 fade in">
                            <button type="button" class="close" data-toggle="collapse" data-target=".cssDataTargetDismiss-3">×</button>
                            <p><strong>Information Alerts: </strong>Information alerts display important information for the page. Can be collapsed and reopened.</p>
                        </div>
                        <span class="cssDataTargetDismiss-3 collapse fade bottom-offset-10" data-toggle="collapse"
                              data-target=".cssDataTargetDismiss-3">
                            <a href="javascript:;" class="text-blue">Re-open dismissed info alert</a>
                        </span>
                    </div>
                </div>


                <!---------Catastrophic Error:---------->
                <div class="col-xs-12 col-md-4">
                    <div class="alert alert-error alert-dismissible">
                        <p><strong>Catastrophic Errors: </strong>A hard stop, meaning users cannot go forward. Cannot be collapsed.</p>
                    </div>
                </div>

            </div>  <!-- row close -->


            <!--Informational Alerts-->
            <h3 class="top-offset-40 bottom-offset-20">Informational alerts</h3>

            <!--------informational alert no title----------->
            <div class="alert">
                <div class="alert-info alert-dismissible cssDataTargetDismiss-4 fade in">
                    <button type="button" class="close" data-toggle="collapse" data-target=".cssDataTargetDismiss-4">×</button>
                    <p><strong>Informational alerts: </strong>Information alerts display important information for the page. Can be collapsed and reopened.</p>
                </div>
                <span class="cssDataTargetDismiss-4 collapse fade bottom-offset-10" data-toggle="collapse"
                     data-target=".cssDataTargetDismiss-4">
                    <a href="javascript:;" class="text-blue">Re-open dismissed alert</a>
                </span>
            </div>

            <!--------informational alert WITH title----------->
            <div class="alert">
                <div class="alert-info alert-dismissible cssDataTargetDismiss-5 fade in">
                    <button type="button" class="close" data-toggle="collapse" data-target=".cssDataTargetDismiss-5 ">×</button>
                    <h4>Informational alerts example with a title.</h4>
                    <p>Information alerts display important information for the page. Can be collapsed and reopened.</p>
                </div>
                <span class="cssDataTargetDismiss-5 collapse fade bottom-offset-10" data-toggle="collapse"
                   data-target=".cssDataTargetDismiss-5">
                    <a href="javascript:;" class="text-blue">Re-open dismissed alert</a>
                </span>
            </div>

            <!--------informational alert WITH title and multiple links----------->
            <div class="alert">
                <div class="alert-info alert-dismissible cssDataTargetDismiss-6 fade in">
                    <button type="button" class="close" data-toggle="collapse" data-target=".cssDataTargetDismiss-6">×</button>
                    <h4>Informational alerts example with a title and multiple links.</h4>
                    <p class="bottom-offset-0">Information alerts display important information for the page. Can be collapsed and reopened.</p>
                    <ul>
                        <li>Lorum ipsum with <a href="javascript:;">anchor link</a></li>
                        <li>Lorum ipsum with <a href="javascript:;">anchor link</a></li>
                        <li>Lorum ipsum with <a href="javascript:;">anchor link</a></li>
                    </ul>
                </div>
                <span class="cssDataTargetDismiss-6 collapse fade bottom-offset-10" data-toggle="collapse"
                   data-target=".cssDataTargetDismiss-6">
                    <a href="javascript:;" class="text-blue">Re-open <strong>first</strong> dismissed alert</a>
                </span>

                <div class="alert-info alert-dismissible cssDataTargetDismiss-7 fade in">
                    <button type="button" class="close" data-toggle="collapse" data-target=".cssDataTargetDismiss-7">×</button>
                    <h4>Additional alert example.</h4>
                    <p class="bottom-offset-0">Information alerts display important information for the page. Can be collapsed and reopened.</p>
                    <ul>
                        <li>Lorum ipsum with <a href="javascript:;">anchor link</a></li>
                        <li>Lorum ipsum with <a href="javascript:;">anchor link</a></li>
                        <li>Lorum ipsum with <a href="javascript:;">anchor link</a></li>
                    </ul>
                </div>
                <span class="cssDataTargetDismiss-7 collapse fade bottom-offset-10" data-toggle="collapse"
                   data-target=".cssDataTargetDismiss-7">
                    <a href="javascript:;" class="text-blue">Re-open <strong>second</strong> dismissed alert</a>
                </span>
            </div>


            <!--Success Alerts-->
            <h3 class="top-offset-40 bottom-offset-20">Success alerts</h3>

            <!--------success alerts no title----------->
                <div class="alert">
                    <div class="alert-success alert-dismissible cssDataTargetDismiss-8 fade in">
                        <button type="button" class="close" data-toggle="collapse" data-target=".cssDataTargetDismiss-8">×</button>
                        <p><strong>Success alerts: </strong>Indicates the task has been completed successfully. Can be collapsed and reopened.</p>
                    </div>
                    <span class="cssDataTargetDismiss-8 collapse fade bottom-offset-10" data-toggle="collapse"
                          data-target=".cssDataTargetDismiss-8">
                        <a href="javascript:;" class="text-blue">Re-open dismissed alert</a>
                    </span>
                </div>

            <!--------success alerts with title----------->
                <div class="alert">
                    <div class="alert-success alert-dismissible cssDataTargetDismiss-9 fade in">
                        <button type="button" class="close" data-toggle="collapse" data-target=".cssDataTargetDismiss-9 ">×</button>
                        <h4>Success alerts example with a title.</h4>
                        <p><strong>Success alerts: </strong>Indicates the task has been completed successfully. Can be collapsed and reopened.</p>
                    </div>
                    <span class="cssDataTargetDismiss-9 collapse fade bottom-offset-10" data-toggle="collapse"
                          data-target=".cssDataTargetDismiss-9">
                        <a href="javascript:;" class="text-blue">Re-open dismissed alert</a>
                    </span>
                </div>

        <!--------success alert WITH title and multiple links----------->
                <div class="alert">
                    <div class="alert-success alert-dismissible cssDataTargetDismiss-10 fade in">
                        <button type="button" class="close" data-toggle="collapse" data-target=".cssDataTargetDismiss-10">×</button>
                        <h4>Success alerts example with a title and multiple links.</h4>
                        <p class="bottom-offset-0">Indicates the task has been completed successfully. Can be collapsed and reopened.</p>
                        <ul>
                            <li>Lorum ipsum with <a href="javascript:;">anchor link</a></li>
                            <li>Lorum ipsum with <a href="javascript:;">anchor link</a></li>
                            <li>Lorum ipsum with <a href="javascript:;">anchor link</a></li>
                        </ul>
                    </div>
                    <span class="cssDataTargetDismiss-10 collapse fade bottom-offset-10" data-toggle="collapse"
                          data-target=".cssDataTargetDismiss-10">
                        <a href="javascript:;" class="text-blue">Re-open dismissed alert</a>
                    </span>
                </div>




            <!--user error -->
            <h3 class="top-offset-40 bottom-offset-20">User Error</h3>

            <!--------user error alert no title----------->
            <div class="alert">
                <div class="alert-warning alert-dismissible cssDataTargetDismiss-11 fade in">
                    <p><strong>User Errors: </strong>A soft stop, requiring users to take an action before proceeding. The error cannot be dismissed and is visible until the error is fixed.</p>
                </div>
                <span class="cssDataTargetDismiss-11 collapse fade bottom-offset-10" data-toggle="collapse"
                      data-target=".cssDataTargetDismiss-11">
                    <a href="javascript:;" class="text-blue">Re-open dismissed alert</a>
                </span>
            </div>


            <!--------User alert WITH title and multiple links----------->
            <div class="alert">
                <div class="alert-warning alert-dismissible cssDataTargetDismiss-12 fade in">
                    <h4>User Errors example with a title and multiple links.</h4>
                    <p class="bottom-offset-0">A soft stop, requiring users to take an action before proceeding. The error cannot be dismissed and is visible until the error is fixed.</p>
                    <ul>
                        <li>Lorum ipsum with <a href="javascript:;">anchor link</a></li>
                        <li>Lorum ipsum with <a href="javascript:;">anchor link</a></li>
                        <li>Lorum ipsum with <a href="javascript:;">anchor link</a></li>
                    </ul>
                </div>
                    <span class="cssDataTargetDismiss-12 collapse fade bottom-offset-10" data-toggle="collapse"
                          data-target=".cssDataTargetDismiss-12">
                        <a href="javascript:;" class="text-blue">Re-open <strong>first</strong> dismissed alert with links</a>
                    </span>

                <div class="alert-info alert-dismissible cssDataTargetDismiss-13 fade in">
                    <button type="button" class="close" data-toggle="collapse" data-target=".cssDataTargetDismiss-13">×</button>
                    <h4>Dismissible informational alert example with title.</h4>
                    <p class="bottom-offset-0">Dolor sit amet, con Maecenas egestas scelerisque porttitor. Dolor sit amet, con Maecenas egestas
                        scelerisque porttitor.</p>
                    <ul>
                        <li>Lorum ipsum with <a href="javascript:;">anchor link</a></li>
                        <li>Lorum ipsum with <a href="javascript:;">anchor link</a></li>
                        <li>Lorum ipsum with <a href="javascript:;">anchor link</a></li>
                    </ul>
                </div>
                <span class="cssDataTargetDismiss-13 collapse fade top-offset-10 bottom-offset-10" data-toggle="collapse"
                      data-target=".cssDataTargetDismiss-13">
                    <a href="javascript:;" class="text-blue">Re-open dismissed alert with links</a>
                </span>
            </div>



            <!--Catastrophic error -->
            <h3 class="top-offset-40 bottom-offset-20">Catastrophic Error</h3>

            <div class="alert alert-error">
                <p><strong>Catastrophic Errors: </strong>A hard stop, meaning users cannot go forward. Cannot be collapsed.</p>
            </div>

            <div class="alert alert-error">
                <h4>Catastrophic Errors example with a title</h4>
                <p>A hard stop, meaning users cannot go forward. Cannot be collapsed.</p>
            </div>


    </div>

</section>
