<section ng-controller="mastheadCtrl" id="masthead-html-example">
    <div class="container">
        <h2>Masthead Demo</h2>
        <h3>Simplified Masthead</h3>
    </div>
        <div class="row simplified-masthead">
            <nav class="navbar navbar-default navbar-inverse">
                <div class="container">
                    <div class="navbar-header">
                            <a href="" class="navbar-brand"><i class="icon-ui-dell text-white dell-brand "></i></a>
                    </div>
                </div>
            </nav>
            <div class="masthead-shadow-section"></div>
    </div>
</section>
