<section ng-controller="mastheadCtrl" id="masthead-html-example">
    <div class="container">
        <h2>Masthead Demo</h2>
        <div class="row">
            <div class="col-sm-9">
                <div equalizer="group" class="equalize well well-white text-gray-medium well-white-stroke">
                    <div class="center-component component-code" id="navigation-masthead-simplified-masthead">
                    <!-- simplified masthead -->
                        <header class="masthead">
                            <div class="navbar">
                                <div class="container">
                                    <div class="navbar-header">
                                        <a href="#" class="navbar-brand">
                                            <i class="icon-ui-dell"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="masthead-shadow"></div>
                        </header>


                    <!-- / simplified masthead -->
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <hr class="rule-break hr-gray-light">
                            <h5 class="fragment-title">Simplified Masthead</h5>
                            <div class="description">Used when we want to keep users focused on the task at hand and limit the likelihood they will accidentally navigate away. Used predominately in cart and checkout and workflow pages. </div>
                        </div>
                    </div>  
                </div>
            </div>
            <div class="col-sm-3">
                <div class="well">Sidebar</div>
            </div>
        </div>
    </div>
    <!-- <div class="row simplified-masthead">
        <nav class="navbar navbar-default navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                        <a href="" class="navbar-brand"><i class="icon-ui-dell text-white dell-brand "></i></a>
                </div>
            </div>
        </nav>
        <div class="masthead-shadow-section"></div>
    </div>
    <p></p>
    <masthead>
        <div class="navbar">
            <div class="container">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand">
                        <i class="icon-ui-dell"></i>
                    </a>
                </div>
            </div>
            
        </div>
        <div class="masthead-shadow-section"></div>
    </masthead> -->


</section>
