//This LESS should ONLY be for DEMO purposes. It will not be included in the dell-ui-components css, only in the demo application
#masthead-html-example {
    i.icon-ui-dell.dell-brand {
        position:relative;
        top:-5px;
        font-size:30px;
    }
    .masthead-shadow-section {
        content: "";
        width: 100%;
        height: 6px;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
        margin: -26px auto 0;
        z-index:500;
    }
    @media (min-width:@screen-sm-min) {

        i.icon-ui-dell.dell-brand {
            top:-2px;
            font-size:42px;
        }
    }
}
//
////for play demo
//masthead-play-demo {
//
//
//}
