//This LESS should ONLY be for DEMO purposes. It will not be included in the dell-ui-components css, only in the demo application

#navigation-masthead-simplified-masthead masthead { 
    > .navbar{
        margin-left: -30px;
        margin-right: -30px;
        padding: 0 30px;
    }
    > .masthead-shadow {
        margin-left: -30px;
        width: 120%;
    }
}