/*
 * Masthead component theme overrides
 *------------------------------------------------------------------------------------------
 */

.simplified-masthead .navbar-brand{

    height:50px;
    margin-left:15px;
}
.simplified-masthead .navbar-default{
    background-color: #007db8;
    border:none;
    border-bottom: 1px solid #0087c7;
}
@media (min-width: @screen-sm-min) {
    .simplified-masthead .navbar{
        height:66px;
    }
    .simplified-masthead .navbar-brand {
        height:66px;
        margin-left:0;
    }
}
@media (min-width: @screen-md-min) {
    .simplified-masthead .navbar {
        height:66px;
    }
    .simplified-masthead .navbar-brand {
        height:66px;
    }
}
@media (min-width: @screen-lg-min) {
    .simplified-masthead .navbar {
        height:66px;
    }
    .simplified-masthead .navbar-brand {
        height:66px;
    }
}

