


/* Grays */
.gray-dark,
.well-gray-dark {
    .well-colors (@dell-gray-dark, @white, @white, @white)
    }

.gray-dark-stroke,
.well-gray-dark-stroke {
    .well-colors (@white, @dell-gray-dark, @gray-darker, @dell-blue);
    border: 1px solid @dell-gray-dark;
    }

.gray-medium,
.well-gray-medium {
    .well-colors (@dell-gray-medium, @white, @white, @white)
    }

.gray-medium-stroke,
.well-gray-medium-stroke {
    .well-colors (@white, @text-color, @dell-gray-medium, @link-color);
    border: 1px solid @dell-gray-medium;
    }

.gray,
.well-gray {
    .well-colors (@dell-gray, @dell-gray, @white, @white)
    }

.gray-stroke,
.well-gray-stroke {
    .well-colors (@white, @text-color, @dell-gray, @link-color);
    border: 1px solid @dell-gray;
    }

.gray-light,
.well-gray-light {
    .well-colors (@gray-light, @text-color, @gray-darker, @link-color)
    }

.gray-light-stroke,
.well-gray-light-stroke {
    .well-colors (@white, @dell-gray, @gray-light, @link-color);
    border: 1px solid @gray-light;
    }

.gray-very-light,
.well-gray-very-light {
    .well-colors (@dell-gray-very-light, @text-color, @gray-darker, @link-color)
    }

.gray-very-light-stroke,
.well-gray-very-light-stroke {
    border: 1px solid @dell-gray-very-light;
    .well-colors (@white, @dell-gray, @dell-gray-very-light, @dell-gray)
    }

.white,
.well-white {
    .well-colors (@white, @gray-darker, @gray-darker, @dell-blue)
    }

.white-stroke,
.well-white-stroke {
    border: 1px solid @white;
    }

.well-transparent-stroke {
    border: 1px solid transparent;
    }

.black,
.well-black {
    .well-colors (@black, @white, @white, @white)
    }

.black-stroke,
.well-black-stroke {
    .well-colors (@white, @black, @black, @link-color);
    border: 1px solid @black;
    }


/* Blue */
.blue,
.well-blue {
    .well-colors (@dell-blue, @white, @white, @white)
    }

.blue a, .well-blue a {
    color: @white;
    }

.blue-stroke,
.well-blue-stroke {
    .well-colors (@white, @text-color, @dell-blue, @link-color);
    border: 1px solid @dell-blue;
    }

/* Dark Blue */
.dark-blue,
.well-dark-blue {
    .well-colors (@dell-dark-blue, @white, @white, @white)
    }

.dark-blue a,
.well-blue a {
    color: @white;
    }

.dark-blue-stroke,
.well-dark-blue-stroke {
    .well-colors (@white, @text-color, @dell-dark-blue, @link-color);
    border: 1px solid @dell-dark-blue;
    }

/* Green */
.green,
.well-green {
    .well-colors (@dell-green, @white, @white, @white)
    }

.green-stroke,
.well-green-stroke {
    .well-colors (@white, @text-color, @dell-green, @link-color);
    border: 1px solid @dell-green;
    }


/* Light Green */
.light-green,
.well-light-green {
    .well-colors (@dell-green-light, @white, @white, @white)
    }

.light-green-stroke,
.well-light-green-stroke {
    .well-colors (@white, @text-color, @dell-green-light, @link-color);
    }

/* Yellow */
.yellow,
.well-yellow {
    .well-colors (@dell-yellow, @white, @white, @white)
    }

.yellow-stroke,
.well-yellow-stroke {
    .well-colors (@white, @text-color, @dell-yellow, @link-color);
    border: 1px solid @dell-yellow;
    }

/* Orange */
.orange,
.well-orange {
    .well-colors (@dell-orange, @white, @white, @white)
    }


.orange-stroke,
.well-orange-stroke {
    border: 1px solid @dell-orange;
    .well-colors (@white, @text-color, @dell-orange, @link-color)
    }

/* Red */
.red,
.well-red {
    .well-colors (@dell-red, @white, @white, @white)
    }

.red-stroke,
.well-red-stroke {
    .well-colors (@white, @text-color, @dell-red, @link-color);
    border: 1px solid @dell-red;
    }

.red-dark,
.well-red-dark {
    .well-colors (@dell-red-dark, @white, @white, @white)
    }

.red-dark-stroke,
.well-red-dark-stroke {
    .well-colors (@white, @text-color, @dell-red-dark, @link-color);
    border: 1px solid @dell-red-dark;
    }

/* Berry */
.berry,
.well-berry {
    .well-colors (@dell-berry, @white, @white, @white)
    }

.berry-stroke,
.well-berry-stroke {
    .well-colors (@white, @text-color, @dell-berry, @link-color);
    border: 1px solid @dell-berry;
    }

/* Purple */
.purple,
.well-purple {
    .well-colors (@dell-purple, @white, @white, @white)
    }

.purple-stroke,
.well-purple-stroke {
    .well-colors (@white, @text-color, @dell-purple, @link-color);
    border: 1px solid @dell-purple;
    }

/* Teal */
.teal,
.well-teal {
    .well-colors (@dell-teal, @white, @white, @white)
    }

.teal-stroke,
.well-teal-stroke {
    .well-colors (@white, @text-color, @dell-teal, @link-color);
    border: 1px solid @dell-teal;
    }

/* Modify all stroke classes with "thin"*/
[class$=-stroke].thin {
    border-width: @thin-stroke;
    }



// Typographic Colors
// NOTE: (These colors are not part of standard bootstrap)
// ==================================================================================
// !important is required to ensure the text-color overrides any default text color
// Also these colors are now following the correct naming convention.
// They used to be called .white-text or .gray-medium-text but no more
// ==================================================================================

.text {
    &-white {
        color: @white !important;
        }
    &-gray-dark {
        color: @dell-gray-dark !important;
        }
    &-gray-medium {
        color: @dell-gray-medium !important;
        }
    &-gray {
        color: @dell-gray !important;
        }
    &-gray-light {
        color: @dell-gray-light !important;
        }
    &-gray-very-light {
        color: @dell-gray-very-light !important;
        }
    &-blue {
        color: @dell-blue !important;
        }
    &-dark-blue {
        color: @dell-dark-blue !important;
        }
    &-yellow {
        color: @dell-yellow !important;
        }
    &-teal {
        color: @dell-teal !important;
        }
    &-green {
        color: @dell-green !important;
        }
    &-light-green {
        color: @dell-green-light !important;
        }
    &-orange {
        color: @dell-orange !important;
        }
    &-red {
        color: @dell-red !important;
        }
    &-red-dark {
        color: @dell-red-dark !important;
        }
    &-berry {
        color: @dell-berry !important;
        }
    &-purple {
        color: @dell-purple !important;
        }
    }

