<section ng-controller="standardButtonsCtrl" id="standard-buttons-html-example">

    <div class="container">
        <h2 class="bottom-offset-20">Standard-Buttons Demo</h2>

            <div class="bottom-offset-30">
                    <h4>Primary Non-Purchase</h4>
                    <!--Primary Non-Purchase-->
                    <a class="btn btn-primary" href="javascript:;">Primary</a>
                    <!--/primary Non-Purchase-->
            </div>

            <div class="bottom-offset-30">
                <h4>Primary Non-Purchase disabled</h4>
                <!--Primary Non-Purchase disabled-->
                <a class="btn btn-primary disabled" href="javascript:;">Primary</a>
                <!--/primary Non-Purchase disabled-->
            </div>

    <hr/>

        <div class="bottom-offset-30">
            <h4>Primary Purchase</h4>
            <!--Primary Purchase-->
            <a class="btn btn-success" href="javascript:;">Success</a>
            <!--/primary Non Purchase-->
        </div>

        <div class="bottom-offset-30">
            <h4>Primary Purchase disabled</h4>
            <!--Primary Purchase disabled-->
            <a class="btn btn-success disabled" href="javascript:;">Success</a>
            <!--/primary Purchase disabled-->
        </div>

<hr/>

        <div class="bottom-offset-30">
            <h4>Secondary or General Use</h4>
            <!--Secondary or General Use-->
            <a class="btn btn-default" href="javascript:;">Default</a>
            <!--/Secondary or General Use-->
        </div>

        <div class="bottom-offset-30">
            <h4>Secondary or General Use disabled</h4>
            <!--Secondary or General Use disabled-->
            <a class="btn btn-default disabled" href="javascript:;">Default</a>
            <!--/Secondary or General Use disabled-->
        </div>


    </div>

</section>
