<section ng-controller="tooltipsCtrl" id="tooltips-html-example">

    <div class="container">
        <h2 class="bottom-offset-20">Tooltips Demo</h2>

            <h4 class="top-offset-20">Tooltip positioning</h4>

            <ul class="unstyled list-inline">
                <li class="top-offset-10" aria-describedby="tooltip-top">
                    <span role="tooltip" id="tooltip-top" data-toggle="tooltip" data-container="body" data-placement="top" title="" data-original-title="Tooltip on top with simple filler copy">Tooltip on top</span>
                </li>
                <li class="top-offset-10" aria-describedby="tooltip-right">
                    <span role="tooltip" id="tooltip-right" data-toggle="tooltip" data-container="body" data-placement="right" title="" data-original-title="Tooltip on right with simple filler copy">Tooltip on right</span>
                </li>
                <li class="top-offset-10" aria-describedby="tooltip-bottom">
                    <span role="tooltip" id="tooltip-bottom"  data-toggle="tooltip" data-container="body" data-placement="bottom" title="" data-original-title="Tooltip on bottom with simple filler copy">Tooltip on bottom</span>
                </li>
                <li class="top-offset-10" aria-describedby="tooltip-left">
                    <span role="tooltip" id="tooltip-left" data-toggle="tooltip" data-container="body" data-placement="left" title="" data-original-title="Tooltip on left with simple filler copy">Tooltip on left</span>
                </li>

            </ul>
            <h4 class="top-offset-20" aria-describedby="tooltip-para">Inline tooltip to provide glossary term definition</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu nisl fringilla, dignissim <span role="tooltip" id="tooltip-para" data-toggle="tooltip" data-container="body" data-placement="top" title="" data-original-title="Inline tooltip used as a glossary term definition.">eliefend</span> at ligula auctor massa auctor lobortis hendrerit id lorem. Sed rutrum felis enim, vel cursus ligula pharetra id. Nullam vitae magna ac erat elementum tristique. </p>

            <h4 class="top-offset-20" aria-describedby="tooltip-link">Inline tooltip to provide context to a link</h4>
            <p>Lorem ipsum dolor sit amet, <a href="javascript:alert('hey you clicked on a link!')" role="tooltip" id="tooltip-link" data-toggle="tooltip" data-container="body" data-placement="top" title="" data-original-title="Tooltip used on a link to provide context.">consectetur adipiscing elit</a>. </p>

            <h4 class="top-offset-20" aria-describedby="tooltip-image">Tooltip on an image</h4>
            <p><img src="https://placehold.it/250x100" role="tooltip" id="tooltip-image" data-toggle="tooltip" data-container="body" data-placement="right" title="" data-original-title="This is an awesome image!"/></p>

    </div>

</section>
