<section ng-controller="tooltipsCtrl" id="tooltips-html-example">

    <div class="container">
        <h2 class="bottom-offset-20">Tooltips Demo</h2>
            <ul class="unstyled list-inline">
                <li class="top-offset-10" aria-describedby="tooltip-top">
                    <a href="javascript:;" role="tooltip" id="tooltip-top" data-toggle="tooltip" data-container="body" data-placement="top" title="" data-original-title="Tooltip on bottom with simple filler copy">Tooltip on top</a>
                </li>
                <li class="top-offset-10" aria-describedby="tooltip-right">
                    <a href="javascript:;" role="tooltip" id="tooltip-right" data-toggle="tooltip" data-container="body" data-placement="right" title="" data-original-title="Tooltip on left with simple filler copy">Tooltip on right</a>
                </li>
                <li class="top-offset-10" aria-describedby="tooltip-bottom">
                    <a href="javascript:;" role="tooltip" id="tooltip-bottom"  data-toggle="tooltip" data-container="body" data-placement="bottom" title="" data-original-title="Tooltip on bottom with simple filler copy">Tooltip on bottom</a>
                </li>
                <li class="top-offset-10" aria-describedby="tooltip-left">
                    <a href="javascript:;" role="tooltip" id="tooltip-left" data-toggle="tooltip" data-container="body" data-placement="left" title="" data-original-title="Tooltip on left with simple filler copy">Tooltip on left</a>
                </li>

            </ul>
    </div>

</section>
