<section ng-controller="tooltipsCtrl" id="tooltips-html-example">
    <div class="container">
        <h2 class="bottom-offset-20">Tooltips Demo</h2>
        <ul class="unstyled list-inline top-offset-10">
            <li aria-describedby="tooltip-top">
                <a id="tooltip-top" href="javascript:;" data-toggle="tooltip" data-container="body" data-placement="top" title="Tooltip on bottom with simple filler copy">Tooltip on top</a>
            </li>
            <li aria-describedby="tooltip-right">
                <a href="javascript:;" data-toggle="tooltip" data-container="body" data-placement="right" title="Tooltip on left with simple filler copy">Tooltip on right</a>
            </li>
            <li aria-describedby="tooltip-bottom">
                <a href="javascript:;" data-toggle="tooltip" data-container="body" data-placement="bottom" title="Tooltip on bottom with simple filler copy">Tooltip on bottom</a>
            </li>
            <li>
                <a href="javascript:;" data-toggle="tooltip" data-container="body" data-placement="left" title="Tooltip on left with simple filler copy">Tooltip on left</a>
            </li>
        </ul>

<!--         <h4 class="top-offset-20">Tooltip on a form field</h4>

        <form class="form-compressed" role="form">
            <div class="row">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 form-label" for="text-label-input" data-toggle="tooltip" data-container="body" data-placement="top" title="Tooltip on a form field to provide help">Text input label</label>
                    <div class="col-xs-12 col-sm-5" aria-describedby="tooltip-on-input-field">
                        <input  id="text-label-input" type="text" class="form-control">
                    </div>
                </div>
            </div>
        </form> -->

<!-- 
        <h4 class="top-offset-20">Inline tooltip to provide glossary term definition</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu nisl fringilla, dignissim <span role="tooltip" id="tooltip-para" data-toggle="tooltip" data-container="body" data-placement="top" title="" data-original-title="Inline tooltip used as a glossary term definition.">eliefend</span> at ligula auctor massa auctor lobortis hendrerit id lorem. Sed rutrum felis enim, vel cursus ligula pharetra id. Nullam vitae magna ac erat elementum tristique. </p>

        <h4 class="top-offset-20" aria-describedby="tooltip-link">Inline tooltip to provide context to a link</h4>
        <p>Lorem ipsum dolor sit amet, <a href="javascript:alert('hey you clicked on a link that has a tooltip!')" role="tooltip" id="tooltip-link" data-toggle="tooltip" data-container="body" data-placement="top" title="" data-original-title="Tooltip used on a link to provide context.">consectetur adipiscing elit</a>. </p>

        <h4 class="top-offset-20" aria-describedby="tooltip-image">Tooltip on an image</h4>
        <p><a href="javascript:;" role="tooltip" id="tooltip-image" data-toggle="tooltip" data-container="body" data-placement="right" title="" data-original-title="This is an awesome image!"><img src="https://placehold.it/250x100"/></a></p>


        <h4 class="top-offset-20" aria-describedby="tooltip-button">Tooltip on a button</h4>
        <p><button class="btn btn-default" role="tooltip" id="tooltip-button" data-toggle="tooltip" data-container="body" data-placement="right" title="" data-original-title="This a tooltip on a button">Tooltip on a button</button></p>
 -->
    </div>
</section>
