/*
 * Tooltips component theme overrides
 *------------------------------------------------------------------------------------------
 */


// Base class
.tooltip {
    position: absolute;
    z-index: @zindex-tooltip;
    display: block;
    visibility: visible;
    // Reset font and text propertes given new insertion method
    font-family: @font-family-base;
    font-size: @font-size-small;
    font-weight: normal;
    line-height: 1.4;
    border: 1px solid #999999;
    background: #ffffff !important;

    &.top    { margin-top:  -10px; margin-left:  -1px; padding: 4px 3px;}
    &.right  { margin-left:  11px; padding: 4px 0; }
    &.bottom { margin-top:   12px; padding: 4px 3px;}
    &.left   { margin-left: -12px; padding: 4px 0; }
}

// Wrapper for the tooltip content
.tooltip-inner {
    max-width: @tooltip-max-width;
    padding: 4px 0px;
    margin: -2px 6px;
    color: @tooltip-color;
    text-align: center;
    text-decoration: none;
    background-color: @tooltip-bg;
    border-radius: @border-radius-base;
}

//adjusted tooltip-inner
.tooltip {
    &.right .tooltip-inner {
        margin: -2px 2px;
    }
    &.left .tooltip-inner {
        margin: -2px 2px;
    }
}


// Arrows
.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
// Note: Deprecated .top-left, .top-right, .bottom-left, and .bottom-right as of v3.3.1
.tooltip {
    &.top .tooltip-arrow {
        bottom: -8px;
        left: 50%;
        margin-left: -5px;
        border-width: 7px 7px 0;
        border-top-color: #666;

    }
    &.top-left .tooltip-arrow {
        bottom: 0;
        right: @tooltip-arrow-width;
        margin-bottom: -@tooltip-arrow-width;
        border-width: @tooltip-arrow-width @tooltip-arrow-width 0;
        border-top-color: @tooltip-arrow-color;
    }
    &.top-right .tooltip-arrow {
        bottom: 0;
        left: -7px;
        margin-bottom: -@tooltip-arrow-width;
        border-width: @tooltip-arrow-width @tooltip-arrow-width 0;
        border-top-color: @tooltip-arrow-color;
    }
    &.right .tooltip-arrow {
        top: 50%;
        left: -7px;
        margin-top: -7px;
        border-width: 7px 7px 7px 0;
        border-right-color: #666666;
    }
    &.left .tooltip-arrow {
        top: 50%;
        right: -7px;
        margin-top: -7px;
        border-width: 7px 0 7px 7px;
        border-left-color: #666666;
    }
    &.bottom .tooltip-arrow {
        top: -8px;
        left: 50%;
        margin-left: -7px;
        border-width: 0 7px 7px;
        border-bottom-color: #666666;
    }
    &.bottom-left .tooltip-arrow {
        top: 0;
        right: @tooltip-arrow-width;
        margin-top: -@tooltip-arrow-width;
        border-width: 0 @tooltip-arrow-width @tooltip-arrow-width;
        border-bottom-color: @tooltip-arrow-color;
    }
    &.bottom-right .tooltip-arrow {
        top: 0;
        left: @tooltip-arrow-width;
        margin-top: -@tooltip-arrow-width;
        border-width: 0 @tooltip-arrow-width @tooltip-arrow-width;
        border-bottom-color: @tooltip-arrow-color;
    }
}

.tooltip.right .tooltip-arrow:after {
    left: 1px;
}

.tooltip.bottom .tooltip-arrow:after {
    top: 1px;
}

.tooltip.left .tooltip-arrow:after {
    right: 1px;
}


[class^=icon][data-toggle="tooltip"] {
    border:none;
}


.contextual-help {
    .form-label {
        margin-bottom: 0;
        padding-bottom: 0;
        padding-left: 5px;
        padding-top: 8px;
        text-align: right;
        top: 0;
    }
    [class^=icon][data-toggle="tooltip"] {
        border:none;
    }
    [data-toggle="tooltip"] {
        border-bottom: none !important;
        color: @dell-blue;
    }
}
