/*
 * Modals component theme overrides
 *------------------------------------------------------------------------------------------
 */


.modal-header .close {
    margin-top: -2px;
    font-size: 22px;
    font-weight: bold;
}


.modal-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
}

// Scale up the modal
@media (min-width: @screen-sm-min) {

    .modal-content {
        -webkit-box-shadow:  1px 4px rgba(0,0,0,.3);
        box-shadow: 0 1px 4px rgba(0,0,0,.3);
    }

}
