/*
 * Modals component theme overrides
 *------------------------------------------------------------------------------------------
 */


.modal-header .close {
    margin-top: -2px;
    font-size: 22px;
    font-weight: bold;
}


// Scale up the modal
@media (min-width: @screen-sm-min) {

    .modal-content {
        -webkit-box-shadow:  1px 4px rgba(0,0,0,.3);
        box-shadow: 0 1px 4px rgba(0,0,0,.3);
    }

}


input:focus + [role="modal"] {
    display: block;
    position: absolute;
    top: 100%;
}
