/*
 * Data-Elements component theme overrides
 *------------------------------------------------------------------------------------------
 */

.input-group-btn .btn-default {
		background-color: #fff;

	}

	.theader {
		background-color: #007db8;
	}

	thead > tr > .text-center {
		background-color: #fff;
	}

	.input-group {
		width:300px;
	}

	.dropdown-menu {
		border-radius: 5px;
		padding:5px;
	}

	th > .btn-block {
	    font-size: 1.2em;
	}

	table, th, td, .btn-block {
	    height:33px;
	}
	
	table, th, td {
	    border:0px;
	}

	thead > tr > th > .pull-right {
		padding-bottom: 5px;
		width:35px;
		height:33px;
		color:#fff;
		-webkit-border-top-right-radius: 5px;
		-moz-border-radius-topright: 5px;
		border-top-right-radius: 5px;
	}

	thead > tr > th > button  {
		color:#fff;
	}

	thead > tr > th  {
		color:#fff;
	}

	thead > tr > th > .pull-left {
		padding-bottom: 5px;
		width:35px;
		height:33px;
		color:#fff;
		-webkit-border-top-left-radius: 5px;
		-moz-border-radius-top-left: 5px;
		border-top-left-radius: 5px;		
	}

	table tbody button:hover {
		color: #333;
		background-color: #71c6c1 !important;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		border:0px solid #fff;
	}

	tbody .btn-default {
		color: #333;
		background-color: #fff;
		border-color: #fff;
	}

	.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
		background-color: #fff;
		border-color: #fff;
	}

	thead .btn-default {
		color: #fff;
		background-color: #007db8;
		border:0px;
	}