/*
 * Data-Elements component theme overrides
 *------------------------------------------------------------------------------------------
 */

.input-group-btn .btn-default {
		background-color: @white;

	}

	.theader {
		background-color: @dell-blue;
	}

	.input-group {
		width:300px;
	}

	.dropdown-menu {
		border-radius: 5px;
		padding:5px;
	}

	th > .btn-block {
	    font-size: 1.2em;
	}

	table, th, td, .btn-block {
	    height:33px;
	}
	
	table, th, td {
	    border:0px;
	}

	thead > tr > th > .pull-right {
		padding-bottom: 5px;
		width:35px;
		height:33px;
		color:@white;
	}

	thead > tr > th > button  {
		color:@white;
	}

	thead > tr > th > .pull-left {
		padding-bottom: 5px;
		width:35px;
		height:33px;
		color:@white;		
	}

	table tbody button:hover {
		color: @dell-gray-dark;
		background-color: @dell-highlight-blue !important;
		border:0px solid @white;
	}

	tbody .btn-default {
		color: @dell-gray-dark;
		background-color: @white;
		border-color: @white;
	}

	.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
		background-color: @white;
		border-color: @white;
	}

	thead .btn-default {
		color: @white;
		background-color: @dell-blue;
		border:0px;
	}

	thead tr {
		background-color: @dell-blue;
	}

	thead .h6 {
		background-color: @white;
	}