<section ng-controller="responsiveUtilitiesCtrl" id="responsive-utilities-html-example">

    <div class="container">
        <h2 class="bottom-offset-30">Responsive-Utilities Demo</h2>
        <div class="bottom-offset-30">
        <h3>Available classes</h3>
        <p>Use a single or combination of the available classes for toggling content across viewport breakpoints.</p>
            <div class="">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th></td>
                        <th>
                            Extra small devices <br>
                            <small>Phones (&lt;768px)</small>
                        </td>
                        <th>
                            Small devices <br>
                            <small>Tablets (≥768px)</small>
                        </td>
                        <th>
                            Medium devices <br>
                            <small>Desktops (≥992px)</small>
                        </td>
                        <th>
                            Large devices <br>
                            <small>Desktops (≥1200px)</small>
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><code>.visible-xs-*</code></td>
                        <td class="is-visible">Visible</td>
                        <td class="is-hidden">Hidden</td>
                        <td class="is-hidden">Hidden</td>
                        <td class="is-hidden">Hidden</td>
                    </tr>
                    <tr>
                        <td><code>.visible-sm-*</code></td>
                        <td class="is-hidden">Hidden</td>
                        <td class="is-visible">Visible</td>
                        <td class="is-hidden">Hidden</td>
                        <td class="is-hidden">Hidden</td>
                    </tr>
                    <tr>
                        <td><code>.visible-md-*</code></td>
                        <td class="is-hidden">Hidden</td>
                        <td class="is-hidden">Hidden</td>
                        <td class="is-visible">Visible</td>
                        <td class="is-hidden">Hidden</td>
                    </tr>
                    <tr>
                        <td><code>.visible-lg-*</code></td>
                        <td class="is-hidden">Hidden</td>
                        <td class="is-hidden">Hidden</td>
                        <td class="is-hidden">Hidden</td>
                        <td class="is-visible">Visible</td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td><code>.hidden-xs</code></td>
                        <td class="is-hidden">Hidden</td>
                        <td class="is-visible">Visible</td>
                        <td class="is-visible">Visible</td>
                        <td class="is-visible">Visible</td>
                    </tr>
                    <tr>
                        <td><code>.hidden-sm</code></td>
                        <td class="is-visible">Visible</td>
                        <td class="is-hidden">Hidden</td>
                        <td class="is-visible">Visible</td>
                        <td class="is-visible">Visible</td>
                    </tr>
                    <tr>
                        <td><code>.hidden-md</code></td>
                        <td class="is-visible">Visible</td>
                        <td class="is-visible">Visible</td>
                        <td class="is-hidden">Hidden</td>
                        <td class="is-visible">Visible</td>
                    </tr>
                    <tr>
                        <td><code>.hidden-lg</code></td>
                        <td class="is-visible">Visible</td>
                        <td class="is-visible">Visible</td>
                        <td class="is-visible">Visible</td>
                        <td class="is-hidden">Hidden</td>
                    </tr>
                    </tbody>
                </table>
            </div>
    </div>


        <div>
            <h3>Print classes</h3>
            <p>Similar to the regular responsive classes, use these for toggling content for print.</p>
            <div class="table-responsive">
                <table class="table table-bordered table-striped responsive-utilities">
                    <thead>
                    <tr>
                        <td>Class</td>
                        <td>Browser</td>
                        <td>Print</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><code>.visible-print</code></td>
                        <td class="is-hidden">Hidden</td>
                        <td class="is-visible">Visible</td>
                    </tr>
                    <tr>
                        <td><code>.hidden-print</code></td>
                        <td class="is-visible">Visible</td>
                        <td class="is-hidden">Hidden</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</section>
