/*
//Collapsible-Items component theme overrides
 *------------------------------------------------------------------------------------------
 */


.hide-expanded,
.collapsed .show-collapsed {
    display: block;
    -webkit-transition: height .3.5s ease;
    -moz-transition:    height .3.5s ease;
    -o-transition:      height .3.5s ease;
    transition:         height .3.5s ease;

    &:focus {
        outline: none;
    }
}

.collapsed .hide-expanded, .show-collapsed {
    display: none;
    -webkit-transition: height .3.5s ease;
    -moz-transition:    height .3.5s ease;
    -o-transition:      height .3.5s ease;
    transition:         height .3.5s ease;

    &:focus {
        outline: none;
    }
}

.collapse {
    overflow:           hidden;
    -webkit-transition: height .3.5s ease;
    -moz-transition:    height .3.5s ease;
    -o-transition:      height .3.5s ease;
    transition:         height .3.5s ease;
}




//data-toggle
//------------------------------------------------------------------------------------------
[data-toggle="collapse"] {
    &.collapsed {
        .when-expanded {
            display:none;
        }
        .when-collapsed {
            display:inherit;
        }
        //fixes to caret when used in a collapsible toggle
        .caret {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
        }
    }
    .when-expanded {
        display:inherit;
    }
    .when-collapsed {
        display:none;
    }
}

// -------------- fix for accordions in wells ---------------------

.well-white .panel-heading, .white .panel-heading {
    background: none;
}

.panel-group {
    border-top: none;
}

.panel-collapse.collapse.in {
    border-bottom: none;
}

// -------------- /fix for accordions in wells ---------------------

//social links show/hide
//----------------------------------------------------------------------

.inline-image-content-links  {
    min-height: 20px;
    margin-bottom: 10px;

    ul > li,
    ul > span {
        padding-top: 5px;
        padding-bottom: 5px;
        a, span {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}

@media (max-width: @screen-xs-max) {
    .image-content-links {
        li {
            //width: 100%;
            padding-bottom: 20px;
        }
    }

    .multiline-ellipsis {
        display: block;
        display: -webkit-box;
        max-width: 100%;
        height: 64px;
        margin: 0 auto;
        line-height: 20px;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media (min-width: 290px) and (max-width: @screen-xs-max){
    .image-content-links {
        > li {
            display: none;
            padding-bottom: 20px;
            @media (max-width: 768px) {

                &:nth-child(-n+6) {
                    display: inline-block;
                }
            }

            @media (min-width: 768px) {
                display: inline-block;
            }
        }
        &.view-all {
            > li {
                display: inline-block;
            }
        }
    }
}



//extreme mobile viewports
@media (max-width: 289px) {
    .image-content-links {
        > li {
            display: none;
            padding-bottom: 20px;
            @media (max-width: 768px) {

                &:nth-child(-n+5) {
                    display: inline-block;
                }
            }

            @media (min-width: 768px) {
                display: inline-block;
            }
        }
        &.view-all {
            > li {
                display: inline-block;
            }
        }
    }
}



.toggle-slide .icon-ui-triangleright,
.close-content .icon-ui-triangledown {
    font-size: 14px;
    top: 1px;
    position: relative;
    margin-right: 5px;
    margin-left: -2px;
}


.fadeout {
    opacity: 0;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}
.fadein {
    opacity: 1;
}
