/*
//Collapsible-Items component theme overrides
 *------------------------------------------------------------------------------------------
 */


.hide-expanded,
.collapsed .show-collapsed {
    display: block;
    -webkit-transition: height .3.5s ease;
    -moz-transition:    height .3.5s ease;
    -o-transition:      height .3.5s ease;
    transition:         height .3.5s ease;

    &:focus {
        outline: none;
    }
}

.collapsed .hide-expanded, .show-collapsed {
    display: none;
    -webkit-transition: height .3.5s ease;
    -moz-transition:    height .3.5s ease;
    -o-transition:      height .3.5s ease;
    transition:         height .3.5s ease;

    &:focus {
        outline: none;
    }
}

.collapse {
    overflow:           hidden;
    -webkit-transition: height .3.5s ease;
    -moz-transition:    height .3.5s ease;
    -o-transition:      height .3.5s ease;
    transition:         height .3.5s ease;
}


//data-toggle
//------------------------------------------------------------------------------------------
[data-toggle="collapse"] {
    &.collapsed {
        .when-expanded {
            display:none;
        }
        .when-collapsed {
            display:inherit;
        }
        //fixes to caret when used in a collapsible toggle
        .caret {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
        }
    }
    .when-expanded {
        display:inherit;
    }
    .when-collapsed {
        display:none;
    }
    
}



