/*
//Collapsible-Items component theme overrides
 *------------------------------------------------------------------------------------------
 */

.hide-expanded,
.collapsed .show-collapsed {
    display: block;
    -webkit-transition: height .3 .5s ease;
    -moz-transition: height .3 .5s ease;
    -o-transition: height .3 .5s ease;
    transition: height .3 .5s ease;

    &:focus {
        outline: none;
    }
}
span.collapsed .show-collapsed {
    display: inline-block;
    padding:0;
    a {
        padding:0;
    }
}

.collapsed .hide-expanded, .show-collapsed {
    display: none;
    -webkit-transition: height .3 .5s ease;
    -moz-transition: height .3 .5s ease;
    -o-transition: height .3 .5s ease;
    transition: height .3 .5s ease;

    &:focus {
        outline: none;
    }
}

.collapse {
    overflow: hidden;
    -webkit-transition: height .3 .5s ease;
    -moz-transition: height .3 .5s ease;
    -o-transition: height .3 .5s ease;
    transition: height .3 .5s ease;
}

//data-toggle
//------------------------------------------------------------------------------------------
[data-toggle="collapse"] {
    &.collapsed {
        .when-expanded {
            display: none;
        }
        .when-collapsed {
            display: inherit;
        }
        //fixes to caret when used in a collapsible toggle
        .caret {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
        }
    }
    .when-expanded {
        display: inherit;
    }
    .when-collapsed {
        display: none;
    }
}

// -------------- fix for accordions in wells ---------------------

.well-white .panel-heading, .white .panel-heading {
    background: none;
}

.panel-group {
    border-top: none;
}

.panel-collapse.collapse.in {
    border-bottom: none;
}

// -------------- /fix for accordions in wells ---------------------

//------- fix accordions with ul li --------------------

.panel-body ul {
    padding-left: 20px;
}


//social links show/hide
//----------------------------------------------------------------------

.inline-image-content-links {
    min-height: 20px;
    margin-bottom: 10px;

    ul > li,
    ul > span {
        padding-top: 5px;
        padding-bottom: 5px;
        a, span {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}

@media (max-width: @screen-xs-max) {
    .image-content-links {
        li {
            //width: 100%;
            padding-bottom: 20px;
        }
    }

    .multiline-ellipsis {
        display: block;
        display: -webkit-box;
        max-width: 100%;
        height: 64px;
        margin: 0 auto;
        line-height: 20px;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media (min-width: 290px) and (max-width: @screen-xs-max) {
    .image-content-links {
        > li {
            display: none;
            padding-bottom: 20px;
            @media (max-width: 768px) {

                &:nth-child(-n+6) {
                    display: inline-block;
                }
            }

            @media (min-width: 768px) {
                display: inline-block;
            }
        }
        &.view-all {
            > li {
                display: inline-block;
            }
        }
    }
}

//extreme mobile viewports
@media (max-width: 289px) {
    .image-content-links {
        > li {
            display: none;
            padding-bottom: 20px;
            @media (max-width: 768px) {

                &:nth-child(-n+5) {
                    display: inline-block;
                }
            }

            @media (min-width: 768px) {
                display: inline-block;
            }
        }
        &.view-all {
            > li {
                display: inline-block;
            }
        }
    }
}

.list-truncated {
    overflow: hidden;
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
    line-height: 30px;
}

[data-toggle=list-truncated] {
    .hide-expanded,
    .show-collapsed,
    .collapsed
    .show-collapsed {
        padding: 6px 10px 10px 0;
    }
}

// -------------- Content Gallery Show/Hide --------------------
// -------------------------------------------------------------

.content-gallery {
    list-style: none;
    margin-left: -15px;
    margin-right: -15px;
    padding: 0;
    overflow:hidden;
    li {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    &-container {
        margin-bottom: 20px;
    }

    .content-gallery-details {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .details-container {
        display: none;
        margin-top: -15px;
        .close {
            margin: 0 5px 0 0;
            position: relative;
            font-size: 22px !important;
            font-weight: bold;
            .icon-ui-close {
                font-size: 22px !important;
                font-weight: bold;
            }
        }
        .gallery {
            padding: 15px 15px 15px 15px;
            background: @dell-gray-light;
            margin-top: 0;
        }
    }

    .show-collapsed,
    .open .hide-expanded {
        display: block;
        padding: 0;
    }

    .hide-expanded,
    .open .show-collapsed {
        display: none;
        padding: 0;
    }

    li[class^=col-]{
        &.open {
            &:after {
                top: auto;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-bottom-color: @dell-gray-light;
                border-width: 15px;
                left: 50%;
                margin: -30px 0 0 -15px;

            }
        }
    }
    @media (max-width: @screen-xs-max) {
        .open + li + li {
            clear: both;
        }

    }

}


@media (max-width: @screen-xs-max) {
    .content-gallery {

        &-container {
            margin-bottom: 40px;
        }

        .details-container {
            margin-top: 0;
            .close {
                margin: 0 5px 0 0;
                position: relative;
                font-size: 22px !important;
                font-weight: bold;
                .icon-ui-close {
                    font-size: 22px !important;
                    font-weight: bold;
                }
            }
            .gallery {
                padding: 15px 15px 15px 15px;
                background: @dell-gray-light;
                margin-top: 0;
            }
        }

    }
}


