/*
 * Anchored_nav component theme overrides
 *------------------------------------------------------------------------------------------
 */


.nav-anchored {

    width: 100%;
    border-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    display: table;

    > li {
        display: table-cell;
        float: none;
        background: -moz-linear-gradient(top,#fff 8%,#efefef 100%);
        background: -webkit-gradient(linear,left top,left bottom,color-stop(8%,#fff),color-stop(100%,#efefef));
        background: -webkit-linear-gradient(top,#fff 8%,#efefef 100%);
        background: -o-linear-gradient(top,#fff 8%,#efefef 100%);
        background: -ms-linear-gradient(top,#fff 8%,#efefef 100%);
        background: linear-gradient(to bottom,#fff 8%,#efefef 100%);
        border: 1px solid @dell-gray-stroke;
        margin-bottom: -1px;
        //margin-left: -1px;
        height: auto;
        > a {
            width: 100%;
            margin-left: -1px;
            text-align: center;
            margin-bottom: -1px;
            border-top: none !important;
            border-color: transparent;
            margin-left: -1px;
            background: 0;
            &:hover,
            &:focus{
                border-color: transparent !important;
                background-color: transparent !important;
                color: @dell-blue;
            }
        }

        &:hover {
            background: @dell-highlight-blue;
            color: @dell-blue;
        }
        &:visited {
            background: none;
        }



        &.active {
            border-top: 4px solid #007db8;
            padding-top: 6px;
            padding-bottom: 9px;
            margin-left: -2%;
            border-bottom: 0;
            background: @white;

            > a {
                margin-left: -1px;
                padding: 10px 15px;
                width: 100%;
                color: @dell-gray-dark;
                &:hover,
                &:focus {
                    width: 100%;
                    margin-left: -1px;
                    padding: 10px 15px;
                    background: none;
                }

                &:visited {
                    background: none;
                }
            }
        }
        &:first-child {
            margin-left: -1px;
        }
        &:last-child {
            margin-left: -1px;
        }
    }


    &.affix {
        position: fixed;
        top: 0;
        z-index: 999;
    }

}
