/*
 * Anchored_nav component theme overrides
 *------------------------------------------------------------------------------------------
 */


.navbar-anchored {
    &.affix {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 2000;
    }
    li {
        background: -moz-linear-gradient(top,#fff 8%,#efefef 100%);
        background: -webkit-gradient(linear,left top,left bottom,color-stop(8%,#fff),color-stop(100%,#efefef));
        background: -webkit-linear-gradient(top,#fff 8%,#efefef 100%);
        background: -o-linear-gradient(top,#fff 8%,#efefef 100%);
        background: -ms-linear-gradient(top,#fff 8%,#efefef 100%);
        background: linear-gradient(to bottom,#fff 8%,#efefef 100%);
        border: 1px solid @dell-gray-stroke;
        margin-bottom: -1px;
        margin-left: -1px;
        height: auto;

        &:hover {
            background: @dell-highlight-blue;
            color: @dell-blue;
        }

        > a:hover,
        > a:focus{
            border-color: transparent !important;
            background-color: transparent !important;
        }

        &.active {
            //width: 104%;
            border-top: 4px solid #007db8;
            padding-top: 6px;
            padding-bottom: 9px;
            margin-left: -2%;
            border-bottom: 0;
            background: @white;
            > a,
            > a:hover {
                color: @dell-gray-dark;
            }
        }
    }
}

.nav-anchored {
    &-justified {
        width: 104%;
        border-bottom: 0;
        margin-left: -15px;
        margin-right: -15px;
        display: table;
        > li {
            display: table-cell;
            float: none;
            //width: 1%;
            > a {
                //border: none;
                width: 100%;
                margin-left: -1px;
                text-align: center;
            }
            > a,
            > a:hover {
                margin-bottom: -1px;
                border-top: none !important;
                border-color: transparent;
                margin-left: -1px;
                background: 0;
            }
            &:visited {
                background: none;
            }

            &.active > a {
                //border: none;
                margin-left: -1px;
                padding: 10px 15px;
                width: 100%;

                &:hover,
                &:focus {
                    //border: none;
                    width: 100%;
                    margin-left: -1px;
                    padding: 10px 15px;
                    background: none;
                }
                &:visited {
                    background: none;
                }
            }

            &:first-child {
                margin-left: -1px;
                //border-top: 1px solid @nav-tabs-border-color;
            }
            &:last-child {
                margin-left: -1px;
                border-bottom: 1px solid @nav-tabs-border-color;
            }
        }
    }

    //&-centered {
    //    width: 107%;
    //    margin-left: -15px;
    //    margin-right: -15px;
    //    > li {
    //        a {
    //            border: none;
    //            width: 100%;
    //            margin-left: -1px;
    //        }
    //        a,
    //        a:hover {
    //            margin-bottom: -1px;
    //            border-top: none !important;
    //            margin-left: -1px;
    //        }
    //
    //        &.active > a {
    //            border: none;
    //            margin-left: -1px;
    //            padding: 20px 15px 10px 15px !important;
    //            width: 100%;
    //        }
    //
    //        &:first-child {
    //            margin-left: -1px;
    //            border-top: 1px solid @nav-tabs-border-color;
    //        }
    //        &:last-child {
    //            margin-left: -1px;
    //            border-bottom: 1px solid @nav-tabs-border-color;
    //        }
    //    }
    //}
}


.scroll-spy-header-spacing {
    min-height: 45px;
    margin-bottom: 0;
    margin-top: 20px;
}


#overflow-scroll {
    overflow:scroll;
    height:300px;
    background:#aaa;
}

#context-example {
    background:#555;
    color:#fff;
    height:600px;
    margin-top:150px;
}
