/*
 * Anchored_nav component theme overrides
 *------------------------------------------------------------------------------------------
 */


.anchored-nav-affixed {
    top: 0;
    z-index: 999;
    //height: 200px;
    //margin-top: 0px;
    overflow: auto;
}

//.scrollspy-example {
//    position: relative;
//    height: 200px;
//    margin-top: 10px;
//    overflow: auto;
//}

body {
    position: relative;
}


body {
    position: relative;
}
.affix {
    top:0;
    width: 100%;
    z-index: 9999 !important;
}
.navbar {
    margin-bottom: 0px;
}

.affix ~ .container-fluid {
    position: relative;
    top: 50px;
}
#section1 {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;}
#section2 {padding-top:50px;height:500px;color: #fff; background-color: #673ab7;}
#section3 {padding-top:50px;height:500px;color: #fff; background-color: #ff9800;}
#section41 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;}
#section42 {padding-top:50px;height:500px;color: #fff; background-color: #009688;}
