<section ng-controller="anchoredNavCtrl" id="anchored-nav-html-example">

<div class="container">
    <h2>Anchored Nav Demo</h2>
    <div class="row">
        <h3 class="col-xs-12 top-offset-60">Affixed Tabs
        </h3>
    </div>
</div>

<div class="container">

    <div class="row">

        <div class="col-sm-9">

            <nav class="navbar hidden-xs">
                    <ul id="nav-achored-example"  class="nav navbar-nav nav-anchored">
                        <li class="active"><a href="#section1">Section 1</a></li>
                        <li class=""><a href="#section2">Section 2</a></li>
                        <li class=""><a href="#section3">Section 3</a></li>
                        <li class=""><a href="#section4">Section 4</a></li>
                    </ul>
            </nav>

            <section id="section1" class="bottom-offset-30">
                <h3>Section 1</h3>
                <div class="row bottom-offset-20">
                    <div class="col-sm-9">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut tempor sapien. Aliquam vitae porttitor turpis, eget porta neque. Quisque dolor sapien, maximus pellentesque mattis vitae, scelerisque egestas magna. Proin facilisis auctor tortor eu venenatis. Nulla tempor mi eu lorem porttitor condimentum. Cras ut purus molestie, tempor justo vitae, consectetur augue. In eu felis sem. Donec id ultricies sem. Phasellus efficitur ex arcu, sit amet mollis justo egestas sed. Integer luctus elit ac felis volutpat, at accumsan sapien posuere. Fusce nec lectus ex. Fusce a sagittis ante.</p>
                    </div>
                    <div class="col-sm-3">
                        <img src="http://placehold.it/260x155" class="img-responsive bottom-offset-10"/>
                    </div>
                </div>

                <div class="row bottom-offset-20">
                    <img src="http://placehold.it/175x125" class="img-responsive col-sm-2 bottom-offset-10"/>
                    <p class="col-sm-5">Integer vestibulum vitae lectus non scelerisque. Integer sit amet dui pretium, elementum ex a, fermentum magna. Donec dictum purus eget ipsum mollis, sollicitudin mattis urna molestie. Mauris in pulvinar neque. Vivamus pretium dapibus sollicitudin. Sed bibendum mauris eget tortor interdum, ut consectetur ipsum vulputate.</p>
                    <p class="col-sm-5">Fusce condimentum hendrerit elementum. Curabitur pulvinar augue id venenatis malesuada. Curabitur tortor odio, faucibus ullamcorper augue id, maximus fermentum nibh. Proin id nibh leo. Aliquam lobortis augue non nisi tempor maximus. Quisque convallis pulvinar libero ut consectetur. Praesent volutpat ligula non magna.</p>
                </div>
            </section>

            <hr class="hr-gray-light"/>

            <section id="section2" class="bottom-offset-30">
                <h3>Section 2</h3>
                <div class="row bottom-offset-20">
                    <img src="http://placehold.it/175x125" class="img-responsive col-sm-2 bottom-offset-10"/>
                    <p class="col-sm-5">Integer vestibulum vitae lectus non scelerisque. Integer sit amet dui pretium, elementum ex a, fermentum magna. Donec dictum purus eget ipsum mollis, sollicitudin mattis urna molestie. Mauris in pulvinar neque. Vivamus pretium dapibus sollicitudin. Sed bibendum mauris eget tortor interdum, ut consectetur ipsum vulputate.</p>
                    <p class="col-sm-5">Fusce condimentum hendrerit elementum. Curabitur pulvinar augue id venenatis malesuada. Curabitur tortor odio, faucibus ullamcorper augue id, maximus fermentum nibh. Proin id nibh leo. Aliquam lobortis augue non nisi tempor maximus. Quisque convallis pulvinar libero ut consectetur. Praesent volutpat ligula non magna.</p>
                </div>

                <div class="row bottom-offset-20">
                    <p class="col-sm-6">Fusce condimentum hendrerit elementum. Curabitur pulvinar augue id venenatis malesuada. Curabitur tortor odio, faucibus ullamcorper augue id, maximus fermentum nibh. Proin id nibh leo. Aliquam lobortis augue non nisi tempor maximus. Quisque convallis pulvinar libero ut consectetur. Praesent volutpat ligula non magna.</p>
                    <p class="col-sm-6">Integer vestibulum vitae lectus non scelerisque. Integer sit amet dui pretium, elementum ex a, fermentum magna. Donec dictum purus eget ipsum mollis, sollicitudin mattis urna molestie. Mauris in pulvinar neque. Vivamus pretium dapibus sollicitudin. Sed bibendum mauris eget tortor interdum, ut consectetur ipsum vulputate.</p>
                </div>
            </section>

            <hr class="hr-gray-light"/>

            <section id="section3" class="bottom-offset-30">
                <h3>Section 3</h3>
                <div class="row bottom-offset-20">
                    <p class="col-sm-8">Fusce condimentum hendrerit elementum. Curabitur pulvinar augue id venenatis malesuada. Curabitur tortor odio, faucibus ullamcorper augue id, maximus fermentum nibh. Proin id nibh leo. Aliquam lobortis augue non nisi tempor maximus. Quisque convallis pulvinar libero ut consectetur. Praesent volutpat ligula non magna.</p>
                    <img src="http://placehold.it/175x125" class="img-responsive col-sm-4 bottom-offset-10"/>
                </div>

                <div class="row bottom-offset-20">
                    <img src="http://placehold.it/260x155" class="img-responsive col-sm-3 bottom-offset-10"/>
                    <p class="col-sm-9">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut tempor sapien. Aliquam vitae porttitor turpis, eget porta neque. Quisque dolor sapien, maximus pellentesque mattis vitae, scelerisque egestas magna. Proin facilisis auctor tortor eu venenatis. Nulla tempor mi eu lorem porttitor condimentum. Cras ut purus molestie, tempor justo vitae, consectetur augue. In eu felis sem. Donec id ultricies sem. Phasellus efficitur ex arcu, sit amet mollis justo egestas sed. Integer luctus elit ac felis volutpat, at accumsan sapien posuere. Fusce nec lectus ex. Fusce a sagittis ante.</p>
                </div>
            </section>

            <hr class="hr-gray-light"/>

            <section id="section4" class="bottom-offset-30">
                <h3>Section 4</h3>
                <div class="row bottom-offset-20">
                    <p class="col-sm-6">Fusce condimentum hendrerit elementum. Curabitur pulvinar augue id venenatis malesuada. Curabitur tortor odio, faucibus ullamcorper augue id, maximus fermentum nibh. Proin id nibh leo. Aliquam lobortis augue non nisi tempor maximus. Quisque convallis pulvinar libero ut consectetur. Praesent volutpat ligula non magna.</p>
                    <p class="col-sm-6">Integer vestibulum vitae lectus non scelerisque. Integer sit amet dui pretium, elementum ex a, fermentum magna. Donec dictum purus eget ipsum mollis, sollicitudin mattis urna molestie. Mauris in pulvinar neque. Vivamus pretium dapibus sollicitudin. Sed bibendum mauris eget tortor interdum, ut consectetur ipsum vulputate.</p>
                </div>
                <div class="row bottom-offset-20">
                    <p class="col-sm-6">Fusce condimentum hendrerit elementum. Curabitur pulvinar augue id venenatis malesuada. Curabitur tortor odio, faucibus ullamcorper augue id, maximus fermentum nibh. Proin id nibh leo. Aliquam lobortis augue non nisi tempor maximus. Quisque convallis pulvinar libero ut consectetur. Praesent volutpat ligula non magna.</p>
                    <p class="col-sm-6">Integer vestibulum vitae lectus non scelerisque. Integer sit amet dui pretium, elementum ex a, fermentum magna. Donec dictum purus eget ipsum mollis, sollicitudin mattis urna molestie. Mauris in pulvinar neque. Vivamus pretium dapibus sollicitudin. Sed bibendum mauris eget tortor interdum, ut consectetur ipsum vulputate.</p>
                </div>



            </section>
        </div>
        <div class="col-sm-3"><div class="well" style="height:1000px">Sidebar</div>
        </div>
    </div>
</div>

</section>

