<section ng-controller="anchoredNavCtrl" id="anchored-nav-html-example">

    <div class="container">
        <h2>Anchored Nav Demo</h2>
        <div>
            <!-- Nav tabs justify -->
            <div class="row">
                <h3 class="col-xs-12 top-offset-60">Tabs
                    <small>(justified)</small>
                </h3>
            </div>

            <div class="bottom-offset-60">
                <div class="row-offcanvas row-offcanvas-right">
                    <ul class="nav nav-tabs nav-justified" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#long-example" aria-controls="long-example" role="tab" data-toggle="tab">
                                Example to show the auto adjusted tab height. <i class="icon-ui-arrowright visible-xs"></i>
                            </a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#automobile" aria-controls="Automobile" role="tab" data-toggle="tab">
                                Automobile<i class="icon-ui-arrowright visible-xs"></i>
                            </a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#boats" aria-controls="Boats" role="tab" data-toggle="tab">
                                Boats<i class="icon-ui-arrowright visible-xs"></i>
                            </a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#planes" aria-controls="Planes" role="tab" data-toggle="tab">
                                Planes<i class="icon-ui-arrowright visible-xs"></i>
                            </a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="long-example">
                            <button class="btn btn-default btn-block visible-xs" data-toggle="offcanvas">
                                <i class="icon-ui-arrowleft "></i> Back
                            </button>
                            <div class="col-xs-12">
                                Long example Aute gluten-free freegan, elit odio assumenda bespoke sapiente Shoreditch in hashtag. Actually semiotics sed High Life retro, narwhal ugh try-hard pop-up PBR&B fap PBR paleo fanny pack aliquip. Direct trade occaecat McSweeney's aute tattooed voluptate.
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="automobile">
                            <button class="btn btn-default btn-block visible-xs" data-toggle="offcanvas">
                                <i class="icon-ui-arrowleft "></i> Back
                            </button>
                            <div class="col-xs-12">
                                Automobile magna biodiesel lomo, fap meh messenger bag fingerstache fashion axe. Vinyl art party Marfa assumenda, pariatur locavore sartorial chillwave High Life laborum Williamsburg flannel whatever.
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="boats">
                            <button class="btn btn-default btn-block visible-xs" data-toggle="offcanvas">
                                <i class="icon-ui-arrowleft "></i> Back
                            </button>
                            <div class="col-xs-12">
                                Boats nisi officia Kickstarter Portland, Tumblr Wes Anderson shabby chic cardigan enim actually 90's American Apparel assumenda four dollar toast.
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="planes">
                            <button class="btn btn-default btn-block visible-xs" data-toggle="offcanvas">
                                <i class="icon-ui-arrowleft "></i> Back
                            </button>
                            <div class="col-xs-12">
                                Planes biodiesel artisan, proident Vice fugiat lo-fi incididunt sartorial ullamco heirloom asymmetrical assumenda irony salvia. Ex twee health goth assumenda flannel chia.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
