// Less specifically for Guide partial
.guide-content {
	h4 {
		border-bottom:1px solid @dell-gray-stroke;
		margin-top:20px;
	}

}
.scroll-to-top {
	background: @dell-gray-light;
	position: fixed;
	right: 10px;
	bottom: 10px;
	color: @dell-blue;
	padding:7px 10px;
	border-radius:1px;
}
#development-guide {
	.navbar {
		position:fixed;
		width:100%;
		top:0;
		z-index:999;
	}
	> .container {
		margin-top:75px;
	}
	.side-bar {
		background: @dell-gray-light;
		position:fixed;
	}
}