/*
 * Breadcrumbs component theme overrides
 *------------------------------------------------------------------------------------------
 */

.breadcrumb > li a {
    color: @dell-gray-medium;
    font-size: 12px;
}

.breadcrumb  > li+li:before {
    color: @dell-gray-dark;
    content: "\e601";
    font-size: 17px;
    top: 2px;
    padding-right: 8px;
    padding-left: 4px;

}
.breadcrumb > li:first-child:before {
    font-size: 15px;
    content: "\e62b";
    font-family: icon-small;
    vertical-align: bottom;
}
