<section ng-controller="breadcrumbsCtrl" id="breadcrumbs-html-example">

    <div class="container">
        <h2 class="bottom-offset-20">Breadcrumbs Demo</h2>

        <div class="bottom-offset-30">
            <h4>Generic Breadcrumb</h4>
            <!--Generic Breadcrumb-->
            <ul class="breadcrumb">
                <li><a href="#"></a><span class="divider"></span></li>
                <li><a href="#">Level 1</a><span class="divider"></span></li>
                <li><a href="#">Level 2</a><span class="divider"></span></li>
                <li><a href="#">Level 3</a><span class="divider"></span></li>
                <li><a href="#">Level 4</a><span class="divider"></span></li>
                <li><a href="active">Level 5</a></li>
            </ul>
            <!--/Generic Breadcrumb-->
        </div>
    </div>

</section>
