
//breadcrumb
//------------------------------------------------------------------------------------------
.breadcrumb {
    padding:          8px 0px;
    background:       none;
    color:            @dell-gray-medium;
    font-size:        12px;
    position:         relative;
    border-radius:    none;
    > li {
        text-shadow: none;
        &:first-child {
            cursor: pointer;
            a {
                display: none;
                }

            &:before {
                font-size:   14px;
                content:     "\5a";
                font-family: "icon-small";

                }
            }
        a {
            color: @dell-gray-medium;
            }
        + li:before {
            font-family: 'icon-ui';
            content:     "\2d";
            color: @dell-gray-medium;
            }
        + li:last-child:before {
            color: @dell-gray;
            }
        }

    > .active {
        color: @dell-gray;
        }
    }
