/*
 * Announcements component theme overrides
 *------------------------------------------------------------------------------------------
 */


blockquote {
    .blockquote-dell-advantage {
        display: block;
        width: 40px;
        height: 40px;
        margin-left: -42px;
        margin-top: 2px;
        background: url('announcements/dell-advantage-star.svg') no-repeat;
        background-size: 30px 30px;
        float: left;
    }
    .blockquote-dell-advantage-right {
        display: block;
        width: 40px;
        height: 40px;
        margin-right: -56px;
        margin-top: 2px;
        background: url('http://localhost:9002/components/announcements/dell-advantage-star.svg') no-repeat;
        background-size: 30px 30px;
        float: right;
    }

    .blockquote-dell-dpa {
        display: block;
        width: 40px;
        height: 40px;
        margin-left: -45px;
        margin-top: -5px;
        background: url('announcements/dell-preferred-account.svg') no-repeat;
        background-size: 35px 35px;
        float: left;
    }

    .blockquote-dell-dpa-right {
        display: block;
        width: 40px;
        height: 40px;
        margin-right: -53px;
        margin-top: -5px;
        background: url('announcements/dell-preferred-account.svg') no-repeat;
        background-size: 35px 35px;
        float: right;
    }

    &.blockquote-icon {
        border: none;
        padding-left: 56px !important;
        overflow: hidden;
        &.pull-right {
            border-left: 0;
            border-right: 10px solid #aaa;
            width: 100%;
            padding-right: 56px;
            border-right: 0;
        }
    }

    &.blockquote-icon-right {
        border: none;
        padding-right: 65px !important;
        overflow: hidden;
        padding-top: 15px;
        &.pull-right {
            border-left: 0;
            border-right: 10px solid #aaa;
            width: 100%;
            padding-right: 56px;
            border-right: 0;
        }
    }

    .blockquote-links {
        li + li::before {
            content: " | ";
            padding-right: 10px;
            color: @dell-blue;
        }
    }
}

@media (max-width: @screen-xs-max) {
    blockquote {

        .blockquote-links {
            li {
                width: 100%;
            }
            li + li::before {
                content: "";
                padding-right: 0;
            }
        }
    }
}



.well {
    blockquote {
        .blockquote-dell-dpa {
            display: block;
            width: 40px;
            height: 40px;
            margin-left: -50px;
            margin-top: -5px;
            background: url('announcements/dell-preferred-account.svg') no-repeat;
            background-size: 35px 35px;
            float: left;

            &.pull-right {
                display: block;
                width: 40px;
                height: 40px;
                margin-right: -50px;
                margin-top: -5px;
                background: url('announcements/dell-preferred-account.svg') no-repeat;
                background-size: 35px 35px;
                float: left;
            }
        }
        .blockquote-dell-advantage {
            display: block;
            width: 40px;
            height: 40px;
            margin-left: -45px;
            margin-top: -5px;
            background: url('announcements/dell-advantage-star.svg') no-repeat;
            background-size: 30px 30px;
            float: left;
        }
        .blockquote-dell-advantage-right {
            display: block;
            width: 40px;
            height: 40px;
            margin-right: -56px;
            margin-top: 2px;
            background: url('http://localhost:9002/components/announcements/dell-advantage-star.svg') no-repeat;
            background-size: 30px 30px;
            float: right;
        }
        &.blockquote-icon {
            border: none;
            padding-left: 65px !important;
            overflow: hidden;
            padding-top: 15px;
        }
        &.blockquote-icon-right {
            border: none;
            padding-right: 65px !important;
            overflow: hidden;
            padding-top: 15px;
            &.pull-right {
                border-left: 0;
                border-right: 10px solid #aaa;
                width: 100%;
                padding-right: 56px;
                border-right: 0;
            }
        }
    }
}




