/*
 * Announcements component theme overrides
 *------------------------------------------------------------------------------------------
 */

blockquote {
    &.blockquote {
        &-blue {
            border-color: @dell-blue;
        }
        &-green {
            border-color: @dell-green;
        }
        &-purple {
            border-color: @dell-purple;
        }
        &-orange {
            border-color: @dell-orange;
        }
        &-berry {
            border-color: @dell-berry;
        }
        &-red {
            border-color: @dell-red;
        }
        &-red-dark {
            border-color: @dell-red-dark;
        }
        &-dark-blue {
            border-color: @dell-dark-blue;
        }
        &-gray-dark {
            border-color: @dell-gray-dark;
        }
        &-icon {
            border: none;
            padding-left: 55px;
            [class*="icon"] {
                display: none;
            }
            //TODO these icons do not exist in dell-ui-bootstrap and need to be added - probably images?
            .icon-large-dell-dpa-card,
            .icon-large-dell-advantage-star {
                display: block;
                position: absolute;
                top: 15px;
                left: 15px;
                max-width: 30px;
            }

            &.pull-right {
                padding-left: 15px;
                padding-right: 55px;
                .icon-large-dell-dpa-card,
                .icon-large-dell-advantage-star {
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    left: auto;
                }
            }
        }
    }

    li {
        padding-top: 5px;
        padding-bottom: 5px;
        a {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    .blockquote-links {
        li + li::before {
            content: " | ";
            padding-right: 10px;
            color: @dell-blue;
        }
    }
}

@media (max-width: @screen-xs-max) {
    blockquote {

        .blockquote-links {
            li {
                width: 100%;
            }
            li + li::before {
                content: "";
                padding-right: 0;
            }
        }
    }
}

.blockquote-dell-advantage {
    display: block;
    width: 30px;
    height: 30px;
    margin-left: -45px;
    margin-right: 15px;
    //border just to visually define the edges
    border: 1px solid #000000;
    background: url(dell-advantage-star.svg);
//    background-image: url('../../components/announcements/test.png');
//    background-repeat: no-repeat;
    background-size: 75px 75px;
    float: left;
}

.blockquote-dell-dpa {
    display: block;
    width: 30px;
    height: 30px;
    margin-left: -45px;
    margin-right: 15px;
    //border just to visually define the edges
    border: 1px solid #000000;
    background-image: url('../../components/announcements/dell-preferred-account.svg');
//    background-repeat: no-repeat;
    background-size: 75px 75px;
    float: left;
}
