<section ng-controller="announcementsCtrl" id="announcements-html-example">

    <div class="container">
        <h2>Announcements Demo</h2>
        <div>
            <!-- example html for Announcements component -->
            <h3>Default announcement (Bootstrap blockquote)</h3>
            <div id="announcement-default">
                <blockquote>
                    <h4>Lorem ipsum dolor sit amet</h4>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </blockquote>
            </div>
            <h3>Right justified announcement (Bootstrap blockquote - pull right)</h3>
            <div id="announcement-default">
                <blockquote class="pull-right">
                    <h4>Lorem ipsum dolor sit amet</h4>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </blockquote>
            </div>

            <h3>Announcements with links</h3>
            <p>An Announcement can include a maximum of 2 links. Links are stacked vertically</p>

            <div class="bottom-offset-10 clearfix">
                <h3>Colored bar with title and call to action link</h3>
                <div id="announcement-call-to-action">
                    <blockquote class="blockquote-blue">
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <ul class="list-unstyled list-inline blockquote-links">
                            <li><a href="javascript:;">Claim your rewards</a></li>
                        </ul>
                    </blockquote>
                </div>
            </div>

            <div class="bottom-offset-10 clearfix">
                <h3>Colored bar with two call to action links</h3>
                <div id="announcement-two-call-to-action">
                    <blockquote class="blockquote-blue">
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <ul class="list-unstyled list-inline blockquote-links">
                            <li><a href="javascript:;">Claim your rewards</a></li>
                            <li><a href="javascript:;">Register now for free</a></li>
                        </ul>
                    </blockquote>
                </div>
            </div>


            <h3>Announcements with color treatment (Bootstrap enhancement)</h3>
            <div id="announcement-blue">
                <blockquote class="blockquote-blue">
                    <h4>Lorem ipsum dolor sit amet</h4>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </blockquote>
            </div>
            <div id="announcement-green">
                <blockquote class="blockquote-green">
                    <h4>Lorem ipsum dolor sit amet</h4>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </blockquote>
            </div>
            <div id="announcement-purple">
                <blockquote class="blockquote-purple">
                    <h4>Lorem ipsum dolor sit amet</h4>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </blockquote>
            </div>
            <div id="announcement-orange">
                <blockquote class="blockquote-orange">
                    <h4>Lorem ipsum dolor sit amet</h4>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </blockquote>
            </div>
            <div id="announcement-berry">
                <blockquote class="blockquote-berry">
                    <h4>Lorem ipsum dolor sit amet</h4>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </blockquote>
            </div>
            <div id="announcement-red">
                <blockquote class="blockquote-red">
                    <h4>Lorem ipsum dolor sit amet</h4>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </blockquote>
            </div>
            <div id="announcement-red-dark">
                <blockquote class="blockquote-red-dark">
                    <h4>Lorem ipsum dolor sit amet</h4>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </blockquote>
            </div>
            <div id="announcement-dark-blue">
                <blockquote class="blockquote-dark-blue">
                    <h4>Lorem ipsum dolor sit amet</h4>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </blockquote>
            </div>


            <h3>Announcements with icon treatment (Dell specific enhancement)</h3>
            <div id="announcement-icon-dpa">
                <blockquote class="blockquote-icon">
                    <div class="blockquote-dell-dpa"></div>
                    <h4>Lorem ipsum dolor sit amet</h4>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </blockquote>
            </div>
            <div id="announcement-icon-advantage">
                <blockquote class="blockquote-icon">
                    <div class="blockquote-dell-advantage"></div>
                    <h4>Lorem ipsum dolor sit amet</h4>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </blockquote>
            </div>

        </div>
    </div>

</section>
