<section ng-controller="formsCtrl" id="forms-html-example">

    <div class="container">
        <h2>Forms Demo</h2>
        <div>
<div class="hide"><!--temp-->
            <div class="bottom-offset-20">
                <!-- input fields -->
                    <form class="form-compressed" role="form">
                        <div class="row">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="text-label-input">Text input label</label>
                                <div class="col-xs-12 col-sm-6">
                                    <input type="text" class="form-control" id="text-label-input">
                                    <p class="help-block">
                                        In addition to freeform text, any HTML5 text-based input appears like so.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </form>
                <!-- /input fields -->
            </div>


            <div class="bottom-offset-20">
                <!-- uneditable input fields -->
                <form class="form-compressed" role="form">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="uneditable">Uneditable input</label>
                            <div class="col-xs-12 col-sm-6">
                                <span id="uneditable" class="uneditable-input form-control">Some value here</span>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- /uneditable input fields -->
            </div>


            <div class="bottom-offset-20">
                <!-- disabled input fields -->
                <form class="form-compressed" role="form">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="disabledInput">Disabled input</label>
                            <div class="col-xs-12 col-sm-6">
                                <input class="disabled form-control" id="disabledInput" type="text" placeholder="Disabled input here…" disabled>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- /disabled input fields -->
            </div>

            <div class="bottom-offset-20">
                <!-- text area -->
                <form class="form-compressed" role="form">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="textarea">Textarea input label</label>
                            <div class="col-xs-12 col-sm-6">
                                <textarea id="textarea" class="form-control" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- /text area -->
            </div>

            <div class="row">
                <div class="bottom-offset-20">
                    <div class="col-xs-12 col-sm-6">
                        <h4>Checkboxes</h4>
                        <!-- checkboxes -->
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="option 1">
                                Checkbox one
                            </label>
                        </div>
                        <div class="checkbox disabled bottom-offset-20">
                            <label>
                                <input type="checkbox" value="value option 2" disabled>
                                Checkbox two is disabled
                            </label>
                        </div>
                        <!-- /checkboxes -->
                    </div>
                </div>

                <div class="bottom-offset-20">
                    <div class="col-xs-12 col-sm-6">
                        <h4>Inline checkboxes</h4>
                        <!-- inline checkboxes -->
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox1" value="option1">1
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox2" value="option2">2
                        </label>
                        <label class="checkbox-inline ">
                            <input type="checkbox" id="inlineCheckbox3" value="option3">3
                        </label>
                        <!-- /inline checkboxes -->
                    </div>
                </div>
            </div>

            <div class="row bottom-offset-20">
                <div class="bottom-offset-20">
                    <div class="col-xs-12 col-sm-6">
                        <h4>Radio Buttons</h4>
                        <!-- radio buttons -->
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="options-radio-1" value="option1" checked>
                                Option one radio button
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="options-radio-2" value="option2">
                                Option two radio button
                            </label>
                        </div>
                        <div class="radio disabled">
                            <label>
                                <input type="radio" name="optionsRadios" id="options-radio-3" value="option3" disabled>
                                Option three is disabled
                            </label>
                        </div>
                        <!-- /radio buttons -->
                    </div>
                </div>

                <div class="bottom-offset-20">
                    <div class="col-xs-12 col-sm-6">
                        <h4>Inline Radio Buttons</h4>
                        <!-- inline radio buttons -->
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 1
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 2
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 3
                        </label>
                        <!-- /inline radio buttons -->
                    </div>
                </div>
            </div>

</div><!--temp-->

            <!-- tree checkboxes -->
            <div class="row">
                <div class="col-xs-12 col-sm-8">
                    <h4>Radio Buttons</h4>
                    <div class="tree hide">
                        <ul>
                            <li>
                                <span><label class="checkbox-inline"><input type="checkbox" value="option 1 parent"> Checkbox value (parent 1)</label></span>
                                <ul>
                                    <li>
                                        <span><label class="checkbox-inline"><input type="checkbox" value="option 1 parent child 1"> Checkbox value (child 1)</label></span>
                                        <ul>
                                            <li>
                                                <span><label class="checkbox-inline"><input type="checkbox" value="option 1 parent grand child 1"> Checkbox value (grand child 1)</label></span>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <input type="checkbox" value="option 1 parent child 2"> Checkbox value (child 2)
                                        <ul>
                                            <li>
                                                <input type="checkbox" value="option 1 parent grand child 2"> Checkbox value (grand child 2)
                                            </li>
                                            <li>
                                                <input type="checkbox" value="option 1 parent grand child 3"> Checkbox value (grand child 3)
                                                <ul>
                                                    <li>
                                                        <input type="checkbox" value="option 1 parent great grand child 1"> Checkbox value (great grand child 1)
                                                        <ul>
                                                            <li>
                                                                <input type="checkbox" value="option 1 parent great great grand child 1"> Checkbox value (great great grand child 1)

                                                            </li>
                                                            <li>
                                                                <input type="checkbox" value="option 1 parent great great grand child 2"> Checkbox value (great great grand child 2)
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" value="option 1 parent great grand child 4"> Checkbox value (great grand child 4)
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" value="option 1 parent great grand child 5"> Checkbox value (great grand child 5)
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <input type="checkbox" value="option 1 parent grand child 4"> Checkbox value (grand child 4)
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <input type="checkbox" value="option 2 parent"> Checkbox value (parent 2)
                                <ul>
                                    <li>
                                        <input type="checkbox" value="option 2 parent child 1"> Checkbox value (child 1)
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
<hr/>

                        <ul class="list-tree">
                            <li>
                                <label class="checkbox">
                                    <input type="checkbox" value="option 1 parent"> Checkbox value (parent 1)
                                </label>
                                <ul>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" value="option 1 parent child 1"> Checkbox value (child 1)
                                        </label>
                                        <ul>
                                            <li>
                                                <label class="checkbox">
                                                <input type="checkbox" value="option 1 parent grand child 1"> Checkbox value (grand child 1)</label>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" value="option 1 parent child 2"> Checkbox value (child 2)
                                        </label>
                                        <ul>
                                            <li>
                                                <label class="checkbox">
                                                    <input type="checkbox" value="option 1 parent grand child 2"> Checkbox value (grand child 2)
                                                </label>
                                            </li>
                                             <li>
                                                <label class="checkbox">
                                                    <input type="checkbox" value="option 1 parent grand child 2"> Checkbox value (grand child 2)
                                                </label>
                                            </li>
                                             <li>
                                                <label class="checkbox">
                                                    <input type="checkbox" value="option 1 parent grand child 2"> Checkbox value (grand child 2)
                                                </label>
                                                <ul>
                                                    <li>
                                                        <label class="checkbox">
                                                            <input type="checkbox" value="option 1 parent grand child 2"> Checkbox value (grand child 2)
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label class="checkbox">
                                                            <input type="checkbox" value="option 1 parent grand child 2"> Checkbox value (grand child 2)
                                                        </label>
                                                    </li>
                                                     <li>
                                                        <label class="checkbox">
                                                            <input type="checkbox" value="option 1 parent grand child 2"> Checkbox value (grand child 2)
                                                        </label>
                                                    </li>
                                                 </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <label class="checkbox">
                                    <input type="checkbox" value="option 1 parent"> Checkbox value (parent 2)
                                </label>
                            </li>
                        </ul>

<hr/>
                </div>
            </div>



        </div>
    </div>

</section>
