/*
 * Forms component theme overrides
 *------------------------------------------------------------------------------------------
 */

.form-horizontal .control-label,
.form-compressed .control-label {
    padding-right: 10px;
}



// tree view

.list-tree {
    list-style-type: none;
    margin-left: -20px;
    li {
        > ul {
            list-style-type: none;
            display:none;
        }
        label.open + ul {
            display:block;
        }
    }
}


//TODO need to add this adjustmet for the checkbox/radio buttons

.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio] {
    margin-left: -20px;
    margin-right: 5px;
    vertical-align: text-bottom;
    position: relative;
    margin-top: 4px \9;
}

// spinbox
.dpui-numberPicker i {
    font-size: 10px;
    vertical-align: middle;
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: @screen-xs-max) {
    .form-compressed [class^=col-] {
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 10px;
    }

    .form-group {
        margin-right: 0;
    }

    .control-label {
        float: left;
        width: 100%;
        padding-top: 5px;
        margin-bottom: -5px;
        text-align: left;
    }
}
